openapi: "3.0.1"
info:
  description: "Exposes an API to fetch records stored in Grail"
  title: "DQL Query"
  version: "1.20.0"
servers:
- url: "https://asn8731h.sprint.apps.dynatracelabs.com/platform/storage/query/v1"
  x-api-gateway-url: "/platform/storage/query/v1"
tags:
- description: "Operations related to the Query execution."
  name: "Query Execution"
- description: "Supporting operations for the Query. Also known as the Language services."
  name: "Query Assistance"
paths:
  /query:autocomplete:
    post:
      description: "For information about the required permissions see the [Bucket\
        \ and table permissions in Grail documentation](https://docs.dynatrace.com/docs/shortlink/assign-bucket-table-permissions).\
        \ \n\n## Overview\n\nWe provide a list of suggestions that may be used after\
        \ the cursor position. The following queries will all provide the\nsame results:\n\
        \n* `query: \"f\"`\n* `query: \"f\", cursorPosition:1`\n* `query: \"fetch\
        \ \", cursorPosition:1`\n\nAvailable fields:\n\n| Field       | Description\
        \                                                                        \
        \                                                                        \
        \                             |\n|-------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n\
        | suggestions | a list of suggestions. Each item is a separate possible suggestion,\
        \ despite they might have the same outputs.                              \
        \                                             |\n| optional    | whether the\
        \ suggestion is optional. If `true`, the query until the cursor position might\
        \ work. If `false`, the query is definitely incomplete or invalid if cut at\
        \ the cursor position. |\n\nFields in the `suggestions`\n\n| Field       \
        \           | Description                                                \
        \                                                |\n|------------------------|------------------------------------------------------------------------------------------------------------|\n\
        | suggestion             | a string representing the whole suggestion. This\
        \ information could also be derived from the parts.         |\n| alreadyTypedCharacters\
        \ | how many characters of this suggestion have already been typed (and will\
        \ be overridden by the suggestion). |\n| parts                  | a list of\
        \ semantically enriched information on what are the parts of a suggestion.\
        \                         |\n\nFields in `parts`\n\n| Field      | Description\
        \                                               |\n|------------|-----------------------------------------------------------|\n\
        | suggestion | a string representing the current part of the suggestion. |\n\
        | type       | current types: SPACE, PIPE, COMMAND (may be extended)     |\n\
        \nThe `type` helps to treat specific parts of the suggestion different to\
        \ others; either by a different visualization,  \na link to docs, etc."
      operationId: "query:autocomplete"
      parameters:
      - $ref: "#/components/parameters/ClientContextHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutocompleteRequest"
        description: "All query parameters can also be passed via JSON in the POST\
          \ body. It's not allowed to specify a parameter twice. 'query' has to be\
          \ present either as a query parameter or in the request body."
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Autocomplete for incomplete parameter names:
                  description: "Query tree for `fetch events | fieldsAdd time_ms /\
                    \ 1000, alia` - al might be a second custom dimension (or the\
                    \ start of it), but\nalso refer to the `alias."
                  value:
                    optional: true
                    suggestions:
                    - alreadyTypedCharacters: 4
                      parts:
                      - info: "the name of the new field"
                        suggestion: "alias"
                        type: "PARAMETER_KEY"
                      - suggestion: ":"
                        type: "COLON"
                      suggestion: "alias:"
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: " "
                        type: "SPACE"
                      - suggestion: "*"
                        type: "OPERATOR"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: " * "
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: " "
                        type: "SPACE"
                      - suggestion: "/"
                        type: "OPERATOR"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: " / "
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: " "
                        type: "SPACE"
                      - suggestion: "%"
                        type: "OPERATOR"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: " % "
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: " "
                        type: "SPACE"
                      - suggestion: "+"
                        type: "OPERATOR"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: " + "
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: " "
                        type: "SPACE"
                      - suggestion: "-"
                        type: "OPERATOR"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: " - "
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: " "
                        type: "SPACE"
                      - suggestion: "=="
                        type: "OPERATOR"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: " == "
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: " "
                        type: "SPACE"
                      - suggestion: "!="
                        type: "OPERATOR"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: " != "
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: " "
                        type: "SPACE"
                      - suggestion: "<"
                        type: "OPERATOR"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: " < "
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: " "
                        type: "SPACE"
                      - suggestion: ">"
                        type: "OPERATOR"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: " > "
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: " "
                        type: "SPACE"
                      - suggestion: "<="
                        type: "OPERATOR"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: " <= "
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: " "
                        type: "SPACE"
                      - suggestion: ">="
                        type: "OPERATOR"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: " >= "
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: " "
                        type: "SPACE"
                      - suggestion: "AND"
                        type: "OPERATOR"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: " AND "
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: " "
                        type: "SPACE"
                      - suggestion: "XOR"
                        type: "OPERATOR"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: " XOR "
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: " "
                        type: "SPACE"
                      - suggestion: "OR"
                        type: "OPERATOR"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: " OR "
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: ","
                        type: "COMMA"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: ", "
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: "|"
                        type: "PIPE"
                      suggestion: "|"
                'Autocomplete for query: FETCH metrics | GROUP includeUnusedFields:false, ':
                  description: "autocomplete for the query `fetch metrics | summarize\
                    \ count(), includeUnusedFields:false, ` (suggest parameter names\n\
                    that are not set yet)\nand no cursor position (i.e. cursor at\
                    \ the end)."
                  value:
                    optional: false
                    suggestions:
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "if used, the aggregations are performed on groups"
                        suggestion: "by"
                        type: "PARAMETER_KEY"
                      - suggestion: ":"
                        type: "COLON"
                      suggestion: "by:"
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "the name of the aggregated field"
                        suggestion: "alias"
                        type: "PARAMETER_KEY"
                      - suggestion: ":"
                        type: "COLON"
                      suggestion: "alias:"
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "an aggregation function"
                        suggestion: ""
                        type: "PARAMETER_KEY"
                      suggestion: ""
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "calculates the average value of a field for a list\
                          \ of records"
                        suggestion: "avg"
                        type: "FUNCTION_NAME"
                      - suggestion: "("
                        type: "PARENTHESIS_OPEN"
                      suggestion: "avg("
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "calculates the cardinality/number of unique values\
                          \ of a field for a list of records. 'cardinality(x)' would\
                          \ be a 'count(distinct x)' in SQL"
                        suggestion: "cardinality"
                        type: "FUNCTION_NAME"
                      - suggestion: "("
                        type: "PARENTHESIS_OPEN"
                      suggestion: "cardinality("
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "calculates the correlation of two fields for a list\
                          \ of records"
                        suggestion: "correlation"
                        type: "FUNCTION_NAME"
                      - suggestion: "("
                        type: "PARENTHESIS_OPEN"
                      suggestion: "correlation("
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "counts the number of records"
                        suggestion: "count"
                        type: "FUNCTION_NAME"
                      - suggestion: "("
                        type: "PARENTHESIS_OPEN"
                      suggestion: "count("
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "counts the number of records where the field exists\
                          \ or the expression is not null"
                        suggestion: "countExists"
                        type: "FUNCTION_NAME"
                      - suggestion: "("
                        type: "PARENTHESIS_OPEN"
                      suggestion: "countExists("
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "returns the first value of a field for a list of records"
                        suggestion: "first"
                        type: "FUNCTION_NAME"
                      - suggestion: "("
                        type: "PARENTHESIS_OPEN"
                      suggestion: "first("
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "returns the last value of a field for a list of records"
                        suggestion: "last"
                        type: "FUNCTION_NAME"
                      - suggestion: "("
                        type: "PARENTHESIS_OPEN"
                      suggestion: "last("
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "calculates the maximum value of a field for a list\
                          \ of records"
                        suggestion: "max"
                        type: "FUNCTION_NAME"
                      - suggestion: "("
                        type: "PARENTHESIS_OPEN"
                      suggestion: "max("
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "calculates the median value of a field for a list of\
                          \ records"
                        suggestion: "median"
                        type: "FUNCTION_NAME"
                      - suggestion: "("
                        type: "PARENTHESIS_OPEN"
                      suggestion: "median("
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "calculates the minimum value of a field for a list\
                          \ of records"
                        suggestion: "min"
                        type: "FUNCTION_NAME"
                      - suggestion: "("
                        type: "PARENTHESIS_OPEN"
                      suggestion: "min("
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "calculates the percentile value of a field for a list\
                          \ of records: percentile(x, 50) == median(x)"
                        suggestion: "percentile"
                        type: "FUNCTION_NAME"
                      - suggestion: "("
                        type: "PARENTHESIS_OPEN"
                      suggestion: "percentile("
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "calculates multiple percentile values of a field for\
                          \ a list of records (similar to percentile, but returns\
                          \ a map of values instead of a single one)"
                        suggestion: "percentiles"
                        type: "FUNCTION_NAME"
                      - suggestion: "("
                        type: "PARENTHESIS_OPEN"
                      suggestion: "percentiles("
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "calculates the standard deviation of a field for a\
                          \ list of records"
                        suggestion: "stddev"
                        type: "FUNCTION_NAME"
                      - suggestion: "("
                        type: "PARENTHESIS_OPEN"
                      suggestion: "stddev("
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "calculates the sum of a field for a list of records"
                        suggestion: "sum"
                        type: "FUNCTION_NAME"
                      - suggestion: "("
                        type: "PARENTHESIS_OPEN"
                      suggestion: "sum("
                    - alreadyTypedCharacters: 0
                      parts:
                      - info: "calculates the variance of a field for a list of records"
                        suggestion: "variance"
                        type: "FUNCTION_NAME"
                      - suggestion: "("
                        type: "PARENTHESIS_OPEN"
                      suggestion: "variance("
                'Autocomplete for query: Fetch':
                  description: "autocomplete if the query starts with `fetch` and\
                    \ cursor position is 5 (would be the same if the query\nstring\
                    \ is longer)."
                  value:
                    optional: false
                    suggestions:
                    - alreadyTypedCharacters: 0
                      parts:
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: " "
                    - alreadyTypedCharacters: 5
                      parts:
                      - suggestion: "fetch"
                        type: "COMMAND"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: "fetch "
                'Autocomplete for query: f':
                  description: "autocomplete if the query starts with `f` and cursor\
                    \ position is 1."
                  value:
                    optional: false
                    suggestions:
                    - alreadyTypedCharacters: 1
                      parts:
                      - suggestion: "fetch"
                        type: "COMMAND"
                      - suggestion: " "
                        type: "SPACE"
                      suggestion: "fetch "
              schema:
                $ref: "#/components/schemas/AutocompleteResponse"
          description: "A list of structured autocomplete suggestions."
        "400":
          content:
            application/json:
              example:
                error:
                  code: 400
                  details:
                    constraintViolations:
                    - message: "must not be null"
                      parameterDescriptor: "query"
                  message: "Constraint Violations"
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: "Bad Request - The caller submitted an invalid request (e.g.,\
            \ mandatory parameters missing)."
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/InsufficientPermission"
        "404":
          $ref: "#/components/responses/TenantNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ssoAuth: []
      - ssoBearerAuth: []
      summary: "Get a structured list of suggestions for the query at the given position."
      tags:
      - "Query Assistance"
  /query:cancel:
    post:
      description: "For information about the required permissions see the [Bucket\
        \ and table permissions in Grail documentation](https://docs.dynatrace.com/docs/shortlink/assign-bucket-table-permissions).\
        \ \n\n### Overview:\n\nCancels a running Grail query and returns a list of\
        \ records if the query already finished.\n\n### The response format:\n\nIf\
        \ the query was already finished, a response body including the result will\
        \ be returned. Otherwise the response will contain no body.\n\nThe result\
        \ has three main sections:\n* the 'records' section contains the individual\
        \ records, where each record consists of a set of fields and their corresponding\
        \ values.\n* the 'types' section describes the corresponding data types that\
        \ a record field has.\n* the 'metadata' section contains information about\
        \ the query like 'analysisTimeframe', 'timezone' or 'locale'.\n\nEvery record\
        \ has an implicit 'index' according to the position in the 'records' JSON\
        \ array.\nThe types section has a list of 1..N possible type 'buckets'. Each\
        \ such bucket has an 'indexRange' which indicates which\nrecords will find\
        \ their field types in which bucket. The index range has two values start\
        \ & end and can be thought of as [startIndex, endIndex).\n\nA field part of\
        \ a record with index 'i' will find its corresponding field type by first\
        \ locating the bucket that satisfies:\n\n```text\nstartIndex <= i <= endIndex\n\
        ```\n\nOnce the bucket is found the 'mappings' object has an entry for all\
        \ the fields that are part of that record with index 'i'.\n\n\nSince enforcement\
        \ of a particular schema is absent at ingestion time, it is possible to have\
        \ records that share the same\nfield name but their values are of a different\
        \ type. This phenomenon will hence forth be named as a **\"collision\"**.\n\
        When a collision does occur, we will create a new type 'bucket' that will\
        \ have a different index range where\nthe new record field types will be placed.\n\
        It is guaranteed that every field of every record will have a corresponding\
        \ type.\n**Clients should always take the included types into account when\
        \ consuming records!**"
      operationId: "query:cancel"
      parameters:
      - description: "The request-token of the query."
        examples:
          request-token:
            description: "request-token"
            value: "HKsGJwblS6mSwDn0WbzSsQ=="
        explode: false
        in: "query"
        name: "request-token"
        required: true
        schema:
          type: "string"
        style: "form"
      - description: "If set additional data will be available in the metadata section."
        example: "metric-metadata"
        in: "query"
        name: "enrich"
        schema:
          type: "string"
      - $ref: "#/components/parameters/ClientContextHeader"
      responses:
        "200":
          content:
            application/json:
              examples:
                Cancel response:
                  description: "Cancel response"
                  value:
                    metadata:
                      grail:
                        analysisTimeframe:
                          end: "2023-03-10T11:02:00.705980000Z"
                          start: "2023-03-10T09:02:00.705980000Z"
                        dqlVersion: "V1_0"
                        executionTimeMilliseconds: 18
                        locale: ""
                        query: "fetch ..."
                        queryId: "92918dae-c2f9-4c98-b278-dc42adcc5954"
                        timezone: "Z"
                    progress: 100
                    result:
                      records:
                      - davis.status: "OPEN"
                        davis.title: "Http monitor global outage"
                        davis.underMaintenance: "false"
                        timestamp: "2022-03-17T08:00:01.231000000Z"
                      - davis.status: "OPEN"
                        davis.title: "Http monitor global outage"
                        davis.underMaintenance: "false"
                        timestamp: "2022-03-17T08:00:01.231000000Z"
                      - davis.status: "OPEN"
                        davis.title: "Http monitor global outage"
                        davis.underMaintenance: "false"
                        timestamp: "2022-03-17T08:00:01.231000000Z"
                      - davis.status: "OPEN"
                        davis.title: "Http monitor global outage"
                        davis.underMaintenance: "false"
                        timestamp: "2022-03-17T08:00:01.231000000Z"
                      types:
                      - indexRange:
                        - 0
                        - 3
                        mappings:
                          davis.status:
                            type: "string"
                          davis.title:
                            type: "string"
                          davis.underMaintenance:
                            type: "string"
                          timestamp:
                            type: "timestamp"
                    state: "SUCCEEDED"
                Top 3 summary:
                  description: "Top 3 summary"
                  value:
                    progress: 100
                    result:
                      metadata:
                        grail:
                          analysisTimeframe:
                            end: "2023-03-10T11:02:00.705980000Z"
                            start: "2023-03-10T09:02:00.705980000Z"
                          dqlVersion: "V1_0"
                          executionTimeMilliseconds: 18
                          locale: ""
                          query: "fetch ..."
                          queryId: "92918dae-c2f9-4c98-b278-dc42adcc5954"
                          timezone: "Z"
                      records:
                      - count: "16"
                        davis.properties.country: "France"
                      - count: "14"
                        davis.properties.country: "Belgium"
                      - count: "13"
                        davis.properties.country: "United Kingdom"
                      types:
                      - indexRange:
                        - 0
                        - 2
                        mappings:
                          count:
                            type: "long"
                          davis.properties.country:
                            type: "string"
                    state: "SUCCEEDED"
              schema:
                $ref: "#/components/schemas/QueryPollResponse"
          description: "The query already finished."
        "202":
          description: "The query was still running and is now cancelled."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/InsufficientPermission"
        "404":
          $ref: "#/components/responses/QueryNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "410":
          $ref: "#/components/responses/QueryGone"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ssoAuth: []
      - ssoBearerAuth: []
      summary: "Cancels the query and returns the result if the query was already\
        \ finished, otherwise discards it."
      tags:
      - "Query Execution"
  /query:execute:
    post:
      description: "For information about the required permissions see the [Bucket\
        \ and table permissions in Grail documentation](https://docs.dynatrace.com/docs/shortlink/assign-bucket-table-permissions).\
        \ \n\n### Overview:\n\nExecutes a query and returns a list of records.\n\n\
        For details about the query language see the [Dynatrace Query Language documentation](https://dt-url.net/bv03yk8).\n\
        \n### The response format:\n\nThe json response will contain the state of\
        \ the started query. If the query succeeded, the result will be included.\
        \ Otherwise the response will contain a request token to reference the query\
        \ in future polling requests.\n\nThe result has two main sections:\n* The\
        \ 'records' section contains the individual records, where each record consists\
        \ of a set of fields and their corresponding values.\n* The 'types' section\
        \ describes the corresponding data types that a record field has.\n\nEvery\
        \ record has an implicit 'index' according to the position in the 'records'\
        \ JSON array.\nThe types section has a list of 1..N possible type 'buckets'.\
        \ Each such bucket has an 'indexRange' which indicates which\nrecords will\
        \ find their field types in which bucket. The index range has two values start\
        \ & end and can be thought of as [startIndex, endIndex).\n\nA field part of\
        \ a record with index 'i' will find its corresponding field type by first\
        \ locating the bucket that satisfies:\n\n```text\nstartIndex <= i <= endIndex\n\
        ```\n\nOnce the bucket is found the 'mappings' object has an entry for all\
        \ the fields that are part of that record with index 'i'.\n\n\nSince enforcement\
        \ of a particular schema is absent at ingestion time, it is possible to have\
        \ records that share the same\nfield name but their values are of a different\
        \ type. This phenomenon will hence forth be named as a **\"collision\"**.\n\
        When a collision does occur, we will create a new type 'bucket' that will\
        \ have a different index range where\nthe new record field types will be placed.\n\
        It is guaranteed that every field of every record will have a corresponding\
        \ type.\n**Clients should always take the included types into account when\
        \ consuming records!**"
      operationId: "query:execute"
      parameters:
      - $ref: "#/components/parameters/ClientContextHeader"
      - description: "If set additional data will be available in the metadata section."
        example: "metric-metadata"
        in: "query"
        name: "enrich"
        schema:
          type: "string"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecuteRequest"
        description: "All parameters have to be passed via JSON in the POST body."
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Fetch, filter, sort and limit:
                  description: "Fetch, filter, sort and limit"
                  value:
                    progress: 100
                    result:
                      metadata:
                        grail:
                          analysisTimeframe:
                            end: "2023-03-10T11:02:00.705980000Z"
                            start: "2023-03-10T09:02:00.705980000Z"
                          dqlVersion: "V1_0"
                          executionTimeMilliseconds: 18
                          locale: ""
                          query: "fetch ..."
                          queryId: "92918dae-c2f9-4c98-b278-dc42adcc5954"
                          timezone: "Z"
                      records:
                      - davis.status: "OPEN"
                        davis.title: "Http monitor global outage"
                        davis.underMaintenance: "false"
                        timestamp: "2022-03-17T08:00:01.231000000Z"
                      - davis.status: "OPEN"
                        davis.title: "Http monitor global outage"
                        davis.underMaintenance: "false"
                        timestamp: "2022-03-17T08:00:01.231000000Z"
                      - davis.status: "OPEN"
                        davis.title: "Http monitor global outage"
                        davis.underMaintenance: "false"
                        timestamp: "2022-03-17T08:00:01.231000000Z"
                      - davis.status: "OPEN"
                        davis.title: "Http monitor global outage"
                        davis.underMaintenance: "false"
                        timestamp: "2022-03-17T08:00:01.231000000Z"
                      types:
                      - indexRange:
                        - 0
                        - 3
                        mappings:
                          davis.status:
                            type: "string"
                          davis.title:
                            type: "string"
                          davis.underMaintenance:
                            type: "string"
                          timestamp:
                            type: "timestamp"
                    state: "SUCCEEDED"
                Top 3 summary:
                  description: "Top 3 summary"
                  value:
                    progress: 100
                    result:
                      metadata:
                        grail:
                          analysisTimeframe:
                            end: "2023-03-10T11:02:00.705980000Z"
                            start: "2023-03-10T09:02:00.705980000Z"
                          dqlVersion: "V1_0"
                          executionTimeMilliseconds: 18
                          locale: ""
                          query: "fetch ..."
                          queryId: "92918dae-c2f9-4c98-b278-dc42adcc5954"
                          timezone: "Z"
                      records:
                      - count: "16"
                        davis.properties.country: "France"
                      - count: "14"
                        davis.properties.country: "Belgium"
                      - count: "13"
                        davis.properties.country: "United Kingdom"
                      types:
                      - indexRange:
                        - 0
                        - 2
                        mappings:
                          count:
                            type: "long"
                          davis.properties.country:
                            type: "string"
                    state: "SUCCEEDED"
              schema:
                $ref: "#/components/schemas/QueryStartResponse"
          description: "The final status and results of the supplied query if it finished\
            \ within a supplied requestTimeoutMilliseconds."
        "202":
          content:
            application/json:
              examples:
                Query accepted:
                  description: "Query accepted"
                  value:
                    requestToken: "D8DZEs1US6ur/fRedQpfDA=="
                    state: "RUNNING"
                    ttlSeconds: 398
              schema:
                $ref: "#/components/schemas/QueryStartResponse"
          description: "The status of the query to start."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/InsufficientPermission"
        "404":
          $ref: "#/components/responses/TenantNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "409":
          $ref: "#/components/responses/Conflict"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ssoAuth: []
      - ssoBearerAuth: []
      summary: "Starts a Grail query."
      tags:
      - "Query Execution"
  /query:parse:
    post:
      description: "For information about the required permissions see the [Bucket\
        \ and table permissions in Grail documentation](https://docs.dynatrace.com/docs/shortlink/assign-bucket-table-permissions).\
        \ \n\n## Overview\n\nReturns the parsed query as a tree, containing the structure\
        \ of the canonical query. Tree-nodes can contain references to\nthe token\
        \ position where they originate from. This may help to provide hover effects,\
        \ show canonical forms, mark\noptional items, and more.\n\n## Details\n\n\
        The query tree consists of nodes that contain different additional information\
        \ (everything optional):\n\n### General Fields\n\nField | Mandatory |  Description\n\
        ----------------------- | --- | ----------------------------------------------------------------------------------------\n\
        tokenPosition           | no  | optional. If present, it represents the position\
        \ within the query string where the node refers to.\nisOptional          \
        \    | no  | whether this node could be left out and the result would still\
        \ be the same query (semantically).\n\n#### tokenPosition\n\ncontains `start`\
        \ (inclusive) and `end` (inclusive), both contain `index` (0 based; fur substrings),\
        \ `line`\nand `column` (both 1-based; for readability).\n\n* If `tokenPosition`\
        \ is present, it always contains start and end with all fields\n* If `tokenPosition`\
        \ is not present, there might still be nested nodes that do contain a position\n\
        * If `start == end`, the position refers to a single character\n* If `start\
        \ > end`, we know for sure that something was inserted.\n\nWe can always check\
        \ whether the canonical representation of a node matches the text in the tokenPosition\
        \ to see whether\nsomething was inserted, removed, or changed.\n\n#### isOptional\n\
        \nonly present if it is true.\n\nOptional nodes can e.g. be optional braces\
        \ that make a query more readable, but are not necessary. This could be used\
        \ to\nenter *ghost braces* and *implicit functions* in the user's input field;\
        \ maybe with different formatting\n(using the tokenPosition of sibling nodes\
        \ we can also check whether the user wrote these or not).\n\n### Advanced\
        \ Token Types\n\neach node is of one of following types and may contain more\
        \ fields:\n\n* Terminal Node\n* ContainerNode\n* Alternative Node\n\n####\
        \ Terminal Node\n\ncan be identified by checking whether `canonicalString`\
        \ is present\n\nField | Mandatory |  Description\n------------------------\
        \ | --- | ---------------------------------------------------------------------------------------\n\
        type                     | yes | the type of the terminal node - do not confuse\
        \ with the type of container nodes\ncanonicalString          | yes | the canonical\
        \ string representation. Concatenating the canonicalString of all nested terminal\
        \ nodes provides the canonical form of the query.\nisMandatoryOnUserOrder\
        \   | no  | may only be present if (`type=\"BRACE_OPEN\"` or `type=\"BRACE_CLOSE\"\
        `) and `isOptional=true`. For usage see section [Special node type: PARAMETERS](#special-node-type-parameters)\n\
        \n##### Current types of terminal nodes (list might grow):\n\n* SPACE\n* LINEBREAK\n\
        * INDENT\n* PIPE\n* DOT\n* COLON\n* COMMA\n* BRACE_OPEN\n* BRACE_CLOSE\n*\
        \ BRACKET_OPEN\n* BRACKET_CLOSE\n* PARENTHESIS_OPEN\n* PARENTHESIS_CLOSE\n\
        * QUOTE\n* SLASH\n* BOOLEAN_TRUE\n* BOOLEAN_FALSE\n* NULL\n* COMMAND_NAME\n\
        * PARAMETER_KEY\n* PARAMETER_VALUE_SCOPE\n* FUNCTION_NAME\n* OPERATOR\n* TRAVERSAL_OPERATOR\n\
        * TRAVERSAL_RELATION_NAME\n* TRAVERSAL_HOP_COUNT\n* SIMPLE_IDENTIFIER\n* NUMBER\n\
        * STRING\n* TIME_UNIT\n* TIMESTAMP_VALUE\n* METRIC_KEY\n* VARIABLE\n\n####\
        \ ContainerNode\n\ncan be identified by checking whether `children` is present\n\
        \nField | Mandatory |  Description\n----------------------- | --- | ----------------------------------------------------------------------------------------\n\
        type                    | yes | the type of the container node - do not confuse\
        \ with the type of terminal nodes\nchildren                | yes | the children\
        \ for the node. might be of any type\n\n##### Current types of container nodes\
        \ (list might grow):\n\n* QUERY\n* EXECUTION_BLOCK\n* COMMAND\n* COMMAND_SEPARATOR\n\
        * PARAMETER_WITH_KEY\n* GROUP\n* PARAMETERS - check examples further down\n\
        * PARAMETER_NAMING\n* PARAMETER_SEPARATOR\n* FUNCTION\n* FUNCTION_PART - check\
        \ examples further down\n* EXPRESSION\n* IDENTIFIER\n* SOURCE_ID\n* DURATION\n\
        * TIMESTAMP\n* TIMEFRAME\n* TRAVERSAL_PATH\n* TRAVERSAL_STEP\n\n##### Special\
        \ node type: PARAMETERS\n\ncan contain children representing the parameters.\
        \ Every second child is of type PARAMETER_SEPARATOR.\n\nYou may reorder the\
        \ children based on their tokenPosition to get the user order. However, in\
        \ this case, \nyou need to consider `isMandatoryOnUserOrder` to determine\
        \ whether the grouping braces are mandatory or not.\n\n###### Example \n\n\
        For the query `SORT a, {direction:\"descending\", b}`, the canonical form\
        \ is:\n\n`SORT a, {b, direction:\"descending\"}`\n\nThis is the order, in\
        \ which the parameters are returned in the query tree.\nParameters are {a}\
        \ and {{b} and {direction:\"descending\"}}. In this case, the braces are optional.\n\
        \n`SORT a, {b, direction:\"descending\"}` is equivalent to `SORT a, b, direction:\"\
        descending\"`\n\nHowever, if you reorder the children by tokenPosition, the\
        \ braces are not optional, because\n\n`SORT a, direction:\"descending\", b`\
        \ is interpreted as `SORT {a, direction:\"descending\"}, b`\n\nSo, if the\
        \ children in PARAMETERS are re-ordered by tokenPosition, braces (or in general:\
        \ TerminalNodes)\nare only optional if `isOptional && !isMandatoryOnUserOrder`.\n\
        \n##### Special node type: FUNCTION_PART\n\nA container node of type `FUNCTION`\
        \ may contain nodes of type `FUNCTION_PART`.\n\nIf those `FUNCTION_PART`s\
        \ are marked as optional, this means you have to either include *all* or *none*\
        \ of these\noptional function parts.\n\n*Example*:\n\n`filter anyMatch(a.b\
        \ == 1, input:a)`\n\nThe optional function parts are `anyMatch(` and `, input:a)`.\
        \ If you leave out both, the command will still work:\n`filter a.b == 1` and\
        \ return the same result. Using one of these optional function parts and removing\
        \ the other will lead\nto an invalid query.\n\n#### Alternative Node\n\ncan\
        \ be identified by checking whether `alternatives` is present\n\nField | Mandatory\
        \ |  Description\n----------------------- | --- | ----------------------------------------------------------------------------------------\n\
        alternatives            | yes | Type: Map&lt;AlternativeType, DQLNode&gt;\n\
        \nWhen displaying the query, pick one option. You may use the other options\
        \ for hovering, replacing, and more.\n\n##### Current values of AlternativeType\
        \ (list might grow):\n\n* CANONICAL: This node is the one we will use for\
        \ our canonical form\n* USER: An alternative that is also valid, but not canonical;\
        \ and this version was picked by the user.\n* INFO: only if the canonical\
        \ version is not present\n\n*Examples*:\n\n* `CANONICAL` is not present, `USER`\
        \ is present: user's nodes are optional, but not canonical (usually optional\
        \ nodes\n  are still canonical)\n* `CANONICAL` is present, `USER` is not present:\
        \ same as if the canonical node was optional. If this happens, it is\n  likely\
        \ that there is also an `INFO` node\n* `CANONICAL` is present, `USER` is present:\
        \ there are different alternatives\n* `INFO` is present: usually if `CANONICAL`\
        \ is not present (e.g. the parameter key for `FILTER a == 1`), there is an\
        \ info node\n  for `FILTER condition:a == 1`. This `condition:` was neither\
        \ written by the user nor is it canonical; but it might be\n  used to help\
        \ the user understand what this parameter means."
      operationId: "query:parse"
      parameters:
      - $ref: "#/components/parameters/ClientContextHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParseRequest"
        description: "All parameters have to be passed via JSON in the POST body."
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Query tree for query with non-canonical parameter names:
                  description: "Query tree for `fetch sourceId:logs`\nThe example\
                    \ shows how the canonical form handles non-canonical parameter\
                    \ naming\n(in this case the canonical form would be `fetch logs`\
                    \ only)."
                  value:
                    children:
                    - children:
                      - canonicalString: "fetch"
                        nodeType: "TERMINAL"
                        tokenPosition:
                          end:
                            column: 5
                            index: 4
                            line: 1
                          start:
                            column: 1
                            index: 0
                            line: 1
                        type: "COMMAND_NAME"
                      - canonicalString: " "
                        nodeType: "TERMINAL"
                        type: "SPACE"
                      - children:
                        - children:
                          - children:
                            - alternatives:
                                INFO:
                                  children:
                                  - canonicalString: "sourceId"
                                    nodeType: "TERMINAL"
                                    tokenPosition:
                                      end:
                                        column: 14
                                        index: 13
                                        line: 1
                                      start:
                                        column: 7
                                        index: 6
                                        line: 1
                                    type: "PARAMETER_KEY"
                                  - canonicalString: ":"
                                    nodeType: "TERMINAL"
                                    type: "COLON"
                                  isOptional: true
                                  nodeType: "CONTAINER"
                                  type: "PARAMETER_NAMING"
                                USER:
                                  children:
                                  - canonicalString: "sourceId"
                                    nodeType: "TERMINAL"
                                    tokenPosition:
                                      end:
                                        column: 14
                                        index: 13
                                        line: 1
                                      start:
                                        column: 7
                                        index: 6
                                        line: 1
                                    type: "PARAMETER_KEY"
                                  - canonicalString: ":"
                                    nodeType: "TERMINAL"
                                    type: "COLON"
                                  isOptional: true
                                  nodeType: "CONTAINER"
                                  type: "PARAMETER_NAMING"
                              nodeType: "ALTERNATIVE"
                            - children:
                              - canonicalString: "logs"
                                nodeType: "TERMINAL"
                                tokenPosition:
                                  end:
                                    column: 19
                                    index: 18
                                    line: 1
                                  start:
                                    column: 16
                                    index: 15
                                    line: 1
                                type: "SIMPLE_IDENTIFIER"
                              nodeType: "CONTAINER"
                              tokenPosition:
                                end:
                                  column: 19
                                  index: 18
                                  line: 1
                                start:
                                  column: 16
                                  index: 15
                                  line: 1
                              type: "SOURCE_ID"
                            nodeType: "CONTAINER"
                            tokenPosition:
                              end:
                                column: 19
                                index: 18
                                line: 1
                              start:
                                column: 16
                                index: 15
                                line: 1
                            type: "PARAMETER_WITH_KEY"
                          nodeType: "CONTAINER"
                          type: "PARAMETERS"
                        nodeType: "CONTAINER"
                        tokenPosition:
                          end:
                            column: 19
                            index: 18
                            line: 1
                          start:
                            column: 16
                            index: 15
                            line: 1
                        type: "GROUP"
                      nodeType: "CONTAINER"
                      tokenPosition:
                        end:
                          column: 19
                          index: 18
                          line: 1
                        start:
                          column: 1
                          index: 0
                          line: 1
                      type: "COMMAND"
                    nodeType: "CONTAINER"
                    tokenPosition:
                      end:
                        column: 19
                        index: 18
                        line: 1
                      start:
                        column: 1
                        index: 0
                        line: 1
                    type: "QUERY"
              schema:
                $ref: "#/components/schemas/DQLNode"
          description: "A node containing more nodes,  a node offering different (semantically\
            \ equivalent) versions of the query parts, or a terminal node that shows\
            \ the canonical form."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/InsufficientPermission"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ssoAuth: []
      - ssoBearerAuth: []
      summary: "Get a structured tree of the canonical form of the query."
      tags:
      - "Query Assistance"
  /query:poll:
    get:
      description: "For information about the required permissions see the [Bucket\
        \ and table permissions in Grail documentation](https://docs.dynatrace.com/docs/shortlink/assign-bucket-table-permissions).\
        \ \n\n### Overview:\n\nPolls the status of a Grail query. Returns the status\
        \ of the query, including the result if the query finished.\n\n### The response\
        \ format:\nThe json response will contain the state of the query. If the query\
        \ succeeded, the result will be included.\n\nThe result has two main sections:\n\
        * The 'records' section contains the individual records, where each record\
        \ consists of a set of fields and their corresponding values.\n* The 'types'\
        \ section describes the corresponding data types that a record field has.\n\
        \nEvery record has an implicit 'index' according to the position in the 'records'\
        \ JSON array.\nThe types section has a list of 1..N possible type 'buckets'.\
        \ Each such bucket has an 'indexRange' which indicates which\nrecords will\
        \ find their field types in which bucket. The index range has two values start\
        \ & end and can be thought of as [startIndex, endIndex).\n\nA field part of\
        \ a record with index 'i' will find its corresponding field type by first\
        \ locating the bucket that satisfies:\n\n```text\nstartIndex <= i <= endIndex\n\
        ```\n\nOnce the bucket is found the 'mappings' object has an entry for all\
        \ the fields that are part of that record with index 'i'.\n\n\nSince enforcement\
        \ of a particular schema is absent at ingestion time, it is possible to have\
        \ records that share the same\nfield name but their values are of a different\
        \ type. This phenomenon will hence forth be named as a **\"collision\"**.\n\
        When a collision does occur, we will create a new type 'bucket' that will\
        \ have a different index range where\nthe new record field types will be placed.\n\
        It is guaranteed that every field of every record will have a corresponding\
        \ type.\n**Clients should always take the included types into account when\
        \ consuming records!**"
      operationId: "query:poll"
      parameters:
      - description: "The request-token of the query."
        examples:
          request-token:
            description: "request-token"
            value: "HKsGJwblS6mSwDn0WbzSsQ=="
        explode: false
        in: "query"
        name: "request-token"
        required: true
        schema:
          type: "string"
        style: "form"
      - description: "Time the response is allowed to be delayed for either a preview\
          \ or the final result to become available. No default value (immediate response)."
        example: "60"
        explode: false
        in: "query"
        name: "request-timeout-milliseconds"
        required: false
        schema:
          type: "integer"
          format: "int64"
          maximum: 60000
          minimum: 0
        style: "form"
      - description: "If set additional data will be available in the metadata section."
        example: "metric-metadata"
        in: "query"
        name: "enrich"
        schema:
          type: "string"
      - $ref: "#/components/parameters/ClientContextHeader"
      responses:
        "200":
          content:
            application/json:
              examples:
                Fetch, filter, sort and limit:
                  description: "Fetch, filter, sort and limit"
                  value:
                    progress: 100
                    result:
                      metadata:
                        grail:
                          analysisTimeframe:
                            end: "2023-03-10T11:02:00.705980000Z"
                            start: "2023-03-10T09:02:00.705980000Z"
                          dqlVersion: "V1_0"
                          executionTimeMilliseconds: 18
                          locale: ""
                          query: "fetch ..."
                          queryId: "92918dae-c2f9-4c98-b278-dc42adcc5954"
                          timezone: "Z"
                      records:
                      - davis.status: "OPEN"
                        davis.title: "Http monitor global outage"
                        davis.underMaintenance: "false"
                        timestamp: "2022-03-17T08:00:01.231000000Z"
                      - davis.status: "OPEN"
                        davis.title: "Http monitor global outage"
                        davis.underMaintenance: "false"
                        timestamp: "2022-03-17T08:00:01.231000000Z"
                      - davis.status: "OPEN"
                        davis.title: "Http monitor global outage"
                        davis.underMaintenance: "false"
                        timestamp: "2022-03-17T08:00:01.231000000Z"
                      - davis.status: "OPEN"
                        davis.title: "Http monitor global outage"
                        davis.underMaintenance: "false"
                        timestamp: "2022-03-17T08:00:01.231000000Z"
                      types:
                      - indexRange:
                        - 0
                        - 3
                        mappings:
                          davis.status:
                            type: "string"
                          davis.title:
                            type: "string"
                          davis.underMaintenance:
                            type: "string"
                          timestamp:
                            type: "timestamp"
                    state: "SUCCEEDED"
                Polling response:
                  description: "Polling response"
                  value:
                    progress: 50
                    state: "RUNNING"
                    ttlSeconds: 123
                Top 3 summary:
                  description: "Top 3 summary"
                  value:
                    progress: 100
                    result:
                      metadata:
                        grail:
                          analysisTimeframe:
                            end: "2023-03-10T11:02:00.705980000Z"
                            start: "2023-03-10T09:02:00.705980000Z"
                          dqlVersion: "V1_0"
                          executionTimeMilliseconds: 18
                          locale: ""
                          query: "fetch ..."
                          queryId: "92918dae-c2f9-4c98-b278-dc42adcc5954"
                          timezone: "Z"
                      records:
                      - count: "16"
                        davis.properties.country: "France"
                      - count: "14"
                        davis.properties.country: "Belgium"
                      - count: "13"
                        davis.properties.country: "United Kingdom"
                      types:
                      - indexRange:
                        - 0
                        - 2
                        mappings:
                          count:
                            type: "long"
                          davis.properties.country:
                            type: "string"
                    state: "SUCCEEDED"
              schema:
                $ref: "#/components/schemas/QueryPollResponse"
          description: "The current status and results of the supplied query."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/InsufficientPermission"
        "404":
          $ref: "#/components/responses/QueryNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "410":
          $ref: "#/components/responses/QueryGone"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ssoAuth: []
      - ssoBearerAuth: []
      summary: "Retrieves query status and final result from Grail."
      tags:
      - "Query Execution"
  /query:verify:
    post:
      description: "For information about the required permissions see the [Bucket\
        \ and table permissions in Grail documentation](https://docs.dynatrace.com/docs/shortlink/assign-bucket-table-permissions).\n\
        \n## Overview\n\nVerifies the supplied query string and other query parameters\
        \ for lack of any errors, but without actually \nsubmitting the query for\
        \ execution."
      operationId: "query:verify"
      parameters:
      - $ref: "#/components/parameters/ClientContextHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyRequest"
        description: "All parameters have to be passed via JSON in the POST body."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyResponse"
          description: "Supplied query and parameters were verified."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/InsufficientPermission"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      security:
      - ssoAuth: []
      - ssoBearerAuth: []
      summary: "Verifies a query without executing it."
      tags:
      - "Query Assistance"
components:
  parameters:
    ClientContextHeader:
      description: "The dt-client-context header is an optional string parameter used\
        \ for monitoring purposes. When included in a request, it helps retrieve information\
        \ about the execution of the query. It shouldn't hold sensitive information."
      examples:
        empty:
          description: "empty"
        sample:
          description: "Sample Dynatrace client context."
          value: "client-context"
      explode: false
      in: "header"
      name: "dt-client-context"
      required: false
      schema:
        type: "string"
        maxLength: 512
      style: "simple"
  responses:
    BadRequest:
      content:
        application/json:
          examples:
            FETCH DQL ERROR:
              description: "Sample DQL error message if supplied query is wrong."
              value:
                error:
                  code: 400
                  details:
                    arguments:
                    - "sandwich"
                    errorMessage: "sandwich isn't a valid data object."
                    errorMessageFormat: "%1$s isn't a valid data object."
                    errorMessageFormatSpecifierTypes:
                    - "INPUT_QUERY_PART"
                    errorType: "UNKNOWN_DATA_OBJECT"
                    exceptionType: "DQL-SYNTAX-ERROR"
                    queryId: "0ff42e65-1ed4-4a51-a92c-ae94e7895253"
                    queryString: "fetch sandwich, from:now()-30d"
                    syntaxErrorPosition:
                      end:
                        column: 14
                        index: 13
                        line: 1
                      start:
                        column: 7
                        index: 6
                        line: 1
                  message: "UNKNOWN_DATA_OBJECT"
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: "The supplied request is wrong. Either the query itself or other\
        \ parameters are wrong."
    Conflict:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: "Conflict - The supplied queryId already exists and is currently\
        \ running."
    GatewayTimeout:
      content:
        application/json:
          examples:
            Gateway Timeout:
              description: "The service did not respond within the configured timeout."
              value:
                error:
                  code: 504
                  message: "Gateway Timeout"
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: "Gateway timeout. The service did not respond in time."
    InsufficientPermission:
      content:
        application/json:
          examples:
            FETCH DQL ERROR:
              description: "Sample DQL error message if the table permissions are\
                \ insufficient."
              value:
                error:
                  code: 403
                  details:
                    arguments:
                    - "Accessing table events is not allowed."
                    errorMessage: "Failed to build query plan: Accessing table events\
                      \ is not allowed."
                    errorMessageFormat: "Failed to build query plan: %s"
                    errorMessageFormatSpecifierTypes:
                    - "GENERAL_MESSAGE"
                    errorType: "QUERY_PLAN_BUILD_FAILURE"
                    exceptionType: "DQL-EXEC-MAPPING"
                    queryString: "fetch events"
                  message: "QUERY_PLAN_BUILD_FAILURE"
            NO TENANT ACCESS:
              description: "The authentication token does not have permission for\
                \ the tenant."
              value:
                error:
                  code: 403
                  message: "Insufficient permission to access the tenant."
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: "Insufficient permissions."
    InternalServerError:
      content:
        application/json:
          example:
            error:
              code: 500
              details:
                arguments: []
                errorMessage: "There's been an error on our side. Please try again\
                  \ in a few minutes."
                errorMessageFormat: "There's been an error on our side. Please try\
                  \ again in a few minutes."
                errorMessageFormatSpecifierTypes: []
                errorType: "INTERNAL_ERROR"
                exceptionType: "DQL-EXEC-EXECUTION"
                queryId: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                queryString: ""
              message: "INTERNAL_ERROR"
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: "An internal server error has occurred."
    MethodNotAllowed:
      content:
        application/json:
          examples:
            Method Not Allowed:
              description: "The HTTP method used is not supported for this resource."
              value:
                error:
                  code: 405
                  errorDetails: []
                  message: "Http method not supported"
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: "Method not allowed. The HTTP method is not supported for this\
        \ endpoint."
    QueryGone:
      content:
        application/json:
          example:
            error:
              code: 410
              details:
                arguments: []
                errorMessage: "The query for this query ID is not available anymore."
                errorMessageFormat: "The query for this query ID is not available\
                  \ anymore."
                errorMessageFormatSpecifierTypes: []
                errorType: "QUERY_GONE"
                exceptionType: "GONE"
                queryId: "7299e020-2b15-4b17-8629-6adb5c6e1109"
                queryString: ""
              message: "QUERY_GONE"
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: "The query for the given request-token is not available anymore."
    QueryNotFound:
      content:
        application/json:
          example:
            error:
              code: 404
              details:
                arguments: []
                errorMessage: "There is no query for this request token."
                errorMessageFormat: "There is no query for this request token."
                errorMessageFormatSpecifierTypes: []
                errorType: "QUERY_NOT_FOUND"
                exceptionType: "NOT_FOUND"
                queryString: ""
              message: "QUERY_NOT_FOUND"
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: "Not Found - The query with the given ID does not exist for this\
        \ tenant."
    ServiceUnavailable:
      content:
        application/json:
          examples:
            Gateway Timeout:
              description: "The grail instance is either shutting down or busy."
              value:
                error:
                  code: 503
                  message: "Service Unavailable"
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: "Service Unavailable - The grail instance is either shutting down\
        \ or busy."
    TenantNotFound:
      content:
        application/json:
          examples:
            Inactive Tenant:
              summary: "Tenant is inactive or not found"
              value:
                error:
                  code: 404
                  message: "The tenant `abc-123` was not found."
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: "Not Found - Returned when the tenant is inactive or not found."
    TooManyRequests:
      content:
        application/json:
          example:
            error:
              code: 429
              details:
                arguments: []
                errorMessage: "Maximum number of concurrent queries per tenant reached."
                errorMessageFormat: "Maximum number of concurrent queries per tenant\
                  \ reached."
                errorMessageFormatSpecifierTypes: []
                errorType: "BUSY_SCHEDULER_TENANT"
                exceptionType: "DQL-EXEC-EXECUTION"
                queryId: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                queryString: ""
              message: "BUSY_SCHEDULER_TENANT"
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: "Too Many Requests - There were too many queries in the queue."
      headers:
        Dt-Grail-Query-State:
          description: "Signals the calling service that the query has reached a terminal\
            \ state and no further polling is needed"
          example: "complete"
          explode: false
          schema:
            type: "string"
          style: "simple"
    Unauthorized:
      content:
        application/json:
          examples:
            Unauthorized:
              description: "Missing or invalid authentication token."
              value:
                error:
                  code: 401
                  message: "Unauthorized"
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: "Unauthorized. The request lacks valid authentication credentials.\
        \ Happens when the authentication token is missing or invalid."
    UnsupportedMediaType:
      content:
        application/json:
          examples:
            Unsupported Media Type:
              description: "The content type of the request is not supported."
              value:
                error:
                  code: 415
                  errorDetails:
                  - '@type': "media-type"
                    message: "Media type 'application/text' is not accepted"
                    supportedMediaTypes:
                    - "application/json"
                  message: "Unsupported media type"
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: "Unsupported media type. The request content type is not supported."
  schemas:
    AutocompleteRequest:
      type: "object"
      properties:
        cursorPosition:
          type: "integer"
          format: "int32"
          description: "No upper limit but must be lower than length of query. No\
            \ default value."
          minimum: 0
        enforceQueryConsumptionLimit:
          type: "boolean"
          description: "Boolean to indicate if the query consumption limit should\
            \ be enforced"
        locale:
          type: "string"
          description: "The query locale. If none specified, then a language/country\
            \ neutral locale is chosen. The input values take the ISO-639 Language\
            \ code with an optional ISO-3166 country code appended to it with an underscore.\
            \ For instance, both values are valid 'en' or 'en_US'."
          example: "en_US"
        maxDataSuggestions:
          type: "integer"
          format: "int32"
          description: "Limit the number of data suggestions, such as field names.\
            \ No upper limit. No default value."
          minimum: 0
        query:
          type: "string"
          description: "The full query string."
          example: "fetch events \n| filter event.type == \"davis\" AND davis.status\
            \ != \"CLOSED\" \n| fields timestamp, davis.title, davis.underMaintenance,\
            \ davis.status \n| sort timestamp \n| limit 10"
          maxLength: 1000000
        queryOptions:
          $ref: "#/components/schemas/QueryOptions"
        timezone:
          type: "string"
          description: "The query timezone. If none is specified, UTC is used as fallback.\
            \ The list of valid input values matches that of the IANA Time Zone Database\
            \ (TZDB). It accepts values in their canonical names like 'Europe/Paris',\
            \ the abbreviated version like CET or the UTC offset format like '+01:00'"
          example: "UTC"
      required:
      - "query"
    AutocompleteResponse:
      type: "object"
      description: "The response of the autocomplete call."
      properties:
        optional:
          type: "boolean"
          description: "True if the suggestions are optional."
        suggestedTtlSeconds:
          type: "integer"
          description: "Suggested duration in seconds, for how long the response may\
            \ be cached and reused by the client. It is derived from the volatility\
            \ of the suggestions on the server (if the suggestions are static, how\
            \ long the server will cache the volatile suggestions, ...). If not provided,\
            \ then the result may be cached for long time. Value below 1 means that\
            \ the result should not be cached."
        suggestions:
          type: "array"
          description: "The list of suggestions."
          items:
            $ref: "#/components/schemas/AutocompleteSuggestion"
      required:
      - "optional"
      - "suggestions"
    AutocompleteSuggestion:
      type: "object"
      description: "Single suggestion for completion of the query."
      properties:
        alreadyTypedCharacters:
          type: "integer"
          format: "int32"
          description: "Number of characters that the user already typed for this\
            \ suggestion."
        parts:
          type: "array"
          description: "List of suggestion parts."
          items:
            $ref: "#/components/schemas/AutocompleteSuggestionPart"
        suggestion:
          type: "string"
          description: "The suggested continuation of the query."
      required:
      - "alreadyTypedCharacters"
      - "parts"
      - "suggestion"
    AutocompleteSuggestionPart:
      type: "object"
      description: "Part of the suggestion."
      properties:
        info:
          type: "string"
          description: "The type of the suggestion."
        suggestion:
          type: "string"
          description: "The suggested continuation of the query."
        synopsis:
          type: "string"
          description: "The synopsis of the suggestion."
        type:
          $ref: "#/components/schemas/TokenType"
      required:
      - "suggestion"
      - "type"
    BucketContribution:
      type: "object"
      properties:
        matchedRecordsRatio:
          type: "number"
          format: "double"
          maximum: 1.0
          minimum: 0.0
        name:
          type: "string"
        scannedBytes:
          type: "integer"
          format: "int64"
          minimum: 0
        table:
          type: "string"
    Contributions:
      type: "object"
      properties:
        buckets:
          type: "array"
          items:
            $ref: "#/components/schemas/BucketContribution"
    DQLAlternativeNode:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/DQLNode"
      - type: "object"
        properties:
          alternatives:
            type: "object"
            additionalProperties:
              $ref: "#/components/schemas/DQLNode"
            description: "The different alternatives."
            properties: {}
      description: "The DQL node that has alternatives."
      required:
      - "alternatives"
      - "isOptional"
      - "nodeType"
    DQLContainerNode:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/DQLNode"
      - type: "object"
        properties:
          children:
            type: "array"
            description: "The list of children nodes."
            items:
              $ref: "#/components/schemas/DQLNode"
            properties: {}
          type:
            type: "string"
            description: "The type of the node."
            enum:
            - "QUERY"
            - "EXECUTION_BLOCK"
            - "COMMAND"
            - "COMMAND_SEPARATOR"
            - "PARAMETER_WITH_KEY"
            - "GROUP"
            - "PARAMETERS"
            - "PARAMETER_NAMING"
            - "PARAMETER_ASSIGNMENT"
            - "PARAMETER_SEPARATOR"
            - "FUNCTION"
            - "FUNCTION_PART"
            - "EXPRESSION"
            - "IDENTIFIER"
            - "SOURCE_ID"
            - "DURATION"
            - "TIMESTAMP"
            - "TIMEFRAME"
            - "TRAVERSAL_PATH"
            - "TRAVERSAL_STEP"
      description: "The DQL node that contains other nodes."
      required:
      - "children"
      - "isOptional"
      - "nodeType"
      - "type"
    DQLNode:
      type: "object"
      description: "General Node in the DQL query."
      discriminator:
        mapping:
          ALTERNATIVE: "#/components/schemas/DQLAlternativeNode"
          CONTAINER: "#/components/schemas/DQLContainerNode"
          TERMINAL: "#/components/schemas/DQLTerminalNode"
        propertyName: "nodeType"
      properties:
        isOptional:
          type: "boolean"
          description: "True if the node is optional."
        nodeType:
          type: "string"
          description: "The type of the node."
          enum:
          - "TERMINAL"
          - "CONTAINER"
          - "ALTERNATIVE"
        tokenPosition:
          $ref: "#/components/schemas/TokenPosition"
      required:
      - "isOptional"
      - "nodeType"
    DQLTerminalNode:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/DQLNode"
      - type: "object"
        properties:
          canonicalString:
            type: "string"
            description: "Canonical form."
          isMandatoryOnUserOrder:
            type: "boolean"
            description: "For optional items only: whether this node becomes mandatory\
              \ when user order is used. True only for some optional 'ghost braces'"
          type:
            $ref: "#/components/schemas/TokenType"
      description: "Node that represents single token."
      required:
      - "canonicalString"
      - "isMandatoryOnUserOrder"
      - "isOptional"
      - "nodeType"
      - "type"
    ErrorEnvelope:
      type: "object"
      description: "An 'envelope' error object that has the mandatory error object."
      properties:
        error:
          $ref: "#/components/schemas/ErrorResponse"
      required:
      - "error"
    ErrorResponse:
      type: "object"
      description: "The response for error state"
      properties:
        code:
          type: "integer"
          format: "int32"
          description: "Error code, which normally matches the HTTP error code."
        details:
          $ref: "#/components/schemas/ErrorResponseDetails"
        message:
          type: "string"
          description: "A short, clear error message without details"
        retryAfterSeconds:
          type: "integer"
          format: "int32"
          description: "The number of seconds to wait until the next retry."
      required:
      - "code"
      - "message"
    ErrorResponseDetails:
      type: "object"
      description: "Detailed information about the error."
      properties:
        arguments:
          type: "array"
          description: "The arguments for the message format."
          items:
            type: "string"
        constraintViolations:
          type: "array"
          description: "Information about an input parameter that violated some validation\
            \ rule of the service API."
          items:
            type: "object"
            properties:
              message:
                type: "string"
                description: "Message describing the error."
              parameterDescriptor:
                type: "string"
                description: "Describes the violating parameter."
              parameterLocation:
                type: "string"
                description: "Describes the general location of the violating parameter."
            required:
            - "message"
        errorMessage:
          type: "string"
          description: "Complete error message."
        errorMessageFormat:
          type: "string"
          description: "The message format of the error message, string.format based."
        errorMessageFormatSpecifierTypes:
          type: "array"
          description: "The corresponding DQL format specifier types for each format\
            \ specifier used in the error message format."
          items:
            type: "string"
        errorType:
          type: "string"
          description: "The error type, e.g. COMMAND_NAME_MISSING"
        exceptionType:
          type: "string"
          description: "The exception type."
        missingPermissions:
          type: "array"
          description: "List of missing IAM permissions necessary to successfully\
            \ execute the request."
          items:
            type: "string"
        missingScopes:
          type: "array"
          description: "List of missing IAM scopes necessary to successfully execute\
            \ the request."
          items:
            type: "string"
        queryId:
          type: "string"
          format: "uuid"
        queryString:
          type: "string"
          description: "Submitted query string."
        syntaxErrorPosition:
          $ref: "#/components/schemas/TokenPosition"
    ExecuteRequest:
      type: "object"
      properties:
        defaultSamplingRatio:
          type: "number"
          format: "double"
          description: "Default sampling ratio. By default no sampling is applied.\
            \ No upper limit but will be normalized to a power of 10 less than or\
            \ equal to 100000."
          example: 1
          minimum: 1.0
        defaultScanLimitGbytes:
          type: "integer"
          format: "int32"
          description: "Default scan limit in gigabytes. Can be overridden in DQL.\
            \ Default value is configured on application level (see documentation\
            \ of FETCH command). Use -1 for no limit. Although this parameter has\
            \ no explicit upper bound, other constraints such as timeouts, maxResultRecords,\
            \ or maxResultBytes may still apply, as this API is not intended for large-scale\
            \ data export."
          example: 100
          minimum: -1
        defaultTimeframeEnd:
          type: "string"
          description: "The query timeframe 'end' timestamp in ISO-8601 or RFC3339\
            \ format. If the timeframe 'start' parameter is missing, the whole timeframe\
            \ is ignored. *Note that if a timeframe is specified within the query\
            \ string (query) then it has precedence over this query request parameter.*"
          example: "2022-04-20T13:10:04.123Z"
        defaultTimeframeStart:
          type: "string"
          description: "The query timeframe 'start' timestamp in ISO-8601 or RFC3339\
            \ format. If the timeframe 'end' parameter is missing, the whole timeframe\
            \ is ignored. *Note that if a timeframe is specified within the query\
            \ string (query) then it has precedence over this query request parameter.*"
          example: "2022-04-20T12:10:04.123Z"
        enablePreview:
          type: "boolean"
          default: false
          description: "Request preview results. If a preview is available within\
            \ the requestTimeoutMilliseconds, then it will be returned as part of\
            \ the response."
          example: true
        enforceQueryConsumptionLimit:
          type: "boolean"
          description: "Boolean to indicate if the query consumption limit should\
            \ be enforced"
        fetchTimeoutSeconds:
          type: "integer"
          format: "int32"
          description: "The time limit for fetching data. This is a soft limit as\
            \ further data processing can happen after fetching. While this parameter\
            \ has no explicit upper bound in the API, application-level default and\
            \ maximum fetch timeout constraints still apply, and other limits such\
            \ as maxResultRecords or maxResultBytes may take effect, as this API is\
            \ not designed for large-scale data export."
          example: 60
          minimum: 0
        filterSegments:
          $ref: "#/components/schemas/FilterSegments"
        includeContributions:
          type: "boolean"
          default: false
          description: "Indicates whether bucket contribution information should be\
            \ included in the query response metadata. When set to true, the response\
            \ will contain details about how each bucket contributed to the query\
            \ result."
          example: true
        includeTypes:
          type: "boolean"
          default: true
          description: "Parameter to exclude the type information from the query result.\
            \ In case not specified, the type information will be included."
        locale:
          type: "string"
          description: "The query locale. If none specified, then a language/country\
            \ neutral locale is chosen. The input values take the ISO-639 Language\
            \ code with an optional ISO-3166 country code appended to it with an underscore.\
            \ For instance, both values are valid 'en' or 'en_US'."
          example: "en_US"
        maxResultBytes:
          type: "integer"
          format: "int64"
          description: "The maximum number of bytes permitted for the serialized result.\
            \ This limit applies only to records and is treated as a soft constraint\
            \ - meaning that if the final record pushes the result size beyond this\
            \ limit, that entire record will still be included in the response. While\
            \ this parameter has no default value or explicit upper bound, other constraints\
            \ such as timeouts or maxResultRecords may still take effect, as this\
            \ API is not designed for large-scale data export."
          example: 1000000
          minimum: 0
        maxResultRecords:
          type: "integer"
          format: "int64"
          default: 1000
          description: "The maximum number of query result records to be returned.\
            \ If this limit is exceeded, a warning notification will be included in\
            \ the response. Although this parameter has no explicit upper bound, other\
            \ constraints such as timeouts or maxResultBytes may still apply, as this\
            \ API is not intended for large-scale data export."
          example: 1000
          minimum: 0
        pollingPromiseSeconds:
          type: "integer"
          format: "int32"
          description: "The number of seconds the client promises to send the next\
            \ polling request after a response for a running query was sent. If the\
            \ client does not poll within this time window, the query will be cancelled.\
            \ Handling of the polling promise starts after request processing finished,\
            \ so that requestTimeoutMilliseconds and pollingPromiseSeconds can be\
            \ used without contradicting each other. A value of 0 means that the query\
            \ will be cancelled immediately, without waiting for a poll request. No\
            \ default value."
          maximum: 60
          minimum: 0
        query:
          type: "string"
          description: "The full query string."
          example: "fetch events \n| filter event.type == \"davis\" AND davis.status\
            \ != \"CLOSED\" \n| fields timestamp, davis.title, davis.underMaintenance,\
            \ davis.status \n| sort timestamp \n| limit 10"
          maxLength: 1000000
        queryOptions:
          $ref: "#/components/schemas/QueryOptions"
        requestTimeoutMilliseconds:
          type: "integer"
          format: "int64"
          description: "The maximum time the response will be delayed to wait for\
            \ a result. (This excludes the sending time and time spent in any services\
            \ between the query-frontend and the client.) If the query finishes within\
            \ the specified timeout, the query result is returned. Otherwise, the\
            \ requestToken is returned, allowing polling for the result."
          example: 1000
          maximum: 60000
          minimum: 0
        timezone:
          type: "string"
          description: "The query timezone. If none is specified, UTC is used as fallback.\
            \ The list of valid input values matches that of the IANA Time Zone Database\
            \ (TZDB). It accepts values in their canonical names like 'Europe/Paris',\
            \ the abbreviated version like CET or the UTC offset format like '+01:00'"
          example: "UTC"
      required:
      - "query"
    FieldType:
      type: "object"
      description: "The possible type of a field in DQL."
      properties:
        type:
          type: "string"
          enum:
          - "boolean"
          - "string"
          - "double"
          - "long"
          - "timestamp"
          - "timeframe"
          - "duration"
          - "binary"
          - "ip_address"
          - "geo_point"
          - "array"
          - "record"
          - "uid"
          - "smartscape_id"
          - "undefined"
        types:
          type: "array"
          items:
            $ref: "#/components/schemas/RangedFieldTypes"
      required:
      - "type"
    FilterSegment:
      type: "object"
      description: "A filter segment is identified by an ID. Each segment includes\
        \ a list of variable definitions."
      properties:
        id:
          type: "string"
        variables:
          type: "array"
          items:
            $ref: "#/components/schemas/FilterSegmentVariableDefinition"
      required:
      - "id"
    FilterSegmentVariableDefinition:
      type: "object"
      description: "Defines a variable with a name and a list of values."
      properties:
        name:
          type: "string"
        values:
          type: "array"
          items:
            type: "string"
      required:
      - "name"
      - "values"
    FilterSegments:
      type: "array"
      description: "Represents a collection of filter segments."
      items:
        $ref: "#/components/schemas/FilterSegment"
      example: null
    GeoPoint:
      type: "object"
      description: "DQL data type representing a geolocation point."
      properties:
        latitude:
          type: "number"
          description: "The coordinate that specifies the north-south position of\
            \ a point on the surface of the earth."
        longitude:
          type: "number"
          description: "The coordinate that specifies the  east-west position of a\
            \ point on the surface of the earth."
      required:
      - "latitude"
      - "longitude"
    GrailMetadata:
      type: "object"
      description: "Collects various bits of metadata information."
      properties:
        analysisTimeframe:
          $ref: "#/components/schemas/Timeframe"
        canonicalQuery:
          type: "string"
          description: "The canonical form of the query. It has normalized spaces\
            \ and canonical constructs."
        contributions:
          $ref: "#/components/schemas/Contributions"
        dqlVersion:
          type: "string"
          description: "The version of DQL that was used to process the query request."
        executionTimeMilliseconds:
          type: "integer"
          format: "int64"
          description: "The time it took to execute the query."
        locale:
          type: "string"
          description: "Effective locale for the query."
        notifications:
          type: "array"
          description: "Collected messages during the execution of the query."
          items:
            $ref: "#/components/schemas/MetadataNotification"
        query:
          type: "string"
          description: "The submitted query."
        queryId:
          type: "string"
          format: "uuid"
          description: "The id of the query"
        sampled:
          type: "boolean"
          description: "True if sampling was used for at least one segment."
        scannedBytes:
          type: "integer"
          format: "int64"
          description: "Number of scanned bytes during the query execution."
        scannedDataPoints:
          type: "integer"
          format: "int64"
        scannedRecords:
          type: "integer"
          format: "int64"
          description: "Number of scanned records during the query execution."
        timezone:
          type: "string"
          description: "Effective timezone for the query."
    Metadata:
      type: "object"
      description: "Collects various bits of metadata information."
      properties:
        grail:
          $ref: "#/components/schemas/GrailMetadata"
        metrics:
          type: "array"
          items:
            $ref: "#/components/schemas/MetricMetadata"
    MetadataNotification:
      type: "object"
      description: "The message that provides additional information about the execution\
        \ of the query."
      properties:
        arguments:
          type: "array"
          description: "The arguments for the message format."
          items:
            type: "string"
        message:
          type: "string"
          description: "The complete message of the notification."
        messageFormat:
          type: "string"
          description: "The message format of the notification, string.format based"
        messageFormatSpecifierTypes:
          type: "array"
          description: "The corresponding DQL format specifier types for each format\
            \ specifier used in the error message format."
          items:
            type: "string"
        notificationType:
          type: "string"
          description: "The notification type, e.g. LIMIT_ADDED."
        severity:
          type: "string"
          description: "The severity of the notification, currently: INFO, WARN, ERROR."
        syntaxPosition:
          $ref: "#/components/schemas/TokenPosition"
    MetricMetadata:
      type: "object"
      description: "An object that defines additional metric metadata."
      properties:
        aggregation:
          type: "string"
          description: "Metadata about the aggregation type."
        description:
          type: "string"
          description: "The description of the metadata."
        displayName:
          type: "string"
          description: "The display name of the metadata."
        fieldName:
          type: "string"
          description: "The name of the associated field used in the query."
        metric.key:
          type: "string"
          description: "The metric key."
        rate:
          type: "string"
          description: "The specified rate normalization parameter."
        rollup:
          type: "string"
          description: "Metadata about the rollup type."
        scalar:
          type: "boolean"
          description: "Indicates whether the scalar parameter was set to true in\
            \ the timeseries aggregation function."
        shifted:
          type: "boolean"
          description: "Indicates if the shifted parameter was used."
        unit:
          type: "string"
          description: "The unit used."
    ParseRequest:
      type: "object"
      properties:
        locale:
          type: "string"
          description: "The query locale. If none specified, then a language/country\
            \ neutral locale is chosen. The input values take the ISO-639 Language\
            \ code with an optional ISO-3166 country code appended to it with an underscore.\
            \ For instance, both values are valid 'en' or 'en_US'."
          example: "en_US"
        query:
          type: "string"
          description: "The full query string."
[...]
