openapi: "3.0.1"
info:
  description: "\nManage credential entries of username/password, certificate, and\
    \ token types, with support for external vault integrations.\n\nTo authorize,\
    \ use a valid OAuth token.\n\nNotes about compatibility:\n* Operations marked\
    \ as early adopter or preview may be changed in non-compatible ways, although\
    \ we try to avoid this.\n* We may add new enum constants without incrementing\
    \ the API version; thus, clients need to handle unknown enum constants gracefully."
  title: "Credential Vault"
  version: "1.0.0"
  x-service-category: "Credential Vault"
  x-summary: "Manage credential entries of username/password, certificate, and token\
    \ types, with support for external vault integrations."
servers:
- url: "https://asn8731h.sprint.apps.dynatracelabs.com/platform/credential-vault/v1"
  x-api-gateway-url: "/platform/credential-vault/v1"
tags:
- description: "Manage credential vault entries."
  name: "Credential Vault - Entries"
paths:
  /entries:
    get:
      description: "**Required scope:** credential-vault:entries:read<br/><br/>The\
        \ credential entry itself (username/certificate and password) is not included\
        \ in the response."
      operationId: "listCredentialVaultEntries"
      parameters:
      - description: "Filters the result by the specified credential type."
        in: "query"
        name: "type"
        schema:
          type: "string"
          enum:
          - "CERTIFICATE"
          - "USERNAME_PASSWORD"
          - "TOKEN"
          - "SNMPV3"
          - "AWS_MONITORING_KEY_BASED"
          - "AWS_MONITORING_ROLE_BASED"
      - description: "Filters the result by name. Enclose the value in quotation marks\
          \ to match the whole phrase. Case-insensitive."
        in: "query"
        name: "name"
        schema:
          type: "string"
      - description: "Filters the result to credentials accessible to the specified\
          \ user (those they own or those shared with everyone)."
        in: "query"
        name: "user"
        schema:
          type: "string"
      - description: "Filters the result by the specified scope."
        in: "query"
        name: "scope"
        schema:
          type: "string"
      - description: "The cursor for the next page of results. You can find it in\
          \ the **nextPageKey** field of the previous response. \n\nThe first page\
          \ is always returned if you don't specify the **page-key** query parameter.\
          \ \n\nWhen the **page-key** is set to obtain subsequent pages, you must\
          \ omit all other query parameters. "
        in: "query"
        name: "page-key"
        schema:
          type: "string"
      - description: "The amount of credential vault entries in a single response\
          \ payload. \n\nThe maximal allowed page size is 500. \n\nIf not set, 100\
          \ is used."
        in: "query"
        name: "page-size"
        schema:
          type: "integer"
          format: "int32"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/CredentialsList"
          description: "Success"
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "credential-vault:entries:read"
      - ssoBearerAuth: []
      summary: "Lists all credential entries in your environment. | maturity=EARLY_ADOPTER"
      tags:
      - "Credential Vault - Entries"
      x-maturity: "EARLY_ADOPTER"
    post:
      description: "**Required scope:** credential-vault:entries:write<br/><br/>The\
        \ body must not provide an ID. An ID is assigned automatically by the Dynatrace\
        \ server."
      operationId: "createCredentialVaultEntry"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/Credentials"
        description: "The JSON body of the request. Contains parameters of the new\
          \ credential entry."
        required: true
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/CredentialsId"
          description: "Success. The new credential entry has been created. The response\
            \ contains the ID of the entry."
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "credential-vault:entries:write"
      - ssoBearerAuth: []
      summary: "Creates a new credential entry. | maturity=EARLY_ADOPTER"
      tags:
      - "Credential Vault - Entries"
      x-maturity: "EARLY_ADOPTER"
  /entries/{entry-id}:
    delete:
      description: "**Required scope:** credential-vault:entries:admin<br/><br/>Provide\
        \ the credential ID in the path."
      operationId: "deleteCredentialVaultEntry"
      parameters:
      - description: "The ID of the credential entry to be deleted."
        in: "path"
        name: "entry-id"
        required: true
        schema:
          type: "string"
      responses:
        "204":
          description: "Success. The credential entry has been deleted. The response\
            \ doesn't have a body."
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "credential-vault:entries:admin"
      - ssoBearerAuth: []
      summary: "Deletes the specified credential entry. | maturity=EARLY_ADOPTER"
      tags:
      - "Credential Vault - Entries"
      x-maturity: "EARLY_ADOPTER"
    get:
      description: "**Required scope:** credential-vault:entries:read<br/><br/>The\
        \ credential entry itself (e.g. username/certificate and password) is not\
        \ included in the response."
      operationId: "getCredentialVaultEntry"
      parameters:
      - description: "The ID of the required credential entry."
        in: "path"
        name: "entry-id"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/CredentialsResponseElement"
          description: "Success. The response contains the metadata of the credential\
            \ entry."
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "credential-vault:entries:read"
      - ssoBearerAuth: []
      summary: "Gets the metadata of the specified credential entry. | maturity=EARLY_ADOPTER"
      tags:
      - "Credential Vault - Entries"
      x-maturity: "EARLY_ADOPTER"
    put:
      description: "**Required scope:** credential-vault:entries:admin<br/><br/>The\
        \ body must not provide an ID. The ID should be provided in the path."
      operationId: "updateCredentialVaultEntry"
      parameters:
      - description: "The ID of the credential entry to be updated."
        in: "path"
        name: "entry-id"
        required: true
        schema:
          type: "string"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/Credentials"
        description: "The JSON body of the request. Contains updated parameters of\
          \ the credential entry."
        required: true
      responses:
        "204":
          description: "Success. The credential entry has been updated. The response\
            \ doesn't have a body."
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "credential-vault:entries:admin"
      - ssoBearerAuth: []
      summary: "Updates the specified credential entry. | maturity=EARLY_ADOPTER"
      tags:
      - "Credential Vault - Entries"
      x-maturity: "EARLY_ADOPTER"
components:
  schemas:
    AWSKeyBasedCredentialsDto:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/Credentials"
      - type: "object"
        properties:
          accessKeyID:
            type: "string"
            description: "Access Key ID  of the credentials set."
          awsPartition:
            type: "string"
            description: "AWS partition of the credential."
            enum:
            - "CHINA"
            - "DEFAULT"
            - "US_GOV"
          secretKey:
            type: "string"
            description: "Secret access key of the credential."
      description: "A credentials set of the `AWS_MONITORING_KEY_BASED` type."
      required:
      - "accessKeyID"
      - "awsPartition"
      - "name"
      - "scopes"
      - "secretKey"
      - "type"
    AWSRoleBasedCredentials:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/Credentials"
      - type: "object"
        properties:
          accountID:
            type: "string"
            description: "Amazon account ID of the credential."
          iamRole:
            type: "string"
            description: "The IAM role name of the credentials set."
      description: "A credentials set of the `AWS_MONITORING_ROLE_BASED` type."
      required:
      - "accountID"
      - "iamRole"
      - "name"
      - "scopes"
      - "type"
    AzureClientSecret:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ExternalVault"
      - type: "object"
        properties:
          clientId:
            type: "string"
            description: "Client (application) ID of Azure application in Azure Active\
              \ Directory which has permission to access secrets in Azure Key Vault."
          clientSecret:
            type: "string"
            description: "Client secret generated for Azure application in Azure Active\
              \ Directory used for proving identity when requesting a token used later\
              \ for accessing secrets in Azure Key Vault."
          tenantId:
            type: "string"
            description: "Tenant (directory) ID of Azure application in Azure Active\
              \ Directory which has permission to access secrets in Azure Key Vault."
      description: "Synchronization credentials with Azure Key Vault using client\
        \ secret authentication method"
    AzureClientSecretConfig:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ExternalVaultConfig"
      - type: "object"
        properties:
          clientId:
            type: "string"
          clientSecret:
            type: "string"
          tenantId:
            type: "string"
    CertificateCredentials:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/Credentials"
      - type: "object"
        properties:
          certificate:
            type: "string"
            description: "String containing the certificate file bytes encoded in\
              \ Base64 without carriage return."
          certificateFormat:
            type: "string"
            description: "The certificate format. Use `PEM` for PEM certificates and\
              \ `PKCS12` for PFX and P12 certificates."
            enum:
            - "PEM"
            - "PKCS12"
            - "UNKNOWN"
          password:
            type: "string"
            description: "The password of the credential encoded in Base64. Must be\
              \ empty for `PEM` certificates."
      description: "A credentials set of the `CERTIFICATE` type."
      required:
      - "certificate"
      - "certificateFormat"
      - "name"
      - "password"
      - "scopes"
      - "type"
    ConstraintViolation:
      type: "object"
      description: "Information about a single constraint violation."
      properties:
        context:
          type: "object"
          additionalProperties:
            type: "string"
            description: "Structured context of the constraint violation.\nWell known\
              \ keys that **can** be present are:\n* `reason` -> Additional reasoning\
              \ behind the occurred violation.\n* `pipeline` -> Pipeline related to\
              \ the violation.\n* `endpoint` -> Endpoint related to the violation.\n\
              * `stage` -> Stage related to the violation.\n* `processor` -> Processor\
              \ related to the violation.\n* `routingRule` -> Routing rule related\
              \ to the violation.\n"
          description: "Structured context of the constraint violation.\nWell known\
            \ keys that **can** be present are:\n* `reason` -> Additional reasoning\
            \ behind the occurred violation.\n* `pipeline` -> Pipeline related to\
            \ the violation.\n* `endpoint` -> Endpoint related to the violation.\n\
            * `stage` -> Stage related to the violation.\n* `processor` -> Processor\
            \ related to the violation.\n* `routingRule` -> Routing rule related to\
            \ the violation.\n"
        message:
          type: "string"
          description: "Description of the constraint violation."
      required:
      - "message"
    ConstraintViolationDetails:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ErrorResponseDetails"
      - type: "object"
        properties:
          constraintViolations:
            type: "array"
            description: "List of encountered constraint violations."
            items:
              $ref: "#/components/schemas/ConstraintViolation"
      description: "List of encountered constraint violations."
      required:
      - "constraintViolations"
    CredentialAccessData:
      type: "object"
      description: "The set of entities allowed to use the credential."
      properties:
        id:
          type: "string"
        type:
          type: "string"
          enum:
          - "APPLICATION"
          - "UNKNOWN"
          - "USER"
    CredentialUsageHandler:
      type: "object"
      description: "Keeps information about credential's usage."
      properties:
        count:
          type: "integer"
          format: "int32"
          description: "The number of uses."
        type:
          type: "string"
          description: "Type of usage."
    Credentials:
      type: "object"
      description: "A set of credentials for synthetic monitors. \n\nThe actual set\
        \ of fields depends on the type of credentials. Find the list of actual objects\
        \ in the description of the **type** field or see [Credential vault API -\
        \ JSON models](https://dt-url.net/2sa3sen)."
      discriminator:
        mapping:
          AWS_MONITORING_KEY_BASED: "#/components/schemas/AWSKeyBasedCredentialsDto"
          AWS_MONITORING_ROLE_BASED: "#/components/schemas/AWSRoleBasedCredentials"
          CERTIFICATE: "#/components/schemas/CertificateCredentials"
          PUBLIC_CERTIFICATE: "#/components/schemas/PublicCertificateCredentials"
          SNMPV3: "#/components/schemas/SNMPV3Credentials"
          TOKEN: "#/components/schemas/TokenCredentials"
          USERNAME_PASSWORD: "#/components/schemas/UserPasswordCredentials"
        propertyName: "type"
      example:
        allowContextlessRequests: "false"
        allowedEntities:
        - id: "jane.doe@example.com"
          type: "USER"
        - id: "john.smith@example.com"
          type: "USER"
        - id: "my.with.credentials"
          type: "APPLICATION"
        description: "Sample set of credentials for API documentation"
        name: "Sample credentials"
        ownerAccessOnly: false
        password: "1234abcd"
        scope: "SYNTHETIC"
        scopes:
        - "SYNTHETIC"
        - "EXTENSION_AUTHENTICATION"
        type: "USERNAME_PASSWORD"
        user: "john.smith@example.com"
      properties:
        allowContextlessRequests:
          type: "boolean"
          description: "Allow ad-hoc functions to access the credential details (requires\
            \ the APP_ENGINE scope)."
        allowedEntities:
          type: "array"
          description: "The set of entities allowed to use the credential."
          items:
            $ref: "#/components/schemas/CredentialAccessData"
          uniqueItems: true
        description:
          type: "string"
          description: "A short description of the credentials set."
        id:
          type: "string"
          description: "The ID of the credentials set."
        name:
          type: "string"
          description: "The name of the credentials set."
        ownerAccessOnly:
          type: "boolean"
          description: "The credentials set is available to every user (`false`) or\
            \ to owner only (`true`)."
        scope:
          type: "string"
          deprecated: true
          description: "The scope of the credentials set."
          enum:
          - "APP_ENGINE"
          - "EXTENSION"
          - "EXTENSION_AUTHENTICATION"
          - "SYNTHETIC"
        scopes:
          type: "array"
          description: "The set of scopes of the credentials set. \n\n Limitations:\
            \ `CredentialsScope.APP_ENGINE` is only available on the new Dynatrace\
            \ SaaS platform - it's not available on managed or non-Grail SaaS environments."
          items:
            type: "string"
            description: "The set of scopes of the credentials set. \n\n Limitations:\
              \ `CredentialsScope.APP_ENGINE` is only available on the new Dynatrace\
              \ SaaS platform - it's not available on managed or non-Grail SaaS environments."
            enum:
            - "APP_ENGINE"
            - "EXTENSION"
            - "EXTENSION_AUTHENTICATION"
            - "SYNTHETIC"
          uniqueItems: true
        type:
          type: "string"
          description: "Defines the actual set of fields depending on the value. See\
            \ one of the following objects: \n\n* `CERTIFICATE` -> CertificateCredentials\
            \ \n* `PUBLIC_CERTIFICATE` -> PublicCertificateCredentials \n* `USERNAME_PASSWORD`\
            \ -> UserPasswordCredentials \n* `TOKEN` -> TokenCredentials \n* `SNMPV3`\
            \ -> SNMPV3Credentials \n* `AWS_MONITORING_KEY_BASED` -> AWSKeyBasedCredentialsDto\
            \ \n* `AWS_MONITORING_ROLE_BASED` -> AWSRoleBasedCredentials \n"
          enum:
          - "AWS_MONITORING_KEY_BASED"
          - "AWS_MONITORING_ROLE_BASED"
          - "CERTIFICATE"
          - "PUBLIC_CERTIFICATE"
          - "SNMPV3"
          - "TOKEN"
          - "USERNAME_PASSWORD"
      required:
      - "name"
      - "scopes"
      - "type"
    CredentialsId:
      type: "object"
      description: "A short representation of the credentials set."
      example:
        id: "CREDENTIALS_VAULT-C43F2C2E6395AD23"
      properties:
        id:
          type: "string"
          description: "The ID of the credentials set."
      required:
      - "id"
    CredentialsList:
      type: "object"
      description: "A list of credentials sets for Synthetic monitors."
      example:
        credentials:
        - credentialUsageSummary:
          - HTTP_MONITOR: 4
          description: "Sample credentials for demo purposes"
          id: "CREDENTIALS_VAULT-E80203F993472E6D"
          name: "Sample username-password credentials"
          owner: "admin"
          ownerAccessOnly: true
          scope: "SYNTHETIC"
          type: "USERNAME_PASSWORD"
        - credentialUsageSummary: []
          description: "Sample credentials for demo purposes"
          id: "CREDENTIALS_VAULT-842DEF439999E15B"
          name: "Sample certificate credentials"
          owner: "John.Doe@domain.com"
          ownerAccessOnly: true
          scope: "EXTENSION"
          type: "CERTIFICATE"
        - credentialUsageSummary:
          - BROWSER_MONITOR: 11
            HTTP_MONITOR: 4
          description: "Sample token for demo purposes"
          id: "CREDENTIALS_VAULT-854345639999E15B"
          name: "Sample token credentials"
          owner: "John.Doe@domain.com"
          ownerAccessOnly: true
          scope: "SYNTHETIC"
          type: "TOKEN"
        - awsPartition: "CHINA"
          description: "Sample AWS credentials for demo purposes"
          id: "CREDENTIALS_VAULT-12ABB17F0D93F8AF"
          name: "Sample AWS key based credentials"
          owner: "John.Doe@domain.com"
          ownerAccessOnly: true
          scopes:
          - "CLOUDS_MONITORING_AUTHENTICATION"
          type: "AWS_MONITORING_KEY_BASED"
        - accountID: "123456789012"
          description: "Sample AWS credentials for demo purposes"
          externalID: "21cf07eb-4812-4de7-d5b9-6189c5951ad4"
          iamRole: "Dynatrace_monitoring_role"
          id: "CREDENTIALS_VAULT-08D0C2A011411D64"
          name: "Sample AWS role based credentials"
          owner: "John.Doe@domain.com"
          ownerAccessOnly: true
          scopes:
          - "CLOUDS_MONITORING_AUTHENTICATION"
          type: "AWS_MONITORING_ROLE_BASED"
      properties:
        credentials:
          type: "array"
          description: "A list of credentials sets for Synthetic monitors."
          items:
            $ref: "#/components/schemas/CredentialsResponseElement"
        nextPageKey:
          type: "string"
        pageSize:
          type: "integer"
          format: "int32"
        totalCount:
          type: "integer"
          format: "int64"
      required:
      - "credentials"
    CredentialsResponseElement:
      type: "object"
      description: "Metadata of the credentials set."
      example:
        allowContextlessRequests: "false"
        credentialUsageSummary:
        - BROWSER_MONITOR: 2
          HTTP_MONITOR: 3
        description: "Sample credentials for demo purposes."
        externalVault:
          passwordSecretName: "password"
          pathToCredentials: "kv/credentials"
          roleId: "00e4858c-ec33-bc99-4e7e-34de6967de6c"
          secretId: "CREDENTIALS_VAULT-XXXXXXXXXXXXXXXX"
          sourceAuthMethod: "HASHICORP_VAULT_APPROLE"
          usernameSecretName: "username"
          vaultNamespace: "admin"
          vaultUrl: "https://vault-cluster.vault.fb17d2fc-be92-4230-afa2-91dbfda3cbad.aws.hashicorp.cloud:8200"
        id: "CREDENTIALS_VAULT-C43F2C2E6395AD23"
        name: "Sample username-password credentials"
        owner: "user@domain.com"
        ownerAccessOnly: true
        scope: "SYNTHETIC"
        type: "USERNAME_PASSWORD"
      properties:
        allowContextlessRequests:
          type: "boolean"
          description: "Allow access without app context, for example, from ad hoc\
            \ functions in Workflows (requires the APP_ENGINE scope)."
        allowedEntities:
          type: "array"
          description: "The set of entities allowed to use the credential."
          items:
            $ref: "#/components/schemas/CredentialAccessData"
          uniqueItems: true
        credentialUsageSummary:
          type: "array"
          description: "The list contains summary data related to the use of credentials."
          items:
            $ref: "#/components/schemas/CredentialUsageHandler"
        description:
          type: "string"
          description: "A short description of the credentials set."
        externalVault:
          $ref: "#/components/schemas/ExternalVaultConfig"
        id:
          type: "string"
          description: "The ID of the credentials set."
        name:
          type: "string"
          description: "The name of the credentials set."
        owner:
          type: "string"
          description: "The owner of the credential (user for which used API token\
            \ was created)."
        ownerAccessOnly:
          type: "boolean"
          description: "Flag indicating that this credential is visible only to the\
            \ owner."
        scope:
          type: "string"
          description: "The scope of the credentials set."
          enum:
          - "APP_ENGINE"
          - "EXTENSION"
          - "EXTENSION_AUTHENTICATION"
          - "SYNTHETIC"
        scopes:
          type: "array"
          description: "The set of scopes of the credentials set."
          items:
            type: "string"
            description: "The set of scopes of the credentials set."
            enum:
            - "APP_ENGINE"
            - "EXTENSION"
            - "EXTENSION_AUTHENTICATION"
            - "SYNTHETIC"
          uniqueItems: true
        type:
          type: "string"
          description: "The type of the credentials set."
          enum:
          - "AWS_MONITORING_KEY_BASED"
          - "AWS_MONITORING_ROLE_BASED"
          - "CERTIFICATE"
          - "PUBLIC_CERTIFICATE"
          - "SNMPV3"
          - "TOKEN"
          - "UNKNOWN"
          - "USERNAME_PASSWORD"
      required:
      - "allowedEntities"
      - "credentialUsageSummary"
      - "description"
      - "name"
      - "owner"
      - "ownerAccessOnly"
      - "type"
    CyberArkAllowedLocationConfig:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ExternalVaultConfig"
      - type: "object"
        properties:
          accountName:
            type: "string"
          applicationId:
            type: "string"
          certificate:
            type: "string"
          folderName:
            type: "string"
          safeName:
            type: "string"
    CyberArkAllowedLocationDto:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ExternalVault"
      - type: "object"
        properties:
          accountName:
            type: "string"
            description: "Account name that stores the username and password to retrieve\
              \ and synchronize with the Dynatrace Credential Vault: This is NOT the\
              \ name of the account logged into the CyberArk Central Credential Provider."
          applicationId:
            type: "string"
            description: "Application ID connected to CyberArk Vault."
          certificate:
            type: "string"
            description: "[Recommended] Certificate used for authentication to CyberArk\
              \ application. ID of certificate credential saved in Dynatrace CV."
          folderName:
            type: "string"
            description: "[Optional] Folder name where credentials in CyberArk Vault\
              \ are stored. Default folder name is 'Root'."
          safeName:
            type: "string"
            description: "Safe name connected to CyberArk Vault."
      description: "Synchronization credentials with CyberArk Vault using allowed\
        \ machines (location) authentication method."
      required:
      - "accountName"
      - "applicationId"
      - "safeName"
    CyberArkUsernamePassword:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ExternalVault"
      - type: "object"
        properties:
          accountName:
            type: "string"
            description: "Account name that stores the username and password to retrieve\
              \ and synchronize with the Dynatrace Credential Vault: This is NOT the\
              \ name of the account logged into the CyberArk Central Credential Provider."
          applicationId:
            type: "string"
            description: "Application ID connected to CyberArk Vault."
          certificate:
            type: "string"
            description: "[Recommended] Certificate used for authentication to CyberArk\
              \ application. ID of certificate credential saved in Dynatrace CV."
          folderName:
            type: "string"
            description: "[Optional] Folder name where credentials in CyberArk Vault\
              \ are stored. Default folder name is 'Root'."
          safeName:
            type: "string"
            description: "Safe name connected to CyberArk Vault."
          usernamePasswordForCPM:
            type: "string"
            description: "Dynatrace credential ID of the username-password pair used\
              \ for authentication to the CyberArk Central Credential Provider"
      description: "Synchronization credentials with CyberArk Vault using username\
        \ password authentication method."
      required:
      - "accountName"
      - "applicationId"
      - "safeName"
      - "usernamePasswordForCPM"
    CyberArkUsernamePasswordConfig:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ExternalVaultConfig"
      - type: "object"
        properties:
          accountName:
            type: "string"
          applicationId:
            type: "string"
          certificate:
            type: "string"
          folderName:
            type: "string"
          safeName:
            type: "string"
          usernamePasswordForCPM:
            type: "string"
    ErrorResponse:
      type: "object"
      description: "Basic information of the encountered error."
      properties:
        code:
          type: "integer"
          format: "int32"
          description: "The returned HTTP status code."
        details:
          $ref: "#/components/schemas/ErrorResponseDetails"
        message:
          type: "string"
          description: "Description of the encountered error."
      required:
      - "code"
      - "message"
    ErrorResponseDetails:
      type: "object"
      description: "Detailed information of the error."
      discriminator:
        mapping:
          constraintViolation: "#/components/schemas/ConstraintViolationDetails"
        propertyName: "type"
      properties:
        type:
          type: "string"
          description: "Defines the actual set of fields depending on the value. See\
            \ one of the following objects: \n\n* `constraintViolation` -> ConstraintViolationDetails\
            \ \n"
          enum:
          - "constraintViolation"
      required:
      - "type"
    ErrorResponseEnvelope:
      type: "object"
      description: "Encloses the encountered error."
      properties:
        error:
          $ref: "#/components/schemas/ErrorResponse"
      required:
      - "error"
    ExternalVault:
      type: "object"
      description: "Information for synchronization credentials with external vault"
      discriminator:
        mapping:
          AZURE_KEY_VAULT_CLIENT_SECRET: "#/components/schemas/AzureClientSecret"
          CYBERARK_VAULT_ALLOWED_LOCATION: "#/components/schemas/CyberArkAllowedLocationDto"
          CYBERARK_VAULT_USERNAME_PASSWORD: "#/components/schemas/CyberArkUsernamePassword"
          HASHICORP_VAULT_APPROLE: "#/components/schemas/HashicorpApprole"
          HASHICORP_VAULT_CERTIFICATE: "#/components/schemas/HashicorpCertificate"
        propertyName: "sourceAuthMethod"
      example:
        description: "Sample credentials for demo purposes."
        externalVault:
          passwordSecretName: "password"
          pathToCredentials: "kv/credentials"
          roleId: "00e4858c-ec33-bc99-4e7e-34de6967de6c"
          secretId: "CREDENTIALS_VAULT-XXXXXXXXXXXXXXXX"
          sourceAuthMethod: "HASHICORP_VAULT_APPROLE"
          usernameSecretName: "username"
          vaultNamespace: "admin"
          vaultUrl: "https://vault-cluster.vault.fb17d2fc-be92-4230-afa2-91dbfda3cbad.aws.hashicorp.cloud:8200"
        id: "CREDENTIALS_VAULT-C43F2C2E6395AD23"
        name: "Sample username-password credentials synchronized with Hashicorp vault"
        owner: "user@domain.com"
        ownerAccessOnly: true
        scope: "SYNTHETIC"
        type: "USERNAME_PASSWORD"
      properties:
        locationForSynchronizationId:
          type: "string"
          description: "Id of a location used by the synchronizing monitor"
        passwordSecretName:
          type: "string"
          description: "The name of the secret saved in external vault where password\
            \ is stored."
        sourceAuthMethod:
          type: "string"
          description: "Defines the actual set of fields depending on the value. See\
            \ one of the following objects: \n\n* `HASHICORP_VAULT_APPROLE` -> HashicorpApprole\
            \ \n* `HASHICORP_VAULT_CERTIFICATE` -> HashicorpCertificate \n* `AZURE_KEY_VAULT_CLIENT_SECRET`\
            \ -> AzureClientSecret \n* `CYBERARK_VAULT_USERNAME_PASSWORD` -> CyberArkUsernamePassword\
            \ \n* `CYBERARK_VAULT_ALLOWED_LOCATION` -> CyberArkAllowedLocationDto\
            \ \n"
          enum:
          - "AZURE_KEY_VAULT_CLIENT_SECRET"
          - "CYBERARK_VAULT_ALLOWED_LOCATION"
          - "CYBERARK_VAULT_USERNAME_PASSWORD"
          - "HASHICORP_VAULT_APPROLE"
          - "HASHICORP_VAULT_CERTIFICATE"
        tokenSecretName:
          type: "string"
          description: "The name of the secret saved in external vault where token\
            \ is stored."
        usernameSecretName:
          type: "string"
          description: "The name of the secret saved in external vault where username\
            \ is stored."
        vaultUrl:
          type: "string"
          description: "External vault URL."
    ExternalVaultConfig:
      type: "object"
      description: "Configuration for external vault synchronization for username\
        \ and password credentials."
      discriminator:
        mapping:
          AZURE_KEY_VAULT_CLIENT_SECRET: "#/components/schemas/AzureClientSecretConfig"
          CYBERARK_VAULT_ALLOWED_LOCATION: "#/components/schemas/CyberArkAllowedLocationConfig"
          CYBERARK_VAULT_USERNAME_PASSWORD: "#/components/schemas/CyberArkUsernamePasswordConfig"
          HASHICORP_VAULT_APPROLE: "#/components/schemas/HashicorpApproleConfig"
          HASHICORP_VAULT_CERTIFICATE: "#/components/schemas/HashicorpCertificateConfig"
        propertyName: "sourceAuthMethod"
      properties:
        credentialsUsedForExternalSynchronization:
          type: "array"
          items:
            type: "string"
          uniqueItems: true
        passwordSecretName:
          type: "string"
        sourceAuthMethod:
          type: "string"
          description: "Defines the actual set of fields depending on the value. See\
            \ one of the following objects: \n\n* `HASHICORP_VAULT_APPROLE` -> HashicorpApproleConfig\
            \ \n* `HASHICORP_VAULT_CERTIFICATE` -> HashicorpCertificateConfig \n*\
            \ `AZURE_KEY_VAULT_CLIENT_SECRET` -> AzureClientSecretConfig \n* `CYBERARK_VAULT_USERNAME_PASSWORD`\
            \ -> CyberArkUsernamePasswordConfig \n* `CYBERARK_VAULT_ALLOWED_LOCATION`\
            \ -> CyberArkAllowedLocationConfig \n"
          enum:
          - "AZURE_KEY_VAULT_CLIENT_SECRET"
          - "CYBERARK_VAULT_ALLOWED_LOCATION"
          - "CYBERARK_VAULT_USERNAME_PASSWORD"
          - "HASHICORP_VAULT_APPROLE"
          - "HASHICORP_VAULT_CERTIFICATE"
        tokenSecretName:
          type: "string"
        type:
          type: "string"
          enum:
          - "AZURE_CERTIFICATE_MODEL"
          - "AZURE_CLIENT_SECRET_MODEL"
          - "CYBERARK_VAULT_ALLOWED_LOCATION_MODEL"
          - "CYBERARK_VAULT_USERNAME_PASSWORD_MODEL"
          - "HASHICORP_APPROLE_MODEL"
          - "HASHICORP_CERTIFICATE_MODEL"
        usernameSecretName:
          type: "string"
        vaultUrl:
          type: "string"
    HashicorpApprole:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ExternalVault"
      - type: "object"
        properties:
          pathToCredentials:
            type: "string"
            description: "Path to folder where credentials in HashiCorp Vault are\
              \ stored."
          roleId:
            type: "string"
            description: "Role ID is similar to username when you want to authenticate\
              \ in HashiCorp Vault using AppRole."
          secretId:
            type: "string"
            description: "Secret ID is similar to password when you want to authenticate\
              \ in HashiCorp Vault using AppRole. ID of token representing secret\
              \ ID saved in Dynatrace CV."
          vaultNamespace:
            type: "string"
            description: "Vault namespace in HashiCorp Vault. It is an information\
              \ you set as environmental variable VAULT_NAMESPACE if you are accessing\
              \ HashiCorp Vault from command line."
      description: "Synchronization credentials with HashiCorp Vault using appRole\
        \ authentication method"
      required:
      - "pathToCredentials"
      - "roleId"
      - "secretId"
      - "vaultNamespace"
    HashicorpApproleConfig:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ExternalVaultConfig"
      - type: "object"
        properties:
          pathToCredentials:
            type: "string"
          roleId:
            type: "string"
          secretId:
            type: "string"
          vaultNamespace:
            type: "string"
    HashicorpCertificate:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ExternalVault"
      - type: "object"
        properties:
          certificate:
            type: "string"
            description: "ID of certificate saved in Dynatrace CV. Using this certificate\
              \ you can authenticate to your HashiCorp Vault."
          pathToCredentials:
            type: "string"
            description: "Path to folder where credentials in HashiCorp Vault are\
              \ stored."
      description: "Synchronization credentials with HashiCorp Vault using certificate\
        \ authentication method"
    HashicorpCertificateConfig:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ExternalVaultConfig"
      - type: "object"
        properties:
          certificate:
            type: "string"
          pathToCredentials:
            type: "string"
    PublicCertificateCredentials:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/Credentials"
      - type: "object"
        properties:
          certificate:
            type: "string"
            description: "The certificate in the string format."
          certificateFormat:
            type: "string"
            description: "The certificate format."
            enum:
            - "PEM"
            - "PKCS12"
            - "UNKNOWN"
          password:
            type: "string"
            description: "The password of the credential (not supported)."
      description: "A credentials set of the `PUBLIC_CERTIFICATE` type."
      required:
      - "certificate"
      - "certificateFormat"
      - "name"
      - "password"
      - "scopes"
      - "type"
    SNMPV3Credentials:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/Credentials"
      - type: "object"
        properties:
          authenticationPassword:
            type: "string"
            description: "The authentication password in the string format (should\
              \ not be empty for AUTH_PRIV and AUTH_NO_PRIV security levels)"
          authenticationProtocol:
            type: "string"
            description: "The authentication protocol, supported protocols: MD5, SHA,\
              \ SHA224, SHA256, SHA384, SHA512"
            enum:
            - "MD5"
            - "SHA"
            - "SHA224"
            - "SHA256"
            - "SHA384"
            - "SHA512"
          privacyPassword:
            type: "string"
            description: "The privacy password in the string format (should not be\
              \ empty for AUTH_PRIV security level)"
          privacyProtocol:
            type: "string"
            description: "The privacy protocol"
            enum:
            - "AES"
            - "AES192"
            - "AES192C"
            - "AES256"
            - "AES256C"
            - "DES"
          securityLevel:
            type: "string"
            description: "The security level, supported levels: AUTH_PRIV, NO_AUTH_NO_PRIV,\
              \ AUTH_NO_PRIV"
            enum:
            - "AUTH_NO_PRIV"
            - "AUTH_PRIV"
            - "NO_AUTH_NO_PRIV"
          username:
            type: "string"
            description: "User name value"
      description: "A credentials set of the `SNMPV3` type."
      required:
      - "name"
      - "scopes"
      - "securityLevel"
      - "type"
      - "username"
    TokenCredentials:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/Credentials"
      - type: "object"
        properties:
          externalVault:
            $ref: "#/components/schemas/ExternalVault"
          token:
            type: "string"
            description: "Token in the string format."
      description: "A credentials set of the `TOKEN` type."
      required:
      - "name"
      - "scopes"
      - "type"
    UserPasswordCredentials:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/Credentials"
      - type: "object"
        properties:
          externalVault:
            $ref: "#/components/schemas/ExternalVault"
          password:
            type: "string"
            description: "The password of the credential."
          user:
            type: "string"
            description: "The username of the credentials set."
      description: "A credentials set of the `USERNAME_PASSWORD` type."
      required:
      - "name"
      - "scopes"
      - "type"
  securitySchemes:
    ssoAuth:
      description: "Dynatrace OAuth\n\n A Bearer token is passed in the **Authorization**\
        \ header in the following format: `Authorization: Bearer abcdefjhij1234567890`."
      flows:
        clientCredentials:
          scopes:
            credential-vault:entries:admin: "Defines access boundaries to overwrite\
              \ existing entries in the credential vault"
            credential-vault:entries:read: "Defines access boundaries to read entries\
              \ from the credential vault"
            credential-vault:entries:write: "Defines access boundaries to write entries\
              \ to the credential vault"
          tokenUrl: "https://sso-sprint.dynatracelabs.com/sso/oauth2/token"
      type: "oauth2"
    ssoBearerAuth:
      type: "http"
      scheme: "bearer"
      description: "The value can be either an OAuth2 access token or a platform token.</br>\
        \ For further information about platform tokens see <a href=\"https://dt-url.net/platform-tokens\"\
        \ target=\"_blank\">Platform tokens - Dynatrace Docs</a>."
