openapi: "3.0.1"
info:
  description: "\nCreate, read, update and delete synthetic monitors. Currently browser\
    \ and network availability monitors only.\n\nTo authorize, use a valid OAuth token.\n\
    \nNotes about compatibility:\n* Operations marked as early adopter or preview\
    \ may be changed in non-compatible ways, although we try to avoid this.\n* We\
    \ may add new enum constants without incrementing the API version; thus, clients\
    \ need to handle unknown enum constants gracefully."
  title: "Synthetic"
  version: "1.0.0"
  x-service-category: "Synthetic"
  x-summary: "Create, read, update and delete synthetic monitors. Currently browser\
    \ and network availability monitors only."
servers:
- url: "https://asn8731h.sprint.apps.dynatracelabs.com/platform/synthetic/v1"
  x-api-gateway-url: "/platform/synthetic/v1"
tags:
- description: "Read and update the set of synthetic-related parameters defined for\
    \ the whole tenant"
  name: "Synthetic - Configuration"
- description: "Create, read, update and delete synthetic locations"
  name: "Synthetic - Locations"
- description: "Create, read, update and delete synthetic monitors. Currently browser\
    \ and network availability monitors only."
  name: "Synthetic - Monitors"
- description: "Information about synthetic nodes"
  name: "Synthetic - Nodes"
- description: "Trigger and view information about on-demand synthetic monitor executions"
  name: "Synthetic - On-demand monitor executions"
paths:
  /configuration:
    get:
      operationId: "getConfiguration"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/SyntheticConfigDto"
          description: "Success"
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:environment-configuration:read"
      - ssoBearerAuth: []
      summary: "Gets the set of synthetic-related parameters defined for the whole\
        \ tenant (affects all monitors and all private locations). | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Configuration"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:environment-configuration:read"
    put:
      operationId: "updateConfiguration"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/SyntheticConfigDto"
        description: "The new set of synthetic-related parameters to apply to the\
          \ whole tenant."
        required: true
      responses:
        "204":
          description: "Success. The set of synthetic-related parameters has been\
            \ updated. The response doesn't have a body."
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:environment-configuration:write"
      - ssoBearerAuth: []
      summary: "Updates the set of synthetic-related parameters defined for the whole\
        \ tenant (affects all monitors and all private locations). | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Configuration"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:environment-configuration:write"
  /executions/batch:
    post:
      operationId: "executeOnDemand"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/SyntheticOnDemandExecutionRequest"
        description: "The JSON body of the request. Contains the parameters of the\
          \ triggered on-demand execution."
        required: true
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/SyntheticOnDemandExecutionResult"
          description: "Created"
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:monitors:execute"
      - ssoBearerAuth: []
      summary: "Triggers on-demand executions for synthetic monitors | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - On-demand monitor executions"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:monitors:execute"
  /executions/{execution-id}:
    post:
      operationId: "rerunOnDemandExecution"
      parameters:
      - description: "The identifier of the on-demand execution."
        in: "path"
        name: "execution-id"
        required: true
        schema:
          type: "integer"
          format: "int64"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/SyntheticOnDemandExecutionResult"
          description: "Success"
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:monitors:execute"
      - ssoBearerAuth: []
      summary: "Reruns specified on-demand execution of synthetic monitors | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - On-demand monitor executions"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:monitors:execute"
  /locations:
    get:
      operationId: "getLocations"
      parameters:
      - description: "Filters the resulting set of locations to those which are hosted\
          \ on a specific cloud platform."
        in: "query"
        name: "cloud-platform"
        schema:
          type: "string"
          enum:
          - "AWS"
          - "AZURE"
          - "ALIBABA"
          - "GOOGLE_CLOUD"
          - "OTHER"
      - description: "Filters the resulting set of locations to those of a specific\
          \ type."
        in: "query"
        name: "type"
        schema:
          type: "string"
          enum:
          - "PUBLIC"
          - "PRIVATE"
      - description: "Filters the resulting set of locations to those which support\
          \ specific capability."
        in: "query"
        name: "capability"
        schema:
          type: "string"
          enum:
          - "BROWSER"
          - "HTTP"
          - "HTTP_HIGH_RESOURCE"
          - "ICMP"
          - "TCP"
          - "DNS"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/SyntheticLocations"
          description: "Success"
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:locations:read"
      - ssoBearerAuth: []
      summary: "Lists all synthetic locations (both public and private) available\
        \ for your environment. | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Locations"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:locations:read"
    post:
      operationId: "addLocation"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/PrivateSyntheticLocation"
        description: "The JSON body of the request. Contains parameters of the new\
          \ private synthetic location."
        required: true
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/SyntheticLocationIdsDto"
          description: "Success. The private location has been created. The response\
            \ contains the ID of the new location."
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:locations:write"
      - ssoBearerAuth: []
      summary: "Creates a new private synthetic location. | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Locations"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:locations:write"
  /locations/metric-adapter/yaml:
    get:
      operationId: "getMetricAdapterDeploymentYaml"
      parameters:
      - description: "Container platform, currently supported are: KUBERNETES and\
          \ OPENSHIFT. Default value is KUBERNETES."
        in: "query"
        name: "platform"
        schema:
          type: "string"
      - description: "Namespace"
        in: "query"
        name: "namespace"
        schema:
          type: "string"
      responses:
        "200":
          content:
            application/yaml: {}
          description: "Success. The response contains the content of deployment yaml\
            \ file."
          headers:
            Content-Disposition:
              description: "Attachment with filename `synthetic_metric_adapter.yaml`."
              schema:
                type: "string"
              style: "simple"
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:locations:read"
      - ssoBearerAuth: []
      summary: "Gets yaml file content to deploy metric adapter in Kubernetes/Openshift\
        \ cluster. | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Locations"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:locations:read"
  /locations/status:
    get:
      operationId: "getLocationsStatus"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/SyntheticPublicLocationsStatus"
          description: "Success. The response contains the public locations status."
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:locations:read"
      - ssoBearerAuth: []
      summary: "Checks the status of public synthetic locations. | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Locations"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:locations:read"
    put:
      operationId: "updateLocationsStatus"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/SyntheticPublicLocationsStatus"
        description: "The new status of public synthetic locations."
        required: true
      responses:
        "204":
          description: "Success. Locations status has been updated."
        "409":
          description: "Conflict. Public locations couldn't be disabled because there\
            \ are monitors assigned to them."
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:locations:write"
      - ssoBearerAuth: []
      summary: "Changes the status of public synthetic locations. | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Locations"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:locations:write"
  /locations/{location-id}:
    delete:
      operationId: "removeLocation"
      parameters:
      - description: "The Dynatrace entity ID of the private synthetic location to\
          \ be deleted."
        in: "path"
        name: "location-id"
        required: true
        schema:
          type: "string"
      responses:
        "204":
          description: "Success. The location has been deleted. Response doesn't have\
            \ a body."
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:locations:write"
      - ssoBearerAuth: []
      summary: "Deletes the specified private synthetic location. | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Locations"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:locations:write"
    get:
      operationId: "getLocation"
      parameters:
      - description: "The Dynatrace entity ID of the required location."
        in: "path"
        name: "location-id"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                oneOf:
                - $ref: "#/components/schemas/SyntheticLocation"
                - $ref: "#/components/schemas/PrivateSyntheticLocation"
          description: "Success. The response contains parameters of the synthetic\
            \ location."
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:locations:read"
      - ssoBearerAuth: []
      summary: "Gets properties of the specified location. | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Locations"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:locations:read"
    put:
      description: "**Required scope:** synthetic:locations:write<br/><br/>For public\
        \ locations you can only change the location status."
      operationId: "updateLocation"
      parameters:
      - description: "The Dynatrace entity ID of the synthetic location to be updated."
        in: "path"
        name: "location-id"
        required: true
        schema:
          type: "string"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/SyntheticLocationUpdate"
        description: "The JSON body of the request. Contains updated parameters of\
          \ the location."
        required: true
      responses:
        "204":
          description: "Success. The location has been updated. Response doesn't have\
            \ a body."
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:locations:write"
      - ssoBearerAuth: []
      summary: "Updates the specified synthetic location. | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Locations"
      x-maturity: "EARLY_ADOPTER"
  /locations/{location-id}/yaml:
    get:
      operationId: "getLocationDeploymentYaml"
      parameters:
      - description: "The Dynatrace entity ID of the required location."
        in: "path"
        name: "location-id"
        required: true
        schema:
          type: "string"
      - description: "Active gate name"
        in: "query"
        name: "active-gate-name"
        schema:
          type: "string"
      - description: "Namespace"
        in: "query"
        name: "namespace"
        schema:
          type: "string"
      - description: "Custom images registry prefix - this will replace 'dynatrace'\
          \ in image URLs in generated yaml."
        in: "query"
        name: "custom-registry"
        schema:
          type: "string"
      - description: "Custom version tag for Active Gate - this will be used as desired\
          \ Active Gate version in generated yaml."
        in: "query"
        name: "tag-version-active-gate"
        schema:
          type: "string"
      - description: "Custom version tag for Synthetic - this will be used as desired\
          \ Synthetic version in generated yaml."
        in: "query"
        name: "tag-version-synthetic"
        schema:
          type: "string"
      responses:
        "200":
          content:
            application/yaml: {}
          description: "Success. The response contains the content of deployment yaml\
            \ file."
          headers:
            Content-Disposition:
              description: "Attachment with filename `location-deployment.yaml`."
              schema:
                type: "string"
              style: "simple"
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:locations:read"
      - ssoBearerAuth: []
      summary: "Gets yaml file content to deploy location in Kubernetes/Openshift\
        \ cluster. | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Locations"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:locations:read"
  /monitors:
    get:
      operationId: "getMonitors"
      parameters:
      - description: "Defines the scope of the query. Only monitors matching **all**\
          \ criteria are included in the response.\n\nYou can add one or several of\
          \ the criteria listed below. For each criterion you can specify multiple\
          \ comma-separated values, unless stated otherwise. If several values are\
          \ specified, the **OR** logic applies.\n* Monitor type: `type(HTTP,MULTI_PROTOCOL)`.\
          \ Possible values: 'HTTP', 'BROWSER', 'MULTI_PROTOCOL' (Note that only 'BROWSER'\
          \ and 'MULTI_PROTOCOL' are currently supported).\n* Synthetic Location ME\
          \ ID: `location(SYNTHETIC_LOCATION-123)`.\n* Monitored host ME ID: `monitoredEntity(HOST-123)`.\n\
          * Monitor tags: `tag([context]key:value,key:value,key)`. Tags in `[context]key:value`,\
          \ `key:value`, and `key` formats are detected and parsed automatically.\
          \ If a key-only tag has a colon (`:`) in it, you must escape the colon with\
          \ a backslash(`\\`). Otherwise, the tag will be parsed as a `key:value tag`.\
          \ All tag values are case-sensitive.\n* Monitor enablement: `enabled(true)`.\n\
          * Security context: `securityContext(value1, value2)`\n\nTo set several\
          \ criteria, separate them with a comma (`,`).\n"
        in: "query"
        name: "monitor-selector"
        schema:
          type: "string"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/SyntheticMonitorListDto"
          description: "Success"
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:monitors:read"
      - ssoBearerAuth: []
      summary: "Gets all synthetic monitors. Currently browser and network availability\
        \ monitors only. | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Monitors"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:monitors:read"
    post:
      operationId: "createMonitor"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              oneOf:
              - $ref: "#/components/schemas/SyntheticMultiProtocolMonitorRequest"
              - $ref: "#/components/schemas/SyntheticBrowserMonitorRequest"
        description: "The JSON body of the request. Contains the parameters of the\
          \ monitor."
        required: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/MonitorEntityIdDto"
          description: "Success"
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:monitors:write"
      - ssoBearerAuth: []
      summary: "Creates a synthetic monitor definition. Currently browser and network\
        \ availability monitors only. | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Monitors"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:monitors:write"
  /monitors/{monitor-id}:
    delete:
      operationId: "deleteMonitor"
      parameters:
      - description: "The identifier of the monitor."
        in: "path"
        name: "monitor-id"
        required: true
        schema:
          type: "string"
      responses:
        "204":
          description: "Success. Response doesn't have a body."
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:monitors:write"
      - ssoBearerAuth: []
      summary: "Deletes a synthetic monitor definition for the given monitor ID. Currently\
        \ browser and network availability monitors only. | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Monitors"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:monitors:write"
    get:
      operationId: "getMonitor"
      parameters:
      - description: "The identifier of the monitor."
        in: "path"
        name: "monitor-id"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                oneOf:
                - $ref: "#/components/schemas/SyntheticMultiProtocolMonitorResponse"
                - $ref: "#/components/schemas/SyntheticBrowserMonitorResponse"
          description: "Success"
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:monitors:read"
      - ssoBearerAuth: []
      summary: "Gets a synthetic monitor definition for the given monitor ID. Currently\
        \ browser and network availability monitors only. | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Monitors"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:monitors:read"
    put:
      operationId: "updateMonitor"
      parameters:
      - description: "The identifier of the monitor."
        in: "path"
        name: "monitor-id"
        required: true
        schema:
          type: "string"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              oneOf:
              - $ref: "#/components/schemas/SyntheticMultiProtocolMonitorRequest"
              - $ref: "#/components/schemas/SyntheticBrowserMonitorRequest"
        description: "The JSON body of the request. Contains the parameters of the\
          \ monitor."
        required: true
      responses:
        "204":
          description: "Success. Response doesn't have a body."
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:monitors:write"
      - ssoBearerAuth: []
      summary: "Updates a synthetic monitor definition for the given monitor ID. Currently\
        \ browser and network availability monitors only. | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Monitors"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:monitors:write"
  /nodes:
    get:
      operationId: "getNodes"
      parameters:
      - description: "If set to true, returns the set of nodes that are assigned to\
          \ a synthetic location. If set to false, returns only unassigned nodes.\
          \ If omitted, returns both assigned and unassigned nodes."
        in: "query"
        name: "assigned-to-location"
        schema:
          type: "boolean"
      - description: "If set to true, returns only containerized nodes. If set to\
          \ false, returns only uncontainerized nodes. If omitted, returns both containerized\
          \ and uncontainerized nodes."
        in: "query"
        name: "containerized"
        schema:
          type: "boolean"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/Nodes"
          description: "Success"
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:locations:read"
      - ssoBearerAuth: []
      summary: "Lists all synthetic nodes available in your environment. | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Nodes"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:locations:read"
  /nodes/{node-id}:
    get:
      operationId: "getNode"
      parameters:
      - description: "The ID of the required synthetic node."
        in: "path"
        name: "node-id"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/Node"
          description: "Success"
        "4XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server side error."
      security:
      - ssoAuth:
        - "synthetic:locations:read"
      - ssoBearerAuth: []
      summary: "Lists properties of the specified synthetic node. | maturity=EARLY_ADOPTER"
      tags:
      - "Synthetic - Nodes"
      x-maturity: "EARLY_ADOPTER"
      description: "**Required scope:** synthetic:locations:read"
components:
  schemas:
    AuthenticationDto:
      type: "object"
      description: "Authentication dto for Browser Monitor step."
      discriminator:
        mapping:
          PLAIN: "#/components/schemas/PlainAuthenticationDto"
          SECURE: "#/components/schemas/SecureAuthenticationDto"
        propertyName: "inputType"
      example:
        type: "HTTP_AUTHENTICATION"
      properties:
        authServerAllowlist:
          type: "string"
          description: "String containing the allowed servers of KERBEROS authentication.\
            \ Can be defined only for `KERBEROS` authentication type."
        domain:
          type: "string"
          description: "String containing the KERBEROS authentication domain. Can\
            \ be defined only for `KERBEROS` authentication type."
        inputType:
          type: "string"
          description: "Defines the actual set of fields depending on the value. See\
            \ one of the following objects: \n\n* `SECURE` -> SecureAuthenticationDto\
            \ \n* `PLAIN` -> PlainAuthenticationDto \n"
          enum:
          - "PLAIN"
          - "SECURE"
        type:
          type: "string"
          description: "Type of authentication."
          enum:
          - "HTTP_AUTHENTICATION"
          - "KERBEROS"
          - "WEBFORM"
      required:
      - "inputType"
      - "type"
    BaseWaitConditionDto:
      type: "object"
      description: "Wait condition for Browser Monitor step."
      discriminator:
        mapping:
          NETWORK: "#/components/schemas/BaseWaitConditionDto"
          NEXT_EVENT: "#/components/schemas/BaseWaitConditionDto"
          PAGE_COMPLETE: "#/components/schemas/BaseWaitConditionDto"
          TIME: "#/components/schemas/TimeWaitConditionDto"
          VALIDATION: "#/components/schemas/ValidationWaitConditionDto"
        propertyName: "type"
      example:
        type: "NETWORK"
      properties:
        type:
          type: "string"
          description: "Defines the actual set of fields depending on the value. See\
            \ one of the following objects: \n\n* `TIME` -> TimeWaitConditionDto \n\
            * `VALIDATION` -> ValidationWaitConditionDto \n* `PAGE_COMPLETE` -> BaseWaitConditionDto\
            \ \n* `NETWORK` -> BaseWaitConditionDto \n* `NEXT_EVENT` -> BaseWaitConditionDto\
            \ \n"
          enum:
          - "NETWORK"
          - "NEXT_EVENT"
          - "PAGE_COMPLETE"
          - "TIME"
          - "VALIDATION"
      required:
      - "type"
    BrowserPermissionsDto:
      type: "object"
      description: "Permissions settings for browser."
      properties:
        camera:
          type: "boolean"
          description: "Camera permission. If not defined in request, it will be set\
            \ to false by default."
        location:
          type: "boolean"
          description: "Location permission. If not defined in request, it will be\
            \ set to false by default."
        microphone:
          type: "boolean"
          description: "Microphone permission. If not defined in request, it will\
            \ be set to false by default."
        notifications:
          type: "boolean"
          description: "Notifications permission. If not defined in request, it will\
            \ be set to false by default."
    ChromiumStartupFlagsDto:
      type: "object"
      description: "Chromium startup flags of a Browser Monitor."
      properties:
        autoplay-policy:
          type: "string"
          description: "autoplay-policy type."
          enum:
          - "no-user-gesture-required"
          - "document-user-activation-required"
        disable-features:
          type: "object"
          additionalProperties:
            type: "boolean"
            description: "disable-features map"
          description: "disable-features map"
        disable-site-isolation-trials:
          type: "boolean"
          description: "disable-site-isolation-trials flag."
        disable-web-security:
          type: "boolean"
          description: "disable-web-security flag. If no value is passed, it will\
            \ be set to false by default."
        host-resolver-rules:
          type: "string"
          description: "host-resolver-rules."
        ignore-certificate-errors:
          type: "boolean"
          description: "ignore-certificate-errors flag."
        ssl-version-max:
          type: "string"
          description: "ssl-version-max."
        ssl-version-min:
          type: "string"
          description: "ssl-version-min."
        test-type:
          type: "boolean"
          description: "test-type flag."
    ClientCertificateDto:
      type: "object"
      description: "Client certificate."
      properties:
        credentialId:
          type: "string"
          description: "Certificate CV id."
        domain:
          type: "string"
          description: "Domain certificate will be applied to."
      required:
      - "credentialId"
      - "domain"
    ConstraintViolation:
      type: "object"
      description: "Information about a single constraint violation."
      properties:
        context:
          type: "object"
          additionalProperties:
            type: "string"
            description: "Structured context of the constraint violation.\nWell known\
              \ keys that **can** be present are:\n* `reason` -> Additional reasoning\
              \ behind the occurred violation.\n* `pipeline` -> Pipeline related to\
              \ the violation.\n* `endpoint` -> Endpoint related to the violation.\n\
              * `stage` -> Stage related to the violation.\n* `processor` -> Processor\
              \ related to the violation.\n* `routingRule` -> Routing rule related\
              \ to the violation.\n"
          description: "Structured context of the constraint violation.\nWell known\
            \ keys that **can** be present are:\n* `reason` -> Additional reasoning\
            \ behind the occurred violation.\n* `pipeline` -> Pipeline related to\
            \ the violation.\n* `endpoint` -> Endpoint related to the violation.\n\
            * `stage` -> Stage related to the violation.\n* `processor` -> Processor\
            \ related to the violation.\n* `routingRule` -> Routing rule related to\
            \ the violation.\n"
        message:
          type: "string"
          description: "Description of the constraint violation."
      required:
      - "message"
    ConstraintViolationDetails:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ErrorResponseDetails"
      - type: "object"
        properties:
          constraintViolations:
            type: "array"
            description: "List of encountered constraint violations."
            items:
              $ref: "#/components/schemas/ConstraintViolation"
      description: "List of encountered constraint violations."
      required:
      - "constraintViolations"
    CookieStepDto:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/SyntheticBrowserMonitorStepDto"
      - type: "object"
        properties:
          cookies:
            type: "array"
            description: "Field containing the list of cookies."
            items:
              $ref: "#/components/schemas/SyntheticMonitorCookieDto"
            maxItems: 2147483647
            minItems: 1
            uniqueItems: true
      description: "Cookie step of Browser Monitor."
      required:
      - "cookies"
      - "name"
      - "type"
    EnablementDto:
      type: "object"
      description: "Browser monitor enablement settings."
      properties:
        enableOnGrail:
          type: "boolean"
          description: "Enable 3rd gen JS agent reporting. Relevant only for grail-enabled\
            \ SaaS environments."
        origin:
          type: "string"
          description: "Indicates the origin of these settings."
          enum:
          - "MONITOR"
          - "TENANT"
          - "DEFAULT"
          - "UNKNOWN"
      required:
      - "enableOnGrail"
    ErrorResponse:
      type: "object"
      description: "Basic information of the encountered error."
      properties:
        code:
          type: "integer"
          format: "int32"
          description: "The returned HTTP status code."
        details:
          $ref: "#/components/schemas/ErrorResponseDetails"
        message:
          type: "string"
          description: "Description of the encountered error."
      required:
      - "code"
      - "message"
    ErrorResponseDetails:
      type: "object"
      description: "Detailed information of the error."
      discriminator:
        mapping:
          constraintViolation: "#/components/schemas/ConstraintViolationDetails"
        propertyName: "type"
      properties:
        type:
          type: "string"
          description: "Defines the actual set of fields depending on the value. See\
            \ one of the following objects: \n\n* `constraintViolation` -> ConstraintViolationDetails\
            \ \n"
          enum:
          - "constraintViolation"
      required:
      - "type"
    ErrorResponseEnvelope:
      type: "object"
      description: "Encloses the encountered error."
      properties:
        error:
          $ref: "#/components/schemas/ErrorResponse"
      required:
      - "error"
    FilteredRequestsDto:
      type: "object"
      description: "Filtered requests of a Browser Monitor."
      properties:
        mode:
          type: "string"
          description: "Filter mode for filtered requests."
          enum:
          - "BLOCK"
          - "ALLOW"
        requests:
          type: "array"
          description: "Requests to be filtered."
          items:
            $ref: "#/components/schemas/RequestFilterDto"
      required:
      - "mode"
      - "requests"
    FrameworkOptionsDto:
      type: "object"
      description: "JS framework options of a JS Agent."
      properties:
        activeXObject:
          type: "boolean"
          description: "activeXObject support. If not defined in request, it will\
            \ be set to false by default."
        angular:
          type: "boolean"
          description: "Angular support. If not defined in request, it will be set\
            \ to false by default."
        dojo:
          type: "boolean"
          description: "Dojo support. If not defined in request, it will be set to\
            \ false by default."
        extJs:
          type: "boolean"
          description: "extJs support. If not defined in request, it will be set to\
            \ false by default."
        icefaces:
          type: "boolean"
          description: "icefaces support. If not defined in request, it will be set\
            \ to false by default."
        jQuery:
          type: "boolean"
          description: "jquery support. If not defined in request, it will be set\
            \ to false by default."
        mooTools:
          type: "boolean"
          description: "mooTools support. If not defined in request, it will be set\
            \ to false by default."
        prototype:
          type: "boolean"
          description: "prototype support. If not defined in request, it will be set\
            \ to false by default."
    IgnoredErrorCodesDto:
      type: "object"
      description: "Ignored Error Codes of a Browser Monitor."
      properties:
        matchingDocumentRequests:
          type: "string"
          description: "Ignoring status codes will be applied to requests matching\
            \ pattern."
        statusCodes:
          type: "string"
          description: "Status codes to be ignored."
    InteractionStepDto:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/SyntheticBrowserMonitorStepDto"
      - type: "object"
        properties:
          button:
            type: "string"
            description: "Integer containing the button index."
            enum:
            - "MOUSE_LEFT"
            - "MOUSE_MIDDLE"
            - "MOUSE_RIGHT"
          target:
            $ref: "#/components/schemas/TargetDto"
          validationRules:
            type: "array"
            description: "List of validation rules for the step to perform."
            items:
              $ref: "#/components/schemas/ValidationRuleDto"
          waitCondition:
            $ref: "#/components/schemas/BaseWaitConditionDto"
      description: "Interaction step of Browser Monitor."
      required:
      - "button"
      - "name"
      - "type"
    JavaScriptAgentSettingsDto:
      type: "object"
      description: "JavaScript Agent Settings."
      properties:
        customProperties:
          type: "string"
          description: "Custom configuration properties"
        experimentalValues:
          type: "boolean"
          description: "Experimental values support. If not defined in request, it\
            \ will be set to false by default."
        fetchRequests:
          type: "boolean"
          description: "Capture fetch() requests. If not defined in request, it will\
            \ be set to true by default."
        javaScriptErrors:
          type: "boolean"
          description: "Enable this setting to monitor JavaScript errors. The window.onError\
            \ handler is used for capturing JavaScript errors. If not defined in request,\
            \ it will be set to true by default."
        javaScriptFrameworkSupport:
          $ref: "#/components/schemas/FrameworkOptionsDto"
        timedActions:
          type: "boolean"
          description: "Within JavaScript frameworks, XHRs are often sent via setTimeout\
            \ methods. Enable this setting to detect actions that trigger such XHRs.\
            \ If not defined in request, it will be set to true by default."
        timeoutSettings:
          $ref: "#/components/schemas/TimeoutSettingsDto"
        visuallyCompleteOptions:
          $ref: "#/components/schemas/VisuallyCompleteOptionsDto"
        xmlHttpRequests:
          type: "boolean"
          description: "Capture xml Http requests (XHR). If not defined in request,\
            \ it will be set to true by default."
    JavaScriptStepDto:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/SyntheticBrowserMonitorStepDto"
      - type: "object"
        properties:
          javaScript:
            type: "string"
            description: "String containing a script in JavaScript."
          target:
            $ref: "#/components/schemas/TargetDto"
          waitCondition:
            $ref: "#/components/schemas/BaseWaitConditionDto"
      description: "JavaScript step of Browser Monitor."
      required:
      - "javaScript"
      - "name"
      - "type"
    KeyPerformanceMetrics:
      type: "object"
      description: "The key performance metrics configuration."
      properties:
        loadActionKpm:
          type: "string"
          description: "Load action key performance metric."
          enum:
          - "USER_ACTION_DURATION"
          - "VISUALLY_COMPLETE"
          - "SPEED_INDEX"
          - "DOM_INTERACTIVE"
          - "LOAD_EVENT_START"
          - "LOAD_EVENT_END"
          - "RESPONSE_START"
          - "RESPONSE_END"
          - "LARGEST_CONTENTFUL_PAINT"
          - "CUMULATIVE_LAYOUT_SHIFT"
        xhrActionKpm:
          type: "string"
          description: "XHR action key performance metric."
          enum:
          - "USER_ACTION_DURATION"
          - "VISUALLY_COMPLETE"
          - "RESPONSE_START"
          - "RESPONSE_END"
    KeyStrokesStepDto:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/SyntheticBrowserMonitorStepDto"
      - type: "object"
        properties:
          input:
            $ref: "#/components/schemas/KeystrokesInputDto"
          simulateBlurEvent:
            type: "boolean"
            description: "Boolean value set to true if blur event should be simulated."
          simulateReturnKey:
            type: "boolean"
            description: "Boolean value set to true if return key should be simulated."
          target:
            $ref: "#/components/schemas/TargetDto"
          validationRules:
            type: "array"
            description: "List of validation rules for the step to perform."
            items:
              $ref: "#/components/schemas/ValidationRuleDto"
          waitCondition:
            $ref: "#/components/schemas/BaseWaitConditionDto"
      description: "Key strokes step of Browser Monitor."
      example:
        entityId: "SYNTHETIC_TEST_STEP-43EF14E26B1A462A"
        name: "Enter credentials."
        simulateBlurEvent: false
        simulateReturnKey: true
        target:
          locators:
          - type: "CSS"
            value: "<img>[id='logoIcon']"
          - type: "CSS"
            value: "<a>[id='externalSite']"
          window: "ruxitWin[0]"
        type: "KEYSTROKES"
        validationRules:
        - failIfFound: false
          match: "some text to match"
          regex: false
          target:
            locators:
            - type: "CSS"
              value: "<img>[id='logoIcon']"
            - type: "CSS"
              value: "<a>[id='externalSite']"
            window: "ruxitWin[0]"
          type: "TEXT_MATCH"
        waitCondition:
          milliseconds: 10
          waitFor: "TIME"
      required:
      - "input"
      - "name"
      - "type"
    KeystrokesInputDto:
      type: "object"
      description: "Key strokes step input."
      discriminator:
        mapping:
          PLAIN: "#/components/schemas/PlainKeystrokesInputDto"
          SECURE: "#/components/schemas/SecureKeystrokesInputDto"
        propertyName: "type"
      properties:
        type:
          type: "string"
          description: "Defines the actual set of fields depending on the value. See\
            \ one of the following objects: \n\n* `SECURE` -> SecureKeystrokesInputDto\
            \ \n* `PLAIN` -> PlainKeystrokesInputDto \n"
          enum:
          - "PLAIN"
          - "SECURE"
      required:
      - "type"
    LocationCollectionElement:
      type: "object"
      description: "A synthetic location."
      properties:
        capabilities:
          type: "array"
          description: "The list of location's capabilities."
          items:
            type: "string"
        cloudPlatform:
          type: "string"
          description: "The cloud provider where the location is hosted. \n\n Only\
            \ applicable to `PUBLIC` locations."
          enum:
          - "ALIBABA"
          - "AMAZON_EC2"
          - "AZURE"
          - "DYNATRACE_CLOUD"
          - "GOOGLE_CLOUD"
          - "INTEROUTE"
          - "OTHER"
          - "UNDEFINED"
        deploymentType:
          type: "string"
          description: "Location's deployment type"
          enum:
          - "KUBERNETES"
          - "OPENSHIFT"
          - "STANDARD"
          - "UNKNOWN"
        entityId:
          type: "string"
          description: "The Dynatrace entity ID of the location."
        geoCity:
          type: "string"
          description: "Location's city."
        geoContinent:
          type: "string"
          description: "Location's continent."
        geoCountry:
          type: "string"
          description: "Location's country."
        geoLatitude:
          type: "number"
          format: "double"
          description: "Location's latitude."
        geoLocationId:
          type: "string"
          description: "The Dynatrace GeoLocation ID of the location."
        geoLongitude:
          type: "number"
          format: "double"
          description: "Location's longitude."
        ips:
          type: "array"
          description: "The list of IP addresses assigned to the location. \n\n Only\
            \ applicable to `PUBLIC` locations."
          items:
            type: "string"
        lastModificationTimestamp:
          type: "integer"
          format: "int64"
          description: "The timestamp of the last modification of the location."
        name:
          type: "string"
          description: "The name of the location."
        nodes:
          type: "array"
          description: "A list of synthetic nodes belonging to the location. \n\n\
            \ You can retrieve the list of available nodes with the [GET all nodes](https://dt-url.net/miy3rpl)\
            \ call."
          items:
            type: "string"
        stage:
          type: "string"
          description: "The release stage of the location."
          enum:
          - "BETA"
          - "COMING_SOON"
          - "DELETED"
          - "GA"
        status:
          type: "string"
          description: "The status of the location."
          enum:
          - "DISABLED"
          - "ENABLED"
          - "HIDDEN"
        type:
          type: "string"
          description: "The type of the location."
          enum:
          - "CLUSTER"
          - "PRIVATE"
          - "PUBLIC"
      required:
      - "entityId"
      - "geoLocationId"
      - "name"
      - "type"
    LocatorDto:
      type: "object"
      description: "Browser Monitor locator."
      example:
        type: "CSS"
        value: "<img>[id='logoIcon']"
      properties:
        type:
          type: "string"
          description: "Enum value of the locator type."
          enum:
          - "CSS"
          - "DOM"
        value:
          type: "string"
          description: "Value of the locator."
      required:
      - "type"
      - "value"
    MonitorEntityIdDto:
      type: "object"
      description: "A DTO for monitor entity ID."
      example:
        entityId: "MULTIPROTOCOL_MONITOR-63653CB579F573D1"
      properties:
        entityId:
          type: "string"
          description: "Monitor entity ID."
      required:
      - "entityId"
    MonitorPropertyDto:
      type: "object"
      description: "Property of a Browser Monitor."
      properties:
        name:
          type: "string"
          description: "Property name."
        value:
          type: "string"
          description: "Property value."
      required:
      - "name"
      - "value"
    MonitorRequestHeader:
      type: "object"
      description: "A header of the Http request"
      properties:
        name:
          type: "string"
          description: "Header's name."
        value:
          type: "string"
          description: "Header's value."
      required:
      - "name"
      - "value"
    NavigateStepDto:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/SyntheticBrowserMonitorStepDto"
      - type: "object"
        properties:
          authentication:
            $ref: "#/components/schemas/AuthenticationDto"
          target:
            $ref: "#/components/schemas/TargetDto"
          url:
            type: "string"
            description: "Field containing the url that the monitor should navigate\
              \ to."
          validationRules:
            type: "array"
            description: "List of validation rules for the step to perform."
            items:
              $ref: "#/components/schemas/ValidationRuleDto"
          waitCondition:
            $ref: "#/components/schemas/BaseWaitConditionDto"
      description: "Step of Browser Monitor that navigates to a website."
      required:
      - "name"
      - "type"
      - "url"
    NetworkThrottlingDto:
      type: "object"
      description: "Network throttling of a Browser Monitor."
      properties:
        download:
          type: "integer"
          format: "int32"
          description: "Download throughput. If not defined in request, it will be\
            \ set to -1 by default."
          maximum: 100000000
        latency:
          type: "integer"
          format: "int32"
          description: "Latency. If not defined in request, it will be set to 0 by\
            \ default."
          maximum: 1000
        name:
          type: "string"
          description: "Predefined network type. If not defined in request, it will\
            \ be set to \"\" by default."
        upload:
          type: "integer"
          format: "int32"
          description: "Upload throughput. If not defined in request, it will be set\
            \ to -1 by default."
          maximum: 50000000
    Node:
      type: "object"
      description: "Configuration of a synthetic node. \n\n A *synthetic node* is\
        \ an ActiveGate that is able to execute synthetic monitors."
      example:
        activeGateVersion: "1.172.2.20190607-040913"
        autoUpdateEnabled: true
        browserMonitorsEnabled: true
        browserType: "Chrome"
        browserVersion: "69.0.3497.81"
        capabilities:
        - "HTTP_HIGH_RESOURCE"
        - "HTTP"
        entityId: "3086117876"
        healthCheckStatus: "Ok"
        hostname: "gdn.dyna.trace"
        ips:
        - "238.245.160.14"
        oneAgentRoutingEnabled: true
        operatingSystem: "Linux"
        playerVersion: "1.179.0.20190920-145430"
        status: "Running"
        version: "1.161.0.20181210-173639"
      properties:
        activeGateVersion:
          type: "string"
          description: "The version of the Active Gate."
        autoUpdateEnabled:
          type: "boolean"
          description: "The Active Gate has the Auto update option enabled ('true')\
            \ or not ('false')"
        browserMonitorsEnabled:
          type: "boolean"
          description: "The synthetic node is able to execute browser monitors (`true`)\
            \ or not (`false`)."
        browserType:
          type: "string"
          description: "The browser type."
        browserVersion:
          type: "string"
          description: "The browser version."
        capabilities:
          type: "array"
          description: "The list of node's capabilities."
          items:
            type: "string"
            description: "The list of node's capabilities."
        entityId:
          type: "string"
          description: "The ID of the synthetic node."
        healthCheckStatus:
          type: "string"
          description: "The health check status of the synthetic node."
        hostname:
          type: "string"
          description: "The hostname of the synthetic node."
        ips:
          type: "array"
          description: "The IP of the synthetic node."
          items:
            type: "string"
        oneAgentRoutingEnabled:
          type: "boolean"
          description: "The Active Gate has the One Agent routing enabled ('true')\
            \ or not ('false')."
        operatingSystem:
          type: "string"
          description: "The Active Gate's host operating system."
        playerVersion:
          type: "string"
          description: "The version of the synthetic player."
        status:
          type: "string"
          description: "The status of the synthetic node."
        version:
          type: "string"
          description: "The version of the synthetic node."
      required:
      - "activeGateVersion"
      - "autoUpdateEnabled"
      - "browserMonitorsEnabled"
      - "browserType"
      - "browserVersion"
      - "capabilities"
      - "entityId"
      - "healthCheckStatus"
      - "hostname"
      - "ips"
      - "oneAgentRoutingEnabled"
      - "operatingSystem"
      - "playerVersion"
      - "status"
      - "version"
    NodeCollectionElement:
      type: "object"
      description: "The short representation of a synthetic object. Only contains\
        \ the ID and the display name."
      properties:
        activeGateVersion:
          type: "string"
          description: "The version of the Active Gate."
        autoUpdateEnabled:
          type: "boolean"
          description: "The Active Gate has the Auto update option enabled ('true')\
            \ or not ('false')"
        browserMonitorsEnabled:
          type: "boolean"
          description: "Browser check capabilities enabled flag."
        capabilities:
          type: "array"
          description: "The list of node's capabilities."
          items:
            type: "string"
            description: "The list of node's capabilities."
        entityId:
          type: "string"
          description: "The ID of a node."
        healthCheckStatus:
          type: "string"
          description: "The health check status of the synthetic node."
        hostname:
          type: "string"
          description: "The hostname of a node."
        ips:
          type: "array"
          description: "The IP of a node."
          items:
            type: "string"
        oneAgentRoutingEnabled:
          type: "boolean"
          description: "The Active Gate has the One Agent routing enabled ('true')\
            \ or not ('false')."
        operatingSystem:
          type: "string"
          description: "The Active Gate's host operating system."
        playerVersion:
          type: "string"
          description: "The version of the synthetic player."
        status:
          type: "string"
          description: "The status of the synthetic node."
        version:
          type: "string"
          description: "The version of a node"
      required:
      - "activeGateVersion"
      - "autoUpdateEnabled"
      - "browserMonitorsEnabled"
      - "capabilities"
      - "entityId"
      - "healthCheckStatus"
      - "hostname"
      - "ips"
      - "oneAgentRoutingEnabled"
      - "operatingSystem"
      - "playerVersion"
      - "status"
      - "version"
    Nodes:
      type: "object"
      description: "A list of synthetic nodes"
      example:
        nodes:
        - activeGateVersion: "1.172.2.20190607-040913"
          autoUpdateEnabled: true
          browserMonitorsEnabled: true
          capabilities:
          - "HTTP_HIGH_RESOURCE"
          - "HTTP"
          entityId: "3086117876"
          healthCheckStatus: "Ok"
          hostname: "gdn.dyna.trace"
          ips:
          - "238.245.160.14"
          oneAgentRoutingEnabled: true
          operatingSystem: "Linux"
          playerVersion: "1.179.0.20190920-145430"
          status: "Running"
          version: "1.161.0.20181210-173639"
      properties:
        nodes:
          type: "array"
          description: "A list of synthetic nodes"
          items:
            $ref: "#/components/schemas/NodeCollectionElement"
      required:
      - "nodes"
    PlainAuthenticationDto:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/AuthenticationDto"
      - type: "object"
        properties:
          password:
            type: "string"
            description: "String containing the password."
          username:
            type: "string"
            description: "String containing the username."
      description: "Plain authentication dto for Browser Monitor step."
      example:
        password: "1234"
        type: "HTTP_AUTHENTICATION"
        username: "admin"
      required:
      - "inputType"
      - "password"
      - "type"
      - "username"
    PlainKeystrokesInputDto:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/KeystrokesInputDto"
      - type: "object"
        properties:
          masked:
            type: "boolean"
            description: "Boolean value set to true only if key strokes input `textValue`\
              \ field is encoded by recorder and should be decoded by VUP. Set to\
              \ `false` by default."
          textValue:
            type: "string"
            description: "String value containing the text."
      description: "Credential-based input for keystrokes step."
      required:
      - "textValue"
      - "type"
    PrivateSyntheticLocation:
      type: "object"
      description: "Configuration of a private synthetic location. \n\n Some fields\
        \ are inherited from the base *SyntheticLocation* object."
      example:
        autoUpdateChromium: true
        availabilityLocationNodeOutageDelayInMinutes: 5
        availabilityLocationOutage: false
        availabilityNodeOutage: false
        availabilityNotificationsEnabled: true
        browserExecutionSupported: true
        city: "Linz"
        countryCode: "AT"
        deploymentType: "STANDARD"
        fipsMode: "DISABLED"
        latitude: 48.306351
        longitude: 14.287399
        maxActiveGateCount: 5
        minActiveGateCount: 2
        namExecutionSupported: false
        name: "Linz Location"
        nodeNames:
          "93302281": "ActiveGate 1"
        nodeSize: "S"
        nodes:
        - "93302281"
        regionCode: "04"
        status: "ENABLED"
        type: "PRIVATE"
        useNewKubernetesVersion: true
      properties:
        autoUpdateChromium:
          type: "boolean"
          description: "Non-containerized location property. Auto upgrade of Chromium\
            \ is enabled (`true`) or disabled (`false`)."
        availabilityLocationOutage:
          type: "boolean"
          description: "Alerting for location outage is enabled (`true`) or disabled\
            \ (`false`). Supported only for private Synthetic locations."
        availabilityNodeOutage:
          type: "boolean"
          description: "Alerting for node outage is enabled (`true`) or disabled (`false`).\
            \ \\n\\n If enabled, the outage of *any* node in the location triggers\
            \ an alert. Supported only for private Synthetic locations."
        availabilityNotificationsEnabled:
          type: "boolean"
          description: "Notifications for location and node outage are enabled (`true`)\
            \ or disabled (`false`). Supported only for private Synthetic locations."
        browserExecutionSupported:
          type: "boolean"
          description: "Containerized location property. Boolean value describes if\
            \ browser monitors will be executed on this location:\n\n* `false`: Browser\
            \ monitor executions disabled.\n* `true`: Browser monitor executions enabled."
        city:
          type: "string"
          description: "The city of the location."
        countryCode:
          type: "string"
          description: "The country code of the location. \n\n To fetch the list of\
            \ available country codes, use the [GET all countries](https://dt-url.net/37030go)\
            \ request."
        countryName:
          type: "string"
          description: "The country name of the location."
        deploymentType:
          type: "string"
          description: "The deployment type of the location: \n\n* `STANDARD`: The\
            \ location is deployed on Windows or Linux.\n* `KUBERNETES`: The location\
            \ is deployed on Kubernetes."
          enum:
          - "KUBERNETES"
          - "OPENSHIFT"
          - "STANDARD"
          - "UNKNOWN"
        entityId:
          type: "string"
          description: "The Dynatrace entity ID of the location."
        fipsMode:
          type: "string"
          description: "Containerized location property indicating whether FIPS mode\
            \ is enabled on this location:\n\n* `DISABLED`: FIPS is not enabled on\
            \ the location.\n* `ENABLED`: FIPS is enabled on the location.\n* `ENABLED_WITH_CORPORATE_PROXY`:\
            \ FIPS with corporate proxy is enabled on this location.\nDefault: DISABLED"
          enum:
          - "DISABLED"
          - "ENABLED"
          - "ENABLED_WITH_CORPORATE_PROXY"
        geoLocationId:
          type: "string"
          description: "The Dynatrace GeoLocation ID of the location."
        latitude:
          type: "number"
          format: "double"
          description: "The latitude of the location in `DDD.dddd` format."
        locationNodeOutageDelayInMinutes:
          type: "integer"
          format: "int32"
          description: "Alert if location or node outage lasts longer than *X* minutes.\
            \ \\n\\n Only applicable when `availabilityLocationOutage` or `availabilityNodeOutage`\
            \ is set to `true`. Supported only for private Synthetic locations."
          maximum: 5
          minimum: 1
        longitude:
          type: "number"
          format: "double"
          description: "The longitude of the location in `DDD.dddd` format."
        namExecutionSupported:
          type: "boolean"
          description: "Containerized location property. Boolean value describes if\
            \ icmp monitors will be executed on this location:\n\n* `false`: Icmp\
            \ monitor executions disabled.\n* `true`: Icmp monitor executions enabled."
        name:
          type: "string"
          description: "The name of the location."
        nodeNames:
          type: "object"
          additionalProperties:
            type: "string"
            description: "A mapping id to name of the nodes belonging to the location."
          description: "A mapping id to name of the nodes belonging to the location."
        nodes:
          type: "array"
          description: "A list of synthetic nodes belonging to the location. \n\n\
            \ You can retrieve the list of available nodes with the [GET all nodes](https://dt-url.net/miy3rpl)\
            \ call."
          items:
            type: "string"
        regionCode:
          type: "string"
          description: "The region code of the location. \n\n To fetch the list of\
            \ available region codes, use the [GET regions of the country](https://dt-url.net/az230x0)\
            \ request."
        regionName:
          type: "string"
          description: "The region name of the location."
        status:
          type: "string"
          description: "The status of the location: \n\n* `ENABLED`: The location\
            \ is displayed as active in the UI. You can assign monitors to the location.\
            \ \n* `DISABLED`: The location is displayed as inactive in the UI. You\
            \ can't assign monitors to the location. Monitors already assigned to\
            \ the location will stay there and will be executed from the location.\
            \ \n* `HIDDEN`: The location is not displayed in the UI. You can't assign\
            \ monitors to the location. You can only set location as `HIDDEN` when\
            \ no monitor is assigned to it."
          enum:
          - "DISABLED"
          - "ENABLED"
          - "HIDDEN"
        type:
          type: "string"
          enum:
          - "CLUSTER"
          - "PRIVATE"
          - "PUBLIC"
        useNewKubernetesVersion:
          type: "boolean"
          description: "Containerized location property. Boolean value describes which\
            \ kubernetes version will be used:\n\n* `false`: Version 1.23+ that is\
            \ older than 1.26\n* `true`: Version 1.26+."
      required:
      - "latitude"
      - "longitude"
      - "name"
      - "nodes"
      - "type"
    ProxyDto:
      type: "object"
      description: "Browser Monitor proxy."
      properties:
        pacUrl:
          type: "string"
          description: "pacUrl"
      required:
      - "pacUrl"
    PublicSyntheticLocation:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/SyntheticLocation"
      - type: "object"
        properties:
          browserType:
            type: "string"
            description: "The type of the browser the location is using to execute\
              \ browser monitors."
          browserVersion:
            type: "string"
            description: "The version of the browser the location is using to execute\
              \ browser monitors."
          capabilities:
            type: "array"
            description: "A list of location capabilities."
            items:
              type: "string"
          cloudPlatform:
            type: "string"
            description: "The cloud provider where the location is hosted."
            enum:
            - "ALIBABA"
            - "AMAZON_EC2"
            - "AZURE"
            - "DYNATRACE_CLOUD"
            - "GOOGLE_CLOUD"
            - "INTEROUTE"
            - "OTHER"
            - "UNDEFINED"
          ips:
            type: "array"
            description: "The list of IP addresses assigned to the location."
            items:
              type: "string"
            uniqueItems: true
          stage:
            type: "string"
            description: "The stage of the location."
            enum:
            - "BETA"
            - "COMING_SOON"
            - "DELETED"
            - "GA"
      description: "Configuration of a public synthetic location. \n\n Some fields\
        \ are inherited from the base *SyntheticLocation* object."
      example:
        browserType: "Chrome"
        browserVersion: "69.0.3497.81"
        capabilities:
        - "BROWSER"
        - "HTTP"
        city: "Amazon US East (N. Virginia)"
        cloudPlatform: "AMAZON_EC2"
        countryCode: "US"
        entityId: "SYNTHETIC_LOCATION-95196F3C9A4F4215"
        geoLocationId: "GEOLOCATION-95196F3C9A4F4215"
        ips:
        - "134.189.153.97"
        - "134.189.153.98"
        latitude: 39.0436
        longitude: -77.4875
        name: "Amazon US East"
        regionCode: "VA"
        stage: "GA"
        status: "ENABLED"
        type: "PUBLIC"
      required:
      - "browserType"
      - "browserVersion"
      - "cloudPlatform"
      - "ips"
      - "latitude"
      - "longitude"
      - "name"
      - "stage"
      - "type"
    RequestFilterDto:
      type: "object"
      description: "Request filter for Browser Monitor."
      properties:
        matchingPattern:
          type: "string"
          description: "Regex for request that filter will be applied to."
        type:
          type: "string"
          description: "Filter type."
          enum:
          - "STARTS_WITH"
          - "ENDS_WITH"
          - "CONTAINS"
          - "EQUALS"
          - "REGEX"
      required:
      - "matchingPattern"
      - "type"
    RequestHeaderOptionsDto:
      type: "object"
      description: "Header Options of a Browser Monitor."
      properties:
        matchingPatterns:
          type: "array"
          description: "Apply headers to requests matching pattern."
          items:
            type: "string"
            description: "Apply headers to requests matching pattern."
          maxItems: 500
          minItems: 0
          uniqueItems: true
        requestHeaders:
          type: "array"
          description: "Request headers list."
          items:
            $ref: "#/components/schemas/MonitorRequestHeader"
      required:
      - "matchingPatterns"
      - "requestHeaders"
    SecureAuthenticationDto:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/AuthenticationDto"
      - type: "object"
        properties:
          credentialId:
            type: "string"
            description: "Id of the username and password credential which will be\
              \ used for authentication."
      description: "Secure authentication dto for Browser Monitor step."
      example:
        credential:
          field: "USERNAME"
          id: "CREDENTIALS_VAULT-42069"
        type: "HTTP_AUTHENTICATION"
      required:
      - "credentialId"
      - "inputType"
      - "type"
    SecureKeystrokesInputDto:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/KeystrokesInputDto"
      - type: "object"
        properties:
          credentialField:
            type: "string"
            description: "Enum value of the credential field."
            enum:
            - "USERNAME"
            - "PASSWORD"
            - "TOKEN"
          credentialId:
            type: "string"
            description: "String value containing the credential id."
      description: "Credential-based input for keystrokes step."
      required:
      - "credentialField"
      - "credentialId"
      - "type"
    SelectOptionStepDto:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/SyntheticBrowserMonitorStepDto"
      - type: "object"
        properties:
          selections:
            type: "array"
            description: "Field containing the credential."
            items:
              $ref: "#/components/schemas/SelectionDto"
            maxItems: 2147483647
            minItems: 1
          target:
            $ref: "#/components/schemas/TargetDto"
          validationRules:
            type: "array"
            description: "List of validation rules for the step to perform."
            items:
              $ref: "#/components/schemas/ValidationRuleDto"
          waitCondition:
            $ref: "#/components/schemas/BaseWaitConditionDto"
      description: "Select option step of Browser Monitor."
      required:
      - "name"
      - "selections"
      - "type"
    SelectionDto:
      type: "object"
      description: "Option selection for Browser Monitor step."
      example:
        index: 0
        value: "selection-1"
      properties:
        index:
          type: "integer"
          format: "int32"
          description: "Selection index."
          minimum: 0
        value:
          type: "string"
          description: "Selection value."
      required:
      - "index"
      - "value"
    SyntheticBrowserMonitorConfigurationDto:
      type: "object"
      description: "Browser Monitor configuration."
      properties:
        blockedRequests:
          type: "array"
          description: "All requests matching the specified patterns will be blocked\
            \ during the execution of the monitor."
          items:
            type: "string"
            description: "All requests matching the specified patterns will be blocked\
              \ during the execution of the monitor."
          maxItems: 500
          minItems: 0
        browserPermissions:
          $ref: "#/components/schemas/BrowserPermissionsDto"
        bypassCSP:
          type: "boolean"
          description: "Bypass ContentSecurity Policy for monitored pages. If not\
            \ defined in request, it will be set to false by default."
        chromiumStartupFlags:
          $ref: "#/components/schemas/ChromiumStartupFlagsDto"
        clientCertificates:
          type: "array"
          description: "Identifier of stored client's certificate."
          items:
            $ref: "#/components/schemas/ClientCertificateDto"
        cookies:
          type: "array"
          description: "Cookies list."
          items:
            $ref: "#/components/schemas/SyntheticMonitorCookieDto"
          uniqueItems: true
        device:
          $ref: "#/components/schemas/TestDeviceDto"
        enablement:
          $ref: "#/components/schemas/EnablementDto"
        experimentalProperties:
          type: "array"
          description: "Experimental properties list."
          items:
            $ref: "#/components/schemas/MonitorPropertyDto"
        filteredRequests:
          $ref: "#/components/schemas/FilteredRequestsDto"
        ignoredErrorCodes:
          $ref: "#/components/schemas/IgnoredErrorCodesDto"
        javaScriptSettings:
          $ref: "#/components/schemas/JavaScriptAgentSettingsDto"
        monitorFrames:
          type: "boolean"
          description: "Capture performance metrics for pages loaded in frames. If\
            \ not defined in request, it will be set to false by default."
        networkThrottling:
          $ref: "#/components/schemas/NetworkThrottlingDto"
        proxy:
          $ref: "#/components/schemas/ProxyDto"
        requestHeaderOptions:
          $ref: "#/components/schemas/RequestHeaderOptionsDto"
        useIESupportedAgent:
          type: "boolean"
          description: "useIESupportedAgent flag. If not defined in request, it will\
            \ be set to false by default."
        userAgent:
          type: "string"
          description: "User agent"
      required:
      - "device"
    SyntheticBrowserMonitorRequest:
      type: "object"
      description: "Browser monitor update."
      example:
        configuration:
          blockRequests:
          - "www.wp.pl"
          bypassCSP: false
          chromiumStartupFlags:
            disableFeatures:
            - name: "name_7678fe51adc6"
              state: false
            disableSiteIsolationTrials: false
            disableWebSecurity: false
            hostResolverRules: "hostResolverRules_78b2f77a69ac"
            ignoreCertificateErrors: false
            testType: false
          clientCertificateId: "clientCertificateId_2eb1628c3b09"
          customBandwidth:
            download: 5
            latency: 1
            upload: 10
          customTestDevice:
            height: 400
            mobile: false
            scaleFactor: 10
            touchEnabled: false
            width: 400
          device:
            deviceName: "myDevice69"
            orientation: "PORTRAIT"
          experimentalProperties:
          - name: "property1"
            value: "value1"
          ignoredErrorCodes:
            matchingRequests: "matchingRequests_a3f411b25a02"
            statusCodes: "statusCodes_2de0b5d66325"
          javaScriptSettings:
            customProperties: "customProperties_eca05a36b918"
            experimentalValues: false
            fetchRequests: false
            javaScriptErrors: false
            javaScriptFrameworkSupport:
              activeXObject: false
              angular: false
              dojo: false
              extJs: false
              icefaces: false
              jQuery: false
              mooTools: false
              prototype: false
            timedActions: false
            timeoutSettings:
              temporaryActionLimit: 5
              temporaryActionTotalTimeout: 10
            visuallyCompleteOptions:
              excludedElements:
              - "element1"
              excludedUrls:
              - "www.wp.pl"
              imageSizeThreshold: 0
              inactivityTimeout: 0
              mutationTimeout: 0
            xmlHttpRequests: false
          monitorFrames: false
          predefinedBandwidth:
            networkType: "networkType_950c33cf88f1"
          requestHeaderOptions:
            matchingPattern:
            - "some pattern to match"
            requestHeaders:
            - name: "wp.pl"
              value: "www.wp.pl"
        description: "My browser monitor description"
        enabled: "true"
        frequencyMin: "60"
        keyPerformanceMetrics:
          loadActionKpm: "USER_ACTION_DURATION"
          xhrActionKpm: "VISUALLY_COMPLETE"
        locations:
        - "SYNTHETIC_LOCATION-D3A5BFD8676A4F19"
        manuallyAssignedEntities:
        - "APPLICATION-213769420"
        name: "My browser monitor"
        performanceThresholds:
          enabled: "true"
          thresholds:
          - dealertingSamples: "5"
            samples: "5"
            stepIndex: "1"
            threshold: "200"
            type: "STEP"
            violatingSamples: "3"
        primaryGrailTags:
        - key: "sample key"
          value: "sample value"
        - key: "another sample key"
          value: "another sample value"
        securityContext:
        - "sample security context"
        - "another security context"
        steps:
        - cookies:
          - domain: "www.wp.pl"
            name: "cookie"
            path: "/"
            value: "some_value"
          entityId: "SYNTHETIC_TEST_STEP-43EF14E26B1A462A"
          name: "Cookie step."
          type: "COOKIE"
        - button: "MOUSE_LEFT"
          entityId: "SYNTHETIC_TEST_STEP-43EF14E26B1A462A"
          name: "Click on \"submit\""
          target:
            locators:
            - type: "CSS"
              value: "<img>[id='logoIcon']"
            - type: "CSS"
              value: "<a>[id='externalSite']"
            window: "ruxitWin[0]"
          type: "CLICK"
          validationRules:
          - failIfFound: false
            match: "some text to match"
            regex: false
            target:
              locators:
              - type: "CSS"
                value: "<img>[id='logoIcon']"
              - type: "CSS"
                value: "<a>[id='externalSite']"
              window: "ruxitWin[0]"
            type: "TEXT_MATCH"
          waitCondition:
            milliseconds: 10
            waitFor: "TIME"
        - entityId: "SYNTHETIC_TEST_STEP-43EF14E26B1A462A"
          javaScript: "api.fail(\":( Your pc ran into a problem and needs to restart.\"\
            );"
          name: "Execute javascript."
          target:
            locators:
            - type: "CSS"
              value: "<img>[id='logoIcon']"
            - type: "CSS"
              value: "<a>[id='externalSite']"
            window: "ruxitWin[0]"
          type: "JAVASCRIPT"
          waitCondition:
            milliseconds: 10
            waitFor: "TIME"
        - credential:
            field: "USERNAME"
            id: "CREDENTIALS_VAULT-42069"
          entityId: "SYNTHETIC_TEST_STEP-43EF14E26B1A462A"
          name: "Enter credentials."
          simulateBlurEvent: false
          simulateReturnKey: true
          target:
            locators:
            - type: "CSS"
              value: "<img>[id='logoIcon']"
            - type: "CSS"
              value: "<a>[id='externalSite']"
            window: "ruxitWin[0]"
          type: "KEYSTROKES"
          validationRules:
          - failIfFound: false
            match: "some text to match"
            regex: false
            target:
              locators:
              - type: "CSS"
                value: "<img>[id='logoIcon']"
              - type: "CSS"
                value: "<a>[id='externalSite']"
              window: "ruxitWin[0]"
            type: "TEXT_MATCH"
          waitCondition:
            milliseconds: 10
            waitFor: "TIME"
        - authentication:
            credential:
              field: "USERNAME"
              id: "CREDENTIALS_VAULT-42069"
            type: "HTTP_AUTHENTICATION"
          entityId: "SYNTHETIC_TEST_STEP-43EF14E26B1A462A"
          name: "Step that navigates to dynatrace.com."
          target:
            locators:
            - type: "CSS"
              value: "<img>[id='logoIcon']"
            - type: "CSS"
              value: "<a>[id='externalSite']"
            window: "ruxitWin[0]"
          type: "NAVIGATE"
          url: "www.google.com"
          validationRules:
          - failIfFound: false
            match: "some text to match"
            regex: false
            target:
              locators:
              - type: "CSS"
                value: "<img>[id='logoIcon']"
              - type: "CSS"
                value: "<a>[id='externalSite']"
              window: "ruxitWin[0]"
            type: "TEXT_MATCH"
          waitCondition:
            milliseconds: 10
            waitFor: "TIME"
        - entityId: "SYNTHETIC_TEST_STEP-43EF14E26B1A462A"
          name: "Select option step."
          selections:
          - index: 0
            value: "selection-1"
          target:
            locators:
            - type: "CSS"
              value: "<img>[id='logoIcon']"
            - type: "CSS"
              value: "<a>[id='externalSite']"
            window: "ruxitWin[0]"
          type: "SELECT_OPTION"
          validationRules:
          - failIfFound: false
            match: "some text to match"
            regex: false
            target:
              locators:
              - type: "CSS"
                value: "<img>[id='logoIcon']"
              - type: "CSS"
                value: "<a>[id='externalSite']"
              window: "ruxitWin[0]"
            type: "TEXT_MATCH"
          waitCondition:
            milliseconds: 10
            waitFor: "TIME"
        syntheticMonitorOutageHandlingSettings:
          globalConsecutiveOutageCountThreshold: "1"
          globalOutages: "true"
          localConsecutiveOutageCountThreshold: "3"
          localLocationOutageCountThreshold: "3"
          localOutages: "true"
        tags:
        - key: "sample key"
          value: "sample value"
        - key: "sample key"
        type: "BROWSER"
      properties:
        configuration:
          $ref: "#/components/schemas/SyntheticBrowserMonitorConfigurationDto"
        description:
          type: "string"
          description: "Monitor description"
        enabled:
          type: "boolean"
          default: true
          description: "If true, the monitor is enabled."
        frequencyMin:
          type: "integer"
          format: "int64"
          description: "The frequency of the monitor, in minutes. Default value depends\
            \ on the monitor type (1 minute for MULTI_PROTOCOL and HTTP, 15 minutes\
            \ for BROWSER)."
        keyPerformanceMetrics:
          $ref: "#/components/schemas/KeyPerformanceMetrics"
        locations:
          type: "array"
          description: "The locations to which the monitor is assigned."
          items:
            type: "string"
            description: "The locations to which the monitor is assigned."
          uniqueItems: true
        manuallyAssignedEntities:
          type: "array"
          description: "Manually assigned entities."
          items:
            type: "string"
            description: "Manually assigned entities."
          uniqueItems: true
        name:
          type: "string"
          description: "The name of the monitor."
        performanceThresholds:
          $ref: "#/components/schemas/SyntheticMonitorPerformanceThresholdsDto"
        primaryGrailTags:
          type: "array"
          description: "Primary Grail tags as a list of key-value pairs. Up to 10\
            \ tags. Those fields are only available for SaaS and not for Managed."
          items:
            $ref: "#/components/schemas/SyntheticMonitorPrimaryGrailTagDto"
          maxItems: 10
          minItems: 0
          uniqueItems: true
        securityContext:
          type: "array"
          description: "[FEATURE DISABLED] Security context as a list of strings.\
            \ Up to 10 values, max 200 characters per value. Those fields are only\
            \ available for SaaS and not for Managed."
          items:
            type: "string"
            description: "[FEATURE DISABLED] Security context as a list of strings.\
              \ Up to 10 values, max 200 characters per value. Those fields are only\
              \ available for SaaS and not for Managed."
          uniqueItems: true
        steps:
          type: "array"
          description: "The steps of the monitor."
          items:
            $ref: "#/components/schemas/SyntheticBrowserMonitorStepDto"
        syntheticMonitorOutageHandlingSettings:
          $ref: "#/components/schemas/SyntheticMonitorOutageHandlingSettingsDto"
        tags:
          type: "array"
          description: "A set of tags assigned to the monitor. \n\n You can specify\
            \ only the value of the tag here and the `CONTEXTLESS` context and source\
            \ 'USER' will be added automatically. But preferred option is usage of\
            \ SyntheticTagWithSourceDto model."
          items:
            $ref: "#/components/schemas/SyntheticTagWithSourceDto"
          uniqueItems: true
        type:
          type: "string"
          description: "Monitor type."
          enum:
          - "MULTI_PROTOCOL"
          - "BROWSER"
          - "HTTP"
      required:
      - "configuration"
      - "locations"
      - "name"
      - "steps"
      - "type"
    SyntheticBrowserMonitorResponse:
      type: "object"
      description: "Browser Monitor."
      example:
        automaticallyAssignedEntities:
        - "APPLICATION-123456789"
        configuration:
          blockRequests:
          - "www.wp.pl"
          bypassCSP: false
          chromiumStartupFlags:
            disableFeatures:
            - name: "name_7678fe51adc6"
              state: false
            disableSiteIsolationTrials: false
            disableWebSecurity: false
            hostResolverRules: "hostResolverRules_78b2f77a69ac"
            ignoreCertificateErrors: false
            testType: false
          clientCertificateId: "clientCertificateId_2eb1628c3b09"
          customBandwidth:
            download: 5
            latency: 1
            upload: 10
          customTestDevice:
            height: 400
            mobile: false
            scaleFactor: 10
            touchEnabled: false
            width: 400
          device:
            deviceName: "myDevice69"
            orientation: "PORTRAIT"
          experimentalProperties:
          - name: "property1"
            value: "value1"
          ignoredErrorCodes:
            matchingRequests: "matchingRequests_a3f411b25a02"
            statusCodes: "statusCodes_2de0b5d66325"
          javaScriptSettings:
            customProperties: "customProperties_eca05a36b918"
            experimentalValues: false
            fetchRequests: false
            javaScriptErrors: false
            javaScriptFrameworkSupport:
              activeXObject: false
              angular: false
              dojo: false
              extJs: false
              icefaces: false
              jQuery: false
              mooTools: false
              prototype: false
            timedActions: false
            timeoutSettings:
              temporaryActionLimit: 5
              temporaryActionTotalTimeout: 10
            visuallyCompleteOptions:
              excludedElements:
              - "element1"
              excludedUrls:
              - "www.wp.pl"
              imageSizeThreshold: 0
              inactivityTimeout: 0
              mutationTimeout: 0
            xmlHttpRequests: false
          monitorFrames: false
          predefinedBandwidth:
            networkType: "networkType_950c33cf88f1"
          requestHeaderOptions:
            matchingPattern:
            - "some pattern to match"
            requestHeaders:
            - name: "wp.pl"
              value: "www.wp.pl"
        description: "My browser monitor description"
        enabled: "true"
        entityId: "SYNTHETIC_TEST-3724112C5023ADB4"
        frequencyMin: "60"
        keyPerformanceMetrics:
          loadActionKpm: "USER_ACTION_DURATION"
          xhrActionKpm: "VISUALLY_COMPLETE"
        locations:
        - "SYNTHETIC_LOCATION-D3A5BFD8676A4F19"
        manuallyAssignedEntities:
        - "APPLICATION-213769420"
        modificationTimestamp: "1716448454338l"
        name: "My browser monitor"
        performanceThresholds:
          enabled: "true"
          thresholds:
          - dealertingSamples: "5"
            samples: "5"
            stepIndex: "1"
            threshold: "200"
            type: "STEP"
            violatingSamples: "3"
        primaryGrailTags:
        - key: "sample key"
          value: "sample value"
        - key: "another sample key"
          value: "another sample value"
        securityContext:
        - "sample security context"
        - "another security context"
        steps:
        - cookies:
          - domain: "www.wp.pl"
            name: "cookie"
            path: "/"
            value: "some_value"
          entityId: "SYNTHETIC_TEST_STEP-43EF14E26B1A462A"
          name: "Cookie step."
          type: "COOKIE"
        - button: "MOUSE_LEFT"
          entityId: "SYNTHETIC_TEST_STEP-43EF14E26B1A462A"
          name: "Click on \"submit\""
          target:
            locators:
            - type: "CSS"
              value: "<img>[id='logoIcon']"
            - type: "CSS"
              value: "<a>[id='externalSite']"
            window: "ruxitWin[0]"
          type: "CLICK"
          validationRules:
          - failIfFound: false
            match: "some text to match"
            regex: false
            target:
              locators:
              - type: "CSS"
                value: "<img>[id='logoIcon']"
              - type: "CSS"
                value: "<a>[id='externalSite']"
              window: "ruxitWin[0]"
            type: "TEXT_MATCH"
          waitCondition:
            milliseconds: 10
            waitFor: "TIME"
        - entityId: "SYNTHETIC_TEST_STEP-43EF14E26B1A462A"
          javaScript: "api.fail(\":( Your pc ran into a problem and needs to restart.\"\
            );"
          name: "Execute javascript."
          target:
            locators:
            - type: "CSS"
              value: "<img>[id='logoIcon']"
            - type: "CSS"
              value: "<a>[id='externalSite']"
            window: "ruxitWin[0]"
          type: "JAVASCRIPT"
          waitCondition:
            milliseconds: 10
            waitFor: "TIME"
        - credential:
            field: "USERNAME"
            id: "CREDENTIALS_VAULT-42069"
          entityId: "SYNTHETIC_TEST_STEP-43EF14E26B1A462A"
          name: "Enter credentials."
          simulateBlurEvent: false
          simulateReturnKey: true
          target:
            locators:
            - type: "CSS"
              value: "<img>[id='logoIcon']"
            - type: "CSS"
              value: "<a>[id='externalSite']"
            window: "ruxitWin[0]"
          type: "KEYSTROKES"
          validationRules:
          - failIfFound: false
            match: "some text to match"
            regex: false
            target:
              locators:
              - type: "CSS"
                value: "<img>[id='logoIcon']"
              - type: "CSS"
                value: "<a>[id='externalSite']"
              window: "ruxitWin[0]"
            type: "TEXT_MATCH"
          waitCondition:
            milliseconds: 10
            waitFor: "TIME"
        - authentication:
            credential:
              field: "USERNAME"
              id: "CREDENTIALS_VAULT-42069"
            type: "HTTP_AUTHENTICATION"
          entityId: "SYNTHETIC_TEST_STEP-43EF14E26B1A462A"
          name: "Step that navigates to dynatrace.com."
          target:
            locators:
            - type: "CSS"
              value: "<img>[id='logoIcon']"
            - type: "CSS"
              value: "<a>[id='externalSite']"
            window: "ruxitWin[0]"
          type: "NAVIGATE"
          url: "www.google.com"
          validationRules:
          - failIfFound: false
            match: "some text to match"
            regex: false
            target:
              locators:
              - type: "CSS"
                value: "<img>[id='logoIcon']"
              - type: "CSS"
                value: "<a>[id='externalSite']"
              window: "ruxitWin[0]"
            type: "TEXT_MATCH"
          waitCondition:
            milliseconds: 10
            waitFor: "TIME"
        - entityId: "SYNTHETIC_TEST_STEP-43EF14E26B1A462A"
          name: "Select option step."
          selections:
          - index: 0
            value: "selection-1"
          target:
            locators:
            - type: "CSS"
              value: "<img>[id='logoIcon']"
            - type: "CSS"
              value: "<a>[id='externalSite']"
            window: "ruxitWin[0]"
          type: "SELECT_OPTION"
          validationRules:
          - failIfFound: false
            match: "some text to match"
            regex: false
            target:
              locators:
              - type: "CSS"
                value: "<img>[id='logoIcon']"
              - type: "CSS"
                value: "<a>[id='externalSite']"
              window: "ruxitWin[0]"
            type: "TEXT_MATCH"
          waitCondition:
            milliseconds: 10
            waitFor: "TIME"
        syntheticMonitorOutageHandlingSettings:
          globalConsecutiveOutageCountThreshold: "1"
          globalOutages: "true"
          localConsecutiveOutageCountThreshold: "3"
          localLocationOutageCountThreshold: "3"
          localOutages: "true"
        tags:
        - key: "sample key"
          value: "sample value"
        - key: "sample key"
        type: "BROWSER"
      properties:
        automaticallyAssignedEntities:
[...]
