openapi: "3.0.1"
info:
  description: "\nFetch and update OpenPipeline configurations for different data\
    \ sources.\n\nTo read about use cases and examples, see [Dynatrace Documentation](https://dt-url.net/openpipeline-pipelines-docs).\n\
    \nTo authorize, use a valid OAuth token.\n\nNotes about compatibility:\n* Operations\
    \ marked as early adopter or preview may be changed in non-compatible ways, although\
    \ we try to avoid this.\n* We may add new enum constants without incrementing\
    \ the API version; thus, clients need to handle unknown enum constants gracefully."
  title: "OpenPipeline v1"
  version: "1.37.0"
  x-service-category: "OpenPipeline"
  x-summary: "Fetch and update OpenPipeline configurations for different data sources."
servers:
- url: "https://asn8731h.sprint.apps.dynatracelabs.com/platform/openpipeline/v1"
  x-api-gateway-url: "/platform/openpipeline/v1"
tags:
- description: "Allows you to view and update your configurations."
  name: "Configurations"
- description: "Allows you to preview the impact of configuration changes."
  name: "Preview"
- description: "Allows you to verify and retrieve suggestions for matchers."
  name: "Matcher"
- description: "Allows you to verify and retrieve suggestions for DQL processor scripts."
  name: "DQL Processor"
- description: "Allows you to view all technology bundles and the associated processors."
  name: "Technology"
paths:
  /configurations:
    get:
      operationId: "configurations"
      parameters:
      - description: "Returns results only for the selected configuration."
        in: "query"
        name: "configurationId"
        schema:
          type: "string"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              example:
              - id: "logs"
                editable: false
                definition:
                  endpointsSpecification:
                    customEndpoints: false
                  pipelinesSpecification:
                    processing:
                    - "drop"
                    - "fieldsRemove"
                    - "fieldsRename"
                    - "technology"
                    - "dql"
                    - "fieldsAdd"
                    dataExtraction:
                    - "bizevent"
                    - "davis"
                    metricExtraction:
                    - "valueMetric"
                    - "counterMetric"
                    securityContext:
                    - "securityContext"
                    storage:
                    - "noStorage"
                    - "bucketAssignment"
                  metricKeyPrefix: "log"
                  bucketsSpecification:
                    defaultBucket: "default_logs"
                    bucketTable: "logs"
              - id: "events"
                editable: false
                definition:
                  endpointsSpecification:
                    customEndpoints: true
                  pipelinesSpecification:
                    processing:
                    - "drop"
                    - "fieldsRemove"
                    - "fieldsRename"
                    - "dql"
                    - "fieldsAdd"
                    dataExtraction:
                    - "davis"
                    metricExtraction:
                    - "valueMetric"
                    - "counterMetric"
                    securityContext:
                    - "securityContext"
                    storage:
                    - "noStorage"
                    - "bucketAssignment"
                  metricKeyPrefix: "events"
                  bucketsSpecification:
                    defaultBucket: "default_events"
                    bucketTable: "events"
              - id: "bizevents"
                editable: false
                definition:
                  endpointsSpecification:
                    customEndpoints: false
                  pipelinesSpecification:
                    processing:
                    - "drop"
                    - "fieldsRemove"
                    - "fieldsRename"
                    - "dql"
                    - "fieldsAdd"
                    dataExtraction:
                    - "davis"
                    metricExtraction:
                    - "valueMetric"
                    - "counterMetric"
                    securityContext:
                    - "securityContext"
                    storage:
                    - "noStorage"
                    - "bucketAssignment"
                  metricKeyPrefix: "bizevents"
                  bucketsSpecification:
                    defaultBucket: "default_bizevents"
                    bucketTable: "bizevents"
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/ConfigurationListItem"
          description: "List of available configurations."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Returns the list of available configuration identifiers."
      tags:
      - "Configurations"
      x-only-visible-in-saas: true
      description: "**Required scope:** openpipeline:configurations:read"
  /configurations/{id}:
    get:
      deprecated: true
      description: "**Required scope:** openpipeline:configurations:read<br/><br/>Deprecated.\
        \ Use the [Settings API](https://docs.dynatrace.com/docs/discover-dynatrace/references/dynatrace-api/environment-api/settings)\
        \ with OpenPipeline schemas `builtin:openpipeline.<configuration.scope>.routing`,\
        \ `builtin:openpipeline.<configuration.scope>.pipelines`, and `builtin:openpipeline.<configuration.scope>.ingest-sources`\
        \ for each configuration scope.\nFurther details can be found in the [migration\
        \ guide](https://docs.dynatrace.com/docs/discover-dynatrace/platform/openpipeline/migration-settings)."
      operationId: "configurationById"
      parameters:
      - description: "Identifier of the configuration."
        in: "path"
        name: "id"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              example:
                id: "events"
                editable: false
                version: "1719220519649-ff2897a62cf849b0baa95e71fa4d5f1f"
                updateToken: "NzgyMTVjYzAtOWYwNC0zZjQ1LWFmNzgtMWQ3OWZjNzdkYjMwX2E3YzZkN2QwLTdmMzctMTFlZi04MDAxLTAxMDAwMDAwMDAwMQ=="
                customBasePath: "/platform/ingest/custom/events"
                endpoints:
                - enabled: true
                  builtin: false
                  editable: false
                  basePath: "/platform/ingest/custom/events"
                  segment: "home"
                  displayName: "Endpoint for home automation"
                  defaultBucket: "home_automation_events"
                  processors:
                  - type: "fieldsRename"
                    enabled: false
                    editable: true
                    id: "hostname-field-normalizer"
                    description: "hostname field normalizer"
                    matcher: "isNotNull(\"hostname\")"
                    sampleData: "{\"hostname\": \"raspberry-pi 4\",\"ip\":\"10.0.0.123\"\
                      }"
                    fields:
                    - fromName: "hostname"
                      toName: "host.name"
                    - fromName: "ip"
                      toName: "ip.address"
                  - type: "fieldsAdd"
                    enabled: false
                    editable: true
                    id: "add-source-field"
                    description: "Add source field"
                    matcher: "true"
                    sampleData: "{\"hostname\": \"raspberry-pi 4\",\"ip\":\"10.0.0.123\"\
                      }"
                    fields:
                    - name: "source"
                      value: "home-automation"
                  routing:
                    type: "dynamic"
                - enabled: true
                  builtin: true
                  editable: false
                  basePath: "/platform/ingest/v1/events"
                  segment: ""
                  source: "/platform/ingest/v1/events"
                  displayName: "Default API"
                  processors: []
                  routing:
                    type: "dynamic"
                pipelines:
                - type: "default"
                  enabled: true
                  editable: false
                  id: "home-automation"
                  builtin: false
                  displayName: "Home automation pipeline"
                  storage:
                    editable: false
                    catchAllBucketName: "home_automation_events"
                    processors:
                    - type: "noStorage"
                      id: "don-not-store-debug-events"
                      description: "Do not store debugging events"
                      enabled: true
                      editable: false
                      matcher: "severity==\"debug\""
                      sampleData: "{}"
                    - type: "bucketAssignment"
                      enabled: true
                      editable: false
                      id: "bucket-assignment-security-relevent-events"
                      description: "Store security-relevant events in a dedicated\
                        \ bucket"
                      matcher: "type==\"security\""
                      sampleData: "{}"
                      bucketName: "home_automation_security_events"
                  securityContext:
                    editable: false
                    processors:
                    - type: "securityContext"
                      id: "security-context"
                      description: "Mark security context for supervisors"
                      enabled: true
                      editable: false
                      matcher: "type==\"security\""
                      sampleData: "{}"
                      value:
                        type: "constant"
                        constant: "supervisors"
                  metricExtraction:
                    editable: false
                    processors:
                    - type: "counterMetric"
                      id: "click-counter-metric"
                      description: "Counts the clicks on a button"
                      enabled: true
                      editable: true
                      matcher: "device.type==\"button\""
                      sampleData: "{}"
                      metricKey: "events.home.button.click"
                      dimensions:
                      - "device.name"
                      - "device.location"
                    - type: "valueMetric"
                      id: "temperature-value-metric"
                      description: "description"
                      enabled: true
                      editable: true
                      matcher: "device.type==\"temperature-sensor\""
                      sampleData: "{}"
                      metricKey: "events.home.temperature"
                      dimensions:
                      - "device.name"
                      - "device.location"
                      field: "temperature"
                  dataExtraction:
                    editable: false
                    processors: []
                  processing:
                    editable: false
                    processors: []
                - type: "default"
                  enabled: true
                  editable: false
                  id: "default"
                  builtin: true
                  displayName: "events"
                  storage:
                    editable: false
                    catchAllBucketName: "default_events"
                    processors: []
                  securityContext:
                    editable: false
                    processors: []
                  metricExtraction:
                    editable: false
                    processors: []
                  dataExtraction:
                    editable: false
                    processors: []
                  processing:
                    editable: false
                    processors: []
                routing:
                  editable: false
                  catchAllPipeline:
                    editable: false
                    pipelineId: "default"
                  entries:
                  - enabled: true
                    editable: false
                    builtin: false
                    pipelineId: "home-automation"
                    matcher: "source==\"home-automation\""
                    note: "Route all home automation events into a dedicated pipeline."
              schema:
                $ref: "#/components/schemas/Configuration"
          description: "Full configuration of the requested identifier."
          headers:
            Deprecation:
              required: true
              schema:
                oneOf:
                - type: "boolean"
                - type: "string"
              style: "simple"
            Sunset:
              required: true
              schema:
                type: "string"
              style: "simple"
        "404":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 404
                  message: "Migration in-progress/completed, the requested resource\
                    \ is no longer available."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Migration in-progress/completed, the requested resource is\
            \ no longer available."
          headers:
            Deprecation:
              required: true
              schema:
                oneOf:
                - type: "boolean"
                - type: "string"
              style: "simple"
            Sunset:
              required: true
              schema:
                type: "string"
              style: "simple"
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Returns the configuration for a given identifier."
      tags:
      - "Configurations"
      x-only-visible-in-saas: true
    put:
      deprecated: true
      description: "**Required scope:** openpipeline:configurations:write<br/><br/>Deprecated.\
        \ Use the [Settings API](https://docs.dynatrace.com/docs/discover-dynatrace/references/dynatrace-api/environment-api/settings)\
        \ with OpenPipeline schemas `builtin:openpipeline.<configuration.scope>.routing`,\
        \ `builtin:openpipeline.<configuration.scope>.pipelines`, and `builtin:openpipeline.<configuration.scope>.ingest-sources`\
        \ for each configuration scope.\nFurther details can be found in the [migration\
        \ guide](https://docs.dynatrace.com/docs/discover-dynatrace/platform/openpipeline/migration-settings).\n\
        \nNOTE: Objects with builtin set to 'true' and pipeline definitions of type\
        \ 'classic' will be accepted but aren't saved."
      operationId: "updateConfigurationById"
      parameters:
      - description: "Identifier of the configuration."
        in: "path"
        name: "id"
        required: true
        schema:
          type: "string"
      requestBody:
        content:
          application/json; charset=utf-8:
            example:
              id: "events"
              editable: false
              version: "1719220519649-ff2897a62cf849b0baa95e71fa4d5f1f"
              updateToken: "NzgyMTVjYzAtOWYwNC0zZjQ1LWFmNzgtMWQ3OWZjNzdkYjMwX2E3YzZkN2QwLTdmMzctMTFlZi04MDAxLTAxMDAwMDAwMDAwMQ=="
              customBasePath: "/platform/ingest/custom/events"
              endpoints:
              - enabled: true
                builtin: false
                editable: false
                basePath: "/platform/ingest/custom/events"
                segment: "home"
                displayName: "Endpoint for home automation"
                defaultBucket: "home_automation_events"
                processors:
                - type: "fieldsRename"
                  enabled: false
                  editable: true
                  id: "hostname-field-normalizer"
                  description: "hostname field normalizer"
                  matcher: "isNotNull(\"hostname\")"
                  sampleData: "{\"hostname\": \"raspberry-pi 4\",\"ip\":\"10.0.0.123\"\
                    }"
                  fields:
                  - fromName: "hostname"
                    toName: "host.name"
                  - fromName: "ip"
                    toName: "ip.address"
                - type: "fieldsAdd"
                  enabled: false
                  editable: true
                  id: "add-source-field"
                  description: "Add source field"
                  matcher: "true"
                  sampleData: "{\"hostname\": \"raspberry-pi 4\",\"ip\":\"10.0.0.123\"\
                    }"
                  fields:
                  - name: "source"
                    value: "home-automation"
                routing:
                  type: "dynamic"
              - enabled: true
                builtin: true
                editable: false
                basePath: "/platform/ingest/v1/events"
                segment: ""
                source: "/platform/ingest/v1/events"
                displayName: "Default API"
                processors: []
                routing:
                  type: "dynamic"
              pipelines:
              - type: "default"
                enabled: true
                editable: false
                id: "home-automation"
                builtin: false
                displayName: "Home automation pipeline"
                storage:
                  editable: false
                  catchAllBucketName: "home_automation_events"
                  processors:
                  - type: "noStorage"
                    id: "don-not-store-debug-events"
                    description: "Do not store debugging events"
                    enabled: true
                    editable: false
                    matcher: "severity==\"debug\""
                    sampleData: "{}"
                  - type: "bucketAssignment"
                    enabled: true
                    editable: false
                    id: "bucket-assignment-security-relevent-events"
                    description: "Store security-relevant events in a dedicated bucket"
                    matcher: "type==\"security\""
                    sampleData: "{}"
                    bucketName: "home_automation_security_events"
                securityContext:
                  editable: false
                  processors:
                  - type: "securityContext"
                    id: "security-context"
                    description: "Mark security context for supervisors"
                    enabled: true
                    editable: false
                    matcher: "type==\"security\""
                    sampleData: "{}"
                    value:
                      type: "constant"
                      constant: "supervisors"
                metricExtraction:
                  editable: false
                  processors:
                  - type: "counterMetric"
                    id: "click-counter-metric"
                    description: "Counts the clicks on a button"
                    enabled: true
                    editable: true
                    matcher: "device.type==\"button\""
                    sampleData: "{}"
                    metricKey: "events.home.button.click"
                    dimensions:
                    - "device.name"
                    - "device.location"
                  - type: "valueMetric"
                    id: "temperature-value-metric"
                    description: "description"
                    enabled: true
                    editable: true
                    matcher: "device.type==\"temperature-sensor\""
                    sampleData: "{}"
                    metricKey: "events.home.temperature"
                    dimensions:
                    - "device.name"
                    - "device.location"
                    field: "temperature"
                dataExtraction:
                  editable: false
                  processors: []
                processing:
                  editable: false
                  processors: []
              - type: "default"
                enabled: true
                editable: false
                id: "default"
                builtin: true
                displayName: "events"
                storage:
                  editable: false
                  catchAllBucketName: "default_events"
                  processors: []
                securityContext:
                  editable: false
                  processors: []
                metricExtraction:
                  editable: false
                  processors: []
                dataExtraction:
                  editable: false
                  processors: []
                processing:
                  editable: false
                  processors: []
              routing:
                editable: false
                catchAllPipeline:
                  editable: false
                  pipelineId: "default"
                entries:
                - enabled: true
                  editable: false
                  builtin: false
                  pipelineId: "home-automation"
                  matcher: "source==\"home-automation\""
                  note: "Route all home automation events into a dedicated pipeline."
            schema:
              $ref: "#/components/schemas/Configuration"
        description: "The updated configuration to apply."
        required: true
      responses:
        "202":
          description: "Configuration change was accepted."
          headers:
            Deprecation:
              required: true
              schema:
                oneOf:
                - type: "boolean"
                - type: "string"
              style: "simple"
            Sunset:
              required: true
              schema:
                type: "string"
              style: "simple"
        "404":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 404
                  message: "Migration in-progress/completed, the requested resource\
                    \ is no longer available."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Migration in-progress/completed, the requested resource is\
            \ no longer available."
          headers:
            Deprecation:
              required: true
              schema:
                oneOf:
                - type: "boolean"
                - type: "string"
              style: "simple"
            Sunset:
              required: true
              schema:
                type: "string"
              style: "simple"
        "409":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 409
                  message: "Version conflict."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Version conflict. Check the description of 'updateToken' parameter\
            \ of request body for more details."
          headers:
            Deprecation:
              required: true
              schema:
                oneOf:
                - type: "boolean"
                - type: "string"
              style: "simple"
            Sunset:
              required: true
              schema:
                type: "string"
              style: "simple"
        "413":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 413
                  message: "Max payload size of 10485760 bytes exceeded."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Max payload size of 10 MiB exceeded."
          headers:
            Deprecation:
              required: true
              schema:
                oneOf:
                - type: "boolean"
                - type: "string"
              style: "simple"
            Sunset:
              required: true
              schema:
                type: "string"
              style: "simple"
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:write"
      - ssoBearerAuth: []
      summary: "Updates a configuration, replacing any pre-existing contents of the\
        \ configuration with the contents specified in the request body."
      tags:
      - "Configurations"
      x-only-visible-in-saas: true
  /dqlProcessor/autocomplete:
    post:
      operationId: "dqlProcessorAutocomplete"
      requestBody:
        content:
          application/json; charset=utf-8:
            example:
              cursorPosition: 5
              script: "parse"
            schema:
              $ref: "#/components/schemas/DQLProcessorAutocompleteRequest"
        description: "DQL processor script and position to create suggestions for."
        required: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              example:
                suggestions:
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " "
                - parts:
                  - suggestion: "parse"
                    type: "COMMAND_NAME"
                    info: "Parses a record field and puts the result(s) into one or\
                      \ more fields as specified in the pattern."
                    synopsis: "parse expression, pattern [, preserveFieldsOnFailure]\
                      \ [, parsingPrerequisite]"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 5
                  suggestion: "parse "
                optional: false
              schema:
                $ref: "#/components/schemas/AutocompleteResponse"
          description: "Returns the autocomplete suggestions for the DQL processor\
            \ script."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Returns autocompletion suggestions for the given DQL processor script."
      tags:
      - "DQL Processor"
      description: "**Required scope:** openpipeline:configurations:read"
  /dqlProcessor/verify:
    post:
      operationId: "dqlProcessorVerify"
      requestBody:
        content:
          application/json; charset=utf-8:
            example:
              script: "parse content, \"IPV4:ip LD HTTPDATE:time ']' LD:text\""
            schema:
              $ref: "#/components/schemas/DQLProcessorVerifyRequest"
        description: "Single DQL processor script to verify."
        required: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                Invalid DQL script:
                  description: "Invalid DQL script"
                  value:
                    valid: false
                    notifications:
                    - severity: "ERROR"
                      syntaxPosition:
                        start:
                          column: 1
                          index: 0
                          line: 1
                        end:
                          column: 6
                          index: 5
                          line: 1
                      message: "There's been an error during parsing: There's no command\
                        \ `parsee`."
                Valid DQL script:
                  description: "Valid DQL script"
                  value:
                    valid: true
                    notifications: []
              schema:
                $ref: "#/components/schemas/VerifyResponse"
          description: "Returns the verification result of the DQL processor script."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Verifies if the given DQL processor script is valid."
      tags:
      - "DQL Processor"
      description: "**Required scope:** openpipeline:configurations:read"
  /matcher/autocomplete:
    post:
      operationId: "matcherAutocomplete"
      requestBody:
        content:
          application/json; charset=utf-8:
            example:
              query: "match"
              cursorPosition: 5
            schema:
              $ref: "#/components/schemas/MatcherAutocompleteRequest"
        description: "Matcher and position to create suggestions for."
        required: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              example:
                suggestions:
                - parts:
                  - suggestion: ""
                    type: "SIMPLE_IDENTIFIER"
                    info: "some custom field"
                  alreadyTypedCharacters: 0
                  suggestion: ""
                - parts:
                  - suggestion: "matchesPhrase"
                    type: "FUNCTION_NAME"
                    info: "Matches a phrase against the input string expression using\
                      \ token matchers."
                    synopsis: "matchesPhrase(expression, phrase [, caseSensitive])"
                  - suggestion: "("
                    type: "PARENTHESIS_OPEN"
                  alreadyTypedCharacters: 5
                  suggestion: "matchesPhrase("
                - parts:
                  - suggestion: "matchesValue"
                    type: "FUNCTION_NAME"
                    info: "Matches a value against the input expression using token\
                      \ matchers."
                    synopsis: "matchesValue(expression, value [, caseSensitive])"
                  - suggestion: "("
                    type: "PARENTHESIS_OPEN"
                  alreadyTypedCharacters: 5
                  suggestion: "matchesValue("
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "*"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " * "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "/"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " / "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "%"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " % "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "+"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " + "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "-"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " - "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "=="
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " == "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "!="
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " != "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "<"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " < "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: ">"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " > "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "<="
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " <= "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: ">="
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " >= "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "and"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " and "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "xor"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " xor "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "or"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " or "
                - parts:
                  - suggestion: "|"
                    type: "PIPE"
                  alreadyTypedCharacters: 0
                  suggestion: "|"
                optional: true
              schema:
                $ref: "#/components/schemas/AutocompleteResponse"
          description: "Returns the autocomplete suggestions for the matcher."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Returns autocompletion suggestions for the given matcher."
      tags:
      - "Matcher"
      description: "**Required scope:** openpipeline:configurations:read"
  /matcher/lqlToDql:
    post:
      operationId: "matcherLqlToDql"
      requestBody:
        content:
          application/json; charset=utf-8:
            example:
              query: "log.source=\"snmptraps\" AND snmp.trap_oid=\"F5-BIGIP-COMMON-MIB\""
            schema:
              $ref: "#/components/schemas/MatcherRequest"
        description: "Valid LQL matcher for conversion."
        required: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              example:
                query: "matchesValue(log.source, \"snmptraps\") and matchesValue(snmp.trap_oid,\
                  \ \"F5-BIGIP-COMMON-MIB\")"
              schema:
                $ref: "#/components/schemas/MatcherRequest"
          description: "Returns the converted LQL matcher in DQL format."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Translates the given LQL matcher into a DQL matcher."
      tags:
      - "Matcher"
      description: "**Required scope:** openpipeline:configurations:read"
  /matcher/verify:
    post:
      operationId: "matcherVerify"
      requestBody:
        content:
          application/json; charset=utf-8:
            example:
              query: "matchesValue(type, \"security\")"
            schema:
              $ref: "#/components/schemas/MatcherVerifyRequest"
        description: "Single matcher to verify."
        required: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                Invalid matcher:
                  description: "Invalid matcher"
                  value:
                    valid: false
                    notifications:
                    - severity: "ERROR"
                      syntaxPosition:
                        start:
                          column: 1
                          index: 0
                          line: 1
                        end:
                          column: 6
                          index: 5
                          line: 1
                      message: "There's been an error during parsing: There's no command\
                        \ `parsee`."
                Valid matcher:
                  description: "Valid matcher"
                  value:
                    valid: true
                    notifications: []
              schema:
                $ref: "#/components/schemas/VerifyResponse"
          description: "Returns the verification result of the matcher."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Verifies if the given matcher is valid."
      tags:
      - "Matcher"
      description: "**Required scope:** openpipeline:configurations:read"
  /preview/processor:
    post:
      operationId: "previewSingle"
      requestBody:
        content:
          application/json; charset=utf-8:
            example:
              processor:
                type: "fieldsRename"
                enabled: false
                editable: true
                id: "hostname-field-normalizer"
                description: "hostname field normalizer"
                matcher: "isNotNull(\"hostname\")"
                sampleData: "{\"hostname\": \"raspberry-pi 4\",\"ip\":\"10.0.0.123\"\
                  }"
                fields:
                - fromName: "hostname"
                  toName: "host.name"
                - fromName: "ip"
                  toName: "ip.address"
            schema:
              $ref: "#/components/schemas/PreviewProcessorEnvelope"
        description: "The processor with sample-data to preview."
        required: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              example:
                results:
                - matched: true
                  record:
                    ip.address: "10.0.0.123"
                    host.name: "raspberry-pi 4"
                    timestamp: "2024-06-24T07:21:52.200000000Z"
              schema:
                $ref: "#/components/schemas/PreviewProcessorResult"
          description: "Preview result containing the processed sample data record."
        "408":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 408
                  message: "Preview run resulted in a timeout."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Preview run resulted in a timeout."
        "429":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 429
                  message: "Failed. Too many requests."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Too many concurrent preview requests."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Returns the preview result for a given processor and sample data."
      tags:
      - "Preview"
      x-only-visible-in-saas: true
      description: "**Required scope:** openpipeline:configurations:read"
  /technologies:
    get:
      operationId: "getAllTechnologies"
      parameters:
      - description: "Contains a configuration ID as a string to filter the technologies\
          \ by."
        in: "query"
        name: "configurationsFilter"
        schema:
          type: "string"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              example:
              - groupId: "ElasticSearch"
                technologies:
                - id: "elasticsearch_9430_v2"
                  name: "ElasticSearch Logs parser"
                  iconUrl: "/icons/elastic"
                  sampleData: "{}"
                  shortDescription: "ElasticSearch technology"
                  fullDescription: "ElasticSearch technology parsers"
                  tags:
                  - "slow"
                  - "log"
                  - "elastic"
                  matcher: "matchesValue(process.technology, \"elastic_search\") or\
                    \ matchesValue(process.technology, \"elasticsearch\")"
                  allowedConfigurations:
                  - "logs"
                  - "events.sdlc"
                  deprecated: false
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/TechnologyGroup"
          description: "List of available technology bundles grouped by a technology\
            \ group name."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Returns all technology bundles. | maturity=EARLY_ADOPTER"
      tags:
      - "Technology"
      x-maturity: "EARLY_ADOPTER"
      x-only-visible-in-saas: true
      description: "**Required scope:** openpipeline:configurations:read"
  /technologies/{id}/processors:
    get:
      operationId: "processorsForTechnologyId"
      parameters:
      - description: "The ID of a technology bundle."
        in: "path"
        name: "id"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              example:
              - type: "dql"
                enabled: true
                editable: false
                id: "es_slow_log"
                description: "ES Slow Log Index"
                matcher: "matchesPhrase(content, \"index.indexing.slowlog*\")"
                sampleData: "{}"
                dqlScript: "parse content, \"'[' TIMESTAMP('yyyy-MM-ddTHH:mm:ss,SSS'):timestamp\
                  \ ']' PUNCT?\nSPACE? '[' UPPER:loglevel SPACE* ']' PUNCT?\nSPACE?\
                  \ '[index.indexing.slowlog.' LD:'db.operation' ']' PUNCT?\nSPACE?\
                  \ '[' LD:'db.elasticsearch.node' ']' PUNCT?\n(SPACE? '{' LD '}')?\
                  \ //metadata, dt.trace_id\nSPACE? '[' LD?:'db.elasticsearch.index_name'\
                  \ ']' PUNCT?\nSPACE? 'took[' LD ']' PUNCT?\nSPACE? 'took_millis['\
                  \ INT:'db.elasticsearch.duration' ']' PUNCT?\nDATA\"\n"
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/ProcessingStageProcessor"
          description: "List of all processors within a specific technology bundle."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Returns all processors for a technology bundle. | maturity=EARLY_ADOPTER"
      tags:
      - "Technology"
      x-maturity: "EARLY_ADOPTER"
      x-only-visible-in-saas: true
      description: "**Required scope:** openpipeline:configurations:read"
components:
  schemas:
    AutocompleteResponse:
      type: "object"
      description: "The response of the autocomplete call."
      properties:
        optional:
          type: "boolean"
          description: "True if the suggestions are optional."
        suggestedTtlSeconds:
          type: "integer"
          format: "int32"
          description: "Suggested duration, in seconds, for how long the response\
            \ can be cached and reused by the client. It's derived from the volatility\
            \ of the suggestions on the server (such as if the suggestions are static,\
            \ how long the server will cache the volatile suggestions, etc.). If no\
            \ value is provided, the result might be cached for a long time. If the\
            \ value is lower than `1`, the result won't be cached."
        suggestions:
          type: "array"
          description: "The list of suggestions."
          items:
            $ref: "#/components/schemas/AutocompleteSuggestion"
      required:
      - "optional"
      - "suggestions"
    AutocompleteSuggestion:
      type: "object"
      description: "Single suggestion for completion of the query."
      properties:
        alreadyTypedCharacters:
          type: "integer"
          format: "int32"
          description: "Number of characters that the user already typed for this\
            \ suggestion."
        parts:
          type: "array"
          description: "List of suggestion parts."
          items:
            $ref: "#/components/schemas/AutocompleteSuggestionPart"
        suggestion:
          type: "string"
          description: "The suggested continuation of the input."
      required:
      - "alreadyTypedCharacters"
      - "parts"
      - "suggestion"
    AutocompleteSuggestionPart:
      type: "object"
      description: "Part of the suggestion."
      properties:
        info:
          type: "string"
          description: "The type of the suggestion."
        suggestion:
          type: "string"
          description: "The suggested continuation of the input."
        synopsis:
          type: "string"
          description: "The synopsis of the suggestion."
        type:
          type: "string"
          description: "The type of the autocomplete token."
          enum:
          - "ASSIGNMENT"
          - "BOOLEAN_FALSE"
          - "BOOLEAN_TRUE"
          - "BRACE_CLOSE"
          - "BRACE_OPEN"
          - "BRACKET_CLOSE"
          - "BRACKET_OPEN"
          - "COLON"
          - "COMMA"
          - "COMMAND_NAME"
          - "DATA_OBJECT"
          - "DOT"
          - "END_COMMENT"
          - "ENTITY_ATTRIBUTE"
          - "ENTITY_SELECTOR_PART"
          - "ENTITY_TYPE"
          - "FIELD_MODIFIER"
          - "FIELD_PATTERN"
          - "FUNCTION_NAME"
          - "INDENT"
          - "LINEBREAK"
          - "METRIC_KEY"
          - "NULL"
          - "NUMBER"
          - "OPERATOR"
          - "PARAMETER_KEY"
          - "PARAMETER_VALUE_SCOPE"
          - "PARENTHESIS_CLOSE"
          - "PARENTHESIS_OPEN"
          - "PARSE_PATTERN"
          - "PIPE"
          - "QUOTE"
          - "SIMPLE_IDENTIFIER"
          - "SINGLE_QUOTE"
          - "SLASH"
          - "SPACE"
          - "STRING"
          - "TIMESERIES_AGGREGATION"
          - "TIMESERIES_AGGREGATION_EXPRESSION"
          - "TIMESTAMP_VALUE"
          - "TIME_UNIT"
          - "TRAVERSAL_HOP_COUNT"
          - "TRAVERSAL_OPERATOR"
          - "TRAVERSAL_RELATION_NAME"
          - "UID_VALUE"
          - "VARIABLE"
      required:
      - "suggestion"
      - "type"
    AzureLogForwardingProcessor:
      type: "object"
      description: "Processor to extract a Azure log."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        fieldExtraction:
          $ref: "#/components/schemas/FieldsExtraction"
        forwarderConfigId:
          type: "string"
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "enabled"
      - "fieldExtraction"
      - "forwarderConfigId"
      - "id"
      - "matcher"
    BizeventExtractionProcessor:
      type: "object"
      description: "Processor to extract a bizevent.\nFields event.type and event.provider\
        \ can only be assigned to a constant or field value. A multi-value constant\
        \ is not supported for those fields."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        eventProvider:
          $ref: "#/components/schemas/ValueAssignment"
        eventType:
          $ref: "#/components/schemas/ValueAssignment"
        fieldExtraction:
          $ref: "#/components/schemas/FieldsExtraction"
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "enabled"
      - "eventProvider"
      - "fieldExtraction"
      - "id"
      - "matcher"
    BucketAssignmentProcessor:
      type: "object"
      description: "Processor to assign a bucket."
      properties:
        bucketName:
          type: "string"
          description: "Bucket that is assigned when the record is matched."
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "bucketName"
      - "description"
      - "enabled"
      - "id"
      - "matcher"
    BucketsSpecification:
      type: "object"
      description: "Contains information about allowed buckets for the configuration."
      properties:
        bucketTable:
          type: "string"
          description: "The bucket table containing the allowed buckets for the configuration."
        defaultBucket:
          type: "string"
          description: "The default bucket that will be used to store records if nothing\
            \ else is defined in the processing rules."
      required:
      - "bucketTable"
      - "defaultBucket"
    ClassicPipelineDefinition:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/PipelineDefinition"
      - type: "object"
        properties:
          processing:
            $ref: "#/components/schemas/ClassicProcessingStage"
          settingsSchema:
            type: "string"
            description: "The settings-schema identifier related to the processing\
              \ of the classic pipeline."
      description: "Definition of a classic pipeline which are configured via settings\
        \ 2.0.\nThis only applies to the logs and bizevents configuration."
      required:
      - "enabled"
      - "id"
      - "settingsSchema"
    ClassicProcessingStage:
      type: "object"
      description: "Processing stage configuration of the pipeline."
      properties:
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        processors:
          type: "array"
          description: "List of processors."
          items:
            $ref: "#/components/schemas/ClassicProcessingStageProcessor"
      required:
      - "processors"
    ClassicProcessingStageProcessor:
      type: "object"
      description: "Groups all processors applicable for the ClassicProcessingStage.\n\
        Applicable processor is SxqlProcessor."
      oneOf:
      - $ref: "#/components/schemas/SxqlProcessor"
      required:
      - "description"
      - "enabled"
      - "id"
      - "matcher"
    Configuration:
      type: "object"
      description: "Full configuration containing ingest sources, pipelines, and dynamic\
        \ routing."
      properties:
        customBasePath:
          type: "string"
          description: "The base path for custom ingest endpoints."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        endpoints:
          type: "array"
          description: "List of all ingest sources of the configuration."
          items:
            $ref: "#/components/schemas/EndpointDefinition"
        id:
          type: "string"
          description: "Identifier of the configuration."
        pipelines:
          type: "array"
          description: "List of all pipelines of the configuration."
          items:
            $ref: "#/components/schemas/PipelineDefinition"
        routing:
          $ref: "#/components/schemas/RoutingTable"
        updateToken:
          type: "string"
          description: "The update token of the configuration. You can use it to detect\
            \ simultaneous modifications done by different users.\nIt's generated\
            \ upon retrieval (GET requests). If set on update (PUT request), the update\
            \ will be allowed only if there wasn't any change between the retrieval\
            \ and the update.\nIf omitted on update, the operation overrides the current\
            \ value without any checks."
        version:
          type: "string"
          description: "The current version of the configuration."
      required:
      - "customBasePath"
      - "endpoints"
      - "id"
      - "pipelines"
      - "routing"
      - "version"
    ConfigurationListItem:
      type: "object"
      description: "Basic information about a configuration."
      properties:
        definition:
          $ref: "#/components/schemas/ConfigurationSpecification"
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        id:
          type: "string"
          description: "Identifier of the configuration."
      required:
      - "id"
    ConfigurationSpecification:
      type: "object"
      description: "Provides additional information about the configuration."
      properties:
        bucketsSpecification:
          $ref: "#/components/schemas/BucketsSpecification"
        catchAllPipeline:
          type: "string"
          description: "The default pipeline records are routed into if no dynamic\
            \ routing entries apply."
        endpointsSpecification:
          $ref: "#/components/schemas/EndpointsSpecification"
        forwardingSpecification:
          $ref: "#/components/schemas/ForwardingSpecification"
        metricKeyPrefix:
          type: "string"
          description: "The key prefix that will be set when a metric for this configuration\
            \ is extracted."
        pipelinesSpecification:
          $ref: "#/components/schemas/PipelinesSpecification"
      required:
      - "bucketsSpecification"
      - "catchAllPipeline"
      - "endpointsSpecification"
      - "metricKeyPrefix"
      - "pipelinesSpecification"
    ConstantMultiValueAssignment:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ValueAssignment"
      - type: "object"
        properties:
          multiValueConstant:
            type: "array"
            description: "The constant multi value to assign."
            items:
              type: "string"
              description: "The constant multi value to assign."
      description: "Assign a multi-value constant."
      required:
      - "multiValueConstant"
    ConstantValueAssignment:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ValueAssignment"
      - type: "object"
        properties:
          constant:
            type: "string"
            description: "The constant value to assign."
      description: "Assign a constant value."
      required:
      - "constant"
    ConstraintViolation:
      type: "object"
      description: "Information about a single constraint violation."
      properties:
        context:
          type: "object"
          additionalProperties:
            type: "string"
            description: "Structured context of the constraint violation.\nWell known\
              \ keys that **can** be present are:\n* `reason` -> Additional reasoning\
              \ behind the occurred violation.\n* `pipeline` -> Pipeline related to\
              \ the violation.\n* `endpoint` -> Endpoint related to the violation.\n\
              * `stage` -> Stage related to the violation.\n* `processor` -> Processor\
              \ related to the violation.\n* `routingRule` -> Routing rule related\
              \ to the violation.\n"
          description: "Structured context of the constraint violation.\nWell known\
            \ keys that **can** be present are:\n* `reason` -> Additional reasoning\
            \ behind the occurred violation.\n* `pipeline` -> Pipeline related to\
            \ the violation.\n* `endpoint` -> Endpoint related to the violation.\n\
            * `stage` -> Stage related to the violation.\n* `processor` -> Processor\
            \ related to the violation.\n* `routingRule` -> Routing rule related to\
            \ the violation.\n"
        message:
          type: "string"
          description: "Description of the constraint violation."
      required:
      - "message"
    ConstraintViolationDetails:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ErrorResponseDetails"
      - type: "object"
        properties:
          constraintViolations:
            type: "array"
            description: "List of encountered constraint violations."
            items:
              $ref: "#/components/schemas/ConstraintViolation"
      description: "List of encountered constraint violations."
      required:
      - "constraintViolations"
    CostAllocationProcessor:
      type: "object"
      description: "Processor to set the cost allocation field."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
        value:
          $ref: "#/components/schemas/ValueAssignment"
      required:
      - "description"
      - "enabled"
      - "id"
      - "matcher"
      - "value"
    CostAllocationStage:
      type: "object"
      description: "Cost Allocation stage configuration of the pipeline."
      properties:
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        processors:
          type: "array"
          description: "List of processors."
          items:
            $ref: "#/components/schemas/CostAllocationStageProcessor"
      required:
      - "processors"
    CostAllocationStageProcessor:
      type: "object"
      description: "Groups all processors applicable for the CostAllocationStageProcessor.\n\
        Applicable processor is CostAllocationProcessor."
      oneOf:
      - $ref: "#/components/schemas/CostAllocationProcessor"
      required:
      - "description"
      - "enabled"
      - "id"
      - "matcher"
    CounterMetricExtractionProcessor:
      type: "object"
      description: "Processor to write the occurrences as a metric."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        dimensions:
          type: "array"
          description: "List of unique dimensions to add to the metric. Dimensions\
            \ are represented in the format `({dimensionName}=)?{sourceField}`. `{dimensionName}`\
            \ is optional if `{sourceField}` represents a valid metric dimension name.\
            \ `{sourceField}` has to represent a valid DQL field accessor and it can\
            \ access a nested field (for example, `field[field2][0]`)."
          items:
            type: "string"
            description: "List of unique dimensions to add to the metric. Dimensions\
              \ are represented in the format `({dimensionName}=)?{sourceField}`.\
              \ `{dimensionName}` is optional if `{sourceField}` represents a valid\
              \ metric dimension name. `{sourceField}` has to represent a valid DQL\
              \ field accessor and it can access a nested field (for example, `field[field2][0]`)."
            pattern: "^(([a-zA-Z_][.a-zA-Z0-9_\\-:]+)=)?(([.a-zA-Z0-9_]*|`.*`|[\\\
              [\\]])+)$"
          pattern: "^(([a-zA-Z_][.a-zA-Z0-9_\\-:]+)=)?(([.a-zA-Z0-9_]*|`.*`|[\\[\\\
            ]])+)$"
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        metricKey:
          type: "string"
          description: "The key of the metric to write."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "enabled"
      - "id"
      - "matcher"
      - "metricKey"
    DQLProcessorAutocompleteRequest:
      type: "object"
      properties:
        configurationId:
          type: "string"
          description: "Identifier of the configuration"
        cursorPosition:
          type: "integer"
          format: "int32"
          description: "The position of the cursor inside the script."
        protectedFields:
          type: "array"
          description: "List of protected fields"
          items:
            type: "string"
            description: "List of protected fields"
        script:
          type: "string"
          description: "The current (in-)complete DQL script."
    DQLProcessorVerifyRequest:
      type: "object"
      properties:
        configurationId:
          type: "string"
          description: "Identifier of the configuration."
        protectedFields:
          type: "array"
          description: "List of protected fields"
          items:
            type: "string"
            description: "List of protected fields"
        script:
          type: "string"
          description: "The unverified DQL script."
    DataExtractionStage:
      type: "object"
      description: "Data extraction stage configuration of the pipeline."
      properties:
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        processors:
          type: "array"
          description: "List of processors."
          items:
            $ref: "#/components/schemas/DataExtractionStageProcessor"
      required:
      - "processors"
    DataExtractionStageProcessor:
      type: "object"
      description: "Groups all processors applicable for the DataExtractionStage.\n\
        Applicable processors are DavisEventExtractionProcessor, BizeventExtractionProcessor,\
        \ and SecurityEventExtractionProcessor."
      oneOf:
      - $ref: "#/components/schemas/DavisEventExtractionProcessor"
      - $ref: "#/components/schemas/BizeventExtractionProcessor"
      - $ref: "#/components/schemas/SdlcEventExtractionProcessor"
      - $ref: "#/components/schemas/AzureLogForwardingProcessor"
      - $ref: "#/components/schemas/SecurityEventExtractionProcessor"
      required:
      - "description"
      - "enabled"
      - "id"
      - "matcher"
    DavisEventExtractionProcessor:
      type: "object"
      description: "Processor to extract a davis event."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        properties:
          type: "array"
          description: "List of properties for the extracted davis event."
          items:
            $ref: "#/components/schemas/DavisEventProperty"
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "enabled"
      - "id"
      - "matcher"
      - "properties"
    DavisEventProperty:
      type: "object"
      description: "List of properties for the extracted davis event."
      properties:
        key:
          type: "string"
          description: "The key to set on the davis event."
        value:
          type: "string"
          description: "The value assigned to the key."
      required:
      - "key"
      - "value"
    DefaultPipelineDefinition:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/PipelineDefinition"
      - type: "object"
        properties:
          processing:
            $ref: "#/components/schemas/ProcessingStage"
      description: "Definition of a single default pipeline."
      required:
      - "enabled"
      - "id"
    DqlProcessor:
      type: "object"
      description: "Processor to apply a DQL script."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        dqlScript:
          type: "string"
          description: "The DQL script to apply on the record."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "dqlScript"
      - "enabled"
      - "id"
      - "matcher"
    DropProcessor:
      type: "object"
      description: "Processor to drop the record either during the processing stage\
        \ or at the endpoint."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "enabled"
      - "id"
      - "matcher"
    DynamicRouting:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/Routing"
      description: "Records are routed via the dynamic routes."
    EndpointDefinition:
      type: "object"
      description: "Definition of a single ingest source."
      properties:
        basePath:
          type: "string"
          description: "The base path of the ingest source."
        builtin:
          type: "boolean"
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        defaultBucket:
          type: "string"
          description: "The default bucket assigned to records for the ingest source."
        displayName:
          type: "string"
          description: "Display name of the ingest source."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        processors:
          type: "array"
          description: "The pre-processing done in the ingest source."
          items:
            $ref: "#/components/schemas/PreProcessingStageProcessor"
        routing:
          $ref: "#/components/schemas/Routing"
        segment:
          type: "string"
          description: "The segment of the ingest source, which is applied to the\
            \ base path.\nMust be unique within a configuration."
        source:
          type: "string"
          description: "The ingest source value assigned to records. It is only present\
            \ for Dynatrace provided objects."
      required:
      - "basePath"
      - "enabled"
      - "routing"
      - "segment"
    EndpointsSpecification:
      type: "object"
      description: "Contains information about allowed endpoints for the configuration\
        \ scope."
      properties:
        customBasePath:
          type: "string"
          description: "The base path for custom ingest endpoints."
        customEndpoints:
          type: "boolean"
          description: "Indicates whether custom endpoints can be created for the\
            \ configuration."
    ErrorResponse:
      type: "object"
      description: "Basic information of the encountered error."
      properties:
        code:
          type: "integer"
          format: "int32"
          description: "The returned HTTP status code."
        details:
          $ref: "#/components/schemas/ErrorResponseDetails"
        message:
          type: "string"
          description: "Description of the encountered error."
      required:
      - "code"
      - "message"
    ErrorResponseDetails:
      type: "object"
      description: "Detailed information of the error."
      discriminator:
        mapping:
          constraintViolation: "#/components/schemas/ConstraintViolationDetails"
        propertyName: "type"
      properties:
        type:
          type: "string"
          description: "Defines the actual set of fields depending on the value. See\
            \ one of the following objects: \n\n* `constraintViolation` -> ConstraintViolationDetails\
            \ \n"
          enum:
          - "constraintViolation"
      required:
      - "type"
    ErrorResponseEnvelope:
      type: "object"
      description: "Encloses the encountered error."
      properties:
        error:
          $ref: "#/components/schemas/ErrorResponse"
      required:
      - "error"
    FieldValueAssignment:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ValueAssignment"
      - type: "object"
        properties:
          field:
            type: "string"
            description: "The field on the record to extract the value for assignment."
      description: "Assign a value extracted from a field."
      required:
      - "field"
    FieldsAddItem:
      type: "object"
      description: "List of fields to add to the record."
      properties:
        name:
          type: "string"
          description: "Name of the field."
        value:
          type: "string"
          description: "Value to assign to the field."
      required:
      - "name"
      - "value"
    FieldsAddProcessor:
      type: "object"
      description: "Processor to add fields."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        fields:
          type: "array"
          description: "List of fields to add to the record."
          items:
            $ref: "#/components/schemas/FieldsAddItem"
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "enabled"
      - "fields"
      - "id"
      - "matcher"
    FieldsExtraction:
      type: "object"
      description: "Definition of the field extraction."
      properties:
        fields:
          type: "array"
          description: "Unique fields to include/exclude in the extracted record."
          items:
            type: "string"
            description: "Unique fields to include/exclude in the extracted record."
        semantic:
          type: "string"
          description: "Defines how the fields of the source record should be extracted.\n\
            INCLUDE: Only the specified fields are extracted.\nINCLUDE_ALL: All fields\
            \ are extracted.\nEXCLUDE: All fields except the specified fields are\
            \ extracted."
          enum:
          - "EXCLUDE"
          - "INCLUDE"
          - "INCLUDE_ALL"
      required:
      - "fields"
      - "semantic"
    FieldsRemoveProcessor:
      type: "object"
      description: "Processor to remove fields."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        fields:
          type: "array"
          description: "List of unique fields to remove from the record."
          items:
            type: "string"
            description: "List of unique fields to remove from the record."
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "enabled"
      - "fields"
      - "id"
      - "matcher"
    FieldsRenameItem:
      type: "object"
      description: "List of fields to rename on the record."
      properties:
        fromName:
          type: "string"
          description: "The field to rename."
        toName:
          type: "string"
          description: "The new field name."
      required:
      - "fromName"
      - "toName"
    FieldsRenameProcessor:
      type: "object"
      description: "Processor to rename fields."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        fields:
          type: "array"
          description: "List of fields to rename on the record."
          items:
            $ref: "#/components/schemas/FieldsRenameItem"
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "enabled"
      - "fields"
      - "id"
      - "matcher"
    ForwardingSpecification:
      type: "object"
      description: "Contains information about allowed processors, grouped by stages,\
        \ for the forwarding."
      properties:
        availableHypervisors:
          type: "array"
          description: "Contains information about the available hypervisors to which\
            \ data can be forwarded."
          items:
            type: "string"
            description: "Contains information about the available hypervisors to\
              \ which data can be forwarded."
          uniqueItems: true
        processingStages:
          type: "object"
          additionalProperties:
            type: "array"
            description: "Contains information about allowed processors per stage\
              \ for the forwarding."
            items:
              type: "string"
              description: "Contains information about allowed processors per stage\
                \ for the forwarding."
            uniqueItems: true
          description: "Contains information about allowed processors per stage for\
            \ the forwarding."
    GeoLookupProcessor:
      type: "object"
      description: "Processor to perform geo IP lookup."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        geoFieldPrefix:
          type: "string"
          description: "Optional prefix for geo output fields."
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        ipFieldKey:
          type: "string"
          description: "The record field that contains the IP address to look up."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        outputFields:
          type: "array"
          description: "List of output fields to populate from the geo lookup."
          items:
            type: "string"
            description: "List of output fields to populate from the geo lookup."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "enabled"
      - "id"
      - "ipFieldKey"
      - "matcher"
    InlineLookupEntry:
      type: "object"
      description: "A single inline lookup entry mapping keys to a value."
      properties:
        keys:
          type: "array"
          description: "The keys that map to the value."
          items:
            type: "string"
            description: "The keys that map to the value."
        value:
          type: "string"
          description: "The value to return when a key matches."
    InlineLookupProcessor:
      type: "object"
      description: "Processor to perform inline key-value lookup."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        defaultValue:
          type: "string"
          description: "Value to use when no lookup entry matches the source field."
        description:
          type: "string"
          description: "Name or description of the processor."
        destinationField:
          type: "string"
          description: "The record field to write the lookup result to."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        entries:
          type: "array"
          description: "List of inline lookup entries mapping keys to values."
          items:
            $ref: "#/components/schemas/InlineLookupEntry"
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
        sourceField:
          type: "string"
          description: "The record field to use as the lookup key."
      required:
      - "description"
      - "destinationField"
      - "enabled"
      - "id"
      - "matcher"
      - "sourceField"
    MatcherAutocompleteRequest:
      type: "object"
      properties:
        cursorPosition:
          type: "integer"
          format: "int32"
          description: "The position of the cursor inside the query."
        query:
          type: "string"
          description: "The current (in-)complete matcher query."
    MatcherRequest:
      type: "object"
      properties:
        query:
          type: "string"
          description: "The matcher query to process."
    MatcherVerifyRequest:
      type: "object"
      properties:
        configurationId:
          type: "string"
          description: "Identifier of the configuration in which the validity of the\
            \ matcher query should be verified."
        context:
          type: "string"
          description: "Context in which the validity of the matcher query should\
            \ be verified. Takes the stage identifier, for example \"processing\"\
            \ or \"ROUTING_RULE\" for routing entries."
        query:
          type: "string"
          description: "The matcher query to process."
        restrictedFields:
          type: "array"
          description: "Defined restricted fields against which the matcher should\
            \ be verified."
          items:
            type: "string"
            description: "Defined restricted fields against which the matcher should\
              \ be verified."
    MetadataNotification:
      type: "object"
      description: "The message that provides additional information about the execution\
        \ of the input string."
      properties:
        arguments:
          type: "array"
          description: "The arguments for the message format."
          items:
            type: "string"
            description: "The arguments for the message format."
        message:
          type: "string"
          description: "The complete message of the notification."
        messageFormat:
          type: "string"
          description: "The message format of the notification, string.format based"
        messageFormatSpecifierTypes:
          type: "array"
          description: "The corresponding types for each format specifier used in\
            \ the error message format."
          items:
            type: "string"
            description: "The corresponding types for each format specifier used in\
              \ the error message format."
        notificationType:
          type: "string"
          description: "The notification type."
        severity:
          type: "string"
          description: "The severity of the notification, currently: INFO, WARN, ERROR."
        syntaxPosition:
          $ref: "#/components/schemas/TokenPosition"
    MetricExtractionStage:
      type: "object"
      description: "Metric extraction stage configuration of the pipeline."
      properties:
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        processors:
          type: "array"
          description: "List of processors."
          items:
            $ref: "#/components/schemas/MetricExtractionStageProcessor"
      required:
      - "processors"
    MetricExtractionStageProcessor:
      type: "object"
      description: "Groups all processors applicable for the MetricExtractionStage.\n\
        Applicable processors are CounterMetricExtractionProcessor, ValueMetricExtractionProcessor,\
        \ SamplingAwareCounterMetricExtractionProcessor, and, SamplingAwareValueMetricExtractionProcessor."
      oneOf:
      - $ref: "#/components/schemas/CounterMetricExtractionProcessor"
      - $ref: "#/components/schemas/ValueMetricExtractionProcessor"
      - $ref: "#/components/schemas/SamplingAwareCounterMetricExtractionProcessor"
      - $ref: "#/components/schemas/SamplingAwareValueMetricExtractionProcessor"
      required:
      - "description"
      - "enabled"
      - "id"
      - "matcher"
    NoStorageProcessor:
      type: "object"
      description: "Processor to skip storage assignment."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "enabled"
      - "id"
      - "matcher"
    PipelineDefinition:
      type: "object"
      description: "Definition of a single pipeline, either 'default' or 'classic'."
      discriminator:
        mapping:
          classic: "#/components/schemas/ClassicPipelineDefinition"
          default: "#/components/schemas/DefaultPipelineDefinition"
[...]
