openapi: "3.0.3"
info:
  version: "1.20.1"
  title: "Platform Deobfuscation Service Public API"
  description: "Provides access to stack traces of events stored in Grail."
servers:
- url: "https://asn8731h.sprint.apps.dynatracelabs.com/platform/rum/deobfuscation/v1"
  x-api-gateway-url: "/platform/rum/deobfuscation/v1"
paths:
  /stacktraces/{eventId}:
    get:
      summary: "Returns the stack trace of a given event."
      description: "**All the following scopes are required:**\n+ storage:buckets:read\n\
        + storage:user.events:read\n\n<br/><br/>Returns the stack trace of an event\
        \ stored in the `user.events` table, identified by its ID and start time properties.\n\
        \nOnly stack traces stored as event's `exception.stack_trace` property value\
        \ can be returned.\n\nA requested stack trace is de-obfuscated/symbolicated\
        \ based on the availability of appropriate symbol/mapping\nfile(s) in the\
        \ symbol/mapping file storage.\n"
      operationId: "getStackTrace"
      tags:
      - "Deobfuscation"
      security:
      - ssoAuth:
        - "storage:buckets:read"
        - "storage:user.events:read"
      - ssoBearerAuth: []
      parameters:
      - name: "eventId"
        in: "path"
        description: "ID of the event (its `id` property value)."
        example: "357bf70f3c617cb34584b31bd4616af8"
        required: true
        schema:
          type: "string"
      - name: "eventTime"
        in: "query"
        description: "Start time of the event (its `start_time` property value)."
        example: "2023-10-02T11:20:11.000000000Z"
        required: true
        schema:
          type: "string"
          format: "date-time"
      responses:
        "200":
          description: "Successful operation that returns a stack trace response."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StackTraceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
  /symbol-files/quota:
    get:
      summary: "Returns symbol file storage quota information."
      description: "**Required scope:** deobfuscation:symbol-files:read<br/><br/>Retrieves\
        \ the current storage quota information for symbol files, including total\
        \ storage quota,\nused storage, available storage, and the number of stored\
        \ files.\n\nAll size values are returned as strings holding the number of\
        \ bytes.\n"
      operationId: "getQuota"
      tags:
      - "Symbol Files Management"
      security:
      - ssoAuth:
        - "deobfuscation:symbol-files:read"
      - ssoBearerAuth: []
      responses:
        "200":
          description: "Successful operation that returns storage quota information."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageQuota"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
  /symbol-files/rn:
    get:
      summary: "Returns a paginated list of React Native symbol files."
      description: "**Required scope:** deobfuscation:symbol-files:read<br/><br/>Returns\
        \ a paginated list of React Native source mapping files stored in the symbol\
        \ file storage.\nUse `nextPageKey` from a previous response to retrieve the\
        \ next page of results.\n"
      operationId: "getRnSymbolFile"
      tags:
      - "Symbol Files Management"
      security:
      - ssoAuth:
        - "deobfuscation:symbol-files:read"
      - ssoBearerAuth: []
      parameters:
      - name: "nextPageKey"
        in: "query"
        required: false
        description: "The cursor for the next page of results, obtained from the `nextPageKey`\
          \ field of a\nprevious response. Omit on the first request.\n\n**Mutually\
          \ exclusive with `pageSize`:** when `nextPageKey` is provided, `pageSize`\n\
          must NOT be set. The page size chosen on the initial request is preserved\
          \ across\nthe cursor walk.\n"
        schema:
          type: "string"
      - name: "pageSize"
        in: "query"
        required: false
        description: "The number of results per page. Defaults to 50 if not specified.\n\
          \n**Mutually exclusive with `nextPageKey`:** only set `pageSize` on the\
          \ first\n(uncursored) request. When paging through results using `nextPageKey`,\
          \ this\nparameter must NOT be provided.\n"
        example: 1
        schema:
          type: "integer"
          minimum: 1
          maximum: 100
      responses:
        "200":
          description: "Successful operation that returns a paginated list of React\
            \ Native symbol files."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedRnSymbolFiles"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
  /symbol-files/js:
    get:
      summary: "Returns a paginated list of JavaScript mapping files."
      description: "**Required scope:** deobfuscation:symbol-files:read<br/><br/>Returns\
        \ a paginated list of JavaScript source mapping files stored in the symbol\
        \ file storage.\nUse `nextPageKey` from a previous response to retrieve the\
        \ next page of results.\n"
      operationId: "getJsMappingFiles"
      tags:
      - "Symbol Files Management"
      security:
      - ssoAuth:
        - "deobfuscation:symbol-files:read"
      - ssoBearerAuth: []
      parameters:
      - name: "nextPageKey"
        in: "query"
        required: false
        description: "The cursor for the next page of results, obtained from the `nextPageKey`\
          \ field of a\nprevious response. Omit on the first request.\n\n**Mutually\
          \ exclusive with `pageSize`:** when `nextPageKey` is provided, `pageSize`\n\
          must NOT be set. The page size chosen on the initial request is preserved\
          \ across\nthe cursor walk.\n"
        schema:
          type: "string"
      - name: "pageSize"
        in: "query"
        required: false
        description: "The number of results per page. Defaults to 50 if not specified.\n\
          \n**Mutually exclusive with `nextPageKey`:** only set `pageSize` on the\
          \ first\n(uncursored) request. When paging through results using `nextPageKey`,\
          \ this\nparameter must NOT be provided.\n"
        example: 1
        schema:
          type: "integer"
          minimum: 1
          maximum: 100
      responses:
        "200":
          description: "Successful operation that returns a paginated list of JavaScript\
            \ mapping files."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedJsMappingFiles"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
  /symbol-files/mobile:
    get:
      summary: "Returns a list of mobile symbol files."
      description: "**Required scope:** deobfuscation:symbol-files:read<br/><br/>Returns\
        \ the list of mobile symbol files (Android, iOS and tvOS)\nstored in the symbol\
        \ file storage. This endpoint doesn't currently support pagination\nand returns\
        \ all entries available for the tenant.\n"
      operationId: "getMobileSymbolFiles"
      tags:
      - "Symbol Files Management"
      security:
      - ssoAuth:
        - "deobfuscation:symbol-files:read"
      - ssoBearerAuth: []
      responses:
        "200":
          description: "Successful operation that returns a list of mobile symbol\
            \ files."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileSymbolFiles"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
  /symbol-files/mobile/dtxdss-download:
    get:
      summary: "Returns the DSS client download URL."
      description: "**Required scope:** deobfuscation:symbol-files:read<br/><br/>Returns\
        \ the Dynatrace Symbol Service (DSS) client download URL for use with mobile\n\
        symbol file management.\n"
      operationId: "getDtxdssDownloadUrl"
      tags:
      - "Symbol Files Management"
      security:
      - ssoAuth:
        - "deobfuscation:symbol-files:read"
      - ssoBearerAuth: []
      responses:
        "200":
          description: "Successful operation that returns the DSS client download\
            \ URL."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DssClientUrl"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
  /symbol-files/rn/{dtRumAppId}/{bundleName}/{platform}/{fileName}/{bundleVersion}:
    put:
      summary: "Uploads a React Native mapping file."
      description: "**Required scope:** deobfuscation:symbol-files:write<br/><br/>Uploads\
        \ a React Native source mapping file (`.map`) to the symbol file storage.\n\
        \nThe mapping file is associated with a specific RUM application, JavaScript\
        \ bundle, platform,\nbundle file name and bundle version. The uploaded file\
        \ must have a `.map` extension.\n"
      operationId: "uploadRnSymbolFile"
      tags:
      - "Symbol Files Management"
      security:
      - ssoAuth:
        - "deobfuscation:symbol-files:write"
      - ssoBearerAuth: []
      parameters:
      - name: "dtRumAppId"
        in: "path"
        description: "RUM application identifier the bundle belongs to."
        example: "632712bf-7135-4ff1-a7b2-63088f71c166"
        required: true
        schema:
          type: "string"
      - name: "bundleName"
        in: "path"
        description: "Name of the React Native bundle."
        example: "index"
        required: true
        schema:
          type: "string"
      - name: "platform"
        in: "path"
        description: "Platform the bundle is built for."
        required: true
        schema:
          type: "string"
          enum:
          - "IOS"
          - "ANDROID"
      - name: "fileName"
        in: "path"
        description: "Name of the bundle file the mapping refers to (without extension)."
        example: "main.jsbundle"
        required: true
        schema:
          type: "string"
      - name: "bundleVersion"
        in: "path"
        description: "Version of the React Native bundle."
        example: "1.0.0"
        required: true
        schema:
          type: "string"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: "object"
              required:
              - "file"
              properties:
                file:
                  type: "string"
                  format: "binary"
                  description: "The React Native mapping file content (`.map` file).\
                    \ Maximum allowed size is 100 MB."
      responses:
        "200":
          description: "Symbol file uploaded successfully."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "413":
          $ref: "#/components/responses/ContentTooLarge"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
    delete:
      summary: "Deletes a React Native mapping file."
      description: "**Required scope:** deobfuscation:symbol-files:delete<br/><br/>Deletes\
        \ a React Native source mapping file from the symbol file storage. The file\
        \ is\nidentified by the combination of RUM application id, bundle name, platform,\
        \ bundle file\nname, and bundle version.\n"
      operationId: "deleteRnSymbolFile"
      tags:
      - "Symbol Files Management"
      security:
      - ssoAuth:
        - "deobfuscation:symbol-files:delete"
      - ssoBearerAuth: []
      parameters:
      - name: "dtRumAppId"
        in: "path"
        description: "RUM application identifier the bundle belongs to."
        example: "632712bf-7135-4ff1-a7b2-63088f71c166"
        required: true
        schema:
          type: "string"
      - name: "bundleName"
        in: "path"
        description: "Name of the React Native bundle."
        example: "index"
        required: true
        schema:
          type: "string"
      - name: "platform"
        in: "path"
        description: "Platform the bundle is built for."
        required: true
        schema:
          type: "string"
          enum:
          - "IOS"
          - "ANDROID"
      - name: "fileName"
        in: "path"
        description: "Name of the bundle file the mapping refers to."
        example: "main.jsbundle"
        required: true
        schema:
          type: "string"
      - name: "bundleVersion"
        in: "path"
        description: "Version of the React Native bundle."
        example: "1.0.0"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "Symbol file deleted successfully."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
  /symbol-files/js/{fileType}:
    put:
      summary: "Uploads a JavaScript source mapping file."
      description: "**Required scope:** deobfuscation:symbol-files:write<br/><br/>Uploads\
        \ a JavaScript source mapping file to the symbol file storage. The mapping\
        \ file is\nassociated with the JavaScript file identified by the `minifiedJsFileUrl`\
        \ query parameter.\n\nAccepted file extensions depend on `fileType`:\n  *\
        \ `MINIFIED`: `.js`\n  * `SOURCE`: `.js` or `.zip`\n  * `SOURCEMAP`: `.map`\n"
      operationId: "uploadJsSymbolFile"
      tags:
      - "Symbol Files Management"
      security:
      - ssoAuth:
        - "deobfuscation:symbol-files:write"
      - ssoBearerAuth: []
      parameters:
      - name: "fileType"
        in: "path"
        description: "Type of the JavaScript file the mapping belongs to."
        required: true
        schema:
          type: "string"
          enum:
          - "MINIFIED"
          - "SOURCE"
          - "SOURCEMAP"
      - name: "minifiedJsFileUrl"
        in: "query"
        description: "URL of the minified JavaScript file this source mapping file\
          \ belongs to."
        example: "https://easytravel-ang.lab.dynatrace.org/main-es2015.f81ac6e76943cfef85ca.js"
        required: true
        schema:
          type: "string"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: "object"
              required:
              - "file"
              properties:
                file:
                  type: "string"
                  format: "binary"
                  description: "The JavaScript source mapping file content. Maximum\
                    \ allowed size is 100 MB."
      responses:
        "200":
          description: "Symbol file uploaded successfully."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "413":
          $ref: "#/components/responses/ContentTooLarge"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
    delete:
      summary: "Deletes a JavaScript mapping file."
      description: "**Required scope:** deobfuscation:symbol-files:delete<br/><br/>Deletes\
        \ a JavaScript source mapping file from the symbol file storage,\nidentified\
        \ by the file type and the URL of the minified JavaScript file.\n"
      operationId: "deleteJsSymbolFile"
      tags:
      - "Symbol Files Management"
      security:
      - ssoAuth:
        - "deobfuscation:symbol-files:delete"
      - ssoBearerAuth: []
      parameters:
      - name: "fileType"
        in: "path"
        description: "Type of the JavaScript file the mapping belongs to."
        required: true
        schema:
          type: "string"
          enum:
          - "MINIFIED"
          - "SOURCE"
          - "SOURCEMAP"
      - name: "minifiedJsFileUrl"
        in: "query"
        description: "URL of the minified JavaScript file whose mapping should be\
          \ deleted."
        example: "https://easytravel-ang.lab.dynatrace.org/main-es2015.f81ac6e76943cfef85ca.js"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "Symbol file deleted successfully."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
  /symbol-files/mobile/{platform}/{dtRumAppId}/{packageName}/{versionCode}/{versionName}:
    put:
      summary: "Uploads a mobile symbol file."
      description: "**Required scope:** deobfuscation:symbol-files:write<br/><br/>Uploads\
        \ a mobile symbol file to the symbol file storage.\n\nAccepted content types\
        \ depend on the platform:\n  * `ANDROID`: as `text/plain`, or a zip archive\n\
        \    (`application/zip`, `application/x-compressed`, `application/x-zip-compressed`).\n\
        \  * `IOS` / `TVOS`: as a zip\n    (`application/zip`, `application/x-compressed`,\
        \ `application/x-zip-compressed`).\n"
      operationId: "uploadMobileSymbolFile"
      tags:
      - "Symbol Files Management"
      security:
      - ssoAuth:
        - "deobfuscation:symbol-files:write"
      - ssoBearerAuth: []
      parameters:
      - name: "platform"
        in: "path"
        description: "Mobile platform of the symbol file."
        required: true
        schema:
          type: "string"
          enum:
          - "ANDROID"
          - "IOS"
          - "TVOS"
      - name: "dtRumAppId"
        in: "path"
        description: "RUM application identifier the symbol file belongs to."
        example: "632712bf-7135-4ff1-a7b2-63088f71c166"
        required: true
        schema:
          type: "string"
      - name: "packageName"
        in: "path"
        description: "Unique identifier of the mobile application across versions.\n\
          \  * **Android:** the application id declared in `build.gradle`\n    (`applicationId`)\
          \ / the manifest `package` attribute, e.g. `com.example.app`.\n  * **iOS\
          \ / tvOS:** the bundle identifier from `Info.plist`\n    (`CFBundleIdentifier`),\
          \ e.g. `com.example.app`.\n"
        example: "com.example.app"
        required: true
        schema:
          type: "string"
      - name: "versionCode"
        in: "path"
        description: "Internal, monotonically increasing build identifier of the specific\
          \ application build\nthe symbol file was produced for. Two builds of the\
          \ same app may share a `versionName`\nbut must have different `versionCode`\
          \ values.\n  * **Android:** the `versionCode` from the manifest (`android:versionCode`),\n\
          \    e.g. `1317`.\n  * **iOS / tvOS:** the build number from `Info.plist`\
          \ (`CFBundleVersion`),\n    e.g. `42`.\n"
        example: "1317"
        required: true
        schema:
          type: "string"
      - name: "versionName"
        in: "path"
        description: "User-facing version string of the application (the value shown\
          \ to end users in the\napp store).\n  * **Android:** `versionName` from\
          \ the manifest (`android:versionName`),\n    e.g. `11.0.151`.\n  * **iOS\
          \ / tvOS:** the short version string from `Info.plist`\n    (`CFBundleShortVersionString`),\
          \ e.g. `11.0.151`.\n"
        example: "11.0.151"
        required: true
        schema:
          type: "string"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: "object"
              required:
              - "file"
              properties:
                file:
                  type: "string"
                  format: "binary"
                  description: "The symbol file content. For Android, this is a ProGuard/R8\
                    \ `mapping.txt` or a zip\narchive containing it. For iOS/tvOS,\
                    \ this is a zip archive containing the dSYM bundle.\nMaximum allowed\
                    \ size is 100 MB.\n"
      responses:
        "200":
          description: "Symbol file uploaded successfully."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "413":
          $ref: "#/components/responses/ContentTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
    delete:
      summary: "Deletes a mobile symbol file."
      description: "**Required scope:** deobfuscation:symbol-files:delete<br/><br/>Deletes\
        \ a mobile symbol file from the symbol file storage. The file is identified\
        \ by the\ncombination of platform, RUM application id, package name, version\
        \ code, and version name.\n"
      operationId: "deleteMobileSymbolFile"
      tags:
      - "Symbol Files Management"
      security:
      - ssoAuth:
        - "deobfuscation:symbol-files:delete"
      - ssoBearerAuth: []
      parameters:
      - name: "platform"
        in: "path"
        description: "Mobile platform of the symbol file."
        required: true
        schema:
          type: "string"
          enum:
          - "ANDROID"
          - "IOS"
          - "TVOS"
      - name: "dtRumAppId"
        in: "path"
        description: "RUM application identifier the symbol file belongs to."
        example: "632712bf-7135-4ff1-a7b2-63088f71c166"
        required: true
        schema:
          type: "string"
      - name: "packageName"
        in: "path"
        description: "Unique identifier of the mobile application across versions.\n\
          \  * **Android:** the application id declared in `build.gradle`\n    (`applicationId`)\
          \ / the manifest `package` attribute, e.g. `com.example.app`.\n  * **iOS\
          \ / tvOS:** the bundle identifier from `Info.plist`\n    (`CFBundleIdentifier`),\
          \ e.g. `com.example.app`.\n"
        example: "com.example.app"
        required: true
        schema:
          type: "string"
      - name: "versionCode"
        in: "path"
        description: "Internal, monotonically increasing build identifier of the specific\
          \ application build\nthe symbol file was produced for. Two builds of the\
          \ same app may share a `versionName`\nbut must have different `versionCode`\
          \ values.\n  * **Android:** the `versionCode` from the manifest (`android:versionCode`),\n\
          \    e.g. `1317`.\n  * **iOS / tvOS:** the build number from `Info.plist`\
          \ (`CFBundleVersion`),\n    e.g. `42`.\n"
        example: "1317"
        required: true
        schema:
          type: "string"
      - name: "versionName"
        in: "path"
        description: "User-facing version string of the application (the value shown\
          \ to end users in the\napp store).\n  * **Android:** `versionName` from\
          \ the manifest (`android:versionName`),\n    e.g. `11.0.151`.\n  * **iOS\
          \ / tvOS:** the short version string from `Info.plist`\n    (`CFBundleShortVersionString`),\
          \ e.g. `11.0.151`.\n"
        example: "11.0.151"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "Symbol file deleted successfully."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
  /symbol-files/rn/{dtRumAppId}/{bundleName}/{platform}/{fileName}/{bundleVersion}/pinned:
    put:
      summary: "Pins or unpins a React Native mapping file."
      description: "**Required scope:** deobfuscation:symbol-files:write<br/><br/>Updates\
        \ the pinned state of a React Native mapping file in the symbol file storage.\n\
        A pinned file is protected from automatic deletion.\n"
      operationId: "pinRnSymbolFile"
      tags:
      - "Symbol Files Management"
      security:
      - ssoAuth:
        - "deobfuscation:symbol-files:write"
      - ssoBearerAuth: []
      parameters:
      - name: "dtRumAppId"
        in: "path"
        description: "RUM application identifier the bundle belongs to."
        example: "632712bf-7135-4ff1-a7b2-63088f71c166"
        required: true
        schema:
          type: "string"
      - name: "bundleName"
        in: "path"
        description: "Name of the React Native bundle."
        example: "index"
        required: true
        schema:
          type: "string"
      - name: "platform"
        in: "path"
        description: "Platform the bundle is built for."
        required: true
        schema:
          type: "string"
          enum:
          - "IOS"
          - "ANDROID"
      - name: "fileName"
        in: "path"
        description: "Name of the bundle file the mapping refers to."
        example: "main.jsbundle"
        required: true
        schema:
          type: "string"
      - name: "bundleVersion"
        in: "path"
        description: "Version of the React Native bundle."
        example: "1.0.0"
        required: true
        schema:
          type: "string"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PinRnSymbolFileRequest"
      responses:
        "200":
          description: "Symbol file pinned state updated successfully."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RnSymbolFileInfoMetadata"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
  /symbol-files/js/{fileType}/pinned:
    put:
      summary: "Pins or unpins a JavaScript mapping file."
      description: "**Required scope:** deobfuscation:symbol-files:write<br/><br/>Updates\
        \ the pinned state of a JavaScript mapping file in the symbol file storage.\n\
        A pinned file is protected from automatic deletion.\n"
      operationId: "pinJsSymbolFile"
      tags:
      - "Symbol Files Management"
      security:
      - ssoAuth:
        - "deobfuscation:symbol-files:write"
      - ssoBearerAuth: []
      parameters:
      - name: "fileType"
        in: "path"
        description: "Type of the JavaScript file the mapping belongs to."
        required: true
        schema:
          type: "string"
          enum:
          - "MINIFIED"
          - "SOURCE"
          - "SOURCEMAP"
      - name: "minifiedJsFileUrl"
        in: "query"
        description: "URL of the minified JavaScript file whose mapping should be\
          \ pinned or unpinned."
        example: "https://easytravel-ang.lab.dynatrace.org/main-es2015.f81ac6e76943cfef85ca.js"
        required: true
        schema:
          type: "string"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PinJsSymbolFileRequest"
      responses:
        "200":
          description: "Symbol file pinned state updated successfully."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsMappingFile"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
  /symbol-files/mobile/{platform}/{dtRumAppId}/{packageName}/{versionCode}/{versionName}/pinned:
    put:
      summary: "Pins or unpins a mobile symbol file."
      description: "**Required scope:** deobfuscation:symbol-files:write<br/><br/>Updates\
        \ the pinned state of a mobile symbol file in the symbol file storage.\nA\
        \ pinned file is protected from automatic deletion.\n"
      operationId: "pinMobileSymbolFile"
      tags:
      - "Symbol Files Management"
      security:
      - ssoAuth:
        - "deobfuscation:symbol-files:write"
      - ssoBearerAuth: []
      parameters:
      - name: "platform"
        in: "path"
        description: "Mobile platform of the symbol file."
        required: true
        schema:
          type: "string"
          enum:
          - "ANDROID"
          - "IOS"
          - "TVOS"
      - name: "dtRumAppId"
        in: "path"
        description: "RUM application identifier the symbol file belongs to."
        example: "632712bf-7135-4ff1-a7b2-63088f71c166"
        required: true
        schema:
          type: "string"
      - name: "packageName"
        in: "path"
        description: "Unique identifier of the mobile application across versions.\n\
          \  * **Android:** the application id declared in `build.gradle`\n    (`applicationId`)\
          \ / the manifest `package` attribute, e.g. `com.example.app`.\n  * **iOS\
          \ / tvOS:** the bundle identifier from `Info.plist`\n    (`CFBundleIdentifier`),\
          \ e.g. `com.example.app`.\n"
        example: "com.example.app"
        required: true
        schema:
          type: "string"
      - name: "versionCode"
        in: "path"
        description: "Internal, monotonically increasing build identifier of the specific\
          \ application build\nthe symbol file was produced for. Two builds of the\
          \ same app may share a `versionName`\nbut must have different `versionCode`\
          \ values.\n  * **Android:** the `versionCode` from the manifest (`android:versionCode`),\n\
          \    e.g. `1317`.\n  * **iOS / tvOS:** the build number from `Info.plist`\
          \ (`CFBundleVersion`),\n    e.g. `42`.\n"
        example: "1317"
        required: true
        schema:
          type: "string"
      - name: "versionName"
        in: "path"
        description: "User-facing version string of the application (the value shown\
          \ to end users in the\napp store).\n  * **Android:** `versionName` from\
          \ the manifest (`android:versionName`),\n    e.g. `11.0.151`.\n  * **iOS\
          \ / tvOS:** the short version string from `Info.plist`\n    (`CFBundleShortVersionString`),\
          \ e.g. `11.0.151`.\n"
        example: "11.0.151"
        required: true
        schema:
          type: "string"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PinMobileSymbolFileRequest"
      responses:
        "200":
          description: "Symbol file pinned state updated successfully."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
components:
  securitySchemes:
    ssoAuth:
      type: "oauth2"
      description: "This API uses OAuth 2.0 with the client credentials flow."
      flows:
        clientCredentials:
          tokenUrl: "https://sso-sprint.dynatracelabs.com/sso/oauth2/token"
          scopes:
            storage:buckets:read: "read grail events"
            storage:user.events:read: "read grail events"
            deobfuscation:symbol-files:read: "read symbol files information"
            deobfuscation:symbol-files:write: "upload symbol files"
            deobfuscation:symbol-files:delete: "delete symbol files"
    ssoBearerAuth:
      type: "http"
      scheme: "bearer"
      description: "The value can be either an OAuth2 access token or a platform token.</br>\
        \ For further information about platform tokens see <a href=\"https://dt-url.net/platform-tokens\"\
        \ target=\"_blank\">Platform tokens - Dynatrace Docs</a>."
  schemas:
    Issue:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
          - "INVALID_EVENT_PROPERTIES"
          - "INVALID_STACKTRACE"
          - "INVALID_SYMBOL_FILE"
          - "OTHER"
          - "STACKTRACE_TYPE_NOT_RECOGNIZED"
          - "SYMBOL_FILE_NOT_FOUND"
          description: "Issue type:\n  * INVALID_EVENT_PROPERTIES Available event\
            \ properties don't allow to perform de-obfuscation/symbolication, e.g.\
            \ don't allow to identify appropriate symbol/mapping file.\n  * INVALID_STACKTRACE\
            \ The stack trace of the event is of non-parsable format, or is bad in\
            \ any other way.\n  * INVALID_SYMBOL_FILE The symbol/mapping file stored\
            \ in the symbol/mapping file storage is invalid in whatever way, and therefore\
            \ cannot be used for de-obfuscation/symbolication.\n  * OTHER Any other\
            \ issue.\n  * STACKTRACE_TYPE_NOT_RECOGNIZED Stack trace type or technology\
            \ cannot be recognized based on available event properties.\n  * SYMBOL_FILE_NOT_FOUND\
            \ Symbol/mapping file(s) necessary to perform complete de-obfuscation/symbolication,\
            \ could not be found in the symbol/mapping file storage. Note, some technologies\
            \ require multiple symbol/mapping files for complete de-obfuscation/symbolication\
            \ of a stack trace, and might normally miss some of them (e.g. those belonging\
            \ to system libraries).\n"
        details:
          type: "string"
          description: "Verbose issue details"
    StackTraceResponse:
      type: "object"
      description: "Result structure that contains the requested stack trace, along\
        \ with additional information."
      properties:
        issues:
          description: "Any issues faced when de-obfuscating/symbolicating the stack\
            \ trace that might result in incomplete de-obfuscation/symbolication\n"
          type: "array"
          items:
            $ref: "#/components/schemas/Issue"
        stackTrace:
          description: "The requested stack trace, de-obfuscated/symbolicated as much\
            \ as possible. However, in case the event does not have the `exception.stack_trace`\
            \ property, this value will be missing from the response.\n"
          type: "string"
      example: "{\n  \"issues\":[\n    {\n      \"type\":\"SYMBOL_FILE_NOT_FOUND\"\
        ,\n      \"details\":\"Mapping file not found for file URL vendor.27f29fce0c1f6602.js\"\
        \n    },\n    {\n      \"type\":\"SYMBOL_FILE_NOT_FOUND\",\n      \"details\"\
        :\"Mapping file not found for file URL polyfills.943bc9f417e6dd24.js\"\n \
        \   }\n  ],\n  \"stackTrace\":\"ERROR Error: test error\\n  at ./src/app/app.component.ts:463:11\\\
        n  at ctx (./src/app/app.component.ts:449:24)\\n  at lf (vendor.27f29fce0c1f6602.js:1:603132)\\\
        n  at o (vendor.27f29fce0c1f6602.js:1:603281)\\n  at HTMLButtonElement.<anonymous>\
        \ (vendor.27f29fce0c1f6602.js:1:789891)\\n  at v.invokeTask (polyfills.943bc9f417e6dd24.js:1:7169)\\\
        n  at Object.onInvokeTask (vendor.27f29fce0c1f6602.js:1:629669)\\n  at v.invokeTask\
        \ (polyfills.943bc9f417e6dd24.js:1:7090)\\n  at M.runTask (polyfills.943bc9f417e6dd24.js:1:2564)\\\
        n  at m.invokeTask [as invoke] (polyfills.943bc9f417e6dd24.js:1:8220)\"\n\
        }\n"
    DssClientUrl:
      type: "object"
      description: "DSS client download URL information."
      properties:
        dssClientUrl:
          type: "string"
          description: "The URL of the Dynatrace Symbol Service client download."
    StorageQuota:
      type: "object"
      description: "Storage quota information for symbol files."
      properties:
        availableStorage:
          type: "string"
          description: "Available storage space in bytes"
        fileCount:
          type: "string"
          description: "Number of symbol files stored"
        storageQuota:
          type: "string"
          description: "Total storage quota in bytes"
        usedStorage:
          type: "string"
          description: "Used storage space in bytes"
      example: "{\n  \"availableStorage\": 0,\n  \"fileCount\": 0,\n  \"storageQuota\"\
        : 0,\n  \"usedStorage\": 0\n}\n"
    RnSymbolFile:
      type: "object"
      description: "React Native symbol file information."
      properties:
        dtRumAppId:
          type: "string"
          description: "The RUM application identifier."
        bundleName:
          type: "string"
          description: "The bundle name of the React Native application."
        platform:
          type: "string"
          description: "The platform (IOS or ANDROID)."
        fileName:
          type: "string"
          description: "The file name of the symbol file."
        bundleVersion:
          type: "string"
          description: "The bundle version of the React Native application."
        metadata:
          $ref: "#/components/schemas/RnSymbolFileInfoMetadata"
    PinJsSymbolFileRequest:
      type: "object"
      description: "Request body for pinning or unpinning a JavaScript mapping file."
      required:
      - "pinned"
      properties:
        pinned:
          type: "boolean"
          description: "Whether to pin the symbol file and protect it from automatic\
            \ deletion."
    PinRnSymbolFileRequest:
      type: "object"
      description: "Request body for pinning or unpinning a React Native symbol file."
      required:
      - "pinned"
      properties:
        pinned:
          type: "boolean"
          description: "Whether to pin the symbol file and protect it from automatic\
            \ deletion."
    PinMobileSymbolFileRequest:
      type: "object"
      description: "Request body for pinning or unpinning a mobile symbol file."
      required:
      - "pinned"
      properties:
        pinned:
          type: "boolean"
          description: "Whether to pin the symbol file and protect it from automatic\
            \ deletion."
    RnSymbolFileInfoMetadata:
      type: "object"
      description: "Metadata associated with a React Native symbol file."
      properties:
        pinned:
          type: "boolean"
          description: "Indicates whether the symbol file is pinned and protected\
            \ from automatic deletion."
        storedSizeInBytes:
          type: "string"
          description: "The size of the stored symbol file in bytes."
        uploadTimestampInMilliseconds:
          type: "string"
          description: "The timestamp of when the symbol file was uploaded, in milliseconds\
            \ since epoch."
    PagedRnSymbolFiles:
      type: "object"
      description: "A paginated list of React Native symbol files."
      required:
      - "totalCount"
      - "pageSize"
      - "mappingFiles"
      properties:
        totalCount:
          type: "integer"
          description: "The total number of React Native symbol files matching the\
            \ request."
        pageSize:
          type: "integer"
          description: "The number of entries per page."
        nextPageKey:
          type: "string"
          description: "The cursor for the next page of results. Present only when\
            \ additional pages exist. Pass this value as the `nextPageKey` query parameter\
            \ on the next request.\n"
        mappingFiles:
          type: "array"
          description: "The list of React Native symbol files on this page."
          items:
            $ref: "#/components/schemas/RnSymbolFile"
    JsMappingFile:
      type: "object"
      description: "JavaScript mapping file information."
      properties:
        fileName:
          type: "string"
          description: "The file name of the JavaScript mapping file."
        fileType:
          type: "string"
          description: "The type of the JavaScript file (e.g. MINIFIED, SOURCE, SOURCEMAP)."
        minifiedJsFileUrl:
          type: "string"
          description: "The URL of the minified JavaScript file this mapping belongs\
            \ to."
        numberOfFiles:
          type: "integer"
          description: "The number of files associated with this mapping entry."
        pinned:
          type: "boolean"
          description: "Indicates whether the mapping file is pinned and protected\
            \ from automatic deletion."
        size:
          type: "string"
          description: "The size of the stored mapping file in bytes."
        uploadTimestamp:
          type: "string"
          description: "The timestamp of when the mapping file was uploaded, in milliseconds\
            \ since epoch."
        zipped:
          type: "boolean"
          description: "Indicates whether the mapping file is stored in a zipped format."
    PagedJsMappingFiles:
      type: "object"
      description: "A paginated list of JavaScript mapping files."
      required:
      - "totalCount"
      - "pageSize"
      - "jsMappingFiles"
      properties:
        totalCount:
          type: "integer"
          description: "The total number of JavaScript mapping files matching the\
            \ request."
        pageSize:
          type: "integer"
          description: "The number of entries per page."
        nextPageKey:
          type: "string"
          description: "The cursor for the next page of results. Present only when\
            \ additional pages exist. Pass this value as the `nextPageKey` query parameter\
            \ on the next request.\n"
        jsMappingFiles:
          type: "array"
          description: "The list of JavaScript mapping files on this page."
          items:
            $ref: "#/components/schemas/JsMappingFile"
    MobileSymbolFileAppId:
      type: "object"
      description: "The application identifier of the mobile symbol file."
      properties:
        id:
          type: "string"
          description: "The RUM application identifier."
        os:
          type: "string"
          description: "The operating system (ANDROID, IOS, or TVOS)."
        packageName:
          type: "string"
          description: "The package or bundle name of the application."
        versionCode:
          type: "string"
          description: "The version code of the application."
        versionName:
          type: "string"
          description: "The version name of the application."
    MobileSymbolFile:
      type: "object"
      description: "Mobile symbol file information."
      properties:
        appId:
          $ref: "#/components/schemas/MobileSymbolFileAppId"
        applicationName:
          type: "string"
          description: "The display name of the application."
        pinned:
          type: "boolean"
          description: "Indicates whether the symbol file is pinned and protected\
            \ from automatic deletion."
        size:
          type: "string"
          description: "The size of the stored symbol file in bytes."
        uploadTimestamp:
          type: "string"
          description: "The timestamp of when the symbol file was uploaded, in milliseconds\
            \ since epoch."
    MobileSymbolFiles:
      type: "object"
      description: "A list of mobile symbol files."
      required:
      - "symbolFiles"
      properties:
        symbolFiles:
          type: "array"
          description: "The list of mobile symbol files."
          items:
            $ref: "#/components/schemas/MobileSymbolFile"
    ErrorResponse:
      type: "object"
      properties:
        error:
          $ref: "#/components/schemas/Error"
      required:
      - "error"
    Error:
      type: "object"
      description: "An error response as defined [here](https://dt-url.net/platform-services-error-handling)."
      properties:
        code:
          type: "integer"
        message:
          type: "string"
        retryAfterSeconds:
          type: "integer"
      required:
      - "code"
      - "message"
  responses:
    BadRequest:
      description: "Malformed request or invalid parameters."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: "API token or tenant missing or corrupt."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: "You don't have adequate permission. This could either be because\
        \ the user lacks the permission to access the specific endpoint, or because\
        \ the target document isn't accessible to your user.\n"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: "No RUM event found by event ID and start time."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ResourceNotFound:
      description: "Resource not found."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ContentTooLarge:
      description: "The content is too large. This can happen when the symbol file\
        \ storage quota is exhausted or when the uploaded file exceeds the maximum\
        \ allowed size of 100 MB.\n"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    UnsupportedMediaType:
      description: "The request uses a content type that's not supported for the target\
        \ platform. For Android, allowed types are `application/zip`, `application/x-compressed`,\
        \ `application/x-zip-compressed`, and `text/plain`. For iOS and tvOS, only\
        \ the zip variants are allowed.\n"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalServerError:
      description: "There is a problem in the backend."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotImplementedError:
      description: "Method isn't implemented."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ServiceUnavailableError:
      description: "Service is unavailable."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
