openapi: "3.0.3"
info:
  version: "1.47.1"
  title: "Document"
  x-service-category: "Document"
  x-summary: "Create, update, list and organize documents, as well as manage their\
    \ access permissions."
  description: "# Overviews\n\nThis API allows you to create and manage documents,\
    \ as well as manage access to them.\n\nHave a look at the [service documentation](https://dt-url.net/platform-services-document-service)\
    \ to familiarize yourself with its key concepts.\n\nNote, that the document's\
    \ content isn't inspected by the document-store, therefore it can be entirely\
    \ schemaless. If your content adheres to a schema, it's your responsibility to\
    \ enforce that.\n\nInformation about authorization can be found [here](https://dt-url.net/platform-services-authentication).\n\
    \n\n# Access Management\n\nThere are 2 different permission mechanisms. Most operations\
    \ involve both mechanisms.\n\n## Endpoint Permissions\nIAM permissions (e.g. `document:documents:read`)\
    \ guard endpoints. If the user doesn't have the permission required by an endpoint,\
    \ the request gets rejected.\n\nThese permissions can not be modified via the\
    \ doc-store API.\n\n## Document Permissions\nThese permissions guard individual\
    \ documents. They are modelled in the service itself, independent of IAM permissions.\n\
    \nThey can be modified via the API, e.g. by using the sharing endpoints.\n\nTherefore,\
    \ a user needs to have access both in the DT IAM layer (by having specific IAM\
    \ permissions) as well as access to the specific documents (e.g. by being document\
    \ owner).\n\n## Sharing\n\nBy default, documents are only accessible to their\
    \ owner. There are 3 ways of sharing documents.\n\nDocuments can be made **public**\
    \ (via the updateDocument operation) by the owner. This immediately grants read\
    \ access to all users in the environment.\n\n**Environment-Shares** grant read\
    \ or read-write access to users of the same environment, but **users need to actively\
    \ claim** the share.\nThe owner effectively loses control over who exactly gains\
    \ access, as any user can claim the share and therefore receive access.\n\n**Direct-Shares**\
    \ immediately grant read or read-write access to **specific users and groups**.\
    \ The **owner is in total control of who exactly receives access**, and can also\
    \ revoke access retrospectively.\n\nBy default, every user with write-access to\
    \ a document is allowed to re-share it via direct-shares and environment-shares.\
    \ The owner can disable this by setting the `isReshareable` property to `false`\
    \ (via the updateDocument operation).\n\nThe sharing mechanisms are not mutually\
    \ exclusive - a document can be shared via multiple sharing mechanisms at the\
    \ same time.\n\n## Owner Transfer\n\nDocument ownership can be changed via the\
    \ transferDocumentOwner operation.\n\n\n# Document Locking\n\n## Optimistic Locking\n\
    \nOperations which modify a document generally use **mandatory** optimistic locking.\n\
    \nWhen such operations are executed, the user must provide the version upon which\
    \ they operate.\n\nIf the document version in the service doesn't match, because\
    \ the document has been modified in the meantime, then the operation gets rejected.\n\
    \n## Active Locking\n\nIn addition to the mandatory Optimistic Locking, there\
    \ is **optional Active Locking**.\n\nActive locking can be optionally utilized\
    \ to prevent conflicts caused by multiple users concurrently updating the same\
    \ document.\n\nA user can lock a document to prevent other users from updating\
    \ the document for some time.\n\nOnce the user is done updating the document,\
    \ they can release the lock and therefore enable updates by other users.\n\n\n\
    # Deletion and Restoration\n\nDeleted documents are moved to the **trash** and\
    \ permanently deleted after 30 days.\n\nThe Trash API can be used to manage deleted\
    \ documents.\n\nRestoring a deleted document makes the document accessible again\
    \ for the owner as well as all users who had previously received access via shares.\n\
    \n\n# Snapshots\n\nDocument snapshots allow to reset a document's content back\
    \ to an earlier state.\n\nSnapshots must be explicitly created when updating the\
    \ document. Multiple snapshots can be created per document.\n\nRestoring a snapshot\
    \ means that the document's content gets changed to the state it had when the\
    \ snapshot was originally created. It doesn't change access-related data like\
    \ the document's shares or ownership.\n\nSnapshot creation is rate-limited to\
    \ 5 snapshots per 60 seconds per document.\n\nThe maximum amount of snapshots\
    \ per document is 50. Additional snapshots result in the deletion of the oldest\
    \ existing snapshot.\n\nAll snapshots get automatically deleted after 30 days.\n\
    \n## Snapshot Permissions\n\nAll users with write access to a document may list,\
    \ read, create, or restore its snapshots.\n\nFor built-in (App-Shipped or Extension)\
    \ documents, listing snapshots returns an empty list rather than a 403, since\
    \ these documents don't support snapshots.\n\nOnly the document owner (or an admin)\
    \ may delete a snapshot.\n\n# Labels\n\nLabels allow the user to organize and\
    \ search their documents.\n\nLabels are optional, a document may have zero or\
    \ more. The maximum number of labels per document is 25 and the maximum length\
    \ of each label is 80 characters.\n\n# Document Identity\n\nEach document is assigned\
    \ a unique and immutable identifier (id) at the time of creation.\n\nThis identifier\
    \ may be supplied by the user. If the user doesn't provide one, the system will\
    \ generate it automatically.\n\nRegardless of its origin, the identifier is guaranteed\
    \ to be unique across all documents and is immutable.\n\n# Admin Access\n\nRegular\
    \ users can only access documents *owned by them* or *shared with them*.\n\nUsers\
    \ with the permission `document:documents:admin` can act with elevated permission\
    \ - they can access all users' documents of the current environment, regardless\
    \ of ownership.\n\nThe admin-access can be enabled on a per-request basis, by\
    \ setting the optional request parameter `admin-access` to `true.`\n\n# User Data\n\
    \nNo user data like names or email addresses are stored. Instead, SSO ids are\
    \ persisted.\n\nEvery user's last access to every document gets stored to allow\
    \ ordering of results so that least recently accessed documents appear first.\n\
    \n# System-owned Documents\n\nSome documents are created and maintained by the\
    \ system itself, instead of being user-owned.\n\n## Ready-made Documents\nApps\
    \ can contain documents which automatically become available to all users of the\
    \ environment when the app gets installed or updated.\nThe property `originAppId`\
    \ indicates app ownership.\n\n## Extension-shipped Documents\nExtensions can contain\
    \ documents which automatically become available to all users of the environment\
    \ when the extension gets installed or updated.\nThe property `originExtensionId`\
    \ indicates extension ownership.\n"
servers:
- url: "https://asn8731h.sprint.apps.dynatracelabs.com/platform/document/v1"
  x-api-gateway-url: "/platform/document/v1"
tags:
- name: "Documents"
  description: "CRUD operations for documents and snapshots."
- name: "Direct Shares"
  description: "Share documents directly with specific users and groups."
- name: "Environment Shares"
  description: "Share documents with the whole environment, via links."
- name: "Trash"
  description: "Restore or irrevocably destroy your deleted documents."
- name: "Document Locking"
  description: "Endpoints for document locking."
paths:
  /documents:
    post:
      summary: "Create a new document."
      description: "**Required scope:** document:documents:write<br/><br/>Create a\
        \ new document. You are the owner of the created document. The document isn't\
        \ accessible to other users.\n\nThe document's `name` and `type` must be provided.\
        \ These two properties can later be used for filtering purposes, when [listing\
        \ accessible documents](#/Documents/listDocuments).\n\nBe aware, that the\
        \ `type` isn't the same as the Content-Type of the document, but instead adds\
        \ user-defined semantics of which the document-store is entirely agnostic.\n\
        \nThe content size must not exceed **50 MB**."
      operationId: "createDocument"
      security:
      - ssoAuth:
        - "document:documents:write"
      - ssoBearerAuth: []
      tags:
      - "Documents"
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: "object"
              properties:
                name:
                  description: "The name of this document. This name doesn't need\
                    \ to be unique and is *not* used as identifier. Maximum length\
                    \ is 128 characters."
                  type: "string"
                  default: ""
                type:
                  description: "The type of this document. This type is *not* the\
                    \ Content-Type of the document, but instead adds a user-defined\
                    \ semantic. Maximum length is 128 characters."
                  type: "string"
                  default: ""
                description:
                  description: "Optional description of this document. Maximum length\
                    \ is 256 characters."
                  type: "string"
                  default: ""
                content:
                  description: "The binary content of this document. Its exact type\
                    \ is taken from the `Content-Type` header, which is thus mandatory."
                  type: "string"
                  format: "binary"
                id:
                  description: "Optional. If provided, this will be the id of the\
                    \ document. If not provided, a system-generated id is used.\n\
                    The following constraints apply:\n - It must be unique in this\
                    \ environment\n - Allowed characters: `A-Z` `a-z` `0-9` `-`.\n\
                    \ - It must not be a UUID, however it can contain a UUID, so e.g.\
                    \ `my-e015739d-da78-4fe4-bef1-e95c2420bc25` is allowed, while\
                    \ `e015739d-da78-4fe4-bef1-e95c2420bc25` isn't allowed.\n - Maximum\
                    \ length is 100 characters.\n"
                  type: "string"
                  default: ""
                externalId:
                  description: "**Deprecated**. Use the `id` property instead.\n\n\
                    An optional user-provided id, in addition to the system-provided\
                    \ id. The following constraints apply:\n - It must be unique in\
                    \ this environment\n - Allowed characters: `A-Z` `a-z` `0-9` `-`.\n\
                    \ - It must not be a UUID, however it can contain a UUID, so e.g.\
                    \ `my-e015739d-da78-4fe4-bef1-e95c2420bc25` is allowed, while\
                    \ `e015739d-da78-4fe4-bef1-e95c2420bc25` isn't allowed.\n - Maximum\
                    \ length is 100 characters.\n"
                  type: "string"
                  deprecated: true
                  default: ""
              required:
              - "name"
              - "type"
              - "content"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/DocumentCreated"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/ExternalIdAlreadyExists"
        "413":
          $ref: "#/components/responses/DocumentTooLarge"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "507":
          $ref: "#/components/responses/InsufficientStorage"
        default:
          $ref: "#/components/responses/GeneralError"
    get:
      parameters:
      - $ref: "#/components/parameters/filter"
      - $ref: "#/components/parameters/sort"
      - $ref: "#/components/parameters/pageKey"
      - $ref: "#/components/parameters/page"
      - $ref: "#/components/parameters/pageSize"
      - $ref: "#/components/parameters/adminAccessQueryParam"
      - name: "add-fields"
        in: "query"
        description: "Comma-separated list of field names that are added to the default\
          \ set of fields.\nYou can include the following additional fields:\n- `description`\n\
          - `userContext.lastAccessedTime`\n- `originExtensionId`\n- `shareInfo.isShared`\n\
          - `shareInfo.isSharedWithCurrentUser`\n- `labels`\n"
        required: false
        schema:
          type: "string"
      summary: "List all documents accessible to you."
      security:
      - ssoAuth:
        - "document:documents:read"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:read<br/><br/>List the\
        \ metadata of all documents accessible to you.\n\n\nThis includes your own\
        \ documents, as well as other users' documents which have been shared with\
        \ you.\n\n\n*Note, that at the moment we offer a naive pagination, and therefore\
        \ interim document mutations and/or an\ninsufficient sort clause, if provided,\
        \ can lead to result inconsistencies (such as duplicates, missing entries).*\n"
      operationId: "listDocuments"
      tags:
      - "Documents"
      responses:
        "200":
          $ref: "#/components/responses/DocumentMetadataList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /documents/{id}:
    get:
      parameters:
      - $ref: "#/components/parameters/documentIdParam"
      - $ref: "#/components/parameters/fileNameParam"
      - $ref: "#/components/parameters/snapshotVersionQueryParam"
      - $ref: "#/components/parameters/adminAccessQueryParam"
      - name: "add-fields"
        in: "query"
        description: "Comma-separated list of field names that are added to the default\
          \ set of fields.\nYou can include the following additional fields:\n- `userContext.lastAccessedTime`\n\
          - `modificationInfo.lastModifyingAppId`\n"
        required: false
        schema:
          type: "string"
      summary: "Retrieve metadata and content."
      security:
      - ssoAuth:
        - "document:documents:read"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:read<br/><br/>Return metadata\
        \ and content in one multipart response.\n\nIf the `snapshot-version` param\
        \ is provided, the metadata and content of the specified snapshot gets returned\
        \ instead. This requires write-access to the document.\n\nThe document must\
        \ be accessible to you - therefore, you must either own it or you have received\
        \ access through sharing."
      operationId: "getDocument"
      tags:
      - "Documents"
      responses:
        "200":
          $ref: "#/components/responses/FullDocument"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentOrSnapshotNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
    patch:
      parameters:
      - $ref: "#/components/parameters/documentIdParam"
      - $ref: "#/components/parameters/optimisticLockingVersionParam"
      - $ref: "#/components/parameters/createSnapshotQueryParam"
      - $ref: "#/components/parameters/adminAccessQueryParam"
      summary: "Update metadata and content. Optionally, create a snapshot."
      security:
      - ssoAuth:
        - "document:documents:write"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:write<br/><br/>Update metadata\
        \ and/or the content of the document.\n\nName, type, and content must be non-empty.\
        \ Name, type, content, isPrivate and isReshareable are optional, but at least\
        \ one of them must be provided.\n\nThe document must be accessible to you\
        \ - therefore, you must either own it or you have received access through\
        \ sharing.\n\nAs part of this operation, you can optionally create a snapshot\
        \ of the document before the update is applied.\nIn that case, if the document\
        \ has more than 50 snapshots, its oldest snapshot gets automatically deleted.\n\
        A maximum of 5 snapshots can be created per document within a 60-second period.\n"
      operationId: "updateDocument"
      tags:
      - "Documents"
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: "object"
              properties:
                name:
                  description: "The name of this document. This name doesn't need\
                    \ to be unique and is *not* used as identifier.\n\nMaximum length\
                    \ is 128 characters.\nOptional - if not provided, no change happens.\n"
                  type: "string"
                  default: ""
                type:
                  description: "The type of this document. This type is *not* the\
                    \ Content-Type of the document, but instead adds a user-defined\
                    \ semantic.\n\nMaximum length is 128 characters.\nOptional - if\
                    \ not provided, no change happens.\n"
                  type: "string"
                  default: ""
                description:
                  description: "Description of this document.\n\nMaximum length is\
                    \ 256 characters.\nOptional - if not provided, no change happens.\n"
                  type: "string"
                  default: ""
                content:
                  description: "The binary content of this document. Its exact type\
                    \ is taken from the `Content-Type` header, which is thus mandatory.\n\
                    Optional - if not provided, no change happens.\n"
                  type: "string"
                  format: "binary"
                snapshotDescription:
                  description: "An optional user-provided description of the snapshot's\
                    \ content or the changes it introduced.\n\nThis description gets\
                    \ ignored if the query-param `create-snapshot` isn't set to true.\n\
                    \nMaximum length is 128 characters.\n"
                  type: "string"
                  default: ""
                labels:
                  type: "array"
                  items:
                    type: "string"
                  description: "An optional set of user-defined labels.\n\nThe maximum\
                    \ length of each label is 80 characters and the maximum number\
                    \ of labels is 25.\n\nAllowed characters: `A-Z` `a-z` `0-9` `:`\
                    \ `.` `;` `_` `#` `-` `!` `?` `/` `\\` `|` `@` `&` `<` `>` ` `\
                    \ (space)\n\nOptional - if not provided, no change happens.\n"
                  default: null
                isPrivate:
                  description: "Controls whether this document should be public. Public\
                    \ documents can be read by every user of the environment.\nThis\
                    \ can only be changed by the document owner.\nOptional - if not\
                    \ provided, no change happens.\n"
                  type: "boolean"
                  default: null
                isReshareable:
                  description: "Controls whether users who receive write access via\
                    \ shares may re-share the document with other users.\nThis can\
                    \ only be changed by the document owner.\nOptional - if not provided,\
                    \ no change happens.\n"
                  type: "boolean"
                  default: null
        required: true
      responses:
        "200":
          $ref: "#/components/responses/UpdateDocumentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/SnapshotCreationRateLimitExceeded"
        "404":
          $ref: "#/components/responses/DocumentNotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/DocumentTooLarge"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "507":
          $ref: "#/components/responses/InsufficientStorage"
        default:
          $ref: "#/components/responses/GeneralError"
    delete:
      parameters:
      - $ref: "#/components/parameters/documentIdParam"
      - $ref: "#/components/parameters/optimisticLockingVersionParam"
      - $ref: "#/components/parameters/adminAccessQueryParam"
      summary: "Delete the document"
      security:
      - ssoAuth:
        - "document:documents:delete"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:delete<br/><br/>Move the\
        \ document into the trash. It is no longer accessible until it's restored\
        \ from the trash.\n\n[Optimistic locking](https://dt-url.net/platform-services-locking)\
        \ is enforced via the `optimistic-locking-version` parameter.\n\nYou must\
        \ own the document to delete it."
      operationId: "deleteDocument"
      tags:
      - "Documents"
      responses:
        "204":
          $ref: "#/components/responses/DocumentDeleted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentNotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /documents/{id}/metadata:
    get:
      parameters:
      - $ref: "#/components/parameters/documentIdOrExternalIdParam"
      - $ref: "#/components/parameters/snapshotVersionQueryParam"
      - $ref: "#/components/parameters/adminAccessQueryParam"
      - name: "add-fields"
        in: "query"
        description: "Comma-separated list of field names that are added to the default\
          \ set of fields.\nYou can include the following additional fields:\n- `userContext.lastAccessedTime`\n\
          - `modificationInfo.lastModifyingAppId`\n"
        required: false
        schema:
          type: "string"
      summary: "Retrieve document metadata."
      security:
      - ssoAuth:
        - "document:documents:read"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:read<br/><br/>Retrieve\
        \ a document's metadata.\n\nThe document must be accessible to you - therefore,\
        \ you must either own it or you have received access through sharing.\n\n\
        If the `snapshot-version` param is provided, the metadata of the specified\
        \ snapshot gets returned instead. This requires write-access to the document."
      operationId: "getDocumentMetadata"
      tags:
      - "Documents"
      responses:
        "200":
          $ref: "#/components/responses/DocumentMetadata"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentOrSnapshotNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
    patch:
      deprecated: true
      parameters:
      - $ref: "#/components/parameters/documentIdParam"
      - $ref: "#/components/parameters/optimisticLockingVersionParam"
      - $ref: "#/components/parameters/adminAccessQueryParam"
      summary: "Update document metadata"
      security:
      - ssoAuth:
        - "document:documents:write"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:write<br/><br/>Deprecated\
        \ - the preferred way to update a document is the [updateDocument](#/Documents/updateDocument)\
        \ operation.\n\nPartially update a document's user-defined metadata. At least\
        \ one property must be updated, otherwise the operation fails.\n\nThe document's\
        \ content isn't affected by this operation.\n\n[Optimistic locking](https://dt-url.net/platform-services-locking)\
        \ is enforced via the `optimistic-locking-version` parameter.\n\nThe document\
        \ must be accessible to you - therefore, you must either own it or you have\
        \ received access through sharing."
      operationId: "updateDocumentMetadata"
      tags:
      - "Documents"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: "object"
              properties:
                name:
                  description: "Document name."
                  type: "string"
                  default: ""
                type:
                  description: "Document type."
                  type: "string"
                  default: ""
      responses:
        "200":
          $ref: "#/components/responses/DocumentUpdated"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentNotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /documents/{id}/content:
    get:
      parameters:
      - $ref: "#/components/parameters/documentIdParam"
      - $ref: "#/components/parameters/fileNameParam"
      - $ref: "#/components/parameters/snapshotVersionQueryParam"
      - $ref: "#/components/parameters/adminAccessQueryParam"
      summary: "Download document content"
      security:
      - ssoAuth:
        - "document:documents:read"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:read<br/><br/>Download\
        \ latest document content.\n\nIf the `snapshot-version` param is provided,\
        \ the content of the specified snapshot gets returned instead. This requires\
        \ write-access to the document.\n\nThe document must be accessible to you\
        \ - therefore, you must either own it or you have received access through\
        \ sharing.\n\nThe response's `Content-Type` header has the same value that\
        \ has been used during the upload."
      operationId: "downloadDocumentContent"
      tags:
      - "Documents"
      responses:
        "200":
          $ref: "#/components/responses/DocumentContent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentOrSnapshotNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
    put:
      summary: "Update document content"
      security:
      - ssoAuth:
        - "document:documents:write"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:write<br/><br/>Update a\
        \ document's content, by completely replacing it.\n\nThe document must be\
        \ accessible to you - therefore, you must either own it or you have received\
        \ access through sharing.\n\n[Optimistic locking](https://dt-url.net/platform-services-locking)\
        \ is enforced via the `optimistic-locking-version` parameter.\n\nThe content\
        \ size must be greater than 0 and must not exceed `50 MB`.\n\nThe `Content-Type`\
        \ header must be set for the multipart part; it will be used as the (new)\
        \ content type of the document. Illegal (non-mime-type) content types result\
        \ in a `400 - Bad Request` error.\n\nThe `Content-Disposition` header must\
        \ be set for the multipart part;"
      operationId: "updateDocumentContent"
      tags:
      - "Documents"
      parameters:
      - $ref: "#/components/parameters/documentIdParam"
      - $ref: "#/components/parameters/optimisticLockingVersionParam"
      - $ref: "#/components/parameters/adminAccessQueryParam"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: "object"
              properties:
                content:
                  type: "string"
                  format: "binary"
              required:
              - "content"
      responses:
        "200":
          $ref: "#/components/responses/DocumentContentUpdated"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentNotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/DocumentTooLarge"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "507":
          $ref: "#/components/responses/InsufficientStorage"
        default:
          $ref: "#/components/responses/GeneralError"
  /documents/{id}/snapshots:
    parameters:
    - $ref: "#/components/parameters/documentIdParam"
    - $ref: "#/components/parameters/adminAccessQueryParam"
    - $ref: "#/components/parameters/pageKey"
    - $ref: "#/components/parameters/page"
    - $ref: "#/components/parameters/pageSize"
    get:
      summary: "List all snapshots of the document"
      security:
      - ssoAuth:
        - "document:documents:read"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:read<br/><br/>Returns metadata\
        \ of all snapshots of the document, in descending order of the snapshot version.\
        \ Requires write-access to the document. For built-in documents, this endpoint\
        \ returns an empty list rather than a 403, since built-in documents don't\
        \ support snapshots.\n\nYou can apply pagination via the `pageKey` and `pageSize`\
        \ parameters.\n\n*Note, that at the moment we offer a naive pagination, and\
        \ therefore interim mutations can lead to result inconsistencies (such as\
        \ duplicates, missing entries).*"
      operationId: "listSnapshots"
      tags:
      - "Documents"
      responses:
        "200":
          $ref: "#/components/responses/SnapshotListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /documents/{id}/snapshots/{snapshot-version}:
    parameters:
    - $ref: "#/components/parameters/documentIdParam"
    - $ref: "#/components/parameters/snapshotVersionPathParam"
    - $ref: "#/components/parameters/adminAccessQueryParam"
    get:
      summary: "Retrieve snapshot metadata."
      security:
      - ssoAuth:
        - "document:documents:read"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:read<br/><br/>Retrieve\
        \ snapshot metadata. Requires write-access to the document.\n\nThis doesn't\
        \ return data of the snapshotted document, instead it returns data about the\
        \ snapshot itself.\n"
      operationId: "getSnapshotMetadata"
      tags:
      - "Documents"
      responses:
        "200":
          $ref: "#/components/responses/GetSnapshotMetadataResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/SnapshotNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
    delete:
      summary: "Delete the snapshot."
      security:
      - ssoAuth:
        - "document:documents:write"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:write<br/><br/>Irrevocably\
        \ delete the snapshot. Only the document owner may do this.\n\nThis operation\
        \ doesn't affect the current state of the document.\n\nInstead, it prevents\
        \ that the document may ever be restored to the state it had when the snapshot\
        \ was created.\n"
      operationId: "deleteSnapshot"
      tags:
      - "Documents"
      responses:
        "204":
          description: "The snapshot has been deleted."
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/SnapshotNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /documents/{id}/snapshots/{snapshot-version}:restore:
    parameters:
    - $ref: "#/components/parameters/documentIdParam"
    - $ref: "#/components/parameters/snapshotVersionPathParam"
    - $ref: "#/components/parameters/adminAccessQueryParam"
    post:
      summary: "Restore the snapshot."
      security:
      - ssoAuth:
        - "document:documents:write"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:write<br/><br/>Reset the\
        \ document to the state it had when the snapshot was created. Requires write-access\
        \ to the document.\n\nIf no snapshot of the current document state exists,\
        \ then a new snapshot is created\nbefore restoring the selected snapshot.\n\
        If the document has more than 50 snapshots, its oldest snapshot gets automatically\
        \ deleted.\n\nThis operation doesn't change ownership or access/sharing data.\n"
      operationId: "restoreSnapshot"
      tags:
      - "Documents"
      responses:
        "200":
          $ref: "#/components/responses/RestoreSnapshotResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentOrSnapshotNotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /documents/{id}:inspect-lock:
    get:
      parameters:
      - $ref: "#/components/parameters/documentIdParam"
      summary: "Inspect whether the document is locked."
      security:
      - ssoAuth:
        - "document:documents:read"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:read<br/><br/>Inspect whether\
        \ the document is locked.\n\nThis provides the information about whether the\
        \ document is locked and the user that currently owns the lock."
      operationId: "inspectLock"
      tags:
      - "Document Locking"
      responses:
        "200":
          $ref: "#/components/responses/InspectLockResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /documents/{id}:acquire-lock:
    parameters:
    - $ref: "#/components/parameters/documentIdParam"
    post:
      summary: "Acquire the lock on the document."
      security:
      - ssoAuth:
        - "document:documents:write"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:write<br/><br/>Acquire\
        \ the lock on the document. A user can lock a maximum of five documents at\
        \ any given time. Once the lock is acquired by the user, other users cannot\
        \ make any updates to the document.\n\nThe user acquiring the lock can optionally\
        \ specify the duration for which the lock can be attained. However, the specified\
        \ duration must not exceed the maximum allowed duration of 15 minutes. If\
        \ not specified, the lock is acquired for 10 minutes.\n\nIf the user who has\
        \ currently locked the document attempts to acquire the lock for the same\
        \ document again, the duration of the lock gets extended by the specified\
        \ duration or by a default duration of 10 minutes, if not specified.\n\nThe\
        \ other users would not be allowed to acquire the lock on an already locked\
        \ document."
      operationId: "acquireLock"
      tags:
      - "Document Locking"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcquireLock"
      responses:
        "200":
          description: "The lock has been acquired by the user."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcquireLockResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentNotFound"
        "409":
          $ref: "#/components/responses/DocumentAlreadyLocked"
        "429":
          $ref: "#/components/responses/LockedDocumentsLimitReached"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /documents/{id}:release-lock:
    parameters:
    - $ref: "#/components/parameters/documentIdParam"
    post:
      summary: "Release the lock on the document."
      security:
      - ssoAuth:
        - "document:documents:write"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:write<br/><br/>Release\
        \ the lock on the document.\nThe lock on the document can be released only\
        \ by the user who owns it."
      operationId: "releaseLock"
      tags:
      - "Document Locking"
      responses:
        "200":
          description: "The lock on the document has been released."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /documents/{id}:transfer-owner:
    parameters:
    - $ref: "#/components/parameters/documentIdParam"
    - $ref: "#/components/parameters/sendNotificationQueryParam"
    - $ref: "#/components/parameters/adminAccessQueryParam"
    post:
      summary: "Transfers ownership of the document to a new owner."
      security:
      - ssoAuth:
        - "document:documents:write"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:write<br/><br/>Transfers\
        \ ownership of the document to a new owner. The previous owner loses access\
        \ to the document. This operation can only be performed by the document owner."
      operationId: "transferDocumentOwner"
      tags:
      - "Documents"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferOwner"
      responses:
        "204":
          description: "Ownership has been transferred successfully."
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentNotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /labels:
    parameters:
    - $ref: "#/components/parameters/containsQueryParam"
    - $ref: "#/components/parameters/adminAccessQueryParam"
    get:
      summary: "Lists labels accessible to you."
      security:
      - ssoAuth:
        - "document:documents:read"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:read<br/><br/>Lists labels\
        \ accessible to you. Accepts an optional parameter for filtering. Results\
        \ are sorted alphabetically."
      operationId: "listLabels"
      tags:
      - "Documents"
      responses:
        "200":
          $ref: "#/components/responses/ListLabelsResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /environment-shares:
    parameters:
    - $ref: "#/components/parameters/adminAccessQueryParam"
    post:
      summary: "Create an environment-share for a document."
      security:
      - ssoAuth:
        - "document:environment-shares:write"
      - ssoBearerAuth: []
      description: "**Required scope:** document:environment-shares:write<br/><br/>Create\
        \ an environment-share, which can be used to give one or multiple other users\
        \ access to this document. This is only possible for documents you own, as\
        \ well as for reshareable documents owned by other users to which you have\
        \ write access.\nA share can be created with either `read` or `read-write`\
        \ access.\n\nA document can have maximally one share per access type, therefore\
        \ it's impossible to create multiple read-shares or multiple 'read-write'-shares\
        \ for a single document.\n\nThis means, that you can create one read-share\
        \ for a document, and this single read-share can be used to give read-access\
        \ to an arbitrary number of users. The same applies to a 'read-write'-share.\n\
        \nCreating a share does *not* automatically allow users to access the document\
        \ - only those users who explicitly [claim the share](#/Environment%20Shares/claimEnvironmentShare)\
        \ gain access to the document.\n\nRevoking access from users can be done by\
        \ [deleting the share](#/Environment%20Shares/deleteEnvironmentShare)."
      operationId: "createEnvironmentShare"
      tags:
      - "Environment Shares"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnvShare"
      responses:
        "201":
          description: "A new environment-share for the specified document has been\
            \ created."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentShare"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentNotFound"
        "409":
          $ref: "#/components/responses/ShareAlreadyExists"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
    get:
      summary: "List environment-shares accessible to you."
      security:
      - ssoAuth:
        - "document:environment-shares:read"
      - ssoBearerAuth: []
      description: "**Required scope:** document:environment-shares:read<br/><br/>List\
        \ all environment-shares accessible to you.\nShares accessible to you include\
        \ those of your own documents, as well as those of reshareable documents owned\
        \ by other users to which you have write access.\nIf you are only concerned\
        \ with a specific document's environment-shares, or a specific share, you\
        \ can use the `filter` parameter to narrow down the result set. If you attempt\
        \ to retrieve environment-shares of a document not accessible by you, the\
        \ result set will be empty.\n\nFurthermore, you can apply pagination via the\
        \ `pageKey`, `page` and `pageSize` parameters.\n\n*Note, that at the moment\
        \ we offer a naive pagination, and therefore interim mutations can lead to\
        \ result inconsistencies (such as duplicates, missing entries).*"
      operationId: "listEnvironmentShares"
      tags:
      - "Environment Shares"
      parameters:
      - in: "query"
        name: "filter"
        description: "The filter query, as explained [here](https://dt-url.net/platform-services-filtering).\
          \ Filtering is only possible on the `documentId` property, and only via\
          \ the equals operator. Via this you can effectively retrieve the environment-shares\
          \ of a specific document. If this parameter is omitted, all environment-shares\
          \ accessible to you will be returned."
        required: false
        schema:
          type: "string"
      - $ref: "#/components/parameters/pageKey"
      - $ref: "#/components/parameters/page"
      - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          description: "A list of the environment-shares accessible to you.\nIf the\
            \ list was paginated (see `pageKey`, `page` and `pageSize`), and there\
            \ are more environment-shares available, you will find a non-empty `nextPageKey`\
            \ which can be used for a follow-up query. The `totalCount` property will\
            \ let you know the number of all matching environment-shares, as if no\
            \ pagination would have been applied."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentShareList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /environment-shares/{id}:
    get:
      summary: "Retrieve an environment-share."
      security:
      - ssoAuth:
        - "document:environment-shares:read"
      - ssoBearerAuth: []
      description: "**Required scope:** document:environment-shares:read<br/><br/>Retrieve\
        \ an environment-share via its id.\nThe share must be accessible to you. Shares\
        \ accessible to you include those of your own documents, as well as those\
        \ of reshareable documents owned by other users to which you have write access."
      operationId: "getEnvironmentShare"
      tags:
      - "Environment Shares"
      parameters:
      - in: "path"
        name: "id"
        description: "Environment-share id."
        required: true
        schema:
          type: "string"
      - $ref: "#/components/parameters/adminAccessQueryParam"
      responses:
        "200":
          $ref: "#/components/responses/EnvironmentShare"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ShareNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
    delete:
      summary: "Delete an environment-share accessible to you."
      security:
      - ssoAuth:
        - "document:environment-shares:delete"
      - ssoBearerAuth: []
      description: "**Required scope:** document:environment-shares:delete<br/><br/>Delete\
        \ the share. This will *not* delete the share's document.\n\nThe share must\
        \ be accessible to you. Shares accessible to you include those of your own\
        \ documents, as well as those of reshareable documents owned by other users\
        \ to which you have write access.\n\nThis operation effectively revokes the\
        \ access which has been granted to *all users* which have claimed this share.\
        \ This is the only way to revoke access to your document from other users.\
        \ It's impossible to revoke access of individual users.\n\nBe aware that deleting\
        \ a share doesn't necessarily prevent a user from accessing a document, as\
        \ the user might still have access via another share (of the same document).\
        \ E.g., if a user has read- and readwrite-access (via one read-share and another\
        \ readwrite-share), and the read-share gets deleted, access is still granted\
        \ to the user via the readwrite-share."
      operationId: "deleteEnvironmentShare"
      tags:
      - "Environment Shares"
      parameters:
      - in: "path"
        name: "id"
        description: "Environment-share id."
        required: true
        schema:
          type: "string"
      - $ref: "#/components/parameters/adminAccessQueryParam"
      responses:
        "204":
          description: "The share has been deleted."
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ShareNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /environment-shares/{id}/claim:
    put:
      summary: "Claim another user's environment-share."
      security:
      - ssoAuth:
        - "document:environment-shares:claim"
      - ssoBearerAuth: []
      description: "**Required scope:** document:environment-shares:claim<br/><br/>Claim\
        \ this environment-share, therefore gaining access to the share's document.\
        \ From thereafter, the document will be accessible to you with the specific\
        \ permissions defined by the share. You can then access the document as usual,\
        \ via the same endpoints which you would use to access your own documents.\n\
        \nClaiming your own shares isn't possible. You can only claim shares of documents\
        \ belonging to other users *of the same environment*.\n\nOnce you have claimed\
        \ access to a document, you can not revoke that access again.\n\nThe document's\
        \ owner can revoke your access by deleting the share. This will effectively\
        \ revoke the access you have been granted by claiming this share.\n\nYou can\
        \ claim multiple shares of the same document, and each share will grant you\
        \ different permissions.\n\nClaiming the same share multiple times doesn't\
        \ have any effect."
      operationId: "claimEnvironmentShare"
      tags:
      - "Environment Shares"
      parameters:
      - in: "path"
        name: "id"
        description: "Share id."
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "You have successfully claimed this share and can now access\
            \ the document with the granted permissions."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentShareClaimResult"
        "400":
          $ref: "#/components/responses/ClaimingOwnedShareNotAllowed"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ShareNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /environment-shares/{id}/claimers:
    get:
      summary: "List the claimers of an environment-share accessible to you."
      security:
      - ssoAuth:
        - "document:environment-shares:read"
      - ssoBearerAuth: []
      description: "**Required scope:** document:environment-shares:read<br/><br/>\n\
        Retrieve a share's claimers.\n\nThe share must be accessible to you.\nShares\
        \ accessible to you include those of your own documents, as well as those\
        \ of reshareable documents owned by other users to which you have write access.\n\
        \nYou can control the result's pagination via the `pageKey`, `page` and `pageSize`\
        \ parameters.\n\n*Note, that at the moment we offer a naive pagination, and\
        \ therefore interim document mutations and/or an\ninsufficient sort clause,\
        \ if provided, can lead to result inconsistencies (such as duplicates, missing\
        \ entries).*\n"
      operationId: "getEnvironmentShareClaimers"
      tags:
      - "Environment Shares"
      parameters:
      - in: "path"
        name: "id"
        description: "Environment-share id."
        required: true
        schema:
          type: "string"
      - $ref: "#/components/parameters/pageKey"
      - $ref: "#/components/parameters/page"
      - $ref: "#/components/parameters/pageSize"
      - $ref: "#/components/parameters/adminAccessQueryParam"
      responses:
        "200":
          $ref: "#/components/responses/EnvironmentShareClaimerList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ShareNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /direct-shares:
    parameters:
    - $ref: "#/components/parameters/adminAccessQueryParam"
    post:
      summary: "Create a direct-share."
      security:
      - ssoAuth:
        - "document:direct-shares:write"
      - ssoBearerAuth: []
      description: "**Required scope:** document:direct-shares:write<br/><br/>Create\
        \ a direct-share for a document. This is only possible for documents you own,\
        \ as well as for reshareable documents owned by other users to which you have\
        \ write access. The share can be used to grant access to a specific set of\
        \ users and/or groups, via [addRecipients](#/Direct%20Shares/addUserShareRecipients).\n\
        \nYou can optionally add users and/or groups which will directly be registered\
        \ as recipients of the share. The users and groups are specified via their\
        \ sso-ids. The maximum number of recipients is 1000.\n\nThe validity of the\
        \ SSO-users and SSO-groups isn't verified. It's technically possible, albeit\
        \ pointless, to add non-existing users and groups.\n\nThe share can be created\
        \ with either `read` or `read-write` access.\n\nA document can have maximally\
        \ one direct-share per access type, therefore it's impossible to create multiple\
        \ `read`-shares or multiple `read-write`-shares for a single document.\n\n\
        This means, that you can create one `read`-share for a document, and this\
        \ single `read`-share can be used to give read-access to an arbitrary number\
        \ of users (and/or groups). The same applies to a `read-write`-share."
      operationId: "createDirectShare"
      tags:
      - "Direct Shares"
      parameters:
      - $ref: "#/components/parameters/sendNotificationQueryParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDirectShare"
        required: true
      responses:
        "201":
          description: "A new share for the specified document has been created."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectShare"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentNotFound"
        "409":
          $ref: "#/components/responses/ShareAlreadyExists"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
    get:
      summary: "List all direct-shares accessible to you."
      security:
      - ssoAuth:
        - "document:direct-shares:read"
      - ssoBearerAuth: []
      description: "**Required scope:** document:direct-shares:read<br/><br/>List\
        \ all direct-shares accessible to you.\nShares accessible to you include those\
        \ of your own documents, as well as those of reshareable documents owned by\
        \ other users to which you have write access. If you are only concerned with\
        \ a specific document's shares, or a specific share, you can use the `filter`\
        \ parameter to narrow down the result set. If you attempt to retrieve shares\
        \ which are not accessible to you the result set will be empty.\n\n*Note,\
        \ that at the moment we offer a naive pagination, and therefore interim mutations\
        \ can lead to result inconsistencies (such as duplicates, missing entries).*"
      operationId: "listDirectShares"
      tags:
      - "Direct Shares"
      parameters:
      - in: "query"
        name: "filter"
        description: "The filter query, as explained [here](https://dt-url.net/platform-services-filtering).\
          \ Filtering is only possible on the `documentId` property, and only with\
          \ the equals operator. Via this you can effectively retrieve the direct-shares\
          \ of a specific document. If this parameter is omitted, all direct-shares\
          \ accessible to you will be returned."
        required: false
        schema:
          type: "string"
      - $ref: "#/components/parameters/pageKey"
      - $ref: "#/components/parameters/page"
      - $ref: "#/components/parameters/pageSize"
      - $ref: "#/components/parameters/adminAccessQueryParam"
      responses:
        "200":
          description: "A list of direct-shares accessible to you."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectShareList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /direct-shares/{id}:
    parameters:
    - $ref: "#/components/parameters/shareIdParam"
    - $ref: "#/components/parameters/adminAccessQueryParam"
    get:
      summary: "Retrieve a direct-share."
      security:
      - ssoAuth:
        - "document:direct-shares:read"
      - ssoBearerAuth: []
      description: "**Required scope:** document:direct-shares:read<br/><br/>Retrieve\
        \ a direct-share via its id.\nThe share must be accessible to you. Shares\
        \ accessible to you include those of your own documents, as well as those\
        \ of reshareable documents owned by other users to which you have write access."
      operationId: "getDirectShare"
      tags:
      - "Direct Shares"
      responses:
        "200":
          $ref: "#/components/responses/DirectShare"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ShareNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
    delete:
      summary: "Delete a direct-share."
      security:
      - ssoAuth:
        - "document:direct-shares:delete"
      - ssoBearerAuth: []
      description: "**Required scope:** document:direct-shares:delete<br/><br/>Delete\
        \ the share. This will *not* delete the share's document.\n\nYou can only\
        \ delete shares which are accessible to you. Shares accessible to you include\
        \ those of your own documents, as well as those of reshareable documents owned\
        \ by other users to which you have write access.\n\nThis operation effectively\
        \ revokes the access of all the share's recipients.\n\nBe aware that deleting\
        \ a share doesn't necessarily prevent a user from accessing a document, as\
        \ the user might still have access via another share (of the same document).\
        \ E.g., if a user has 'read' and 'read-write' access (via one 'read' and another\
        \ 'read-write' share), and the 'read' share gets deleted, access is still\
        \ granted to the user via the other 'read-write' share."
      operationId: "deleteDirectShare"
      tags:
      - "Direct Shares"
      responses:
        "204":
          description: "The share has been deleted."
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ShareNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /direct-shares/{id}/recipients:
    parameters:
    - $ref: "#/components/parameters/shareIdParam"
    - $ref: "#/components/parameters/adminAccessQueryParam"
    - $ref: "#/components/parameters/pageKey"
    - $ref: "#/components/parameters/page"
    - $ref: "#/components/parameters/pageSize"
    get:
      summary: "List the recipients of a direct-share."
      security:
      - ssoAuth:
        - "document:direct-shares:read"
      - ssoBearerAuth: []
      description: "**Required scope:** document:direct-shares:read<br/><br/>Retrieve\
        \ a share's recipients. If there are groups among the recipients, the groups\
        \ always appear before the users.\n\nYou can only retrieve the recipients\
        \ for shares which are accessible to you. Shares accessible to you include\
        \ those of your own documents, as well as those of reshareable documents owned\
        \ by other users to which you have write access."
      operationId: "getDirectShareRecipients"
      tags:
      - "Direct Shares"
      responses:
        "200":
          $ref: "#/components/responses/DirectShareRecipientList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ShareNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /direct-shares/{id}/recipients/add:
    parameters:
    - $ref: "#/components/parameters/shareIdParam"
    - $ref: "#/components/parameters/sendNotificationQueryParam"
    - $ref: "#/components/parameters/adminAccessQueryParam"
    post:
      summary: "Add recipients to a direct-share."
      security:
      - ssoAuth:
        - "document:direct-shares:write"
      - ssoBearerAuth: []
      description: "**Required scope:** document:direct-shares:write<br/><br/>Add\
        \ one or multiple SSO-users and/or SSO-groups to this share. The affected\
        \ users immediately gain access to the document.\n\nYou can only add recipients\
        \ to shares which are accessible to you. Shares accessible to you include\
        \ those of your own documents, as well as those of reshareable documents owned\
        \ by other users to which you have write access.\nThe maximum number of recipients\
        \ is 1000.\n\nThe validity of the SSO-users and SSO-groups isn't verified.\
        \ It's technically possible, albeit pointless, to add non-existing users and\
        \ groups.\n\nAlready added users or groups are ignored."
      operationId: "addDirectShareRecipients"
      tags:
      - "Direct Shares"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddDirectShareRecipients"
        required: true
      responses:
        "204":
          description: "The recipients have been added."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ShareNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /direct-shares/{id}/recipients/remove:
    parameters:
    - $ref: "#/components/parameters/shareIdParam"
    - $ref: "#/components/parameters/adminAccessQueryParam"
    post:
      summary: "Remove recipients from a share."
      security:
      - ssoAuth:
        - "document:direct-shares:write"
      - ssoBearerAuth: []
      description: "**Required scope:** document:direct-shares:write<br/><br/>Remove\
        \ one or multiple recipients from the share. The affected users immediately\
        \ lose access to the document.\n\nYou can only remove recipients from shares\
        \ which are accessible to you. Shares accessible to you include those of your\
        \ own documents, as well as those of reshareable documents owned by other\
        \ users to which you have write access.\nThe maximum number of recipients\
        \ is 1000.\n\nNon-existing users or groups are ignored."
      operationId: "removeDirectShareRecipients"
      tags:
      - "Direct Shares"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveDirectShareRecipients"
        required: true
      responses:
        "204":
          description: "The recipients have been removed."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ShareNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /trash/documents:
    get:
      parameters:
      - $ref: "#/components/parameters/listTrashedDocumentsFilterParam"
      - $ref: "#/components/parameters/pageKey"
      - $ref: "#/components/parameters/page"
      - $ref: "#/components/parameters/pageSize"
      - $ref: "#/components/parameters/adminAccessQueryParam"
      summary: "List your deleted documents."
      security:
      - ssoAuth:
        - "document:trash.documents:read"
      - ssoBearerAuth: []
      description: "**Required scope:** document:trash.documents:read<br/><br/>Lists\
        \ all documents, owned by you, which currently reside in the trash.\n\nNote\
        \ that documents in the trash are irreversibly deleted after 30 days.\n\n\
        *Note that at the moment we offer a naive pagination, and therefore interim\
        \ document mutations and/or an\n    insufficient sort clause, if provided,\
        \ can lead to result inconsistencies (such as duplicates, missing entries).*\n"
      operationId: "listTrashedDocuments"
      tags:
      - "Trash"
      responses:
        "200":
          $ref: "#/components/responses/ListTrashDocumentsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /trash/documents/{id}:
    get:
      parameters:
      - $ref: "#/components/parameters/documentIdParam"
      - $ref: "#/components/parameters/adminAccessQueryParam"
      summary: "Inspect the deleted document."
      security:
      - ssoAuth:
        - "document:trash.documents:read"
      - ssoBearerAuth: []
      description: "**Required scope:** document:trash.documents:read<br/><br/>Inspect\
        \ the deleted document's metadata.\nOnly the document owner is permitted to\
        \ do this."
      operationId: "inspectTrashedDocument"
      tags:
      - "Trash"
      responses:
        "200":
          $ref: "#/components/responses/InspectTrashDocumentResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/TrashedDocumentNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
    delete:
      parameters:
      - $ref: "#/components/parameters/documentIdParam"
      - $ref: "#/components/parameters/adminAccessQueryParam"
      summary: "Irreversibly destroy the document."
      security:
      - ssoAuth:
        - "document:trash.documents:delete"
      - ssoBearerAuth: []
      description: "**Required scope:** document:trash.documents:delete<br/><br/>This\
        \ operation irreversibly destroys the document.\nOnly the document owner is\
        \ permitted to do this."
      operationId: "deleteTrashedDocument"
      tags:
      - "Trash"
      responses:
        "204":
          description: "The document has been permanently deleted."
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/TrashedDocumentNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /trash/documents/{id}/restore:
    post:
      parameters:
      - $ref: "#/components/parameters/documentIdParam"
      - $ref: "#/components/parameters/adminAccessQueryParam"
      summary: "Restore the deleted document."
      security:
      - ssoAuth:
        - "document:trash.documents:restore"
      - ssoBearerAuth: []
      description: "**Required scope:** document:trash.documents:restore<br/><br/>This\
        \ operation restores the document from the trash.\nAll users who had access\
        \ before the deletion regain their access to the document.\nOnly the document\
        \ owner is permitted to do this."
      operationId: "restoreTrashedDocument"
      tags:
      - "Trash"
      responses:
        "204":
          description: "The document has been restored."
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/TrashedDocumentNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
  /documents:delete:
    post:
      parameters:
      - $ref: "#/components/parameters/adminAccessQueryParam"
      summary: "Bulk-delete multiple documents"
      security:
      - ssoAuth:
        - "document:documents:delete"
      - ssoBearerAuth: []
      description: "**Required scope:** document:documents:delete<br/><br/>Move the\
        \ documents with the given ids into the trash. They are no longer accessible\
        \ until they're restored from the trash. <p>The number of provided document\
        \ ids is limited to 100.</p>"
      operationId: "bulkDeleteDocument"
      tags:
      - "Documents"
      requestBody:
        $ref: "#/components/requestBodies/BulkDeleteRequest"
      responses:
        "200":
          $ref: "#/components/responses/BulkDeleteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          $ref: "#/components/responses/GeneralError"
components:
  parameters:
    fileNameParam:
      in: "query"
      name: "filename"
      description: "The optional `filename` query parameter can be passed to give\
        \ the file that's being downloaded a user-provided name and file extension\
        \ for downloading purposes. This name will be sent back to the client via\
        \ the Content-Disposition HTTP header. The passed `filename` will be trimmed\
        \ so that it doesn't contain any space characters around the name. When the\
        \ `filename` isn't specified, then the name of the document is used as file\
        \ name and no extension is added, since the service isn't aware of file extensions."
      schema:
        type: "string"
      required: false
    optimisticLockingVersionParam:
      in: "query"
      name: "optimistic-locking-version"
      description: "To protect users from accidental overrides, the current version\
        \ of the document must match the optimistic locking version parameter - otherwise,\
        \ this request will fail and the entity is left unchanged."
      schema:
        type: "string"
      required: true
    filter:
      in: "query"
      name: "filter"
      description: "\nThe filter parameter, as explained [here](https://dt-url.net/platform-services-filtering).\n\
        \nIf this parameter is omitted, no filtering is applied and all documents\
        \ available to you will be returned.\n\nFiltering by string type parameters\
        \ (`name`, `type`) when using one of the operators `contains`, `starts-with`\
        \ and `ends-with` is **case insensitive**.\n\nFiltering by `id` using the\
        \ operators `contains`, `starts-with` and `ends-with` is only supported in\
        \ case of user-given document ids.\n\nWhen using the equals operator or the\
        \ not-equals operator, filtering is **case sensitive**.\n\nThe following fields\
        \ are legal filtering parameters - any other field names will result in a\
        \ HTTP 400 response:\n\n`id`, `name`, `type`, `version`, `owner`, `modificationInfo.createdTime`,\
        \ `modificationInfo.createdBy`, `modificationInfo.lastModifiedTime`, `modificationInfo.lastModifiedBy`,\
        \ `originAppId`, `originExtensionId`, `isPrivate`, `labels`\n\nThe following\
        \ constraints apply:\n\n* Parameter names are **case-sensitive**.\n\n* Maximum\
        \ nesting depth (via brackets) is 3.\n\n* Maximum length is 1024 characters.\n\
        \n* The `labels` field only supports the `contains` operator, which checks\
        \ whether the document has a specific label assigned.\n  This is an **exact\
        \ element match** against the labels array. It's not a substring search.\n\
        \  For example, `labels contains 'foo'` matches a document with the label\
        \ `'foo'`, but **not** a document with the label `'foobar'`.\n  To find labels\
        \ by partial name (substring), use the `listLabels` operation.\n\nExamples:\n\
        \n* `name = 'my-document-name'`\n\n* `name == 'my-document-name'`\n\n* `(name\
        \ starts-with 'awesome' or type != 'dashboard') and version >= 5`\n\n* `modificationInfo.lastModifiedTime\
        \ >= '2022-07-01T00:10:05.000Z' and not (name contains 'new')`\n\n* `originAppId\
        \ exists`\n\n* `originExtensionId exists`\n\n* `type in ('dashboard', 'notebook')\
        \ and name contains 'report'`\n\n* `isPrivate = true`\n\n* `labels contains\
        \ 'my-label'`\n\n* `labels contains 'my-label' and labels contains 'other-label'`\n"
      required: false
      schema:
        type: "string"
    sort:
      in: "query"
      name: "sort"
      description: "The sort parameter, as explained [here](https://dt-url.net/platform-services-filtering)\n\
        \nIf this parameter is omitted, the documents are sorted by their ids.\n\n\
        Sorting by string types (`name`, `type`) is done in a case insensitive manner.\n\
        \nThe following fields are legal sorting parameters - any other sorting parameters\
        \ will result in a HTTP 400 response:\n* `name`,  `type`,  `version`, `owner`,\
        \ `modificationInfo.createdTime`, `modificationInfo.createdBy`, `modificationInfo.lastModifiedTime`,`modificationInfo.lastModifiedBy`,`originAppId`,\
        \ `userContext.lastAccessedTime`\n\nThe following constraints apply:\n\n*\
        \ Maximum number of sorting parameters is 5. Exceeding this limit will result\
        \ in a HTTP 400 response.\n\n* Note that blanks are *not* ignored and will\
        \ result in a HTTP 400 response.\n\nExamples:\n\n* `name`\n\n* `name,-type,modificationInfo.lastModifiedTime`\n"
      required: false
      schema:
        type: "string"
    pageKey:
      in: "query"
      name: "page-key"
      description: "The page key is used to query results from the next page.\nYou\
        \ get a `nextPageKey` parameter in the return value of this method to use\
        \ here.\nIf this parameter is omitted, the first page will be returned.\n"
      required: false
      schema:
        type: "string"
    page:
      in: "query"
      name: "page"
      description: "The page parameter is used to directly access a specific page.\n\
        The value of the page parameter, if specified, has to be a value greater than\
        \ zero.\nIf the value of the page parameter exceeds the highest available\
        \ page on the backend, an empty page is returned.\n"
      required: false
      schema:
        type: "integer"
    pageSize:
      in: "query"
      name: "page-size"
      description: "The page size which defines the requested number of result entries.\
        \ You can request a maximum of 1000 result entries.\nIf this parameter is\
        \ omitted, the default value of 20 will be used.\n"
      required: false
      schema:
        type: "integer"
    listTrashedDocumentsFilterParam:
      in: "query"
      name: "filter"
      required: false
      schema:
        type: "string"
      description: "The filter parameter, as explained [here](https://dt-url.net/platform-services-filtering).\n\
        \nIf this parameter is omitted, no filtering is applied and all your deleted\
        \ documents will be returned.\n\nFiltering by string type parameters when\
        \ using one of the operators `contains`, `starts-with` and `ends-with` is\
        \ **case insensitive**.\n\nFiltering by `id` using the operators `contains`,\
        \ `starts-with` and `ends-with` is only supported in case of user-given document\
        \ ids.\n\nWhen using the equals operator or the not-equals operator, filtering\
        \ is **case sensitive**.\n\nThe following fields are legal filtering parameters\
        \ - any other field names will result in a HTTP 400 response:\n\n`id`, `name`,\
        \ `type`, `deletionInfo.deletedTime`, `deletionInfo.deletedBy`\n\nThe following\
        \ constraints apply:\n\n* Parameter names are **case-sensitive**.\n\n* Maximum\
        \ nesting depth (via brackets) is 3.\n\n* Maximum length is 1024 characters.\n"
    snapshotVersionQueryParam:
      in: "query"
      name: "snapshot-version"
      description: "Snapshot version, to be used if you want to access a snapshot\
        \ of the document.\n"
      required: false
      schema:
        type: "integer"
    createSnapshotQueryParam:
      in: "query"
      name: "create-snapshot"
      description: "Indicates whether a new snapshot of the document should be created\
        \ before the update is applied.\n"
      required: false
      schema:
        type: "boolean"
        default: false
    adminAccessQueryParam:
      in: "query"
      name: "admin-access"
      description: "Indicates whether the operation should be performed with elevated\
        \ permissions - additionally requires **document:documents:admin**.\n\nIf\
        \ provided, the user effectively operates as owner of all documents. This\
        \ isn't supported for ready-made documents.\n"
      required: false
      schema:
        type: "boolean"
        default: false
    sendNotificationQueryParam:
      in: "query"
      name: "send-notification"
      description: "Indicates whether a notification shall be sent to share recipients\
        \ or new document owners.\nNotifications are only sent for documents whose\
        \ type is supported by at least one app installed in the environment.\n"
      required: false
      schema:
        type: "boolean"
        default: true
    containsQueryParam:
      in: "query"
      name: "contains"
      description: "Search string for filtering labels.\n\nIf this parameter is provided,\
        \ the minimum length is 3 characters. Labels that start with the search string\n\
        are returned before labels that contain the search string.\n\nIf this parameter\
        \ is omitted, no filtering is applied and all labels accessible to you will\
        \ be returned.\n"
      required: false
      schema:
        type: "string"
        minLength: 3
    documentIdParam:
      in: "path"
      name: "id"
      description: "System-generated or user-given id of a document."
      required: true
      schema:
        type: "string"
    documentIdOrExternalIdParam:
      in: "path"
      name: "id"
      description: "System-generated or user-given id of a document."
      required: true
      schema:
        type: "string"
    shareIdParam:
      in: "path"
      name: "id"
      description: "System-generated id of a share."
      required: true
      schema:
        type: "string"
    snapshotVersionPathParam:
      in: "path"
      name: "snapshot-version"
      description: "System-generated snapshot version."
      required: true
      schema:
        type: "integer"
  headers:
    documentVersionResponseHeader:
      description: "Document version"
      schema:
        type: "integer"
  schemas:
    DocumentList:
      type: "object"
      description: "Envelope object for a list of metadata"
      properties:
        documents:
          type: "array"
          items:
            $ref: "#/components/schemas/DocumentMetaData"
        nextPageKey:
          type: "string"
          description: "Use this as `page-key` query param to get the next page. If\
            \ the list was paginated, and there are more results available, this parameter\
            \ will be returned."
        totalCount:
          type: "integer"
          description: "The total amount of matching results for this query, as if\
            \ no pagination would have been applied."
      required:
      - "documents"
      - "totalCount"
      example:
        documents:
        - id: "doc-123"
          name: "My Dashboard"
          type: "MyType"
          description: "Some description of the document"
          version: "1"
          owner: "441664f0-23c9-40ef-b344-18c02c23d789"
          modificationInfo:
            createdBy: "441664f0-23c9-40ef-b344-18c02c23d789"
            createdTime: "2021-10-09T19:23:27Z"
            lastModifiedBy: "441664f0-23c9-40ef-b344-18c02c23d789"
            lastModifiedTime: "2021-11-10T05:11:11Z"
            lastModifyingAppId: null
          access:
          - "read"
          - "write"
          - "delete"
          isPrivate: false
          externalId: "doc-123"
          originAppId: null
          originExtensionId: null
          userContext:
            lastAccessedTime: "2021-11-10T05:11:11Z"
          shareInfo:
            isShared: true
            isSharedWithCurrentUser: true
        - id: "2e9565ea-73dd-42e1-89d1-58797ca5e89f"
          name: "My Notebook"
          type: "MyType2"
          description: "Some description of the document"
          version: "3"
          owner: "441664f0-23c9-40ef-b344-18c02c23d789"
          modificationInfo:
            createdBy: "441664f0-23c9-40ef-b344-18c02c23d789"
            createdTime: "2021-10-09T19:23:27Z"
            lastModifiedBy: "441664f0-23c9-40ef-b344-18c02c23d789"
            lastModifiedTime: "2021-11-10T05:11:11Z"
            lastModifyingAppId: null
          access:
          - "read"
          isPrivate: true
          externalId: null
          originAppId: null
          originExtensionId: null
          userContext:
            lastAccessedTime: null
          shareInfo:
            isShared: true
            isSharedWithCurrentUser: true
        nextPageKey: "bmQgUXVhcms="
        totalCount: 42
    LabelsList:
      type: "object"
      description: "Envelope object for a list of labels"
      properties:
        labels:
          type: "array"
          items:
            type: "string"
          description: "List of labels accessible to you."
      required:
      - "labels"
      example:
        labels:
        - "label1"
        - "label2"
        - "label3"
    UpdateDocumentMetadata:
      type: "object"
      properties:
        documentMetadata:
          $ref: "#/components/schemas/DocumentMetaData"
        createdSnapshot:
          $ref: "#/components/schemas/CreatedSnapshot"
      required:
      - "documentMetadata"
    RestoreDocumentResult:
      type: "object"
      properties:
        documentMetadata:
          $ref: "#/components/schemas/DocumentMetaData"
        createdSnapshot:
          $ref: "#/components/schemas/CreatedSnapshot"
      required:
      - "documentMetadata"
    CreatedSnapshot:
      type: "object"
      properties:
        snapshotVersion:
          type: "integer"
          description: "System-generated snapshot version."
      example:
        snapshotVersion: 5
      required:
      - "snapshotVersion"
    DocumentMetaData:
      type: "object"
      properties:
        id:
          type: "string"
          description: "System-generated or user-given id of a document."
        externalId:
          type: "string"
          description: "User-given id. Deprecated in favor of id."
          deprecated: true
        name:
          type: "string"
          description: "Name, provided by the user. The system is entirely agnostic\
            \ of this value and there are no semantics attached to it."
        type:
          type: "string"
          description: "Type, provided by the user. The system is entirely agnostic\
            \ of this value and there are no semantics attached to it."
        description:
          type: "string"
          description: "Description, provided by the user."
        version:
          description: "Initial value is 1. Every manipulation (of metadata or content)\
            \ leads to an increment. This value is used for optimistic locking during\
            \ modification operations."
          type: "string"
        owner:
          type: "string"
          description: "Unique user id derived from Authorization header."
        modificationInfo:
          $ref: "#/components/schemas/ModificationInfo"
        access:
          type: "array"
          items:
            type: "string"
          description: "Indicates which operations you may apply to this document.\
            \ For example, if you own the document, this array contains the values\
            \ ['read', 'write', 'delete'].\n- `read` - you may read, but not update\
            \ or delete it.\n- `write` - you may update, but not read or delete it.\n\
            - `delete` - you may delete, but not read or update it.\n"
        isPrivate:
          type: "boolean"
          description: "Indicates whether this document is public. Public documents\
            \ can be read by every user of the environment."
        isReshareable:
          type: "boolean"
          description: "Indicates whether users who have write access via shares may\
            \ re-share the document with other users. Otherwise, only the owner may\
            \ share the document with other users."
        originAppId:
          type: "string"
          description: "The id of the application that shipped that document. Null,\
            \ if the document isn't ready-made by an app."
        originExtensionId:
          type: "string"
          description: "The id of the extension that shipped that document. Null,\
            \ if the document isn't shipped by an extension."
        userContext:
          $ref: "#/components/schemas/UserContext"
        shareInfo:
          $ref: "#/components/schemas/ShareInfo"
        labels:
          type: "array"
          items:
            type: "string"
          description: "A set of user-defined labels.\n"
      required:
      - "id"
      - "name"
      - "type"
      - "version"
      - "owner"
      - "modificationInfo"
      - "access"
      - "isPrivate"
      example:
        id: "My-Favorite-Dashboard-123"
        name: "My Dashboard"
        type: "MyType"
        description: "Some description of the document"
        version: "1"
        owner: "441664f0-23c9-40ef-b344-18c02c23d789"
        modificationInfo:
          createdBy: "441664f0-23c9-40ef-b344-18c02c23d789"
          createdTime: "2021-10-09T19:23:27Z"
          lastModifiedBy: "441664f0-23c9-40ef-b344-18c02c23d789"
          lastModifiedTime: "2021-11-10T05:11:11Z"
          lastModifyingAppId: "app-123"
        access:
        - "read"
        - "write"
        - "delete"
        isPrivate: true
        isReshareable: true
        externalId: "My-Favorite-Dashboard-123"
        originAppId: null
        originExtensionId: null
        userContext:
          lastAccessedTime: "2021-11-10T05:11:11Z"
        labels:
        - "label1"
        - "label2"
    ModificationInfo:
      type: "object"
      description: "Info related to creation and modification of the entity."
      properties:
        createdBy:
          type: "string"
          description: "User who created this entity."
        createdTime:
          type: "string"
          format: "date-time"
          description: "Creation time (in notation as defined by RFC 3339, section\
            \ 5.6)."
        lastModifiedBy:
          type: "string"
          description: "User who last modified this entity (metadata or content)."
        lastModifiedTime:
          type: "string"
          format: "date-time"
          description: "Time of last modification (in notation as defined by RFC 3339,\
            \ section 5.6)."
        lastModifyingAppId:
          type: "string"
          description: "Dynatrace app which last modified this entity's content. Null,\
            \ if the last modification wasn't done by an app or if this property was\
            \ not specifically requested via `add-fields`."
      required:
      - "createdBy"
      - "createdTime"
      - "lastModifiedBy"
      - "lastModifiedTime"
    DeletionInfo:
      type: "object"
      description: "Info related to the deletion of the entity."
      properties:
        deletedBy:
          type: "string"
          description: "User who deleted this entity."
        deletedTime:
          type: "string"
          format: "date-time"
          description: "Time of deletion (in notation as defined by RFC 3339, section\
            \ 5.6)."
      required:
      - "deletedBy"
      - "deletedTime"
    CreationInfo:
      type: "object"
      description: "Info related to creation of the entity."
      properties:
        createdBy:
          type: "string"
          description: "User who created this entity."
        createdTime:
          type: "string"
          format: "date-time"
          description: "Creation time (in notation as defined by RFC 3339, section\
            \ 5.6)."
      required:
      - "createdBy"
      - "createdTime"
    UserContext:
      type: "object"
      description: "User-specific information related to this document."
      properties:
        lastAccessedTime:
          type: "string"
          format: "date-time"
          description: "Time when the current user last opened or modified this document\
            \ (in notation as defined by RFC 3339, section 5.6)."
    ShareInfo:
      type: "object"
      description: "Share-specific information related to this document."
      properties:
        isShared:
          type: "boolean"
          description: "Indicates whether the document is shared with at least one\
            \ user. This means it's true if one of the following applies:\n- The document\
            \ is public\n- There is at least one direct share with at least one user\
            \ or group\n- There is at least one environment share, regardless of how\
            \ many users have claimed that share\n"
        isSharedWithCurrentUser:
          type: "boolean"
          description: "Indicates whether the document is shared with the user that\
            \ has requested it."
    SnapshotList:
      type: "object"
      description: "Envelope object for a list of snapshots of a document."
      properties:
        snapshots:
          type: "array"
          items:
            $ref: "#/components/schemas/SnapshotMetadata"
        nextPageKey:
          type: "string"
          description: "Use this as `page-key` query param to get the next page. If\
            \ the list was paginated, and there are more results available, this parameter\
            \ will be returned."
        totalCount:
          type: "integer"
          description: "The total amount of matching results for this query, as if\
            \ no pagination would have been applied."
      required:
      - "snapshots"
      - "totalCount"
      example:
        snapshots:
        - snapshotVersion: 2
          documentVersion: 7
          description: "Add another section to the document"
          modificationInfo:
            createdBy: "5555f0-23c9-40ef-b344-18c02c23d788"
            createdTime: "2021-10-15T19:23:27Z"
        - snapshotVersion: 1
          documentVersion: 3
          description: "Add a section to the document"
          modificationInfo:
            createdBy: "6666f0-23c9-40ef-b344-18c02c23d789"
            createdTime: "2021-10-09T19:23:27Z"
        nextPageKey: "bmQgUXVhcms="
        totalCount: 2
    SnapshotMetadata:
      type: "object"
      description: "Metadata of a snapshot of a document."
      properties:
        snapshotVersion:
          type: "integer"
          description: "System-maintained auto-incremented snapshot version, starting\
            \ at 1.\n\nThis isn't the document version.\n"
        documentVersion:
          type: "integer"
          description: "The document version associated with this snapshot. The document\
            \ had this version when the snapshot was created."
        description:
          type: "string"
          description: "An optional description of the snapshot's content or the changes\
            \ it introduces to the previous snapshot. Provided by the user or app."
        modificationInfo:
          $ref: "#/components/schemas/CreationInfo"
      required:
      - "snapshotVersion"
      - "documentVersion"
      - "modificationInfo"
      example:
        snapshotVersion: 2
        documentVersion: 5
        description: "Add a section to the document"
[...]
