openapi: "3.0.1"
info:
  description: "\nFetch and update OpenPipeline configurations for different data\
    \ sources.\n\nTo read about use cases and examples, see [Dynatrace Documentation](https://dt-url.net/openpipeline-pipelines-docs).\n\
    \nTo authorize, use a valid OAuth token.\n\nNotes about compatibility:\n* Operations\
    \ marked as early adopter or preview may be changed in non-compatible ways, although\
    \ we try to avoid this.\n* We may add new enum constants without incrementing\
    \ the API version; thus, clients need to handle unknown enum constants gracefully."
  title: "OpenPipeline v1"
  version: "1.41.0"
  x-service-category: "OpenPipeline"
  x-summary: "Fetch and update OpenPipeline configurations for different data sources."
servers:
- url: "https://asn8731h.sprint.apps.dynatracelabs.com/platform/openpipeline/v1"
  x-api-gateway-url: "/platform/openpipeline/v1"
tags:
- description: "Allows you to translate the tenant's classic pipeline configuration\
    \ into an OpenPipeline configuration pipeline."
  name: "Classic Pipeline Translation"
- description: "Allows you to view and update your configurations."
  name: "Configurations"
- description: "Allows you to verify and retrieve suggestions for DQL processor scripts."
  name: "DQL Processor"
- description: "Allows you to verify and retrieve suggestions for matchers."
  name: "Matcher"
- description: "Allows you to preview the impact of configuration changes."
  name: "Preview"
- description: "Allows you to view all technology bundles and the associated processors."
  name: "Technology"
paths:
  /classic-pipelines/translate:
    get:
      operationId: "translateClassicPipeline"
      parameters:
      - description: "Configuration scope to translate, either 'logs' or 'bizevents'."
        in: "query"
        name: "configuration"
        required: true
        schema:
          type: "string"
      - description: "Include processor sample data in the translation."
        in: "query"
        name: "includeSampleData"
        schema:
          type: "boolean"
          default: true
      - description: "Skip disabled rules during translation."
        in: "query"
        name: "skipDisabledRules"
        schema:
          type: "boolean"
          default: false
      - description: "Skip built-in processing rules during translation."
        in: "query"
        name: "skipBuiltinProcessingRules"
        schema:
          type: "boolean"
          default: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/ClassicPipelineTranslationResult"
          description: "The translated OpenPipeline configuration pipeline."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "settings:objects:read"
      - ssoBearerAuth: []
      summary: "Translates the tenant's classic pipeline for the requested config\
        \ scope into an OpenPipeline configuration pipeline. | maturity=EARLY_ADOPTER"
      tags:
      - "Classic Pipeline Translation"
      x-maturity: "EARLY_ADOPTER"
      x-only-visible-in-saas: true
      description: "**Required scope:** settings:objects:read"
  /configurations:
    get:
      operationId: "configurations"
      parameters:
      - description: "Returns results only for the selected configuration."
        in: "query"
        name: "configurationId"
        schema:
          type: "string"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              example:
              - id: "logs"
                editable: false
                definition:
                  endpointsSpecification:
                    customEndpoints: false
                  pipelinesSpecification:
                    processing:
                    - "drop"
                    - "fieldsRemove"
                    - "fieldsRename"
                    - "technology"
                    - "dql"
                    - "fieldsAdd"
                    dataExtraction:
                    - "bizevent"
                    - "davis"
                    metricExtraction:
                    - "valueMetric"
                    - "counterMetric"
                    securityContext:
                    - "securityContext"
                    storage:
                    - "noStorage"
                    - "bucketAssignment"
                  metricKeyPrefix: "log"
                  bucketsSpecification:
                    defaultBucket: "default_logs"
                    bucketTable: "logs"
              - id: "events"
                editable: false
                definition:
                  endpointsSpecification:
                    customEndpoints: true
                  pipelinesSpecification:
                    processing:
                    - "drop"
                    - "fieldsRemove"
                    - "fieldsRename"
                    - "dql"
                    - "fieldsAdd"
                    dataExtraction:
                    - "davis"
                    metricExtraction:
                    - "valueMetric"
                    - "counterMetric"
                    securityContext:
                    - "securityContext"
                    storage:
                    - "noStorage"
                    - "bucketAssignment"
                  metricKeyPrefix: "events"
                  bucketsSpecification:
                    defaultBucket: "default_events"
                    bucketTable: "events"
              - id: "bizevents"
                editable: false
                definition:
                  endpointsSpecification:
                    customEndpoints: false
                  pipelinesSpecification:
                    processing:
                    - "drop"
                    - "fieldsRemove"
                    - "fieldsRename"
                    - "dql"
                    - "fieldsAdd"
                    dataExtraction:
                    - "davis"
                    metricExtraction:
                    - "valueMetric"
                    - "counterMetric"
                    securityContext:
                    - "securityContext"
                    storage:
                    - "noStorage"
                    - "bucketAssignment"
                  metricKeyPrefix: "bizevents"
                  bucketsSpecification:
                    defaultBucket: "default_bizevents"
                    bucketTable: "bizevents"
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/ConfigurationListItem"
          description: "List of available configurations."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Returns the list of available configuration identifiers."
      tags:
      - "Configurations"
      x-only-visible-in-saas: true
      description: "**Required scope:** openpipeline:configurations:read"
  /dqlProcessor/autocomplete:
    post:
      operationId: "dqlProcessorAutocomplete"
      requestBody:
        content:
          application/json; charset=utf-8:
            example:
              cursorPosition: 5
              script: "parse"
            schema:
              $ref: "#/components/schemas/DQLProcessorAutocompleteRequest"
        description: "DQL processor script and position to create suggestions for."
        required: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              example:
                suggestions:
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " "
                - parts:
                  - suggestion: "parse"
                    type: "COMMAND_NAME"
                    info: "Parses a record field and puts the result(s) into one or\
                      \ more fields as specified in the pattern."
                    synopsis: "parse expression, pattern [, preserveFieldsOnFailure]\
                      \ [, parsingPrerequisite]"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 5
                  suggestion: "parse "
                optional: false
              schema:
                $ref: "#/components/schemas/AutocompleteResponse"
          description: "Returns the autocomplete suggestions for the DQL processor\
            \ script."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Returns autocompletion suggestions for the given DQL processor script."
      tags:
      - "DQL Processor"
      description: "**Required scope:** openpipeline:configurations:read"
  /dqlProcessor/verify:
    post:
      operationId: "dqlProcessorVerify"
      requestBody:
        content:
          application/json; charset=utf-8:
            example:
              script: "parse content, \"IPV4:ip LD HTTPDATE:time ']' LD:text\""
            schema:
              $ref: "#/components/schemas/DQLProcessorVerifyRequest"
        description: "Single DQL processor script to verify."
        required: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                Invalid DQL script:
                  description: "Invalid DQL script"
                  value:
                    valid: false
                    notifications:
                    - severity: "ERROR"
                      syntaxPosition:
                        start:
                          column: 1
                          index: 0
                          line: 1
                        end:
                          column: 6
                          index: 5
                          line: 1
                      message: "There's been an error during parsing: There's no command\
                        \ `parsee`."
                Valid DQL script:
                  description: "Valid DQL script"
                  value:
                    valid: true
                    notifications: []
              schema:
                $ref: "#/components/schemas/VerifyResponse"
          description: "Returns the verification result of the DQL processor script."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Verifies if the given DQL processor script is valid."
      tags:
      - "DQL Processor"
      description: "**Required scope:** openpipeline:configurations:read"
  /matcher/autocomplete:
    post:
      operationId: "matcherAutocomplete"
      requestBody:
        content:
          application/json; charset=utf-8:
            example:
              query: "match"
              cursorPosition: 5
            schema:
              $ref: "#/components/schemas/MatcherAutocompleteRequest"
        description: "Matcher and position to create suggestions for."
        required: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              example:
                suggestions:
                - parts:
                  - suggestion: ""
                    type: "SIMPLE_IDENTIFIER"
                    info: "some custom field"
                  alreadyTypedCharacters: 0
                  suggestion: ""
                - parts:
                  - suggestion: "matchesPhrase"
                    type: "FUNCTION_NAME"
                    info: "Matches a phrase against the input string expression using\
                      \ token matchers."
                    synopsis: "matchesPhrase(expression, phrase [, caseSensitive])"
                  - suggestion: "("
                    type: "PARENTHESIS_OPEN"
                  alreadyTypedCharacters: 5
                  suggestion: "matchesPhrase("
                - parts:
                  - suggestion: "matchesValue"
                    type: "FUNCTION_NAME"
                    info: "Matches a value against the input expression using token\
                      \ matchers."
                    synopsis: "matchesValue(expression, value [, caseSensitive])"
                  - suggestion: "("
                    type: "PARENTHESIS_OPEN"
                  alreadyTypedCharacters: 5
                  suggestion: "matchesValue("
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "*"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " * "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "/"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " / "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "%"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " % "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "+"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " + "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "-"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " - "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "=="
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " == "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "!="
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " != "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "<"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " < "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: ">"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " > "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "<="
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " <= "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: ">="
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " >= "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "and"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " and "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "xor"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " xor "
                - parts:
                  - suggestion: " "
                    type: "SPACE"
                  - suggestion: "or"
                    type: "OPERATOR"
                  - suggestion: " "
                    type: "SPACE"
                  alreadyTypedCharacters: 0
                  suggestion: " or "
                - parts:
                  - suggestion: "|"
                    type: "PIPE"
                  alreadyTypedCharacters: 0
                  suggestion: "|"
                optional: true
              schema:
                $ref: "#/components/schemas/AutocompleteResponse"
          description: "Returns the autocomplete suggestions for the matcher."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Returns autocompletion suggestions for the given matcher."
      tags:
      - "Matcher"
      description: "**Required scope:** openpipeline:configurations:read"
  /matcher/lqlToDql:
    post:
      operationId: "matcherLqlToDql"
      requestBody:
        content:
          application/json; charset=utf-8:
            example:
              query: "log.source=\"snmptraps\" AND snmp.trap_oid=\"F5-BIGIP-COMMON-MIB\""
            schema:
              $ref: "#/components/schemas/MatcherRequest"
        description: "Valid LQL matcher for conversion."
        required: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              example:
                query: "matchesValue(log.source, \"snmptraps\") and matchesValue(snmp.trap_oid,\
                  \ \"F5-BIGIP-COMMON-MIB\")"
              schema:
                $ref: "#/components/schemas/MatcherRequest"
          description: "Returns the converted LQL matcher in DQL format."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Translates the given LQL matcher into a DQL matcher."
      tags:
      - "Matcher"
      description: "**Required scope:** openpipeline:configurations:read"
  /matcher/verify:
    post:
      operationId: "matcherVerify"
      requestBody:
        content:
          application/json; charset=utf-8:
            example:
              query: "matchesValue(type, \"security\")"
            schema:
              $ref: "#/components/schemas/MatcherVerifyRequest"
        description: "Single matcher to verify."
        required: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                Invalid matcher:
                  description: "Invalid matcher"
                  value:
                    valid: false
                    notifications:
                    - severity: "ERROR"
                      syntaxPosition:
                        start:
                          column: 1
                          index: 0
                          line: 1
                        end:
                          column: 6
                          index: 5
                          line: 1
                      message: "There's been an error during parsing: There's no command\
                        \ `parsee`."
                Valid matcher:
                  description: "Valid matcher"
                  value:
                    valid: true
                    notifications: []
              schema:
                $ref: "#/components/schemas/VerifyResponse"
          description: "Returns the verification result of the matcher."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Verifies if the given matcher is valid."
      tags:
      - "Matcher"
      description: "**Required scope:** openpipeline:configurations:read"
  /preview/processor:
    post:
      operationId: "previewSingle"
      requestBody:
        content:
          application/json; charset=utf-8:
            example:
              processor:
                type: "fieldsRename"
                enabled: false
                editable: true
                id: "hostname-field-normalizer"
                description: "hostname field normalizer"
                matcher: "isNotNull(\"hostname\")"
                sampleData: "{\"hostname\": \"raspberry-pi 4\",\"ip\":\"10.0.0.123\"\
                  }"
                fields:
                - fromName: "hostname"
                  toName: "host.name"
                - fromName: "ip"
                  toName: "ip.address"
            schema:
              $ref: "#/components/schemas/PreviewProcessorEnvelope"
        description: "The processor with sample-data to preview."
        required: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              example:
                results:
                - matched: true
                  record:
                    ip.address: "10.0.0.123"
                    host.name: "raspberry-pi 4"
                    timestamp: "2024-06-24T07:21:52.200000000Z"
              schema:
                $ref: "#/components/schemas/PreviewProcessorResult"
          description: "Preview result containing the processed sample data record."
        "408":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 408
                  message: "Preview run resulted in a timeout."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Preview run resulted in a timeout."
        "429":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 429
                  message: "Failed. Too many requests."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Too many concurrent preview requests."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Returns the preview result for a given processor and sample data."
      tags:
      - "Preview"
      x-only-visible-in-saas: true
      description: "**Required scope:** openpipeline:configurations:read"
  /technologies:
    get:
      operationId: "getAllTechnologies"
      parameters:
      - description: "Contains a configuration ID as a string to filter the technologies\
          \ by."
        in: "query"
        name: "configurationsFilter"
        schema:
          type: "string"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              example:
              - groupId: "ElasticSearch"
                technologies:
                - id: "elasticsearch_9430_v2"
                  name: "ElasticSearch Logs parser"
                  iconUrl: "/icons/elastic"
                  sampleData: "{}"
                  shortDescription: "ElasticSearch technology"
                  fullDescription: "ElasticSearch technology parsers"
                  tags:
                  - "slow"
                  - "log"
                  - "elastic"
                  matcher: "matchesValue(process.technology, \"elastic_search\") or\
                    \ matchesValue(process.technology, \"elasticsearch\")"
                  allowedConfigurations:
                  - "logs"
                  - "events.sdlc"
                  deprecated: false
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/TechnologyGroup"
          description: "List of available technology bundles grouped by a technology\
            \ group name."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Returns all technology bundles. | maturity=EARLY_ADOPTER"
      tags:
      - "Technology"
      x-maturity: "EARLY_ADOPTER"
      x-only-visible-in-saas: true
      description: "**Required scope:** openpipeline:configurations:read"
  /technologies/{id}/processors:
    get:
      operationId: "processorsForTechnologyId"
      parameters:
      - description: "The ID of a technology bundle."
        in: "path"
        name: "id"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              example:
              - type: "dql"
                enabled: true
                editable: false
                id: "es_slow_log"
                description: "ES Slow Log Index"
                matcher: "matchesPhrase(content, \"index.indexing.slowlog*\")"
                sampleData: "{}"
                dqlScript: "parse content, \"'[' TIMESTAMP('yyyy-MM-ddTHH:mm:ss,SSS'):timestamp\
                  \ ']' PUNCT?\nSPACE? '[' UPPER:loglevel SPACE* ']' PUNCT?\nSPACE?\
                  \ '[index.indexing.slowlog.' LD:'db.operation' ']' PUNCT?\nSPACE?\
                  \ '[' LD:'db.elasticsearch.node' ']' PUNCT?\n(SPACE? '{' LD '}')?\
                  \ //metadata, dt.trace_id\nSPACE? '[' LD?:'db.elasticsearch.index_name'\
                  \ ']' PUNCT?\nSPACE? 'took[' LD ']' PUNCT?\nSPACE? 'took_millis['\
                  \ INT:'db.elasticsearch.duration' ']' PUNCT?\nDATA\"\n"
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/ProcessingStageProcessor"
          description: "List of all processors within a specific technology bundle."
        "4XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 400
                  message: "Bad request."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Client-side error."
        "5XX":
          content:
            application/json; charset=utf-8:
              example:
                error:
                  code: 500
                  message: "Internal server error."
              schema:
                $ref: "#/components/schemas/ErrorResponseEnvelope"
          description: "Server-side error."
      security:
      - ssoAuth:
        - "openpipeline:configurations:read"
      - ssoBearerAuth: []
      summary: "Returns all processors for a technology bundle. | maturity=EARLY_ADOPTER"
      tags:
      - "Technology"
      x-maturity: "EARLY_ADOPTER"
      x-only-visible-in-saas: true
      description: "**Required scope:** openpipeline:configurations:read"
components:
  schemas:
    AutocompleteResponse:
      type: "object"
      description: "The response of the autocomplete call."
      properties:
        optional:
          type: "boolean"
          description: "True if the suggestions are optional."
        suggestedTtlSeconds:
          type: "integer"
          format: "int32"
          description: "Suggested duration, in seconds, for how long the response\
            \ can be cached and reused by the client. It's derived from the volatility\
            \ of the suggestions on the server (such as if the suggestions are static,\
            \ how long the server will cache the volatile suggestions, etc.). If no\
            \ value is provided, the result might be cached for a long time. If the\
            \ value is lower than `1`, the result won't be cached."
        suggestions:
          type: "array"
          description: "The list of suggestions."
          items:
            $ref: "#/components/schemas/AutocompleteSuggestion"
      required:
      - "optional"
      - "suggestions"
    AutocompleteSuggestion:
      type: "object"
      description: "Single suggestion for completion of the query."
      properties:
        alreadyTypedCharacters:
          type: "integer"
          format: "int32"
          description: "Number of characters that the user already typed for this\
            \ suggestion."
        parts:
          type: "array"
          description: "List of suggestion parts."
          items:
            $ref: "#/components/schemas/AutocompleteSuggestionPart"
        suggestion:
          type: "string"
          description: "The suggested continuation of the input."
      required:
      - "alreadyTypedCharacters"
      - "parts"
      - "suggestion"
    AutocompleteSuggestionPart:
      type: "object"
      description: "Part of the suggestion."
      properties:
        info:
          type: "string"
          description: "The type of the suggestion."
        suggestion:
          type: "string"
          description: "The suggested continuation of the input."
        synopsis:
          type: "string"
          description: "The synopsis of the suggestion."
        type:
          type: "string"
          description: "The type of the autocomplete token."
          enum:
          - "ASSIGNMENT"
          - "BOOLEAN_FALSE"
          - "BOOLEAN_TRUE"
          - "BRACE_CLOSE"
          - "BRACE_OPEN"
          - "BRACKET_CLOSE"
          - "BRACKET_OPEN"
          - "COLON"
          - "COMMA"
          - "COMMAND_NAME"
          - "DATA_OBJECT"
          - "DOT"
          - "END_COMMENT"
          - "ENTITY_ATTRIBUTE"
          - "ENTITY_SELECTOR_PART"
          - "ENTITY_TYPE"
          - "FIELD_MODIFIER"
          - "FIELD_PATTERN"
          - "FUNCTION_NAME"
          - "INDENT"
          - "LINEBREAK"
          - "METRIC_KEY"
          - "NULL"
          - "NUMBER"
          - "OPERATOR"
          - "PARAMETER_KEY"
          - "PARAMETER_VALUE_SCOPE"
          - "PARENTHESIS_CLOSE"
          - "PARENTHESIS_OPEN"
          - "PARSE_PATTERN"
          - "PIPE"
          - "QUOTE"
          - "SIMPLE_IDENTIFIER"
          - "SINGLE_QUOTE"
          - "SLASH"
          - "SPACE"
          - "STRING"
          - "TIMESERIES_AGGREGATION"
          - "TIMESERIES_AGGREGATION_EXPRESSION"
          - "TIMESTAMP_VALUE"
          - "TIME_UNIT"
          - "TRAVERSAL_HOP_COUNT"
          - "TRAVERSAL_OPERATOR"
          - "TRAVERSAL_RELATION_NAME"
          - "UID_VALUE"
          - "VARIABLE"
      required:
      - "suggestion"
      - "type"
    BucketsSpecification:
      type: "object"
      description: "Contains information about allowed buckets for the configuration."
      properties:
        bucketTable:
          type: "string"
          description: "The bucket table containing the allowed buckets for the configuration."
        defaultBucket:
          type: "string"
          description: "The default bucket that will be used to store records if nothing\
            \ else is defined in the processing rules."
      required:
      - "bucketTable"
      - "defaultBucket"
    ClassicPipelineTranslationResult:
      type: "object"
      description: "Result of translating a classic pipeline into an OpenPipeline\
        \ configuration pipeline."
      properties:
        value:
          $ref: "#/components/schemas/PipelineSettingsValue"
        withWarning:
          type: "boolean"
          description: "Indicates whether at least one processor couldn't be translated\
            \ automatically and needs manual review."
      required:
      - "withWarning"
    ConfigurationListItem:
      type: "object"
      description: "Basic information about a configuration."
      properties:
        definition:
          $ref: "#/components/schemas/ConfigurationSpecification"
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        id:
          type: "string"
          description: "Identifier of the configuration."
      required:
      - "id"
    ConfigurationSpecification:
      type: "object"
      description: "Provides additional information about the configuration."
      properties:
        bucketsSpecification:
          $ref: "#/components/schemas/BucketsSpecification"
        catchAllPipeline:
          type: "string"
          description: "The default pipeline records are routed into if no dynamic\
            \ routing entries apply."
        endpointsSpecification:
          $ref: "#/components/schemas/EndpointsSpecification"
        forwardingSpecification:
          $ref: "#/components/schemas/ForwardingSpecification"
        metricKeyPrefix:
          type: "string"
          description: "The key prefix that will be set when a metric for this configuration\
            \ is extracted."
        pipelinesSpecification:
          $ref: "#/components/schemas/PipelinesSpecification"
      required:
      - "bucketsSpecification"
      - "catchAllPipeline"
      - "endpointsSpecification"
      - "metricKeyPrefix"
      - "pipelinesSpecification"
    ConstraintViolation:
      type: "object"
      description: "Information about a single constraint violation."
      properties:
        context:
          type: "object"
          additionalProperties:
            type: "string"
            description: "Structured context of the constraint violation.\nWell known\
              \ keys that **can** be present are:\n* `reason` -> Additional reasoning\
              \ behind the occurred violation.\n* `pipeline` -> Pipeline related to\
              \ the violation.\n* `endpoint` -> Endpoint related to the violation.\n\
              * `stage` -> Stage related to the violation.\n* `processor` -> Processor\
              \ related to the violation.\n* `routingRule` -> Routing rule related\
              \ to the violation.\n"
          description: "Structured context of the constraint violation.\nWell known\
            \ keys that **can** be present are:\n* `reason` -> Additional reasoning\
            \ behind the occurred violation.\n* `pipeline` -> Pipeline related to\
            \ the violation.\n* `endpoint` -> Endpoint related to the violation.\n\
            * `stage` -> Stage related to the violation.\n* `processor` -> Processor\
            \ related to the violation.\n* `routingRule` -> Routing rule related to\
            \ the violation.\n"
        message:
          type: "string"
          description: "Description of the constraint violation."
      required:
      - "message"
    ConstraintViolationDetails:
      type: "object"
      allOf:
      - $ref: "#/components/schemas/ErrorResponseDetails"
      - type: "object"
        properties:
          constraintViolations:
            type: "array"
            description: "List of encountered constraint violations."
            items:
              $ref: "#/components/schemas/ConstraintViolation"
      description: "List of encountered constraint violations."
      required:
      - "constraintViolations"
    DQLProcessorAutocompleteRequest:
      type: "object"
      properties:
        configurationId:
          type: "string"
          description: "Identifier of the configuration"
        cursorPosition:
          type: "integer"
          format: "int32"
          description: "The position of the cursor inside the script."
        protectedFields:
          type: "array"
          description: "List of protected fields"
          items:
            type: "string"
            description: "List of protected fields"
        script:
          type: "string"
          description: "The current (in-)complete DQL script."
    DQLProcessorVerifyRequest:
      type: "object"
      properties:
        configurationId:
          type: "string"
          description: "Identifier of the configuration."
        protectedFields:
          type: "array"
          description: "List of protected fields"
          items:
            type: "string"
            description: "List of protected fields"
        script:
          type: "string"
          description: "The unverified DQL script."
    DqlProcessor:
      type: "object"
      description: "Processor to apply a DQL script."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        dqlScript:
          type: "string"
          description: "The DQL script to apply on the record."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "dqlScript"
      - "enabled"
      - "id"
      - "matcher"
    DropProcessor:
      type: "object"
      description: "Processor to drop the record either during the processing stage\
        \ or at the endpoint."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "enabled"
      - "id"
      - "matcher"
    EndpointsSpecification:
      type: "object"
      description: "Contains information about allowed endpoints for the configuration\
        \ scope."
      properties:
        customBasePath:
          type: "string"
          description: "The base path for custom ingest endpoints."
        customEndpoints:
          type: "boolean"
          description: "Indicates whether custom endpoints can be created for the\
            \ configuration."
    ErrorResponse:
      type: "object"
      description: "Basic information of the encountered error."
      properties:
        code:
          type: "integer"
          format: "int32"
          description: "The returned HTTP status code."
        details:
          $ref: "#/components/schemas/ErrorResponseDetails"
        message:
          type: "string"
          description: "Description of the encountered error."
      required:
      - "code"
      - "message"
    ErrorResponseDetails:
      type: "object"
      description: "Detailed information of the error."
      discriminator:
        mapping:
          constraintViolation: "#/components/schemas/ConstraintViolationDetails"
        propertyName: "type"
      properties:
        type:
          type: "string"
          description: "Defines the actual set of fields depending on the value. See\
            \ one of the following objects: \n\n* `constraintViolation` -> ConstraintViolationDetails\
            \ \n"
          enum:
          - "constraintViolation"
      required:
      - "type"
    ErrorResponseEnvelope:
      type: "object"
      description: "Encloses the encountered error."
      properties:
        error:
          $ref: "#/components/schemas/ErrorResponse"
      required:
      - "error"
    FieldsAddItem:
      type: "object"
      description: "List of fields to add to the record."
      properties:
        name:
          type: "string"
          description: "Name of the field."
        value:
          type: "string"
          description: "Value to assign to the field."
      required:
      - "name"
      - "value"
    FieldsAddProcessor:
      type: "object"
      description: "Processor to add fields."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        fields:
          type: "array"
          description: "List of fields to add to the record."
          items:
            $ref: "#/components/schemas/FieldsAddItem"
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "enabled"
      - "fields"
      - "id"
      - "matcher"
    FieldsRemoveProcessor:
      type: "object"
      description: "Processor to remove fields."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        fields:
          type: "array"
          description: "List of unique fields to remove from the record."
          items:
            type: "string"
            description: "List of unique fields to remove from the record."
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "enabled"
      - "fields"
      - "id"
      - "matcher"
    FieldsRenameItem:
      type: "object"
      description: "List of fields to rename on the record."
      properties:
        fromName:
          type: "string"
          description: "The field to rename."
        toName:
          type: "string"
          description: "The new field name."
      required:
      - "fromName"
      - "toName"
    FieldsRenameProcessor:
      type: "object"
      description: "Processor to rename fields."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        fields:
          type: "array"
          description: "List of fields to rename on the record."
          items:
            $ref: "#/components/schemas/FieldsRenameItem"
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "enabled"
      - "fields"
      - "id"
      - "matcher"
    ForwardingSpecification:
      type: "object"
      description: "Contains information about allowed processors, grouped by stages,\
        \ for the forwarding."
      properties:
        availableHypervisors:
          type: "array"
          description: "Contains information about the available hypervisors to which\
            \ data can be forwarded."
          items:
            type: "string"
            description: "Contains information about the available hypervisors to\
              \ which data can be forwarded."
          uniqueItems: true
        processingStages:
          type: "object"
          additionalProperties:
            type: "array"
            description: "Contains information about allowed processors per stage\
              \ for the forwarding."
            items:
              type: "string"
              description: "Contains information about allowed processors per stage\
                \ for the forwarding."
            uniqueItems: true
          description: "Contains information about allowed processors per stage for\
            \ the forwarding."
    GeoLookupProcessor:
      type: "object"
      description: "Processor to perform geo IP lookup."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        description:
          type: "string"
          description: "Name or description of the processor."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        geoFieldPrefix:
          type: "string"
          description: "Optional prefix for geo output fields."
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        ipFieldKey:
          type: "string"
          description: "The record field that contains the IP address to look up."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        outputFields:
          type: "array"
          description: "List of output fields to populate from the geo lookup."
          items:
            type: "string"
            description: "List of output fields to populate from the geo lookup."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
      required:
      - "description"
      - "enabled"
      - "id"
      - "ipFieldKey"
      - "matcher"
    InlineLookupProcessor:
      type: "object"
      description: "Processor to perform inline key-value lookup."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        defaultValue:
          type: "string"
          description: "Value to use when no lookup entry matches the source field."
        description:
          type: "string"
          description: "Name or description of the processor."
        destinationField:
          type: "string"
          description: "The record field to write the lookup result to."
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        inlineLookupTable:
          type: "string"
          description: "JSON array of inline lookup entries mapping keys to values."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
        sourceField:
          type: "string"
          description: "The record field to use as the lookup key."
      required:
      - "description"
      - "destinationField"
      - "enabled"
      - "id"
      - "inlineLookupTable"
      - "matcher"
      - "sourceField"
    MatcherAutocompleteRequest:
      type: "object"
      properties:
        cursorPosition:
          type: "integer"
          format: "int32"
          description: "The position of the cursor inside the query."
        query:
          type: "string"
          description: "The current (in-)complete matcher query."
    MatcherRequest:
      type: "object"
      properties:
        query:
          type: "string"
          description: "The matcher query to process."
    MatcherVerifyRequest:
      type: "object"
      properties:
        configurationId:
          type: "string"
          description: "Identifier of the configuration in which the validity of the\
            \ matcher query should be verified."
        context:
          type: "string"
          description: "Context in which the validity of the matcher query should\
            \ be verified. Takes the stage identifier, for example \"processing\"\
            \ or \"ROUTING_RULE\" for routing entries."
        query:
          type: "string"
          description: "The matcher query to process."
        restrictedFields:
          type: "array"
          description: "Defined restricted fields against which the matcher should\
            \ be verified."
          items:
            type: "string"
            description: "Defined restricted fields against which the matcher should\
              \ be verified."
    MetadataNotification:
      type: "object"
      description: "The message that provides additional information about the execution\
        \ of the input string."
      properties:
        arguments:
          type: "array"
          description: "The arguments for the message format."
          items:
            type: "string"
            description: "The arguments for the message format."
        message:
          type: "string"
          description: "The complete message of the notification."
        messageFormat:
          type: "string"
          description: "The message format of the notification, string.format based"
        messageFormatSpecifierTypes:
          type: "array"
          description: "The corresponding types for each format specifier used in\
            \ the error message format."
          items:
            type: "string"
            description: "The corresponding types for each format specifier used in\
              \ the error message format."
        notificationType:
          type: "string"
          description: "The notification type."
        severity:
          type: "string"
          description: "The severity of the notification, currently: INFO, WARN, ERROR."
        syntaxPosition:
          $ref: "#/components/schemas/TokenPosition"
    PipelineSettingsValue:
      type: "object"
      description: "The translated OpenPipeline configuration pipeline. The structure\
        \ is compliant with builtin:openpipeline.logs.pipelines or builtin:openpipeline.bizevents.pipelines\
        \ schemas, corresponding to the requested `configuration` parameter value.\
        \ Note: the raw result may not fully pass validation against the Settings\
        \ API. "
      example:
        customId: "defaultTranslatedFromClassic"
        displayName: "defaultTranslatedFromClassic"
        processing:
          processors:
          - id: "hostname-field-normalizer"
            type: "dql"
            matcher: "isNotNull(\"hostname\")"
            description: "hostname-field-normalizer"
            sampleData: "{\n  \"hostname\": \"raspberry-pi 4\",\n  \"ip\": \"10.0.0.123\"\
              \n}"
            enabled: true
            dql:
              script: "fieldsRename host.name = hostname\n| fieldsRename ip.address\
                \ = ip"
        securityContext: {}
        costAllocation: {}
        productAllocation: {}
        storage:
          processors:
          - id: "default"
            type: "bucketAssignment"
            matcher: "true"
            description: "default"
            enabled: true
            bucketAssignment:
              bucketName: "default_logs"
        smartscapeNodeExtraction: {}
        smartscapeEdgeExtraction: {}
        metricExtraction: {}
        davis: {}
        dataExtraction: {}
    PipelinesSpecification:
      type: "object"
      description: "Contains information about allowed processors, grouped by stages,\
        \ for the configuration."
      properties:
        costAllocation:
          type: "array"
          description: "Contains information about allowed processors, for the 'Cost\
            \ Allocation' stage of the pipeline, for configuration."
          items:
            type: "string"
            description: "Contains information about allowed processors, for the 'Cost\
              \ Allocation' stage of the pipeline, for configuration."
          uniqueItems: true
        dataExtraction:
          type: "array"
          description: "Contains information about allowed processors, for the 'Data\
            \ Extraction' stage of the pipeline, for the configuration."
          items:
            type: "string"
            description: "Contains information about allowed processors, for the 'Data\
              \ Extraction' stage of the pipeline, for the configuration."
          uniqueItems: true
        davis:
          type: "array"
          description: "Contains information about allowed processors, for the 'Davis'\
            \ stage of the pipeline, for the configuration."
          items:
            type: "string"
            description: "Contains information about allowed processors, for the 'Davis'\
              \ stage of the pipeline, for the configuration."
          uniqueItems: true
        metricExtraction:
          type: "array"
          description: "Contains information about allowed processors, for the 'Metric\
            \ Extraction' stage of the pipeline, for the configuration."
          items:
            type: "string"
            description: "Contains information about allowed processors, for the 'Metric\
              \ Extraction' stage of the pipeline, for the configuration."
          uniqueItems: true
        processing:
          type: "array"
          description: "Contains information about allowed processors, for the 'Processing'\
            \ stage of the pipeline, for the configuration."
          items:
            type: "string"
            description: "Contains information about allowed processors, for the 'Processing'\
              \ stage of the pipeline, for the configuration."
          uniqueItems: true
        productAllocation:
          type: "array"
          description: "Contains information about allowed processors, for the 'Product\
            \ Allocation' stage of the pipeline, for configuration."
          items:
            type: "string"
            description: "Contains information about allowed processors, for the 'Product\
              \ Allocation' stage of the pipeline, for configuration."
          uniqueItems: true
        securityContext:
          type: "array"
          description: "Contains information about allowed processors, for the 'Permission'\
            \ stage of the pipeline, for configuration."
          items:
            type: "string"
            description: "Contains information about allowed processors, for the 'Permission'\
              \ stage of the pipeline, for configuration."
          uniqueItems: true
        smartscapeEdgeExtraction:
          type: "array"
          description: "Contains information about allowed processors, for the 'Smartscape\
            \ Edge Extraction' stage of the pipeline, for the configuration."
          items:
            type: "string"
            description: "Contains information about allowed processors, for the 'Smartscape\
              \ Edge Extraction' stage of the pipeline, for the configuration."
          uniqueItems: true
        smartscapeNodeExtraction:
          type: "array"
          description: "Contains information about allowed processors, for the 'Smartscape\
            \ Node Extraction' stage of the pipeline, for the configuration."
          items:
            type: "string"
            description: "Contains information about allowed processors, for the 'Smartscape\
              \ Node Extraction' stage of the pipeline, for the configuration."
          uniqueItems: true
        storage:
          type: "array"
          description: "Contains information about allowed processors, for the 'Storage'\
            \ stage of the pipeline, for the configuration."
          items:
            type: "string"
            description: "Contains information about allowed processors, for the 'Storage'\
              \ stage of the pipeline, for the configuration."
          uniqueItems: true
      required:
      - "costAllocation"
      - "dataExtraction"
      - "davis"
      - "metricExtraction"
      - "processing"
      - "productAllocation"
      - "securityContext"
      - "smartscapeEdgeExtraction"
      - "smartscapeNodeExtraction"
      - "storage"
    PositionInfo:
      type: "object"
      description: "The exact position in the query string."
      properties:
        column:
          type: "integer"
          format: "int32"
          description: "Input string position column zero based index."
        index:
          type: "integer"
          format: "int32"
          description: "Input string position index."
        line:
          type: "integer"
          format: "int32"
          description: "Input string position line zero based index."
      required:
      - "column"
      - "index"
      - "line"
    PreviewProcessor:
      type: "object"
      description: "The processor to execute for the preview. Applicable processors\
        \ are DqlProcessor, FieldsAddProcessor, FieldsRemoveProcessor, FieldsRenameProcessor,\
        \ TechnologyProcessor, GeoLookupProcessor, and InlineLookupProcessor."
      oneOf:
      - $ref: "#/components/schemas/DqlProcessor"
      - $ref: "#/components/schemas/FieldsAddProcessor"
      - $ref: "#/components/schemas/FieldsRemoveProcessor"
      - $ref: "#/components/schemas/FieldsRenameProcessor"
      - $ref: "#/components/schemas/TechnologyProcessor"
      - $ref: "#/components/schemas/GeoLookupProcessor"
      - $ref: "#/components/schemas/InlineLookupProcessor"
    PreviewProcessorEnvelope:
      type: "object"
      properties:
        configId:
          type: "string"
          description: "Identifier of the configuration."
        processor:
          $ref: "#/components/schemas/PreviewProcessor"
        scope:
          type: "string"
          description: "The scope in which the processor is previewed in."
          enum:
          - "ENDPOINT"
          - "PIPELINE"
      required:
      - "processor"
    PreviewProcessorResult:
      type: "object"
      properties:
        results:
          type: "array"
          description: "List of results for each sample data record."
          items:
            $ref: "#/components/schemas/PreviewProcessorResultEntry"
      required:
      - "results"
    PreviewProcessorResultEntry:
      type: "object"
      description: "Preview result for a single sample data record."
      properties:
        matched:
          type: "boolean"
          description: "Indicates if the record matched the processors matching condition."
        matchedProcessors:
          type: "array"
          description: "Contains matched processors IDs, useful in case of multi-processors\
            \ preview like in case of Technology."
          items:
            type: "string"
            description: "Contains matched processors IDs, useful in case of multi-processors\
              \ preview like in case of Technology."
        record:
          type: "object"
          additionalProperties: true
          description: "The altered record after the processor was applied."
      required:
      - "matched"
      - "matchedProcessors"
      - "record"
    ProcessingStageProcessor:
      type: "object"
      description: "Groups all processors applicable for the ProcessingStage.\nApplicable\
        \ processors are DqlProcessor, FieldsAddProcessor, FieldsRemoveProcessor,\
        \ FieldsRenameProcessor, TechnologyProcessor, and DropProcessor."
      oneOf:
      - $ref: "#/components/schemas/DqlProcessor"
      - $ref: "#/components/schemas/FieldsAddProcessor"
      - $ref: "#/components/schemas/FieldsRemoveProcessor"
      - $ref: "#/components/schemas/FieldsRenameProcessor"
      - $ref: "#/components/schemas/TechnologyProcessor"
      - $ref: "#/components/schemas/DropProcessor"
      required:
      - "enabled"
      - "id"
    Technology:
      type: "object"
      description: "A technology bundle that represents a specific technology."
      properties:
        allowedConfigurations:
          type: "array"
          description: "List of configurations this technology is available for."
          items:
            type: "string"
            description: "List of configurations this technology is available for."
        deprecated:
          type: "boolean"
          description: "Marks the technology bundle as deprecated."
        fullDescription:
          type: "string"
          description: "Detailed description of the specific technology and contents\
            \ of the bundle."
        iconUrl:
          type: "string"
          description: "URL to fetch the associated icon for the technology."
        id:
          type: "string"
          description: "Identifier of the technology bundle."
        matcher:
          type: "string"
          description: "Matching condition to apply to incoming records."
        name:
          type: "string"
          description: "Name of the technology bundle."
        replacementId:
          type: "string"
          description: "The identifier of a technology bundle which should be used\
            \ instead of this deprecated bundle."
        sampleData:
          type: "string"
          description: "Sample data of the specific technology."
        shortDescription:
          type: "string"
          description: "Summary about the specific technology."
        tags:
          type: "array"
          description: "Tags to categorize the specific technology."
          items:
            type: "string"
            description: "Tags to categorize the specific technology."
      required:
      - "deprecated"
      - "id"
      - "name"
    TechnologyGroup:
      type: "object"
      description: "Technology group with name and a list of technology bundles."
      properties:
        groupId:
          type: "string"
          description: "Identifier of the technology group."
        technologies:
          type: "array"
          description: "List of technology bundles."
          items:
            $ref: "#/components/schemas/Technology"
      required:
      - "groupId"
      - "technologies"
    TechnologyProcessor:
      type: "object"
      description: "Processor to apply a technology processors."
      properties:
        builtin:
          type: "boolean"
          default: false
          description: "Indicates if Dynatrace provides the object or if it's customer-defined."
        customMatcher:
          type: "string"
          description: "Optional customer-defined matching condition, that's used\
            \ in place of the main technology matcher."
          nullable: true
        editable:
          type: "boolean"
          description: "Indicates if the user can edit this object based on permissions\
            \ and builtin property."
          readOnly: true
        enabled:
          type: "boolean"
          description: "Indicates if the object is active."
        id:
          type: "string"
          description: "Processor identifier, which must be unique within a stage."
        sampleData:
          type: "string"
          description: "Sample data related to the processor for documentation or\
            \ testing."
        technologyId:
          type: "string"
          description: "The reference identifier to a specific technology. This technology\
            \ is applied on the record."
      required:
      - "enabled"
      - "id"
      - "technologyId"
    TokenPosition:
      type: "object"
      description: "The position of a token in the input string used for errors and\
        \ notification to map the message to a specific part of the input."
      properties:
        end:
          $ref: "#/components/schemas/PositionInfo"
        start:
          $ref: "#/components/schemas/PositionInfo"
      required:
      - "end"
      - "start"
    VerifyResponse:
      type: "object"
      description: "Verify response."
      properties:
        notifications:
          type: "array"
          description: "The notifications related to the supplied input string."
          items:
            $ref: "#/components/schemas/MetadataNotification"
        valid:
          type: "boolean"
          description: "True if the supplied input string is valid."
      required:
      - "valid"
  securitySchemes:
    ssoAuth:
      description: "Dynatrace OAuth\n\n A Bearer token is passed in the **Authorization**\
        \ header in the following format: `Authorization: Bearer abcdefjhij1234567890`."
      flows:
        clientCredentials:
          scopes:
            openpipeline:configurations:read: "Read the OpenPipeline configuration"
            settings:objects:read: "Read settings objects"
          tokenUrl: "https://sso-sprint.dynatracelabs.com/sso/oauth2/token"
      type: "oauth2"
    ssoBearerAuth:
      type: "http"
      scheme: "bearer"
      description: "The value can be either an OAuth2 access token or a platform token.</br>\
        \ For further information about platform tokens see <a href=\"https://dt-url.net/platform-tokens\"\
        \ target=\"_blank\">Platform tokens - Dynatrace Docs</a>."
