{
  "openapi" : "3.0.1",
  "info" : {
    "description" : "\nDocumentation of the Dynatrace Environment API v2. Resources here generally supersede those in v1. Migration of resources from v1 is in progress. \n\nIf you miss a resource, consider using the Dynatrace Environment API v1.\n\nTo read about use cases and examples, see [Dynatrace Documentation](https://dt-url.net/2u23k1k).\n\nTo authorize, use a valid access token or personal access token. For usage in a Dynatrace app, refer to the [Dynatrace Developer documentation](https://dt-url.net/tb23plz).\n\nNotes about compatibility:\n* Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this.\n* We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.",
    "title" : "Dynatrace Environment API",
    "version" : "2.0.0"
  },
  "servers" : [ {
    "url" : "https://asn8731h.sprint.dynatracelabs.com/api/v2",
    "variables" : { }
  } ],
  "tags" : [ {
    "description" : "Query and ingest metrics",
    "name" : "Metrics"
  }, {
    "description" : "Manage problems and comments",
    "name" : "Problems"
  }, {
    "description" : "Manage events",
    "name" : "Events"
  }, {
    "description" : "Manage monitored entities - Deprecated in SaaS, use DQL (Smartscape on Grail) and OpenPipeline instead",
    "name" : "Monitored entities"
  }, {
    "description" : "Ingest logs.  Read logs is deprecated and will be removed by the end of 2026. Use [Logs on Grail API](https://developer.dynatrace.com/plan/platform-services/grail-service/#grail-query-api) instead.",
    "name" : "Logs"
  }, {
    "description" : "View information about your ActiveGates",
    "name" : "ActiveGates"
  }, {
    "description" : "Manage ActiveGate auto-update settings.",
    "name" : "ActiveGates - Auto-update configuration"
  }, {
    "description" : "Manage ActiveGate auto-update jobs.",
    "name" : "ActiveGates - Auto-update jobs"
  }, {
    "description" : "Manage ActiveGates configuration remotely",
    "name" : "ActiveGates - Remote configuration management"
  }, {
    "description" : "Manage OneAgent configuration remotely",
    "name" : "OneAgent - Remote configuration management"
  }, {
    "description" : "Read state of monitored entities",
    "name" : "Monitored entities - Monitoring state"
  }, {
    "description" : "Manage Extensions 2.0 life cycle",
    "name" : "Extensions 2.0"
  }, {
    "description" : "Query countries, regions, and cities",
    "name" : "Geographic regions"
  }, {
    "description" : "Read entity page definition",
    "name" : "Unified Analysis"
  }, {
    "description" : "Manage JavaScript mapping files for JavaScript symbolication and deobfuscation",
    "name" : "JavaScript mapping files"
  }, {
    "description" : "Manage mobile symbol/mapping files for mobile symbolication and deobfuscation",
    "name" : "Mobile Deobfuscation and Symbolication"
  }, {
    "description" : "Read RUM cookie names",
    "name" : "RUM cookie names"
  }, {
    "description" : "Read sampling configuration for Adaptive Traffic Management",
    "name" : "Adaptive Traffic Management"
  }, {
    "description" : "View information about ActiveGate groups",
    "name" : "ActiveGates - ActiveGate groups"
  }, {
    "description" : "Gets the status of ActiveGate [tokens enforcement](https://dt-url.net/m80331a)",
    "name" : "ActiveGates - ActiveGate tokens enforcement"
  }, {
    "description" : "Ingest OpenTelemetry Protocol (OTLP) logs into Dynatrace",
    "name" : "OpenTelemetry Protocol (OTLP) Logs Ingest"
  }, {
    "description" : "Ingest OpenTelemetry Protocol (OTLP) traces into Dynatrace",
    "name" : "OpenTelemetry Protocol (OTLP) Trace Ingest"
  }, {
    "description" : "Ingest OpenTelemetry Protocol (OTLP) metrics into Dynatrace",
    "name" : "OpenTelemetry Protocol (OTLP) Metric Ingest"
  }, {
    "description" : "Manage Dynatrace Agent tokens",
    "name" : "Access Tokens - Agent tokens"
  }, {
    "description" : "Manage Dynatrace ActiveGate tokens",
    "name" : "Access Tokens - ActiveGate tokens"
  }, {
    "description" : "Manage Dynatrace API tokens",
    "name" : "Access Tokens - API tokens"
  }, {
    "description" : "Manage credentials",
    "name" : "Credential vault"
  }, {
    "description" : "Download RUM manual insertion tags",
    "name" : "RUM manual insertion tags"
  }, {
    "description" : "Manage settings objects",
    "name" : "Settings - Objects"
  }, {
    "description" : "View settings schemas",
    "name" : "Settings - Schemas"
  }, {
    "description" : "Create, read, update and delete synthetic monitors (browser, http and network availability monitor).",
    "name" : "Synthetic - Monitors"
  }, {
    "description" : "Trigger and view information about on-demand synthetic monitor executions",
    "name" : "Synthetic - On-demand monitor executions"
  }, {
    "description" : "Rotate tenant tokens",
    "name" : "Access tokens - Tenant tokens"
  } ],
  "paths" : {
    "/activeGateTokens" : {
      "get" : {
        "description" : "You can limit the output by using pagination: \n1. Specify the number of results per page in the **pageSize** query parameter. \n2. Use the cursor from the **nextPageKey** field of the previous response in the **nextPageKey** query parameter to obtain subsequent pages.",
        "operationId" : "listTokens",
        "parameters" : [ {
          "description" : "The cursor for the next page of results. You can find it in the **nextPageKey** field of the previous response. \n\nThe first page is always returned if you don't specify the **nextPageKey** query parameter. \n\nWhen the **nextPageKey** is set to obtain subsequent pages, you must omit all other query parameters. ",
          "in" : "query",
          "name" : "nextPageKey",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The amount of ActiveGate tokens in a single response payload. \n\nThe maximal allowed page size is 3000 and the minimal size is 100. \n\nIf not set, 100 is used.",
          "in" : "query",
          "name" : "pageSize",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActiveGateTokenList"
                }
              }
            },
            "description" : "Success. The response contains the list of ActiveGate tokens."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "404" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The requested resource doesn't exist."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Lists all available ActiveGate tokens",
        "tags" : [ "Access Tokens - ActiveGate tokens" ],
        "x-token-scopes" : [ "activeGateTokenManagement.read" ]
      },
      "post" : {
        "description" : "The newly created token will be owned by the same user who owns the token used for authentication of the call.",
        "operationId" : "createToken",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ActiveGateTokenCreate"
              }
            }
          },
          "description" : "The JSON body of the request. Contains parameters of the new ActiveGate token.",
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActiveGateTokenCreated"
                }
              }
            },
            "description" : "Success. The token has been created. The body of the response contains the token secret."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Creates a new ActiveGate token",
        "tags" : [ "Access Tokens - ActiveGate tokens" ],
        "x-legacy-permission" : "fleet-management:activegate.tokens:create",
        "x-token-scopes" : [ "activeGateTokenManagement.create", "activeGateTokenManagement.write" ]
      }
    },
    "/activeGateTokens/{activeGateTokenIdentifier}" : {
      "delete" : {
        "operationId" : "revokeToken",
        "parameters" : [ {
          "description" : "The ActiveGate token identifier, consisting of [prefix and public part](https://dt-url.net/rn00tjg) of the token to be deleted.",
          "in" : "path",
          "name" : "activeGateTokenIdentifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "404" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The requested resource doesn't exist."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Deletes an ActiveGate token",
        "tags" : [ "Access Tokens - ActiveGate tokens" ],
        "x-token-scopes" : [ "activeGateTokenManagement.write" ]
      },
      "get" : {
        "description" : "The token secret is **not** exposed.",
        "operationId" : "getToken",
        "parameters" : [ {
          "description" : "The ActiveGate token identifier, consisting of [prefix and public part](https://dt-url.net/rn00tjg) of the token.",
          "in" : "path",
          "name" : "activeGateTokenIdentifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActiveGateToken"
                }
              }
            },
            "description" : "Success. The response contains the metadata of the tokens."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "404" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The requested resource doesn't exist."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets metadata of an ActiveGate token",
        "tags" : [ "Access Tokens - ActiveGate tokens" ],
        "x-token-scopes" : [ "activeGateTokenManagement.read" ]
      }
    },
    "/activeGates" : {
      "get" : {
        "description" : "The response includes all ActiveGates that are currently connected to the environment or have been connected during last 2 hours.",
        "operationId" : "getAllActiveGates",
        "parameters" : [ {
          "description" : "Filters the resulting set of ActiveGates by the name of the host it's running on. \n\n You can specify a partial name. In that case, the `CONTAINS` operator is used.",
          "in" : "query",
          "name" : "hostname",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates by the OS type of the host it's running on.",
          "in" : "query",
          "name" : "osType",
          "schema" : {
            "type" : "string",
            "enum" : [ "LINUX", "WINDOWS" ]
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates by the OS architecture of the host it's running on.",
          "in" : "query",
          "name" : "osArchitecture",
          "schema" : {
            "type" : "string",
            "enum" : [ "X86", "S390", "ARM", "PPCLE" ]
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates by the network address. \n\n You can specify a partial address. In that case, the `CONTAINS` operator is used.",
          "in" : "query",
          "name" : "networkAddress",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates by the Load Balancer address. \n\n You can specify a partial address. In that case, the `CONTAINS` operator is used.",
          "in" : "query",
          "name" : "loadBalancerAddress",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates by the ActiveGate type.",
          "in" : "query",
          "name" : "type",
          "schema" : {
            "type" : "string",
            "enum" : [ "ENVIRONMENT", "ENVIRONMENT_MULTI" ]
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates by the network zone. \n\n You can specify a partial name. In that case, the `CONTAINS` operator is used.",
          "in" : "query",
          "name" : "networkZone",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates by the auto-update status.",
          "in" : "query",
          "name" : "updateStatus",
          "schema" : {
            "type" : "string",
            "enum" : [ "INCOMPATIBLE", "OUTDATED", "SCHEDULED", "SUPPRESSED", "UNKNOWN", "UP2DATE", "UPDATE_IN_PROGRESS", "UPDATE_PENDING", "UPDATE_PROBLEM" ]
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates by the specified version. \n\n Specify the comparison operator here.",
          "in" : "query",
          "name" : "versionCompareType",
          "schema" : {
            "type" : "string",
            "default" : "EQUAL",
            "enum" : [ "EQUAL", "GREATER", "GREATER_EQUAL", "LOWER", "LOWER_EQUAL" ]
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates by the specified version. \n\n Specify the version in `<major>.<minor>.<revision>` format (for example, `1.195.0`) here.",
          "in" : "query",
          "name" : "version",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates by the actual state of auto-update.",
          "in" : "query",
          "name" : "autoUpdate",
          "schema" : {
            "type" : "string",
            "enum" : [ "DISABLED", "ENABLED" ]
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates by the group. \n\n You can specify a partial name. In that case, the `CONTAINS` operator is used.",
          "in" : "query",
          "name" : "group",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates by the communication status.",
          "in" : "query",
          "name" : "online",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates by the enabled modules.",
          "in" : "query",
          "name" : "enabledModule",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "AWS", "AZURE", "BEACON_FORWARDER", "CLOUD_FOUNDRY", "DB_INSIGHT", "DEBUGGING", "EXTENSIONS_V1", "EXTENSIONS_V2", "KUBERNETES", "LOGS", "MEMORY_DUMPS", "METRIC_API", "ONE_AGENT_ROUTING", "OTLP_INGEST", "REST_API", "SYNTHETIC", "VMWARE", "Z_OS" ]
            }
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates by the disabled modules.",
          "in" : "query",
          "name" : "disabledModule",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "AWS", "AZURE", "BEACON_FORWARDER", "CLOUD_FOUNDRY", "DB_INSIGHT", "DEBUGGING", "EXTENSIONS_V1", "EXTENSIONS_V2", "KUBERNETES", "LOGS", "MEMORY_DUMPS", "METRIC_API", "ONE_AGENT_ROUTING", "OTLP_INGEST", "REST_API", "SYNTHETIC", "VMWARE", "Z_OS" ]
            }
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates to those which are running in container (`true`) or not (`false`).",
          "in" : "query",
          "name" : "containerized",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates to those with authorization token in specified state.",
          "in" : "query",
          "name" : "tokenState",
          "schema" : {
            "type" : "string",
            "enum" : [ "ABSENT", "EXPIRING", "INVALID", "UNKNOWN", "UNSUPPORTED", "VALID" ]
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates to those with set expiration date for authorization token.",
          "in" : "query",
          "name" : "tokenExpirationSet",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "description" : "Filters the resulting set of ActiveGates to those which are running in FIPS mode (`true`) or not (`false`).",
          "in" : "query",
          "name" : "fipsMode",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActiveGateList"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Lists all available ActiveGates",
        "tags" : [ "ActiveGates" ],
        "x-permissions" : [ "environment:roles:manage-settings", "fleet-management:activegates:read" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.read" ]
      }
    },
    "/activeGates/autoUpdate" : {
      "get" : {
        "deprecated" : true,
        "description" : "Gets the global auto-update configuration of environment ActiveGates.\n\n**Deprecation notice:** This endpoint is deprecated. Use the Settings API endpoint `GET /api/v2/settings/objects` with schemaId `builtin:deployment.activegate.updates` and `scopes=tenant` to retrieve the global auto-update setting of environment ActiveGates.",
        "operationId" : "getGlobalAutoUpdateConfigForTenant",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActiveGateGlobalAutoUpdateConfig"
                }
              }
            },
            "description" : "Success"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the global auto-update configuration of environment ActiveGates.",
        "tags" : [ "ActiveGates - Auto-update configuration" ],
        "x-permissions" : [ "environment:roles:manage-settings", "fleet-management:activegates:read" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.read" ]
      },
      "put" : {
        "deprecated" : true,
        "description" : "Puts the global auto-update configuration of environment ActiveGates.\n\n**Deprecation notice:** This endpoint is deprecated. Use the Settings API endpoint `POST /api/v2/settings/objects` with schemaId `builtin:deployment.activegate.updates` and `scope=tenant` to change the global auto-update setting of environment ActiveGates.",
        "operationId" : "putGlobalAutoUpdateConfigForTenant",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ActiveGateGlobalAutoUpdateConfig"
              }
            }
          },
          "description" : "JSON body of the request, containing global auto update parameters.",
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success. The global auto-update configuration have been updated. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Puts the global auto-update configuration of environment ActiveGates.",
        "tags" : [ "ActiveGates - Auto-update configuration" ],
        "x-permissions" : [ "environment:roles:manage-settings", "fleet-management:activegates:write" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.write" ]
      }
    },
    "/activeGates/autoUpdate/validator" : {
      "post" : {
        "deprecated" : true,
        "description" : "Validates the payload for the `POST /activeGates/autoUpdate` request.\n\n**Deprecation notice:** This endpoint is deprecated. Use the Settings API endpoint `POST /api/v2/settings/objects?validateOnly=true` with schemaId `builtin:deployment.activegate.updates` and `scope=tenant` to validate the global auto-update setting of environment ActiveGates.",
        "operationId" : "validateGlobalAutoUpdateConfigForTenant",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ActiveGateGlobalAutoUpdateConfig"
              }
            }
          },
          "description" : "JSON body of the request, containing global auto update parameters.",
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload for the `POST /activeGates/autoUpdate` request.",
        "tags" : [ "ActiveGates - Auto-update configuration" ],
        "x-permissions" : [ "environment:roles:manage-settings", "fleet-management:activegates:write" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.write" ]
      }
    },
    "/activeGates/groups" : {
      "get" : {
        "operationId" : "getActiveGateGroups",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActiveGateGroups"
                }
              }
            },
            "description" : "Success"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Lists ActiveGate groups",
        "tags" : [ "ActiveGates - ActiveGate groups" ],
        "x-permissions" : [ "environment:roles:manage-settings", "fleet-management:activegates:read" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.read" ]
      }
    },
    "/activeGates/remoteConfigurationManagement" : {
      "get" : {
        "description" : "The response includes finished jobs for the last 7 days.",
        "operationId" : "getRemoteIdentityOperations",
        "parameters" : [ {
          "description" : "The start of the requested timeframe for a remote configuration management job. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\n",
          "in" : "query",
          "name" : "from",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The end of the requested timeframe for a remote configuration management job. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set, the current timestamp is used.",
          "in" : "query",
          "name" : "to",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RemoteConfigurationManagementJobList"
                }
              }
            },
            "description" : "Success"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Lists finished ActiveGate remote configuration management jobs",
        "tags" : [ "ActiveGates - Remote configuration management" ],
        "x-permissions" : [ "environment:roles:viewer", "fleet-management:activegates:read" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.read" ]
      },
      "post" : {
        "operationId" : "createRemoteIdentityOperationJob",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/RemoteConfigurationManagementOperationActiveGateRequest"
              }
            }
          },
          "description" : "JSON body of the request, containing remote configuration management job definition.",
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RemoteConfigurationManagementJob"
                }
              }
            },
            "description" : "Created"
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RemoteConfigurationManagementValidationResult"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "409" : {
            "description" : "Other remote configuration management job is currently being executed"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Creates a new remote configuration management job",
        "tags" : [ "ActiveGates - Remote configuration management" ],
        "x-permissions" : [ "environment:roles:viewer", "fleet-management:activegates:write" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.write" ]
      }
    },
    "/activeGates/remoteConfigurationManagement/current" : {
      "get" : {
        "description" : "The currently running remote configuration management job may be related to ActiveGates or OneAgents. There is a limit of one concurrent remote configuration management job, regardless of the entity type.",
        "operationId" : "getCurrentRemoteIdentityOperationJob",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RemoteConfigurationManagementJob"
                }
              }
            },
            "description" : "Success"
          },
          "204" : {
            "description" : "No remote configuration management job is currently running "
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets remote configuration management job that is currently running",
        "tags" : [ "ActiveGates - Remote configuration management" ],
        "x-permissions" : [ "environment:roles:viewer", "fleet-management:activegates:read" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.read" ]
      }
    },
    "/activeGates/remoteConfigurationManagement/preview" : {
      "post" : {
        "operationId" : "createRemoteIdentityOperationPreview",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/RemoteConfigurationManagementOperationActiveGateRequest"
              }
            }
          },
          "description" : "JSON body of the request, containing remote configuration management job definition.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RemoteConfigurationManagementPreviewList"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RemoteConfigurationManagementValidationResult"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Creates a preview for remote configuration management job - applicable only to network zone and ActiveGate group",
        "tags" : [ "ActiveGates - Remote configuration management" ],
        "x-permissions" : [ "environment:roles:viewer", "fleet-management:activegates:write" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.write" ]
      }
    },
    "/activeGates/remoteConfigurationManagement/validator" : {
      "post" : {
        "operationId" : "validateRemoteIdentityOperation",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/RemoteConfigurationManagementOperationActiveGateRequest"
              }
            }
          },
          "description" : "JSON body of the request, containing remote configuration management job definition.",
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RemoteConfigurationManagementValidationResult"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload for the `POST /activeGates/remoteConfigurationManagement` request.",
        "tags" : [ "ActiveGates - Remote configuration management" ],
        "x-permissions" : [ "environment:roles:viewer", "fleet-management:activegates:write" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.write" ]
      }
    },
    "/activeGates/remoteConfigurationManagement/{id}" : {
      "get" : {
        "operationId" : "getRemoteIdentityOperationJob",
        "parameters" : [ {
          "description" : "The ID of the required remote configuration management job.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RemoteConfigurationManagementJob"
                }
              }
            },
            "description" : "Success"
          },
          "404" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The requested resource doesn't exist."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the specified remote configuration management job",
        "tags" : [ "ActiveGates - Remote configuration management" ],
        "x-permissions" : [ "environment:roles:viewer", "fleet-management:activegates:read" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.read" ]
      }
    },
    "/activeGates/tokenEnforcement" : {
      "get" : {
        "operationId" : "getTokenEnforcement",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActiveGateTokenEnforcement"
                }
              }
            },
            "description" : "Success. The response contains the status of ActiveGate tokens enforcement"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the status of ActiveGate tokens enforcement",
        "tags" : [ "ActiveGates - ActiveGate tokens enforcement" ],
        "x-legacy-permission" : "settings:objects:read",
        "x-permissions" : [ "environment:roles:manage-settings", "fleet-management:activegates:read" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.read" ]
      }
    },
    "/activeGates/updateJobs" : {
      "get" : {
        "description" : "The response includes ActiveGates that have both completed (successful and failed) jobs and jobs in progress.",
        "operationId" : "getAllUpdateJobList",
        "parameters" : [ {
          "description" : "The start of the requested timeframe for update jobs. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set, the relative timeframe of one day is used (`now-1d`). \n\nMaximum timeframe is 31 days.",
          "in" : "query",
          "name" : "from",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The end of the requested timeframe for update jobs. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set, the current timestamp is used.",
          "in" : "query",
          "name" : "to",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Filters the resulting set of update jobs by the specified initial version. \n\n Specify the comparison operator here.",
          "in" : "query",
          "name" : "startVersionCompareType",
          "schema" : {
            "type" : "string",
            "default" : "EQUAL",
            "enum" : [ "EQUAL", "GREATER", "GREATER_EQUAL", "LOWER", "LOWER_EQUAL" ]
          }
        }, {
          "description" : "Filters the resulting set of update-jobs by the initial version (required format `<major>.<minor>.<revision>`).",
          "in" : "query",
          "name" : "startVersion",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Filters the resulting set of update-jobs by the update type.",
          "example" : "ACTIVE_GATE",
          "in" : "query",
          "name" : "updateType",
          "schema" : {
            "type" : "string",
            "enum" : [ "ACTIVE_GATE", "REMOTE_PLUGIN_AGENT", "SYNTHETIC", "Z_REMOTE" ]
          }
        }, {
          "description" : "Filters the resulting set of update jobs by the specified target version. \n\n Specify the comparison operator here.",
          "in" : "query",
          "name" : "targetVersionCompareType",
          "schema" : {
            "type" : "string",
            "default" : "EQUAL",
            "enum" : [ "EQUAL", "GREATER", "GREATER_EQUAL", "LOWER", "LOWER_EQUAL" ]
          }
        }, {
          "description" : "Filters the resulting set of update-jobs by the target version (required format `<major>.<minor>.<revision>`).",
          "in" : "query",
          "name" : "targetVersion",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "If `true`, filters the resulting set of update jobs to the most recent update of each type.",
          "in" : "query",
          "name" : "lastUpdates",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateJobsAll"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "List ActiveGates with update jobs",
        "tags" : [ "ActiveGates - Auto-update jobs" ],
        "x-permissions" : [ "environment:roles:manage-settings", "fleet-management:activegates:read" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.read" ]
      }
    },
    "/activeGates/{agId}" : {
      "get" : {
        "operationId" : "getOneActiveGateById",
        "parameters" : [ {
          "description" : "The ID of the required ActiveGate.",
          "in" : "path",
          "name" : "agId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActiveGate"
                }
              }
            },
            "description" : "Success"
          },
          "404" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Not found. See response body for details."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the details of the specified ActiveGate",
        "tags" : [ "ActiveGates" ],
        "x-permissions" : [ "environment:roles:manage-settings", "fleet-management:activegates:read" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.read" ]
      }
    },
    "/activeGates/{agId}/autoUpdate" : {
      "get" : {
        "deprecated" : true,
        "description" : "Gets the configuration of auto-update for the specified ActiveGate\n\n**Deprecation notice:** This endpoint is deprecated. Use the Settings API endpoint `GET /api/v2/settings/objects` with schemaId `builtin:deployment.activegate.updates` and `scopes=ENVIRONMENT_ACTIVE_GATE-{ActiveGate ID}` to retrieve the auto-update setting of a specific ActiveGate.",
        "operationId" : "getAutoUpdateConfigById",
        "parameters" : [ {
          "description" : "The ID of the required ActiveGate.",
          "in" : "path",
          "name" : "agId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActiveGateAutoUpdateConfig"
                }
              }
            },
            "description" : "Success"
          },
          "404" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Not found. See response body for details."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the configuration of auto-update for the specified ActiveGate",
        "tags" : [ "ActiveGates - Auto-update configuration" ],
        "x-permissions" : [ "environment:roles:manage-settings", "fleet-management:activegates:read" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.read" ]
      },
      "put" : {
        "deprecated" : true,
        "description" : "Updates the configuration of auto-update for the specified ActiveGate\n\n**Deprecation notice:** This endpoint is deprecated. Use the Settings API endpoint `POST /api/v2/settings/objects` with schemaId `builtin:deployment.activegate.updates` and `scope=ENVIRONMENT_ACTIVE_GATE-{ActiveGate ID}` to change the auto-update setting of a specific ActiveGate.",
        "operationId" : "putAutoUpdateConfigById",
        "parameters" : [ {
          "description" : "The ID of the required ActiveGate.",
          "in" : "path",
          "name" : "agId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ActiveGateAutoUpdateConfig"
              }
            }
          },
          "description" : "JSON body of the request, containing auto update parameters.",
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success. The auto-update configuration have been updated. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Updates the configuration of auto-update for the specified ActiveGate",
        "tags" : [ "ActiveGates - Auto-update configuration" ],
        "x-permissions" : [ "environment:roles:manage-settings", "fleet-management:activegates:write" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.write" ]
      }
    },
    "/activeGates/{agId}/autoUpdate/validator" : {
      "post" : {
        "deprecated" : true,
        "description" : "Validates the payload for the `POST /activeGates/{agId}/autoUpdate` request.\n\n**Deprecation notice:** This endpoint is deprecated. Use the Settings API endpoint `POST /api/v2/settings/objects?validateOnly=true` with schemaId `builtin:deployment.activegate.updates` and `scope=ENVIRONMENT_ACTIVE_GATE-{ActiveGate ID}` to validate the auto-update setting of a specific ActiveGate.",
        "operationId" : "validateAutoUpdateConfigById",
        "parameters" : [ {
          "description" : "The ID of the required ActiveGate.",
          "in" : "path",
          "name" : "agId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ActiveGateAutoUpdateConfig"
              }
            }
          },
          "description" : "JSON body of the request, containing auto update parameters.",
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted auto-update configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload for the `POST /activeGates/{agId}/autoUpdate` request.",
        "tags" : [ "ActiveGates - Auto-update configuration" ],
        "x-permissions" : [ "environment:roles:manage-settings", "fleet-management:activegates:write" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.write" ]
      }
    },
    "/activeGates/{agId}/updateJobs" : {
      "get" : {
        "description" : "The job can update the ActiveGate to the specified version or the latest available one.",
        "operationId" : "getUpdateJobListByAgId",
        "parameters" : [ {
          "description" : "The ID of the required ActiveGate.",
          "in" : "path",
          "name" : "agId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The start of the requested timeframe for update jobs. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set, the relative timeframe of one week is used (`now-1w`). \n\nMaximum timeframe is 31 days.",
          "in" : "query",
          "name" : "from",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The end of the requested timeframe for update jobs. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set, the current timestamp is used.",
          "in" : "query",
          "name" : "to",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Filters the resulting set of update jobs by the specified initial version. \n\n Specify the comparison operator here.",
          "in" : "query",
          "name" : "startVersionCompareType",
          "schema" : {
            "type" : "string",
            "default" : "EQUAL",
            "enum" : [ "EQUAL", "GREATER", "GREATER_EQUAL", "LOWER", "LOWER_EQUAL" ]
          }
        }, {
          "description" : "Filters the resulting set of update-jobs by the initial version (required format `<major>.<minor>.<revision>`).",
          "in" : "query",
          "name" : "startVersion",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Filters the resulting set of update-jobs by the update type.",
          "example" : "ACTIVE_GATE",
          "in" : "query",
          "name" : "updateType",
          "schema" : {
            "type" : "string",
            "enum" : [ "ACTIVE_GATE", "REMOTE_PLUGIN_AGENT", "SYNTHETIC", "Z_REMOTE" ]
          }
        }, {
          "description" : "Filters the resulting set of update jobs by the specified target version. \n\n Specify the comparison operator here.",
          "in" : "query",
          "name" : "targetVersionCompareType",
          "schema" : {
            "type" : "string",
            "default" : "EQUAL",
            "enum" : [ "EQUAL", "GREATER", "GREATER_EQUAL", "LOWER", "LOWER_EQUAL" ]
          }
        }, {
          "description" : "Filters the resulting set of update-jobs by the target version (required format `<major>.<minor>.<revision>`).",
          "in" : "query",
          "name" : "targetVersion",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "If `true`, filters the resulting set of update jobs to the most recent update of each type.",
          "in" : "query",
          "name" : "lastUpdates",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateJobList"
                }
              }
            },
            "description" : "Success"
          },
          "404" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Not found. See response body for details."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Lists update jobs for the specified ActiveGate",
        "tags" : [ "ActiveGates - Auto-update jobs" ],
        "x-permissions" : [ "environment:roles:manage-settings", "fleet-management:activegates:read" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.read" ]
      },
      "post" : {
        "operationId" : "createUpdateJobForAg",
        "parameters" : [ {
          "description" : "The ID of the required ActiveGate.",
          "in" : "path",
          "name" : "agId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateJob"
              }
            }
          },
          "description" : "JSON body of the request, containing update-job parameters.",
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateJob"
                }
              }
            },
            "description" : "Success. The update-job have been created."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Creates a new update job for the specified ActiveGate",
        "tags" : [ "ActiveGates - Auto-update jobs" ],
        "x-permissions" : [ "environment:roles:manage-settings", "fleet-management:activegates:write" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.write" ]
      }
    },
    "/activeGates/{agId}/updateJobs/validator" : {
      "post" : {
        "operationId" : "validateUpdateJobForAg",
        "parameters" : [ {
          "description" : "The ID of the required ActiveGate.",
          "in" : "path",
          "name" : "agId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateJob"
              }
            }
          },
          "description" : "JSON body of the request, containing update-job parameters.",
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted update-job is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload for the `POST /activeGates/{agId}/updateJobs` request.",
        "tags" : [ "ActiveGates - Auto-update jobs" ],
        "x-permissions" : [ "environment:roles:manage-settings", "fleet-management:activegates:write" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.write" ]
      }
    },
    "/activeGates/{agId}/updateJobs/{jobId}" : {
      "delete" : {
        "operationId" : "deleteUpdateJobByJobIdForAg",
        "parameters" : [ {
          "description" : "The ID of the required ActiveGate.",
          "in" : "path",
          "name" : "agId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "A unique identifier for a update-job of ActiveGate.",
          "in" : "path",
          "name" : "jobId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. The update-job have been deleted. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "404" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Not found. See response body for details."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Deletes the specified update job",
        "tags" : [ "ActiveGates - Auto-update jobs" ],
        "x-permissions" : [ "environment:roles:manage-settings", "fleet-management:activegates:write" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.write" ]
      },
      "get" : {
        "operationId" : "getUpdateJobByJobIdForAg",
        "parameters" : [ {
          "description" : "The ID of the required ActiveGate.",
          "in" : "path",
          "name" : "agId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "A unique identifier for a update-job of ActiveGate.",
          "in" : "path",
          "name" : "jobId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateJob"
                }
              }
            },
            "description" : "Success"
          },
          "404" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Not found. See response body for details."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the parameters of the specified update job",
        "tags" : [ "ActiveGates - Auto-update jobs" ],
        "x-permissions" : [ "environment:roles:manage-settings", "fleet-management:activegates:read" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "activeGates.read" ]
      }
    },
    "/agentConnectionToken" : {
      "get" : {
        "description" : "Returns the agent connection token.",
        "operationId" : "getAgentConnectionToken",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AgentConnectionToken"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "404" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The requested resource doesn't exist."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the agent connection token | maturity=EARLY_ADOPTER",
        "tags" : [ "Access Tokens - Agent tokens" ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "agentTokenManagement.read" ]
      }
    },
    "/apiTokens" : {
      "get" : {
        "description" : "You can limit the output by using pagination: \n1. Specify the number of results per page in the **pageSize** query parameter. \n2. Use the cursor from the **nextPageKey** field of the previous response in the **nextPageKey** query parameter to obtain subsequent pages.",
        "operationId" : "listApiTokens",
        "parameters" : [ {
          "description" : "The cursor for the next page of results. You can find it in the **nextPageKey** field of the previous response. \n\nThe first page is always returned if you don't specify the **nextPageKey** query parameter. \n\nWhen the **nextPageKey** is set to obtain subsequent pages, you must omit all other query parameters. ",
          "in" : "query",
          "name" : "nextPageKey",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The amount of API tokens in a single response payload. \n\nThe maximal allowed page size is 10000 and the minimal allowed page size is 100. \n\nIf not set, 200 is used.",
          "in" : "query",
          "name" : "pageSize",
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "maximum" : 10000
          }
        }, {
          "description" : "Filters the resulting sets of tokens. Only tokens matching the specified criteria are included into response. \n\nYou can set one or more of the following criteria: \n\n* Owner: `owner(\"value\")`. The user that owns the token. Case-sensitive.\n* Personal access token: `personalAccessToken(false)`. Set to `true` to include only personal access tokens or to `false` to include only API tokens.\n* Token scope: `scope(\"scope1\",\"scope2\")`. If several values are specified, the **OR** logic applies. \n\nTo set multiple criteria, separate them with commas (`,`). Only results matching **all** criteria are included into response.",
          "in" : "query",
          "name" : "apiTokenSelector",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Specifies the fields to be included in the response.\n\nThe following fields are included by default: \n\n* `id` \n* `name` \n* `enabled` \n* `owner` \n* `creationDate` \n\nTo remove fields from the response, specify them with the minus (`-`) operator as a comma-separated list (for example, `-creationDate,-owner`). \n\nYou can include additional fields: \n\n* `personalAccessToken` \n* `expirationDate` \n* `lastUsedDate` \n* `lastUsedIpAddress` \n* `modifiedDate` \n* `scopes` \n\n* `additionalMetadata` \n\nTo add fields to the response, specify them with the plus (`+`) operator as a comma-separated list (for example, `+expirationDate,+scopes`). You can combine adding and removing of fields (for example, `+scopes,-creationDate`). \n\nAlternatively, you can define the desired set of fields in the response. Specify the required fields as a comma-separated list, without operators (for example, `creationDate,expirationDate,owner`). The ID is always included in the response. \n\nThe **fields** string must be URL-encoded.",
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Filters tokens based on the last usage time. \nThe start of the requested timeframe. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\n",
          "in" : "query",
          "name" : "from",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Filters tokens based on the last usage time. \nThe end of the requested timeframe. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set, the current timestamp is used.",
          "in" : "query",
          "name" : "to",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The sort order of the token list. \n\nYou can sort by the following properties with a sign prefix for the sort order: \n\n * `name`: token name (`+` a...z or `-` z...a) \n * `lastUsedDate` last used (`+` never used tokens first `-` most recently used tokens first) \n * `creationDate` (`+` oldest tokens first `-` newest tokens first) \n * `expirationDate` (`+` tokens that expire soon first `-` unlimited tokens first) \n * `modifiedDate` last modified (`+` never modified tokens first `-` most recently modified tokens first) \n\nIf no prefix is set, + is used. \n\nIf not set, tokens are sorted by creation date with newest first.",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string",
            "default" : "-creationDate"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiTokenList"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Lists all available API tokens",
        "tags" : [ "Access Tokens - API tokens" ],
        "x-allow-access-with-management-zone-permissions" : true,
        "x-permissions" : [ "environment:roles:viewer", "api-tokens:tokens:read" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "apiTokens.read" ]
      },
      "post" : {
        "description" : "The newly created token will be owned by the same user who owns the token used for authentication of the call. \n\n Creating personal access tokens requires the `environment:roles:viewer` permission. Creating access tokens requires the `environment:roles:manage-settings` permission.",
        "operationId" : "createApiToken",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiTokenCreate"
              }
            }
          },
          "description" : "The JSON body of the request. Contains parameters of the new API token.",
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiTokenCreated"
                }
              }
            },
            "description" : "Success. The token has been created. The body of the response contains the token secret."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Creates a new API token",
        "tags" : [ "Access Tokens - API tokens" ],
        "x-allow-access-with-management-zone-permissions" : true,
        "x-permissions" : [ "environment:roles:viewer", "api-tokens:tokens:write" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "apiTokens.write" ]
      }
    },
    "/apiTokens/lookup" : {
      "post" : {
        "operationId" : "lookupApiToken",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiTokenSecret"
              }
            }
          },
          "description" : "The JSON body of the request. Contains the required token.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiToken"
                }
              }
            },
            "description" : "Success"
          },
          "404" : {
            "description" : "Failed. The requested resource doesn't exist."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets API token metadata by token secret",
        "tags" : [ "Access Tokens - API tokens" ],
        "x-allow-access-with-management-zone-permissions" : true,
        "x-token-scopes" : [ ]
      }
    },
    "/apiTokens/{id}" : {
      "delete" : {
        "operationId" : "deleteApiToken",
        "parameters" : [ {
          "description" : "The ID of the token to be deleted. \n\nYou can specify either the ID or the secret of the token. \n\nYou can't delete the token you're using for authentication of the request.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. You can't delete the token you're using for authentication of the request."
          },
          "404" : {
            "description" : "Failed. The requested resource doesn't exist."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Deletes an API token",
        "tags" : [ "Access Tokens - API tokens" ],
        "x-allow-access-with-management-zone-permissions" : true,
        "x-permissions" : [ "environment:roles:viewer", "api-tokens:tokens:write" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "apiTokens.write" ]
      },
      "get" : {
        "description" : "The token secret is **not** exposed.",
        "operationId" : "getApiToken",
        "parameters" : [ {
          "description" : "The ID of the token.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiToken"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "404" : {
            "description" : "Failed. The requested resource doesn't exist."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets API token metadata by token ID",
        "tags" : [ "Access Tokens - API tokens" ],
        "x-allow-access-with-management-zone-permissions" : true,
        "x-permissions" : [ "environment:roles:viewer", "api-tokens:tokens:read" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "apiTokens.read" ]
      },
      "put" : {
        "operationId" : "updateApiToken",
        "parameters" : [ {
          "description" : "The ID of the token to be updated. \n\n You can't disable the token you're using for authentication of the request.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApiTokenUpdate"
              }
            }
          },
          "description" : "The JSON body of the request. Contains updated parameters of the API token.",
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Client side error."
          },
          "5XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Server side error."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Updates an API token",
        "tags" : [ "Access Tokens - API tokens" ],
        "x-allow-access-with-management-zone-permissions" : true,
        "x-permissions" : [ "environment:roles:viewer", "api-tokens:tokens:write" ],
        "x-supports-personal-access-token" : true,
        "x-token-scopes" : [ "apiTokens.write" ]
      }
    },
    "/bizevents/ingest" : {
      "post" : {
        "description" : "The maximum payload size of a single request is **5 MiB**. Requests with a greater payload are rejected, and the API returns a 413 response code. \n\nThe ingestion of business events is subject to licensing (see [licensing documentation](https://www.dynatrace.com/support/help/shortlink/dps-events)). ",
        "operationId" : "ingest_1",
        "requestBody" : {
          "content" : {
            "application/cloudevent+json" : {
              "example" : {
                "specversion" : "1.0",
                "id" : "1",
                "source" : "custom.source",
                "type" : "com.mycompany.shop.checkout",
                "dtcontext" : "dt.session_id=\"234234234324235345345\",dt.entity.rum_application=\"APPLICATION-53453458340758\",host.name=\"123.123.123.123\"",
                "dataschema" : "http://dynatrace.com/schema/bizevents/generic/1.0",
[...]
