{
  "openapi": "3.0.1",
  "info": {
    "description": "Documentation of the Dynatrace Environment API v1. To read about use cases and examples, see [Dynatrace Documentation](https://dt-url.net/xc03k3c).\n\nTo authorize, use a valid access token or personal access token. For usage in a Dynatrace app, refer to the [Dynatrace Developer documentation](https://dt-url.net/ro03py3).\n\nNotes about compatibility:\n* Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this.\n* We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.",
    "title": "Dynatrace Environment API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://asn8731h.sprint.dynatracelabs.com/api/v1",
      "variables": {}
    }
  ],
  "tags": [
    {
      "description": "View the cluster config of the Dynatrace server",
      "name": "Cluster config"
    },
    {
      "description": "Remove sensitive user data from your sessions",
      "name": "Anonymization"
    },
    {
      "description": "Obtain user sessions data",
      "name": "RUM - User sessions"
    },
    {
      "description": "Manage synthetic monitors. Deprecated since version 1.340.x. Please use the Synthetic - Monitors APIv2 instead.",
      "name": "Synthetic - Monitors"
    },
    {
      "description": "Manage synthetic locations and nodes",
      "name": "Synthetic - Locations, nodes, and configuration"
    },
    {
      "description": "Push third-party synthetic data to Dynatrace",
      "name": "Synthetic - Third party"
    },
    {
      "description": "View the time of the Dynatrace server",
      "name": "Cluster time"
    },
    {
      "description": "Download OneAgent and ActiveGate installers",
      "name": "Deployment"
    },
    {
      "description": "View OneAgent deployment information per host",
      "name": "OneAgent on a host"
    },
    {
      "description": "Download the RUM JavaScript tag. Use the newer [RUM manual insertion tags API](index.jsp?urls.primaryName=Environment%20API%20v2#/RUM%20manual%20insertion%20tags) instead of the deprecated endpoints.",
      "name": "RUM - JavaScript tag management"
    }
  ],
  "paths": {
    "/anonymize/anonymizationJobs": {
      "put": {
        "description": "The job anonymizes all user sessions in the specified timeframe by masking the specified fields.\n\nTo identify user sessions to be anonymized you can specify either userID, IP address, an internal application ID or all of them. If you specify multiple criteria, the **OR** logic applies.\n\nYou can't undo the anonymization.",
        "operationId": "anonymize",
        "parameters": [
          {
            "description": "The start timestamp of the user session to anonymize, in UTC milliseconds.\n\nIf not set the earliest available time is used.",
            "in": "query",
            "name": "startTimestamp",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "description": "The end timestamp of the user session to anonymize, in UTC milliseconds.\n\nIf not set the current time is used.",
            "in": "query",
            "name": "endTimestamp",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "description": "The UserID of the user to anonymize.\n\nYou can specify several IDs, in the following format: `userIds=user1&userIds=user2`.",
            "in": "query",
            "name": "userIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "The IP address of the user to anonymize. All user sessions from this IP will be anonymized.\n\nYou can specify several IPs, in the following format: `ips=ip1&ips=ip2`.",
            "in": "query",
            "name": "ips",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "The internal application ID used to identify sessions that should be anonymized.\n\nAll user sessions that contain at least one user action, event or error with the given application ID will be anonymized.\n\nIf you specify additional fields to be anonymized on user actions or events, only those user actions and events with the corresponding application ID will be anonymized.",
            "in": "query",
            "name": "internalApplicationId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A list of fields to be anonymized.\n\nYou can specify several fields, in the following format: `additionalField=field1&additionalField=field2`.",
            "in": "query",
            "name": "additionalField",
            "schema": {
              "type": "array",
              "enum": [
                "ip",
                "content",
                "country",
                "region",
                "city",
                "userId",
                "isp",
                "stringProperties",
                "longProperties",
                "doubleProperties",
                "dateProperties",
                "carrier",
                "userActions.name",
                "userActions.domain",
                "userActions.targetUrl",
                "userActions.syntheticEvent",
                "userActions.stringProperties",
                "userActions.longProperties",
                "userActions.doubleProperties",
                "userActions.dateProperties",
                "events.name",
                "events.domain",
                "events.page",
                "events.pageGroup",
                "events.pageReferrer",
                "events.pageReferrerGroup",
                "errors.name",
                "errors.domain"
              ],
              "items": {
                "type": "string",
                "enum": [
                  "ip",
                  "content",
                  "country",
                  "region",
                  "city",
                  "userId",
                  "isp",
                  "stringProperties",
                  "longProperties",
                  "doubleProperties",
                  "dateProperties",
                  "carrier",
                  "userActions.name",
                  "userActions.domain",
                  "userActions.targetUrl",
                  "userActions.syntheticEvent",
                  "userActions.stringProperties",
                  "userActions.longProperties",
                  "userActions.doubleProperties",
                  "userActions.dateProperties",
                  "events.name",
                  "events.domain",
                  "events.page",
                  "events.pageGroup",
                  "events.pageReferrer",
                  "events.pageReferrerGroup",
                  "errors.name",
                  "errors.domain"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnonymizationIdResult"
                }
              }
            },
            "description": "Success. The response body contains the ID of the anonymization job. You can use the ID to check the job status."
          },
          "400": {
            "description": "Failed. The input is invalid. See the response body for details."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Creates user session anonymization job",
        "tags": [
          "Anonymization"
        ],
        "x-token-scopes": [
          "UserSessionAnonymization"
        ]
      }
    },
    "/anonymize/anonymizationJobs/{requestId}": {
      "get": {
        "operationId": "getStatus",
        "parameters": [
          {
            "description": "The ID of the required anonymization job.",
            "in": "path",
            "name": "requestId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnonymizationProgressResult"
                }
              }
            },
            "description": "Success. The response body contains the status of the anonymization job."
          },
          "400": {
            "description": "Failed. The input is invalid. See the response body for details."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Shows the progress of the specified anonymization job",
        "tags": [
          "Anonymization"
        ],
        "x-token-scopes": [
          "UserSessionAnonymization"
        ]
      }
    },
    "/config/clusterid": {
      "get": {
        "operationId": "getClusterId",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterId"
                }
              }
            },
            "description": "Success"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the cluster id of the Dynatrace server",
        "tags": [
          "Cluster config"
        ],
        "x-allow-access-with-management-zone-permissions": true,
        "x-token-scopes": [
          "DataExport"
        ]
      }
    },
    "/config/clusterversion": {
      "get": {
        "operationId": "getVersion",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterVersion"
                }
              }
            },
            "description": "Success"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the current version of the Dynatrace server",
        "tags": [
          "Cluster config"
        ],
        "x-allow-access-with-management-zone-permissions": true,
        "x-token-scopes": [
          "DataExport"
        ]
      }
    },
    "/deployment/boshrelease/agent/{osType}/version/{version}": {
      "get": {
        "description": "For SaaS, the call is executed on an Environment ActiveGate. Be sure to use the base of an ActiveGate, **not** the environment.",
        "operationId": "downloadBoshReleaseWithVersion",
        "parameters": [
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix"
              ]
            }
          },
          {
            "description": "The required version of the OneAgent in the `1.155.275.20181112-084458` format. \n\nYou can retrieve the list of available versions with the [**GET available versions of BOSH tarballs**](https://dt-url.net/j703kdn) call.",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set `true` to omit the OneAgent connectivity information from the installer. \n\n If not set, `false` is used.",
            "in": "query",
            "name": "skipMetadata",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "The network zone you want the result to be configured with.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "Success. The payload contains the BOSH release tarball file."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads BOSH release tarballs of the specified version, OneAgent included",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/boshrelease/agent/{osType}/version/{version}/checksum": {
      "get": {
        "description": "The checksum is the sha256 hash of the installer file. \n\nResult is not stable if **skipMetadata** is set to `false`.\n\nFor SaaS only works on environment ActiveGates version 1.176 or higher",
        "operationId": "getBoshReleaseChecksum",
        "parameters": [
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix"
              ]
            }
          },
          {
            "description": "The required version of the OneAgent in the `1.155.275.20181112-084458` format. \n\nYou can retrieve the list of available versions with the [**GET available versions of BOSH tarballs**](https://dt-url.net/j703kdn) call.",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set `true` to omit the OneAgent connectivity information from the installer. \n\n If not set, `false` is used.",
            "in": "query",
            "name": "skipMetadata",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "The network zone you want the result to be configured with.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoshReleaseChecksum"
                }
              }
            },
            "description": "Success"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the checksum of the specified BOSH release tarball",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/boshrelease/versions/{osType}": {
      "get": {
        "operationId": "getBoshReleaseAvailableVersions",
        "parameters": [
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoshReleaseAvailableVersions"
                }
              }
            },
            "description": "Success"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the list of available OneAgent versions for BOSH release tarballs",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/connectioninfo": {
      "get": {
        "operationId": "getAgentInstallerConnectionInfo",
        "parameters": [
          {
            "description": "The network zone you want the result to be configured with.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set `true` to perform a fallback to the default network zone if the provided network zone does not exist.",
            "in": "query",
            "name": "defaultZoneFallback",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "The version of the OneAgent for which you're requesting connectivity information, in the `1.221` format. \n\nSet this parameter to get the best format of endpoint list for optimal performance.",
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionInfo"
                }
              }
            },
            "description": "Success"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the connectivity information for OneAgent",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/connectioninfo/endpoints": {
      "get": {
        "description": "Highest priority first, separated by a semicolon.If no network zone provided the default zone is used. Responds with 404 if network zone is not known.",
        "operationId": "getAgentInstallerConnectionInfoEndpoints",
        "parameters": [
          {
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set `true` to perform a fallback to the default network zone if the provided network zone does not exist.",
            "in": "query",
            "name": "defaultZoneFallback",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/plain": {}
            },
            "description": "Success"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the list of the ActiveGate-Endpoints to be used for Agents ordered by networkzone-priorities.",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/processgroupingconfig": {
      "get": {
        "description": "Returns the latest process grouping config in cbor format. Passing the kubernetes cluster id will return the cluster config, otherwise config is read on environment level. ",
        "operationId": "getAgentProcessGroupingConfig",
        "parameters": [
          {
            "description": "The ETag of the previous request. Do not download if it matches the ETag of the previous config.",
            "in": "header",
            "name": "If-None-Match",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Dynatrace entity ID of the requested kubernetes cluster",
            "in": "query",
            "name": "kubernetesClusterId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/cbor": {}
            },
            "description": "Success"
          },
          "304": {
            "description": "Not modified."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the latest process grouping config. | maturity=EARLY_ADOPTER",
        "tags": [
          "Deployment"
        ],
        "x-maturity": "EARLY_ADOPTER",
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/processmoduleconfig": {
      "get": {
        "description": "Returns the latest process module config. Passing a previously gotten revision will first do a revision check, and return a 304 response if no changes were detected.",
        "operationId": "getAgentProcessModuleConfig",
        "parameters": [
          {
            "description": "The previously received revision to compare against.",
            "in": "query",
            "name": "revision",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "description": "A list of comma-separated section identifiers to retrieve values for. Supported sections are 'general' and 'agentType'. Defaults to 'general'.",
            "in": "query",
            "name": "sections",
            "schema": {
              "type": "string",
              "default": "general"
            }
          },
          {
            "description": "The name of the host group the process is part of.",
            "in": "query",
            "name": "hostgroup",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentProcessModuleConfigResponse"
                }
              }
            },
            "description": "Success"
          },
          "304": {
            "description": "Not modified."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the latest process module config",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/versions/{osType}/{installerType}": {
      "get": {
        "operationId": "getAgentInstallerAvailableVersions",
        "parameters": [
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix",
                "aix",
                "solaris",
                "zos"
              ]
            }
          },
          {
            "description": "The type of the installer: \n\n* `default`: Self-extracting installer for manual installation. Downloads an `.exe` file for Windows or an `.sh` file for Unix. \n* `default-unattended`: Self-extracting installer for unattended installation. Windows only. Downloads a `.zip` archive, containing the `.msi` installer and the batch file. This option is deprecated with OneAgent version 1.173 \n* `mainframe`: Downloads all code modules for z/OS combined in a single `*.pax` archive. \n* `paas`: Code modules installer. Downloads a `*.zip` archive, containing the `manifest.json` file with meta information or a `.jar` file for z/OS. \n* `paas-sh`: Code modules installer. Downloads a self-extracting shell script with the embedded `tar.gz` archive.",
            "in": "path",
            "name": "installerType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "default-unattended",
                "mainframe",
                "paas",
                "paas-sh"
              ]
            }
          },
          {
            "description": "The flavor of your Linux distribution: \n\n* `musl` for Linux distributions, which are using the musl C standard library, for example Alpine Linux. \n* `multidistro` for Linux distributions, which are using musl C and glibc standard library. \n\n* `default` for Linux distributions, which are using glibc standard library. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "flavor",
            "schema": {
              "type": "string",
              "default": "default",
              "enum": [
                "default",
                "multidistro",
                "musl"
              ]
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Use this value for AIX and z/OS. Defaults to `x86` for other OS types. \n* `x86`: x86 architecture.\n* `ppc`: PowerPC architecture, only supported for AIX.\n* `ppcle`: PowerPC Little Endian architecture, only supported for Linux.\n* `sparc`: Sparc architecture, only supported for Solaris. \n\n* `arm`: ARM architecture, only supported for Linux. \n\n* `s390`: S/390 architecture, only supported for Linux. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "arm",
                "ppc",
                "ppcle",
                "s390",
                "sparc",
                "x86"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentInstallerVersions"
                }
              }
            },
            "description": "Success. The payload contains the available versions."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Lists all available versions of OneAgent installer",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/{osType}/{installerType}/latest": {
      "get": {
        "description": "For the `paas` or `paas-sh` installer types you can get a configuring installer, by passing additional parameters.",
        "operationId": "downloadLatestAgentInstaller",
        "parameters": [
          {
            "description": "The ETag of the previous request. Do not download if it matches the ETag of the installer.",
            "in": "header",
            "name": "If-None-Match",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix",
                "aix",
                "solaris",
                "zos"
              ]
            }
          },
          {
            "description": "The type of the installer: \n\n* `default`: Self-extracting installer for manual installation. Downloads an `.exe` file for Windows or an `.sh` file for Unix. \n* `default-unattended`: Self-extracting installer for unattended installation. Windows only. Downloads a `.zip` archive, containing the `.msi` installer and the batch file. This option is deprecated with OneAgent version 1.173 \n* `mainframe`: Downloads all code modules for z/OS combined in a single `*.pax` archive. \n* `paas`: Code modules installer. Downloads a `*.zip` archive, containing the `manifest.json` file with meta information or a `.jar` file for z/OS. \n* `paas-sh`: Code modules installer. Downloads a self-extracting shell script with the embedded `tar.gz` archive.",
            "in": "path",
            "name": "installerType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "default-unattended",
                "mainframe",
                "paas",
                "paas-sh"
              ]
            }
          },
          {
            "description": "The flavor of your Linux distribution: \n\n* `musl` for Linux distributions, which are using the musl C standard library, for example Alpine Linux. \n* `multidistro` for Linux distributions, which are using musl C and glibc standard library. \n\n* `default` for Linux distributions, which are using glibc standard library. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "flavor",
            "schema": {
              "type": "string",
              "default": "default",
              "enum": [
                "default",
                "multidistro",
                "musl"
              ]
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Use this value for AIX and z/OS. Defaults to `x86` for other OS types. \n* `x86`: x86 architecture.\n* `ppc`: PowerPC architecture, only supported for AIX.\n* `ppcle`: PowerPC Little Endian architecture, only supported for Linux.\n* `sparc`: Sparc architecture, only supported for Solaris. \n\n* `arm`: ARM architecture, only supported for Linux. \n\n* `s390`: S/390 architecture, only supported for Linux. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "arm",
                "ppc",
                "ppcle",
                "s390",
                "sparc",
                "x86"
              ]
            }
          },
          {
            "description": "The bitness of your OS. Must be supported by the OS. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "bitness",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "32",
                "64",
                "all"
              ]
            }
          },
          {
            "description": "The code modules to be included to the installer. You can specify several modules in the following format: `include=java&include=dotnet`. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "default": "All",
                "enum": [
                  "all",
                  "java",
                  "java-graal-native",
                  "apache",
                  "nginx",
                  "nodejs",
                  "dotnet",
                  "php",
                  "go",
                  "sdk",
                  "envoy",
                  "python",
                  "ruby"
                ]
              },
              "uniqueItems": true
            }
          },
          {
            "description": "Set `true` to omit the OneAgent connectivity information from the installer. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "skipMetadata",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "The network zone you want the result to be configured with.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads the latest OneAgent installer",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/{osType}/{installerType}/latest/metainfo": {
      "get": {
        "description": "If a [target version](https://dt-url.net/ml03yye) is configured, then this is the downloaded version. \n\nNon-required parameters are only applicable to the `paas` and `paas-sh` installer types.",
        "operationId": "getAgentInstallerMetaInfo",
        "parameters": [
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix",
                "aix",
                "solaris",
                "zos"
              ]
            }
          },
          {
            "description": "The type of the installer: \n\n* `default`: Self-extracting installer for manual installation. Downloads an `.exe` file for Windows or an `.sh` file for Unix. \n* `default-unattended`: Self-extracting installer for unattended installation. Windows only. Downloads a `.zip` archive, containing the `.msi` installer and the batch file. This option is deprecated with OneAgent version 1.173 \n* `mainframe`: Downloads all code modules for z/OS combined in a single `*.pax` archive. \n* `paas`: Code modules installer. Downloads a `*.zip` archive, containing the `manifest.json` file with meta information or a `.jar` file for z/OS. \n* `paas-sh`: Code modules installer. Downloads a self-extracting shell script with the embedded `tar.gz` archive.",
            "in": "path",
            "name": "installerType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "default-unattended",
                "mainframe",
                "paas",
                "paas-sh"
              ]
            }
          },
          {
            "description": "The flavor of your Linux distribution: \n\n* `musl` for Linux distributions, which are using the musl C standard library, for example Alpine Linux. \n* `multidistro` for Linux distributions, which are using musl C and glibc standard library. \n\n* `default` for Linux distributions, which are using glibc standard library. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "flavor",
            "schema": {
              "type": "string",
              "default": "default",
              "enum": [
                "default",
                "multidistro",
                "musl"
              ]
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Use this value for AIX and z/OS. Defaults to `x86` for other OS types. \n* `x86`: x86 architecture.\n* `ppc`: PowerPC architecture, only supported for AIX.\n* `ppcle`: PowerPC Little Endian architecture, only supported for Linux.\n* `sparc`: Sparc architecture, only supported for Solaris. \n\n* `arm`: ARM architecture, only supported for Linux. \n\n* `s390`: S/390 architecture, only supported for Linux. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "arm",
                "ppc",
                "ppcle",
                "s390",
                "sparc",
                "x86"
              ]
            }
          },
          {
            "description": "The bitness of your OS. Must be supported by the OS. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "bitness",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "32",
                "64",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentInstallerMetaInfoDto"
                }
              }
            },
            "description": "Success"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the latest available version of a OneAgent installer",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/{osType}/{installerType}/version/{version}": {
      "get": {
        "description": "For the `paas` or `paas-sh` installer types you can get a configuring installer, by passing additional parameters.",
        "operationId": "downloadAgentInstallerWithVersion",
        "parameters": [
          {
            "description": "The ETag of the previous request. Do not download if it matches the ETag of the installer.",
            "in": "header",
            "name": "If-None-Match",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix",
                "aix",
                "solaris",
                "zos"
              ]
            }
          },
          {
            "description": "The type of the installer: \n\n* `default`: Self-extracting installer for manual installation. Downloads an `.exe` file for Windows or an `.sh` file for Unix. \n* `default-unattended`: Self-extracting installer for unattended installation. Windows only. Downloads a `.zip` archive, containing the `.msi` installer and the batch file. This option is deprecated with OneAgent version 1.173 \n* `mainframe`: Downloads all code modules for z/OS combined in a single `*.pax` archive. \n* `paas`: Code modules installer. Downloads a `*.zip` archive, containing the `manifest.json` file with meta information or a `.jar` file for z/OS. \n* `paas-sh`: Code modules installer. Downloads a self-extracting shell script with the embedded `tar.gz` archive.",
            "in": "path",
            "name": "installerType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "default-unattended",
                "mainframe",
                "paas",
                "paas-sh"
              ]
            }
          },
          {
            "description": "The required version of the OneAgent in `1.155.275.20181112-084458` format. \n\nYou can retrieve the list of available versions with the [**GET available versions of OneAgent**](https://dt-url.net/fo23rb5) call.",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The flavor of your Linux distribution: \n\n* `musl` for Linux distributions, which are using the musl C standard library, for example Alpine Linux. \n* `multidistro` for Linux distributions, which are using musl C and glibc standard library. \n\n* `default` for Linux distributions, which are using glibc standard library. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "flavor",
            "schema": {
              "type": "string",
              "default": "default",
              "enum": [
                "default",
                "multidistro",
                "musl"
              ]
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Use this value for AIX and z/OS. Defaults to `x86` for other OS types. \n* `x86`: x86 architecture.\n* `ppc`: PowerPC architecture, only supported for AIX.\n* `ppcle`: PowerPC Little Endian architecture, only supported for Linux.\n* `sparc`: Sparc architecture, only supported for Solaris. \n\n* `arm`: ARM architecture, only supported for Linux. \n\n* `s390`: S/390 architecture, only supported for Linux. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "arm",
                "ppc",
                "ppcle",
                "s390",
                "sparc",
                "x86"
              ]
            }
          },
          {
            "description": "The bitness of your OS. Must be supported by the OS. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "bitness",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "32",
                "64",
                "all"
              ]
            }
          },
          {
            "description": "The code modules to be included to the installer. You can specify several modules in the following format: `include=java&include=dotnet`. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "default": "All",
                "enum": [
                  "all",
                  "java",
                  "java-graal-native",
                  "apache",
                  "nginx",
                  "nodejs",
                  "dotnet",
                  "php",
                  "go",
                  "sdk",
                  "envoy",
                  "python",
                  "ruby"
                ]
              },
              "uniqueItems": true
            }
          },
          {
            "description": "Set `true` to omit the OneAgent connectivity information from the installer. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "skipMetadata",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "The network zone you want the result to be configured with.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads OneAgent installer of the specified version",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/{osType}/{installerType}/version/{version}/checksum": {
      "get": {
        "description": "The checksum is the sha256 hash of the installer file.\n\nCompare this checksum only with a non-customized OneAgent installer.\n\nTo get a non-customized installer, set the **skipMetadata** query parameter of the download endpoint to `true`.",
        "operationId": "getAgentInstallerWithVersionChecksum",
        "parameters": [
          {
            "description": "The ETag of the previous request. Do not download if it matches the ETag of the installer.",
            "in": "header",
            "name": "If-None-Match",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix",
                "aix",
                "solaris",
                "zos"
              ]
            }
          },
          {
            "description": "The type of the installer.",
            "in": "path",
            "name": "installerType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "paas"
              ]
            }
          },
          {
            "description": "The required version of the OneAgent in `1.155.275.20181112-084458` format. \n\nYou can retrieve the list of available versions with the [**GET available versions of OneAgent**](https://dt-url.net/fo23rb5) call.",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The flavor of your Linux distribution: \n\n* `musl` for Linux distributions, which are using the musl C standard library, for example Alpine Linux. \n* `multidistro` for Linux distributions, which are using musl C and glibc standard library. \n\n* `default` for Linux distributions, which are using glibc standard library. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "flavor",
            "schema": {
              "type": "string",
              "default": "default",
              "enum": [
                "default",
                "multidistro",
                "musl"
              ]
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Use this value for AIX and z/OS. Defaults to `x86` for other OS types. \n* `x86`: x86 architecture.\n* `ppc`: PowerPC architecture, only supported for AIX.\n* `ppcle`: PowerPC Little Endian architecture, only supported for Linux.\n* `sparc`: Sparc architecture, only supported for Solaris. \n\n* `arm`: ARM architecture, only supported for Linux. \n\n* `s390`: S/390 architecture, only supported for Linux. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "arm",
                "ppc",
                "ppcle",
                "s390",
                "sparc",
                "x86"
              ]
            }
          },
          {
            "description": "The bitness of your OS. Must be supported by the OS. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "bitness",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "32",
                "64",
                "all"
              ]
            }
          },
          {
            "description": "The code modules to be included to the installer. You can specify several modules in the following format: `include=java&include=dotnet`. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "default": "All",
                "enum": [
                  "all",
                  "java",
                  "java-graal-native",
                  "apache",
                  "nginx",
                  "nodejs",
                  "dotnet",
                  "php",
                  "go",
                  "sdk",
                  "envoy",
                  "python",
                  "ruby"
                ]
              },
              "uniqueItems": true
            }
          },
          {
            "description": "The network zone you want the result to be configured with.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OneAgentInstallerChecksum"
                }
              }
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest OneAgent installed."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the checksum of a non-customized OneAgent installer",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/gateway/connectioninfo": {
      "get": {
        "operationId": "getActiveGateInstallerConnectionInfo",
        "parameters": [
          {
            "description": "The network zone you want the result to be configured with.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set `true` to perform a fallback to the default network zone if the provided network zone does not exist.",
            "in": "query",
            "name": "defaultZoneFallback",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveGateConnectionInfo"
                }
              }
            },
            "description": "Success"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the connectivity information for Environment ActiveGate",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/gateway/versions/{osType}": {
      "get": {
        "operationId": "getActiveGateInstallerAvailableVersions",
        "parameters": [
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix"
              ]
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Defaults to `amd64`. \n* `amd64`: amd64 architecture.\n* `s390`: S/390 architecture, only supported for Linux. \n* `arm64`: arm64 architecture, only supported for Linux. \n\n",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "amd64",
                "arm64",
                "s390"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveGateInstallerVersions"
                }
              }
            },
            "description": "Success. The payload contains the available versions."
          },
          "404": {
            "description": "Not found. See the response body for details."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Lists all available versions of ActiveGate installer",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/gateway/{osType}/latest": {
      "get": {
        "operationId": "downloadLatestGatewayInstaller",
        "parameters": [
          {
            "description": "The ETag of the previous request. Do not download if it matches the ETag of the installer.",
            "in": "header",
            "name": "If-None-Match",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix"
              ]
            }
          },
          {
            "description": "The network zone you want the result to be configured with. Provided network zone must exist, otherwise the request will fail. Requires at least ActiveGate version 1.247.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Defaults to `amd64`. \n* `amd64`: amd64 architecture.\n* `s390`: S/390 architecture, only supported for Linux. \n* `arm64`: arm64 architecture, only supported for Linux. \n\n",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "amd64",
                "arm64",
                "s390"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads the configured standard ActiveGate installer of the latest version for the specified OS",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/gateway/{osType}/latest/metainfo": {
      "get": {
        "operationId": "getGatewayInstallerMetaInfo",
        "parameters": [
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix"
              ]
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Defaults to `amd64`. \n* `amd64`: amd64 architecture.\n* `s390`: S/390 architecture, only supported for Linux. \n* `arm64`: arm64 architecture, only supported for Linux. \n\n",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "amd64",
                "arm64",
                "s390"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayInstallerMetaInfoDto"
                }
              }
            },
            "description": "Success"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the latest available version of an ActiveGate installer",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/gateway/{osType}/version/{version}": {
      "get": {
        "operationId": "downloadGatewayInstallerWithVersion",
        "parameters": [
          {
            "description": "The ETag of the previous request. Do not download if it matches the ETag of the installer.",
            "in": "header",
            "name": "If-None-Match",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix"
              ]
            }
          },
          {
            "description": "The required version of the ActiveGate installer, in `1.155.275.20181112-084458` format. \n\nYou can retrieve the list of available versions with the [**GET available versions of ActiveGate**](https://dt-url.net/kh43rha) call.",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The network zone you want the result to be configured with. Provided network zone must exist, otherwise the request will fail. Requires at least ActiveGate version 1.247.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Defaults to `amd64`. \n* `amd64`: amd64 architecture.\n* `s390`: S/390 architecture, only supported for Linux. \n* `arm64`: arm64 architecture, only supported for Linux. \n\n",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "amd64",
                "arm64",
                "s390"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads the ActiveGate installer of the specified version",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/lambda/agent/latest": {
      "get": {
        "description": "Get the latest version names of the OneAgent for the Java, Node.js, and Python AWS Lambda runtimes, also including names for layers that are combined with the log collector, as well as for the standalone log collector layer.",
        "operationId": "getLatestLambdaBuildUnits",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LatestLambdaLayerNames"
                }
              }
            },
            "description": "Success. The payload contains the available versions."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Get the latest version names of the OneAgent for AWS Lambda",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/lambda/layer": {
      "get": {
        "description": "Get the ARNs of the latest OneAgent for AWS Lambda layers for the .Net, GO, Java, Node.js and Python AWS Lambda runtimes. Passing architecture, technology type or region as parameter will return only the relevant layers.",
        "operationId": "getLambdaLayerBuildUnits",
        "parameters": [
          {
            "description": "The architecture of your OS:\n\n* If omitted, shows available layers for all architectures.\n* `x86`: x86 architecture.\n* `arm`: ARM architecture.\n\n",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "enum": [
                "x86",
                "arm"
              ]
            }
          },
          {
            "description": "Technology type of the lambda runtime.",
            "in": "query",
            "name": "techtype",
            "schema": {
              "type": "string",
              "enum": [
                "java",
                "nodejs",
                "python",
                "go",
                "DotNet"
              ]
            }
          },
          {
            "description": "Specify if you want the log collector contained or log collector only. ONLY cannot be combined with techtype",
            "in": "query",
            "name": "withCollector",
            "schema": {
              "type": "string",
              "enum": [
                "included",
                "excluded",
                "only"
              ]
            }
          },
          {
            "description": "The region of the layer. It must match the region of the AWS Lambda function",
            "in": "query",
            "name": "region",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LatestLambdaLayersMetainfo"
                }
              }
            },
            "description": "Success. The payload contains the ARNs of the latest available layers."
          },
          "404": {
            "description": "Not found. See the response body for details."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Get the ARNs of the latest OneAgent for AWS Lambda layers",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/orchestration/agent/{orchestrationType}/latest": {
      "get": {
        "description": "Downloading the latest available deployment orchestration script tarball matching the requested Orchestration Type (ansible, puppet).",
        "operationId": "downloadLatestAgentOrchestration",
        "parameters": [
          {
            "description": "The Orchestration Type of the orchestration deployment script.",
            "in": "path",
            "name": "orchestrationType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ansible",
                "puppet"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads the latest OneAgent deployment orchestration tarball",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/orchestration/agent/{orchestrationType}/latest/signature": {
      "get": {
        "description": "Downloading the latest available deployment orchestration tarball's sigature matching the requested Orchestration Type (ansible, puppet).",
        "operationId": "downloadLatestAgentOrchestrationSignature",
        "parameters": [
          {
            "description": "The Orchestration Type of the orchestration deployment script.",
            "in": "path",
            "name": "orchestrationType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ansible",
                "puppet"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads the latest OneAgent deployment orchestration tarball's signature",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/orchestration/agent/{orchestrationType}/version/{version}": {
      "get": {
        "description": "Downloading the requested version matching deployment orchestration tarball matching the requested Orchestration Type (ansible, puppet).",
        "operationId": "downloadAgentOrchestrationWithVersion",
        "parameters": [
          {
            "description": "The Orchestration Type of the orchestration deployment script.",
            "in": "path",
            "name": "orchestrationType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ansible",
                "puppet"
              ]
            }
          },
          {
            "description": "The requested version of the OneAgent orchestration deployment tarball in `0.1.0.20200925-120822` format.",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads the requested version matching OneAgent deployment orchestration tarball",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/orchestration/agent/{orchestrationType}/version/{version}/signature": {
      "get": {
        "description": "Downloading the requested version matching deployment orchestration tarball's signature matching the requested Orchestration Type (ansible, puppet).",
        "operationId": "downloadAgentOrchestrationSignatureWithVersion",
        "parameters": [
          {
            "description": "The Orchestration Type of the orchestration deployment script.",
            "in": "path",
            "name": "orchestrationType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ansible",
                "puppet"
              ]
            }
          },
          {
            "description": "The requested version of the OneAgent deployment orchestration tarball in `0.1.0.20200925-120822` format.",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads the requested version matching OneAgent deployment orchestration tarball's signature",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/public/network": {
      "get": {
        "description": "Returns the addresses of public endpoints, including the tenant domain, NLB domain names, and IP addresses. Outgoing connections to these addresses should be allowed.",
        "operationId": "getPublicCommunicationAddresses",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Addresses"
                }
              }
            },
            "description": "Success"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Client side error."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Server side error."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets public endpoints",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/oneagents": {
      "get": {
        "description": "You can narrow down the output by specifying filtering parameters for the request. \n\nThe response is limited to 500 items. Use the **nextPageKey** cursor to obtain subsequent results.",
        "operationId": "getHostsWithSpecificAgents",
        "parameters": [
          {
            "description": "Includes (`true`) or excludes (`false`) details which are queried from related entities.\n\nExcluding details may make queries faster. \n\nIf not set, then `true` is used.",
            "in": "query",
            "name": "includeDetails",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "description": "The start timestamp of the requested timeframe, in milliseconds (UTC). \n\nIf not set, then 72 hours behind from now is used.",
            "in": "query",
            "name": "startTimestamp",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "description": "The end timestamp of the requested timeframe, in milliseconds (UTC). \n\nIf not set, then the current timestamp is used. \n\nThe timeframe must not exceed 7 months (214 days).",
            "in": "query",
            "name": "endTimestamp",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "description": "The relative timeframe, back from now.\n\n If you need to specify relative timeframe that is not presented in the list of possible values, specify the **startTimestamp** (up to 214 days back from now) and leave **endTimestamp** and **relativeTime** empty.",
            "in": "query",
            "name": "relativeTime",
            "schema": {
              "type": "string",
              "enum": [
                "10mins",
                "15mins",
                "2hours",
                "30mins",
                "3days",
                "5mins",
                "6hours",
                "day",
                "hour",
                "min",
                "month",
                "week"
              ]
            }
          },
          {
            "description": "Filters the resulting set of hosts by the specified tag. You can specify several tags in the following format: `tag=tag1&tag=tag2`. The host has to match **all** the specified tags. \n\nIn case of key-value tags, such as imported AWS or CloudFoundry tags, use the following format: `tag=[context]key:value`. For custom key-value tags, omit the context: `tag=key:value`.",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "description": "Filters result to the specified hosts only. \n\n To specify several hosts use the following format: `entity=ID1&entity=ID2`.",
            "in": "query",
            "name": "entity",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "description": "Only return hosts that are part of the specified management zone.\n\n Specify the management zone ID here.",
            "in": "query",
            "name": "managementZoneId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "description": "Only return hosts that are part of the specified management zone.\n\n Specify the management zone name here. \n\nIf the **managementZoneId** parameter is set, this parameter is ignored.",
            "in": "query",
            "name": "managementZone",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the resulting set of hosts by the specified network zone. \n\n Specify the Dynatrace entity ID of the required network zone. You can fetch the list of available network zones with the [GET all network zones](https://dt-url.net/u4o3r7z) call.",
            "in": "query",
            "name": "networkZoneId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the resulting set of hosts by the specified host group. \n\n Specify the Dynatrace entity ID of the required host group.",
            "in": "query",
            "name": "hostGroupId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the resulting set of hosts by the specified host group. \n\n Specify the name of the required host group.",
            "in": "query",
            "name": "hostGroupName",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the resulting set of hosts by the OS type.",
            "in": "query",
            "name": "osType",
            "schema": {
              "type": "string",
              "enum": [
                "AIX",
                "DARWIN",
                "HPUX",
                "LINUX",
                "SOLARIS",
                "WINDOWS",
                "ZOS"
              ]
            }
          },
          {
            "description": "Filters the resulting set of hosts by the cloud type.",
            "in": "query",
            "name": "cloudType",
            "schema": {
              "type": "string",
              "enum": [
                "AZURE",
                "EC2",
                "GOOGLE_CLOUD_PLATFORM",
                "OPENSTACK",
                "ORACLE",
                "UNRECOGNIZED"
              ]
            }
          },
          {
            "description": "Filters the resulting set of hosts by the auto-injection status.",
            "in": "query",
            "name": "autoInjection",
            "schema": {
              "type": "string",
              "enum": [
                "DISABLED_MANUALLY",
                "DISABLED_ON_INSTALLATION",
                "DISABLED_ON_SANITY_CHECK",
                "ENABLED",
                "FAILED_ON_INSTALLATION"
              ]
            }
          },
          {
            "description": "Filters the resulting set of hosts by the availability state of OneAgent. \n\n* `MONITORED`: Hosts where OneAgent is enabled and active.\n* `UNMONITORED`: Hosts where OneAgent is disabled and inactive.\n* `CRASHED`: Hosts where OneAgent has returned a crash status code.\n* `LOST`: Hosts where it is impossible to establish connection with OneAgent.\n* `PRE_MONITORED`: Hosts where OneAgent is being initialized for monitoring.\n* `SHUTDOWN`: Hosts where OneAgent is shutting down in a controlled process.\n* `UNEXPECTED_SHUTDOWN`: Hosts where OneAgent is shutting down in an uncontrolled process.\n* `UNKNOWN`: Hosts where the state of OneAgent is unknown.",
            "in": "query",
            "name": "availabilityState",
            "schema": {
              "type": "string",
              "enum": [
                "CRASHED",
                "LOST",
                "MONITORED",
                "PRE_MONITORED",
                "SHUTDOWN",
                "UNEXPECTED_SHUTDOWN",
                "UNKNOWN",
                "UNMONITORED"
              ]
            }
          },
          {
            "description": "Filters the resulting set of hosts by the detailed availability state of OneAgent. \n\n* `UNKNOWN`: Hosts where the state of OneAgent is unknown.\n* `PRE_MONITORED`: Hosts where OneAgent is being initialized for monitoring.\n* `CRASHED_UNKNOWN`: Hosts where OneAgent has crashed for unknown reason.\n* `CRASHED_FAILURE`: Hosts where OneAgent has returned a crash status code.\n* `LOST_UNKNOWN`: Hosts where it is impossible to establish connection with OneAgent for unknown reason.\n* `LOST_CONNECTION`: Hosts where OneAgent has been recognized to be inactive.\n* `LOST_AGENT_UPGRADE_FAILED`: Hosts where OneAgent has a potential update problem due to inactivity after update.\n* `SHUTDOWN_UNKNOWN_UNEXPECTED`: Hosts where OneAgent is shutting down in an uncontrolled process.\n* `SHUTDOWN_UNKNOWN`: Hosts where OneAgent has shutdown for unknown reason.\n* `SHUTDOWN_GRACEFUL`: Hosts where OneAgent has shutdown because of host shutdown.\n* `SHUTDOWN_STOPPED`: Hosts where OneAgent has shutdown because the host has stopped.\n* `SHUTDOWN_AGENT_LOST`: Hosts where PaaS module has been recognized to be inactive.\n* `SHUTDOWN_SPOT_INSTANCE`: Hosts where OneAgent shutdown was triggered by the AWS Spot Instance interruption.\n* `SHUTDOWN_K8S_NODE_SHUTDOWN`: Hosts where OneAgent shutdown was triggered by a k8s node graceful shutdown.\n* `UNMONITORED_UNKNOWN`: Hosts where OneAgent is disabled and inactive for unknown reason.\n* `UNMONITORED_TERMINATED`: Hosts where OneAgent has terminated.\n* `UNMONITORED_DISABLED`: Hosts where OneAgent has been disabled in configuration.\n* `UNMONITORED_AGENT_STOPPED`: Hosts where OneAgent is stopped.\n* `UNMONITORED_AGENT_RESTART_TRIGGERED`: Hosts where OneAgent is being restarted.\n* `UNMONITORED_AGENT_UNINSTALLED`: Hosts where OneAgent is uninstalled.\n* `UNMONITORED_AGENT_DISABLED`: Hosts where OneAgent reported that it was disabled.\n* `UNMONITORED_AGENT_UPGRADE_FAILED`: Hosts where OneAgent has a potential update problem.\n* `UNMONITORED_ID_CHANGED`: Hosts where OneAgent has potentially changed ID during update.\n* `UNMONITORED_AGENT_LOST`: Hosts where OneAgent has been recognized to be unavailable due to server communication issues.\n* `UNMONITORED_AGENT_UNREGISTERED`: Hosts where a code module has been recognized to be unavailable because of shutdown.\n* `UNMONITORED_AGENT_VERSION_REJECTED`: Hosts where OneAgent was rejected because the version does not meet the minimum agent version requirement.\n* `UNMONITORED_AGENT_MIGRATED`: Hosts where OneAgent was migrated to another environment.\n* `MONITORED`: Hosts where OneAgent is enabled and active.\n* `MONITORED_ENABLED`: Hosts where OneAgent has been enabled in configuration.\n* `MONITORED_AGENT_REGISTERED`: Hosts where the new OneAgent has been recognized.\n* `MONITORED_AGENT_UPGRADE_STARTED`: Hosts where OneAgent has shutdown due to an update.\n* `MONITORED_AGENT_ENABLED`: Hosts where OneAgent reported that it was enabled.\n* `MONITORED_AGENT_VERSION_ACCEPTED`: Hosts where OneAgent was accepted because the version meets the minimum agent version requirement.",
            "in": "query",
[...]
